.inputEncargada {
  text-align: center;
}

.text {
  display: contents;
  color: #242424;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
}

.table-secondary {
  --bs-table-bg: transparent;
  background-color: transparent;
}

tr {
  line-height: 0%;
  font-size: 14px;
}

th {
  white-space: nowrap;
  font-size: 14px;
}

th,
td {
  font-size: 14px;
}

.quitarBordes {
  line-height: 100%;
}

.quitarBordesVacio {
  border-style: hidden;
}

.lbelTotal {
  border: hidden;
  font-weight: bold;
  color: red;
  border-color: black;
  padding: 14px 0px;
}

.bordeTotal {
  border: hidden;
  padding: 14px;
  text-align: right;
}

@media only screen and (min-device-width: 259px) and (max-device-width: 370px) {

  .marginBody {
    height: 100%;
  }

  .container {
    overflow-x: hidden;
    overflow-y: auto;
    height: 93%;
  }

  .marginPage {
    margin: 0px auto 9px;
  }

  .pagination_Mobile {
    margin-bottom: 30px;
  }

  .tableContainer {
    display: grid;
    grid-template-columns: 57% 57%;
    justify-content: center;
    margin-top: 1rem;
  }

  .therapistContainer {
    width: 91%;
    justify-self: center;
  }

  .containerInCharge {
    width: 91%;
    justify-self: center;
  }

  .dateContainer {
    width: 91%;
    justify-self: center;
    margin-top: 8%;
  }

  .buttonDeleteContainer {
    margin-top: 43px;
    width: 6rem;
    margin-left: 2.3rem;
  }

  .color2 {
    background: #8C52FF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    margin-top: 4%;
    margin-left: 40%;
  }

  .trFechas {
    white-space: nowrap;
  }

  .classTable {
    margin-top: -2%;
  }

  .noHayCierre {
    font-size: x-large;
    color: red;
    container-type: inline-size;
  }

  .lineaHoy {
    display: grid;
    margin: auto;
    border-width: initial;
    color: blue;
    margin-bottom: 0%;
    margin-top: -1%;
    width: 100%;
  }

  .tableEdtit {
    margin-top: -12%;
  }

  .tablePaidTherapist {
    margin-top: 0%;
  }

  .therapistColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 65px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .managerColumn {
    padding: 24px 12px 0px 0px;
    text-align: center;
    max-width: 48px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .AmountColumn {
    padding: 24px 0px 0px 6px;
    text-align: center;
    max-width: 30px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .datesColumn {
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .treatmentColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 73px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .noteColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .outputColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .timeColumn {
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .tipColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 73px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .paymentColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 73px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .column€Terap {
    text-align: center;
    padding: 24px 0px 0px 6px;
    display: inline-block;
    width: 50px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .drinkColumn {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 27px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .tobaccoColumn {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 27px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .vitaminColumn {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 36px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .columnOthers {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 36px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  table {
    display: flow;
    overflow-y: auto;
    margin-left: -5px;
  }

  .trFechaDesde {
    text-align: left;
    border-bottom: hidden;
    width: 65%;
  }

  .trFechaHasta {
    text-align: left;
    border-bottom: hidden;
    width: 65%;
    padding: 8px 0px 0px 0px;
  }

  .fechaInicio {
    width: 155px;
  }

  .horaInicio {
    align-self: end;
    margin-left: -11px;
    width: 122px;
  }

  .fechaFinal {
    width: 155px;
  }

  .horaFinal {
    width: 122px;
    margin-left: -11px;
    margin-top: 10px;
  }

  .fechas {
    justify-content: center;
  }

  .btnCancelar {
    padding-bottom: 6%;
  }
}

@media only screen and (min-device-width: 371px) and (max-device-width: 380px) {

  .marginBody {
    height: 100%;
  }

  .container {
    overflow-x: hidden;
    overflow-y: auto;
    height: 93%;
  }

  .marginPage {
    margin: 0px auto 9px;
  }

  .pagination_Mobile {
    margin-bottom: 30px;
  }

  .tableContainer {
    display: grid;
    grid-template-columns: 57% 57%;
    justify-content: center;
    margin-top: 1rem;
  }

  .therapistContainer {
    width: 87%;
    justify-self: center;
  }

  .containerInCharge {
    width: 87%;
    justify-self: center;
  }

  .dateContainer {
    width: 87%;
    justify-self: center;
    margin-top: 8%;
  }

  .buttonDeleteContainer {
    margin-top: 43px;
    width: 6rem;
    margin-left: 2.3rem;
  }

  .color2 {
    background: #8C52FF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    margin-top: 4%;
    margin-left: 40%;
  }

  .trFechas {
    white-space: nowrap;
  }

  .classTable {
    margin-top: -2%;
  }

  .noHayCierre {
    font-size: x-large;
    color: red;
    container-type: inline-size;
  }

  .lineaHoy {
    display: grid;
    margin: auto;
    border-width: initial;
    color: blue;
    margin-bottom: 0%;
    margin-top: -1%;
    width: 100%;
  }

  .tableEdtit {
    margin-top: -12%;
  }

  .tablePaidTherapist {
    margin-top: 0%;
  }

  .therapistColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 65px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .managerColumn {
    padding: 24px 12px 0px 0px;
    text-align: center;
    max-width: 48px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .AmountColumn {
    padding: 24px 0px 0px 6px;
    text-align: center;
    max-width: 30px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .datesColumn {
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .treatmentColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 73px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .noteColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .outputColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .timeColumn {
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .tipColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 73px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .paymentColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 73px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .column€Terap {
    text-align: center;
    padding: 24px 0px 0px 6px;
    display: inline-block;
    width: 50px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .drinkColumn {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 27px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .tobaccoColumn {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 27px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .vitaminColumn {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 36px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .columnOthers {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 36px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  table {
    display: flow;
    overflow-y: auto;
    margin-left: -5px;
  }

  .trFechaDesde {
    text-align: left;
    border-bottom: hidden;
    width: 65%;
  }

  .trFechaHasta {
    text-align: left;
    border-bottom: hidden;
    width: 65%;
    padding: 8px 0px 0px 0px;
  }

  .fechaInicio {
    width: 155px;
  }

  .horaInicio {
    align-self: end;
    margin-left: -11px;
    width: 122px;
  }

  .fechaFinal {
    width: 155px;
  }

  .horaFinal {
    width: 122px;
    margin-left: -11px;
    margin-top: 10px;
  }

  .fechas {
    justify-content: center;
  }

  .btnCancelar {
    padding-bottom: 6%;
  }
}

@media only screen and (min-device-width: 381px) and (max-device-width: 389px) {

  .marginBody {
    height: 100%;
  }

  .container {
    overflow-x: hidden;
    overflow-y: auto;
    height: 93%;
  }

  .marginPage {
    margin: 0px auto 9px;
  }

  .pagination_Mobile {
    margin-bottom: 30px;
  }

  .tableContainer {
    display: grid;
    grid-template-columns: 57% 57%;
    justify-content: center;
    margin-top: 1rem;
  }

  .therapistContainer {
    width: 89%;
    justify-self: center;
  }

  .containerInCharge {
    width: 89%;
    justify-self: center;
  }

  .dateContainer {
    width: 89%;
    justify-self: center;
    margin-top: 10%;
  }

  .buttonDeleteContainer {
    margin-top: 43px;
    width: 6rem;
    margin-left: 2.3rem;
  }

  .color2 {
    background: #8C52FF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    margin-top: 4%;
    margin-left: 40%;
  }

  .trFechas {
    white-space: nowrap;
  }

  .classTable {
    margin-top: -2%;
  }

  .noHayCierre {
    font-size: x-large;
    color: red;
    container-type: inline-size;
  }

  .lineaHoy {
    display: grid;
    margin: auto;
    border-width: initial;
    color: blue;
    margin-bottom: 0%;
    margin-top: -1%;
    width: 100%;
  }

  .tableEdtit {
    margin-top: -12%;
  }

  .tablePaidTherapist {
    margin-top: 0%;
  }

  .therapistColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 65px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .managerColumn {
    padding: 24px 12px 0px 0px;
    text-align: center;
    max-width: 48px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .AmountColumn {
    padding: 24px 0px 0px 6px;
    text-align: center;
    max-width: 30px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .datesColumn {
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .treatmentColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 73px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .noteColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .outputColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .timeColumn {
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .tipColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 73px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .paymentColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 73px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .column€Terap {
    text-align: center;
    padding: 24px 0px 0px 6px;
    display: inline-block;
    width: 50px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .drinkColumn {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 27px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .tobaccoColumn {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 27px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .vitaminColumn {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 36px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .columnOthers {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 36px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  table {
    display: flow;
    overflow-y: auto;
    margin-left: -5px;
  }

  .trFechaDesde {
    text-align: left;
    border-bottom: hidden;
    width: 65%;
  }

  .trFechaHasta {
    text-align: left;
    border-bottom: hidden;
    width: 65%;
    padding: 8px 0px 0px 0px;
  }

  .fechaInicio {
    width: 155px;
  }

  .horaInicio {
    align-self: end;
    margin-left: -11px;
    width: 122px;
  }

  .fechaFinal {
    width: 155px;
  }

  .horaFinal {
    width: 122px;
    margin-left: -11px;
    margin-top: 10px;
  }

  .fechas {
    justify-content: center;
  }

  .btnCancelar {
    padding-bottom: 6%;
  }
}

@media only screen and (min-device-width: 390px) and (max-device-width: 391px) {

  .marginBody {
    height: 100%;
  }

  .container {
    overflow-x: hidden;
    overflow-y: auto;
    height: 93%;
  }

  .marginPage {
    margin: 0px auto 9px;
  }

  .pagination_Mobile {
    margin-bottom: 30px;
  }

  .tableContainer {
    display: grid;
    grid-template-columns: 57% 57%;
    justify-content: center;
    margin-top: 1rem;
  }

  .therapistContainer {
    width: 83%;
    justify-self: center;
  }

  .containerInCharge {
    width: 83%;
    justify-self: center;
  }

  .dateContainer {
    width: 83%;
    justify-self: center;
    margin-top: 8%;
  }

  .buttonDeleteContainer {
    margin-top: 43px;
    width: 6rem;
    margin-left: 2.3rem;
  }

  .color2 {
    background: #8C52FF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    margin-top: 4%;
    margin-left: 40%;
  }

  .trFechas {
    white-space: nowrap;
  }

  .classTable {
    margin-top: -2%;
  }

  .noHayCierre {
    font-size: x-large;
    color: red;
    container-type: inline-size;
  }

  .lineaHoy {
    display: grid;
    margin: auto;
    border-width: initial;
    color: blue;
    margin-bottom: 0%;
    margin-top: -1%;
    width: 100%;
  }

  .tableEdtit {
    margin-top: -12%;
  }

  .tablePaidTherapist {
    margin-top: 0%;
  }

  .therapistColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 65px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .managerColumn {
    padding: 24px 12px 0px 0px;
    text-align: center;
    max-width: 48px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .AmountColumn {
    padding: 24px 0px 0px 6px;
    text-align: center;
    max-width: 30px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .datesColumn {
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .treatmentColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 73px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .noteColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .outputColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .timeColumn {
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .tipColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 73px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .paymentColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 73px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .column€Terap {
    text-align: center;
    padding: 24px 0px 0px 6px;
    display: inline-block;
    width: 50px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .drinkColumn {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 27px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .tobaccoColumn {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 27px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .vitaminColumn {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 36px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .columnOthers {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 36px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  table {
    display: flow;
    overflow-y: auto;
    margin-left: -5px;
  }

  .trFechaDesde {
    text-align: left;
    border-bottom: hidden;
    width: 65%;
  }

  .trFechaHasta {
    text-align: left;
    border-bottom: hidden;
    width: 65%;
    padding: 8px 0px 0px 0px;
  }

  .fechaInicio {
    width: 155px;
  }

  .horaInicio {
    align-self: end;
    margin-left: -11px;
    width: 122px;
  }

  .fechaFinal {
    width: 155px;
  }

  .horaFinal {
    width: 122px;
    margin-left: -11px;
    margin-top: 10px;
  }

  .fechas {
    justify-content: center;
  }

  .btnCancelar {
    padding-bottom: 6%;
  }
}

@media only screen and (min-device-width: 392px) and (max-device-width: 393px) {

  .marginBody {
    height: 100%;
  }

  .container {
    overflow-x: hidden;
    overflow-y: auto;
    height: 93%;
  }

  .marginPage {
    margin: 0px auto 9px;
  }

  .pagination_Mobile {
    margin-bottom: 30px;
  }

  .tableContainer {
    display: grid;
    grid-template-columns: 57% 57%;
    justify-content: center;
    margin-top: 1rem;
  }

  .therapistContainer {
    width: 83%;
    justify-self: center;
  }

  .containerInCharge {
    width: 83%;
    justify-self: center;
  }

  .dateContainer {
    width: 83%;
    justify-self: center;
    margin-top: 8%;
  }

  .buttonDeleteContainer {
    margin-top: 43px;
    width: 6rem;
    margin-left: 2.3rem;
  }

  .color2 {
    background: #8C52FF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    margin-top: 4%;
    margin-left: 40%;
  }

  .trFechas {
    white-space: nowrap;
  }

  .classTable {
    margin-top: -2%;
  }

  .noHayCierre {
    font-size: x-large;
    color: red;
    container-type: inline-size;
  }

  .lineaHoy {
    display: grid;
    margin: auto;
    border-width: initial;
    color: blue;
    margin-bottom: 0%;
    margin-top: -1%;
    width: 100%;
  }

  .tableEdtit {
    margin-top: -12%;
  }

  .tablePaidTherapist {
    margin-top: 0%;
  }

  .therapistColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 65px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .managerColumn {
    padding: 24px 12px 0px 0px;
    text-align: center;
    max-width: 48px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .AmountColumn {
    padding: 24px 0px 0px 6px;
    text-align: center;
    max-width: 30px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .datesColumn {
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .treatmentColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 73px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .noteColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .outputColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .timeColumn {
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .tipColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 73px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .paymentColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 73px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .column€Terap {
    text-align: center;
    padding: 24px 0px 0px 6px;
    display: inline-block;
    width: 50px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .drinkColumn {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 27px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .tobaccoColumn {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 27px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .vitaminColumn {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 36px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .columnOthers {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 36px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  table {
    display: flow;
    overflow-y: auto;
    margin-left: -5px;
  }

  .trFechaDesde {
    text-align: left;
    border-bottom: hidden;
    width: 65%;
  }

  .trFechaHasta {
    text-align: left;
    border-bottom: hidden;
    width: 65%;
    padding: 8px 0px 0px 0px;
  }

  .fechaInicio {
    width: 155px;
  }

  .horaInicio {
    align-self: end;
    margin-left: -11px;
    width: 122px;
  }

  .fechaFinal {
    width: 155px;
  }

  .horaFinal {
    width: 122px;
    margin-left: -11px;
    margin-top: 10px;
  }

  .fechas {
    justify-content: center;
  }

  .btnCancelar {
    padding-bottom: 6%;
  }
}

@media only screen and (min-device-width: 394px) and (max-device-width: 410px) {

  .marginBody {
    height: 100%;
  }

  .container {
    overflow-x: hidden;
    overflow-y: auto;
    height: 93%;
  }

  .marginPage {
    margin: 0px auto 9px;
  }

  .pagination_Mobile {
    margin-bottom: 30px;
  }

  .tableContainer {
    display: grid;
    grid-template-columns: 57% 57%;
    justify-content: center;
    margin-top: 1rem;
  }

  .therapistContainer {
    width: 78%;
    justify-self: center;
  }

  .containerInCharge {
    width: 78%;
    justify-self: center;
  }

  .dateContainer {
    width: 78%;
    justify-self: center;
    margin-top: 8%;
  }

  .buttonDeleteContainer {
    margin-top: 43px;
    width: 6rem;
    margin-left: 2.3rem;
  }

  .color2 {
    background: #8C52FF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    margin-top: 4%;
    margin-left: 40%;
  }

  .trFechas {
    white-space: nowrap;
  }

  .classTable {
    margin-top: -2%;
  }

  .noHayCierre {
    font-size: x-large;
    color: red;
    container-type: inline-size;
  }

  .lineaHoy {
    display: grid;
    margin: auto;
    border-width: initial;
    color: blue;
    margin-bottom: 0%;
    margin-top: -1%;
    width: 100%;
  }

  .tableEdtit {
    margin-top: -12%;
  }

  .tablePaidTherapist {
    margin-top: 0%;
  }

  .therapistColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 65px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .managerColumn {
    padding: 24px 12px 0px 0px;
    text-align: center;
    max-width: 48px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .AmountColumn {
    padding: 24px 0px 0px 6px;
    text-align: center;
    max-width: 30px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .datesColumn {
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .treatmentColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 73px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .noteColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .outputColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .timeColumn {
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .tipColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 73px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .paymentColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 73px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .column€Terap {
    text-align: center;
    padding: 24px 0px 0px 6px;
    display: inline-block;
    width: 50px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .drinkColumn {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 27px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .tobaccoColumn {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 27px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .vitaminColumn {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 36px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .columnOthers {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 36px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  table {
    display: flow;
    overflow-y: auto;
    margin-left: -5px;
  }

  .trFechaDesde {
    text-align: left;
    border-bottom: hidden;
    width: 65%;
  }

  .trFechaHasta {
    text-align: left;
    border-bottom: hidden;
    width: 65%;
    padding: 8px 0px 0px 0px;
  }

  .fechaInicio {
    width: 155px;
  }

  .horaInicio {
    align-self: end;
    margin-left: -11px;
    width: 122px;
  }

  .fechaFinal {
    width: 155px;
  }

  .horaFinal {
    width: 122px;
    margin-left: -11px;
    margin-top: 10px;
  }

  .fechas {
    justify-content: center;
  }

  .btnCancelar {
    padding-bottom: 6%;
  }
}

@media only screen and (min-device-width: 393px) and (max-device-height: 750px) {

  .marginBody {
    height: 100%;
  }

  .container {
    overflow-x: hidden;
    overflow-y: auto;
    height: 93%;
  }

  .marginPage {
    margin: 0px auto 9px;
  }

  .pagination_Mobile {
    margin-bottom: 30px;
  }

  .tableContainer {
    display: grid;
    grid-template-columns: 57% 57%;
    justify-content: center;
    margin-top: 1rem;
  }

  .therapistContainer {
    width: 82%;
    justify-self: center;
  }

  .containerInCharge {
    width: 82%;
    justify-self: center;
  }

  .dateContainer {
    width: 82%;
    justify-self: center;
    margin-top: 8%;
  }

  .buttonDeleteContainer {
    margin-top: 43px;
    width: 6rem;
    margin-left: 2.3rem;
  }

  .color2 {
    background: #8C52FF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    margin-top: 4%;
    margin-left: 40%;
  }

  .trFechas {
    white-space: nowrap;
  }

  .classTable {
    margin-top: -2%;
  }

  .noHayCierre {
    font-size: x-large;
    color: red;
    container-type: inline-size;
  }

  .lineaHoy {
    display: grid;
    margin: auto;
    border-width: initial;
    color: blue;
    margin-bottom: 0%;
    margin-top: -1%;
    width: 100%;
  }

  .tableEdtit {
    margin-top: -12%;
  }

  .tablePaidTherapist {
    margin-top: 0%;
  }

  .therapistColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 65px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .managerColumn {
    padding: 24px 12px 0px 0px;
    text-align: center;
    max-width: 48px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .AmountColumn {
    padding: 24px 0px 0px 6px;
    text-align: center;
    max-width: 30px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .datesColumn {
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .treatmentColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 73px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .noteColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .outputColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .timeColumn {
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .tipColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 73px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .paymentColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 73px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .column€Terap {
    text-align: center;
    padding: 24px 0px 0px 6px;
    display: inline-block;
    width: 50px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .drinkColumn {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 27px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .tobaccoColumn {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 27px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .vitaminColumn {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 36px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .columnOthers {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 36px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  table {
    display: flow;
    overflow-y: auto;
    margin-left: -5px;
  }

  .trFechaDesde {
    text-align: left;
    border-bottom: hidden;
    width: 65%;
  }

  .trFechaHasta {
    text-align: left;
    border-bottom: hidden;
    width: 65%;
    padding: 8px 0px 0px 0px;
  }

  .fechaInicio {
    width: 155px;
  }

  .horaInicio {
    align-self: end;
    margin-left: -11px;
    width: 122px;
  }

  .fechaFinal {
    width: 155px;
  }

  .horaFinal {
    width: 122px;
    margin-left: -11px;
    margin-top: 10px;
  }

  .fechas {
    justify-content: center;
  }

  .btnCancelar {
    padding-bottom: 6%;
  }
}

@media only screen and (min-device-width: 411px) and (max-device-width: 413px) {

  .marginBody {
    height: 100%;
  }

  .container {
    overflow-x: hidden;
    overflow-y: auto;
    height: 93%;
  }

  .marginPage {
    margin: 0px auto 9px;
  }

  .pagination_Mobile {
    margin-bottom: 30px;
  }

  .tableContainer {
    display: grid;
    grid-template-columns: 57% 57%;
    justify-content: center;
    margin-top: 1rem;
  }

  .therapistContainer {
    width: 78%;
    justify-self: center;
  }

  .containerInCharge {
    width: 78%;
    justify-self: center;
  }

  .dateContainer {
    width: 78%;
    justify-self: center;
    margin-top: 8%;
  }

  .buttonDeleteContainer {
    margin-top: 43px;
    width: 6rem;
    margin-left: 2.3rem;
  }

  .color2 {
    background: #8C52FF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    margin-top: 4%;
    margin-left: 40%;
  }

  .trFechas {
    white-space: nowrap;
  }

  .classTable {
    margin-top: -2%;
  }

  .noHayCierre {
    font-size: x-large;
    color: red;
    container-type: inline-size;
  }

  .lineaHoy {
    display: grid;
    margin: auto;
    border-width: initial;
    color: blue;
    margin-bottom: 0%;
    margin-top: -1%;
    width: 100%;
  }

  .tableEdtit {
    margin-top: -12%;
  }

  .tablePaidTherapist {
    margin-top: 0%;
  }

  .therapistColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 65px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .managerColumn {
    padding: 24px 12px 0px 0px;
    text-align: center;
    max-width: 48px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .AmountColumn {
    padding: 24px 0px 0px 6px;
    text-align: center;
    max-width: 30px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .datesColumn {
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .treatmentColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 73px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .noteColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .outputColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .timeColumn {
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .tipColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 73px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .paymentColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 73px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .column€Terap {
    text-align: center;
    padding: 24px 0px 0px 6px;
    display: inline-block;
    width: 50px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .drinkColumn {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 27px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .tobaccoColumn {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 27px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .vitaminColumn {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 36px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .columnOthers {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 36px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  table {
    display: flow;
    overflow-y: auto;
    margin-left: -5px;
  }

  .trFechaDesde {
    text-align: left;
    border-bottom: hidden;
    width: 65%;
  }

  .trFechaHasta {
    text-align: left;
    border-bottom: hidden;
    width: 65%;
    padding: 8px 0px 0px 0px;
  }

  .fechaInicio {
    width: 155px;
  }

  .horaInicio {
    align-self: end;
    margin-left: -11px;
    width: 122px;
  }

  .fechaFinal {
    width: 155px;
  }

  .horaFinal {
    width: 122px;
    margin-left: -11px;
    margin-top: 10px;
  }

  .fechas {
    justify-content: center;
  }

  .btnCancelar {
    padding-bottom: 6%;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 1030px) {

  .marginBody {
    height: 100%;
  }

  .container {
    overflow-x: hidden;
    overflow-y: auto;
    height: 93%;
  }

  .marginPage {
    margin: 0px auto 9px;
  }

  .pagination_Mobile {
    margin-bottom: 30px;
  }

  .tableContainer {
    display: grid;
    grid-template-columns: 57% 57%;
    justify-content: center;
    margin-top: 1rem;
  }

  .therapistContainer {
    width: 82%;
    justify-self: center;
  }

  .containerInCharge {
    width: 82%;
    justify-self: center;
  }

  .dateContainer {
    width: 82%;
    justify-self: center;
    margin-top: 8%;
  }

  .buttonDeleteContainer {
    margin-top: 43px;
    width: 6rem;
    margin-left: 2.3rem;
  }

  .color2 {
    background: #8C52FF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    margin-top: 4%;
    margin-left: 40%;
  }

  .trFechas {
    white-space: nowrap;
  }

  .classTable {
    margin-top: -2%;
  }

  .noHayCierre {
    font-size: x-large;
    color: red;
    container-type: inline-size;
  }

  .lineaHoy {
    display: grid;
    margin: auto;
    border-width: initial;
    color: blue;
    margin-bottom: 0%;
    margin-top: -1%;
    width: 100%;
  }

  .tableEdtit {
    margin-top: -12%;
  }

  .tablePaidTherapist {
    margin-top: 0%;
  }

  .therapistColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 65px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .managerColumn {
    padding: 24px 12px 0px 0px;
    text-align: center;
    max-width: 48px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .AmountColumn {
    padding: 24px 0px 0px 6px;
    text-align: center;
    max-width: 30px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .datesColumn {
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .treatmentColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 73px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .noteColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .outputColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .timeColumn {
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .tipColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 73px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .paymentColumn {
    padding: 25px 23px 0px 6px;
    text-align: center;
    max-width: 73px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .column€Terap {
    text-align: center;
    padding: 24px 0px 0px 6px;
    display: inline-block;
    width: 50px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .drinkColumn {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 27px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .tobaccoColumn {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 27px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .vitaminColumn {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 36px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .columnOthers {
    padding: 24px 0px 0px 0px;
    text-align: center;
    max-width: 36px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  table {
    display: flow;
    overflow-y: auto;
    margin-left: -5px;
  }

  .trFechaDesde {
    text-align: left;
    border-bottom: hidden;
    width: 65%;
  }

  .trFechaHasta {
    text-align: left;
    border-bottom: hidden;
    width: 65%;
    padding: 8px 0px 0px 0px;
  }

  .fechaInicio {
    width: 155px;
  }

  .horaInicio {
    align-self: end;
    margin-left: -11px;
    width: 122px;
  }

  .fechaFinal {
    width: 155px;
  }

  .horaFinal {
    width: 122px;
    margin-left: -11px;
    margin-top: 10px;
  }

  .fechas {
    justify-content: center;
  }

  .btnCancelar {
    padding-bottom: 6%;
  }
}

@media only screen and (min-device-width: 1131px) and (max-device-width: 1800px) {

  .tableContainer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
    margin-left: 26px;
    margin-top: 1rem;
  }

  .therapistContainer {
    width: 84%;
    justify-self: center;
  }

  .containerInCharge {
    width: 84%;
    justify-self: center;
  }

  .dateContainer {
    width: 90%;
    justify-self: center;
  }

  .buttonDeleteContainer {
    margin-top: 43px;
    width: 6rem;
    margin-left: 2.3rem;
  }

  .color2 {
    background: #8C52FF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    margin-top: 6%;
    margin-left: 40%;
  }

  .classTable {
    text-align-last: center;
    text-align: -webkit-center;
  }

  .noHayCierre {
    text-align: center;
    font-size: x-large;
    color: red;
  }

  .lineaHoy {
    display: grid;
    margin: auto;
    border-width: initial;
    color: blue;
    margin-bottom: 0%;
    margin-top: -0.5%;
    width: 100%;
  }

  .tabla {
    margin-top: 3%;
  }

  .tableEdtit {
    margin-top: 0%;
  }

  .tablePaidTherapist {
    margin-top: 0%;
  }

  .formAgregar {
    overflow: hidden;
  }

  .therapistColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .managerColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .AmountColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .datesColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .treatmentColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .noteColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .outputColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .tipColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .timeColumn {
    width: 100px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .paymentColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .column€Terap {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .drinkColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .tobaccoColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .vitaminColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .columnOthers {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  table {
    display: flow;
    overflow-y: auto;
    margin-left: -5px;
  }

  .trFechaDesde {
    text-align: left;
    border-bottom: hidden;
  }

  .trFechaHasta {
    text-align: left;
    border-bottom: hidden;
  }

  .fechaInicio {
    width: 155px;
  }

  .horaInicio {
    margin-left: -11px;
    width: 122px;
  }

  .fechaFinal {
    width: 155px;
    margin-left: -11px;
  }

  .horaFinal {
    align-self: end;
    width: 122px;
    margin-top: 10px;
  }

  .fechas {
    justify-content: center;
  }

  .selectTerap {
    display: grid;
    justify-items: right;
  }

  .addTerapeuta {
    width: 35%;
  }

  .addEncargada {
    width: 35%;
  }

  .worth {
    padding-left: 15px;
  }

  .btnCancelar {
    padding-bottom: 3%;
  }
}

@media only screen and (min-device-width: 1801px) and (max-device-width: 2000px) {

  .tableContainer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
    margin-left: 1.2rem;
    margin-top: 1rem;
  }

  .therapistContainer {
    width: 77.1%;
    justify-self: center;
  }

  .containerInCharge {
    width: 77.1%;
    justify-self: center;
  }

  .dateContainer {
    width: 77%;
    justify-self: center;
  }

  .buttonDeleteContainer {
    margin-top: 43px;
    width: 6rem;
    margin-left: 2.3rem;
  }

  .color2 {
    background: #8C52FF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    margin-top: 6%;
    margin-left: 40%;
  }

  .classTable {
    text-align-last: center;
    text-align: -webkit-center;
  }

  .noHayCierre {
    text-align: center;
    font-size: x-large;
    color: red;
  }

  .lineaHoy {
    display: grid;
    margin: auto;
    border-width: initial;
    color: blue;
    margin-bottom: 0%;
    margin-top: -0.5%;
    width: 100%;
  }

  .tabla {
    margin-top: 3%;
  }

  .tableEdtit {
    margin-top: 0%;
  }

  .tablePaidTherapist {
    margin-top: 0%;
  }

  .formAgregar {
    overflow: hidden;
  }

  .therapistColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .managerColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .AmountColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .datesColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .treatmentColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .noteColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .outputColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .tipColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .timeColumn {
    width: 100px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .paymentColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .column€Terap {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .drinkColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .tobaccoColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .vitaminColumn {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .columnOthers {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  table {
    display: flow;
    overflow-y: auto;
    margin-left: -5px;
  }

  .trFechaDesde {
    text-align: left;
    border-bottom: hidden;
  }

  .trFechaHasta {
    text-align: left;
    border-bottom: hidden;
  }

  .fechaInicio {
    width: 155px;
  }

  .horaInicio {
    margin-left: -11px;
    width: 122px;
  }

  .fechaFinal {
    width: 155px;
    margin-left: -11px;
  }

  .horaFinal {
    align-self: end;
    width: 122px;
    margin-top: 10px;
  }

  .fechas {
    justify-content: center;
  }

  .selectTerap {
    display: grid;
    justify-items: right;
  }

  .addTerapeuta {
    width: 35%;
  }

  .addEncargada {
    width: 35%;
  }

  .worth {
    padding-left: 15px;
  }

  .btnCancelar {
    padding-bottom: 3%;
  }
}