<script src="components/sweetalert/dist/sweetalert.min.js"></script>



<form *ngIf="liqCierre" [formGroup]="formTemplate">

    <div class="text-center mt-4 mb-4">

        <div class="text-center mt-4 mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" style="cursor: pointer;"
                class="bi bi-plus-circle text-primary" viewBox="0 0 16 16" (click)="addLiquidacion()">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
            <div>
                <label> Nueva liquidación </label>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <mat-form-field class="col-6">
                <mat-label>Encargada</mat-label>
                <mat-select formControlName="encargada" [(ngModel)]="selectedEncargada" (ngModelChange)="filtro()">
                    <mat-option *ngFor="let encarg of encargada" [value]="encarg.nombre">
                        {{encarg.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="col-6">
                <input type="date" class="form-control" formControlName="fechaInicio" (ngModelChange)="filtro()">
            </div>


            <div class="col-6">
                <input type="date" class="form-control" formControlName="FechaFin" (ngModelChange)="filtro()">
            </div>

            <mat-form-field class="col-6">
                <mat-label>Buscar</mat-label>
                <input type="text" matInput formControlName="busqueda" (ngModelChange)="filtro()" />
            </mat-form-field>
        </div>
    </div>
</form>

<div *ngIf="tableCierre" style="display: grid; place-items: center; margin-top: 3%;">
    <div style="text-align: center; width: max-content;">
        <table class="table">
            <thead>
                <tr>
                    <td class="quitarBordesVacio"></td>
                    <td class="quitarBordesVacio"></td>
                    <td class="quitarBordesVacio"></td>
                    <td class="lbelTotal">TOTALES</td>
                    <td class="bordeTotal"> {{totalValueServicio + ' €'}} </td>
                    <td class="bordeTotal"> {{totalValueEfectivo + ' €'}}</td>
                    <td class="bordeTotal"> {{totalValueBizum + ' €'}} </td>
                    <td class="bordeTotal"> {{totalValueTarjeta + ' €'}}</td>
                    <td class="bordeTotal" style="border-right: solid;"> {{totalValueTrans + ' €'}}</td>
                </tr>
                <tr class="table-secondary">
                    <!-- 2 -->
                    <th scope="col">Encargada</th>
                    <!-- 3 -->
                    <th scope="col">Desde</th>
                    <!-- 4 -->
                    <th scope="col">Hasta</th>
                    <!-- 5 -->
                    <th scope="col">Tratamiento</th>
                    <!-- 6 -->
                    <th scope="col">TOTAL</th>
                    <!-- 7 -->
                    <th scope="col">Efectivo</th>
                    <!-- 8 -->
                    <th scope="col">Bizum</th>
                    <!-- 9 -->
                    <th scope="col">Tarjeta</th>
                    <!-- 10 -->
                    <th scope="col">Trans.</th>
                </tr>
            </thead>
            <tbody (click)="editamos(serv.idCierre)" *ngFor="let serv of (cierre | encargada: selectedEncargada 
            | fechaCierre: fechaInicio:fechaFinal | busquedaCierre: filtredBusqueda) 
            | paginate: { itemsPerPage: 10, currentPage: page }">
                <tr style="cursor: pointer;">
                    <!-- 2 -->
                    <td>{{serv.encargada}}</td>
                    <!-- 3 -->
                    <td>{{serv.fechaDesde + ' - ' + serv.horaDesde}}</td>
                    <!-- 4 -->
                    <td>{{serv.fechaHasta + ' - ' + serv.horaHasta}}</td>
                    <!-- 5 -->
                    <td>{{serv.tratamiento}}</td>
                    <!-- 6 -->
                    <td>{{serv.total + ' €'}}</td>
                    <!-- 7 -->
                    <td>{{serv.efectivo + ' €'}}</td>
                    <!-- 8 -->
                    <td>{{serv.bizum + ' €'}}</td>
                    <!-- 9 -->
                    <td>{{serv.tarjeta + ' €'}}</td>
                    <!-- 10 -->
                    <td>{{serv.transaccion + ' €'}}</td>
                </tr>

                <!-- Modal -->
                <ng-template class="custom-modal" #modalTabl let-modal>
                    <div class="modal-header">
                        <h5 class="modal-title"> Nota </h5>
                        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body" style="text-align: center;">
                        <!-- Aqui se coloca lo adentro -->

                        <h4>{{serv.nota}}</h4>

                        <!-- Afuera -->
                    </div>
                </ng-template>

                <!-- Fin Modal -->

            </tbody>
        </table>

        <p class="noHayCierre" *ngIf="cierre?.length === 0"> Actualmente no hay
            cierres </p>

        <pagination-controls style="float: right;" (pageChange)="page = $event" previousLabel="Anterior"
            nextLabel="Siguiente">
        </pagination-controls>
    </div>
</div>


<!-- Agregar Encargada -->
<div *ngIf="addCierre">

    <h4 style="text-align: center; margin-bottom: 5%; font-size: x-large;">NUEVA CIERRE</h4>

    <form [formGroup]="formTemplate">

        <div class="container">

            <div class="cajaEncargada">

                <div class="col-6">
                    <label style="display: contents;">Encargada</label>
                    <select class="form-select" formControlName="encargada" [(ngModel)]="selectedEncargada"
                        (ngModelChange)="calcularSumaDeServicios()">
                        <option selected value="">Selecciona</option>
                        <option *ngFor="let encarg of encargada" [value]="encarg.nombre">{{encarg.nombre}}
                        </option>
                    </select>
                </div>
            </div>

            <div *ngIf="tablas">
                <div class="row" style="margin-top: 4%;">
                    <div class="col-9">
                        <mat-drawer-container class="example-container">
                            <mat-drawer-content style="font-weight: bold; font-size: larger;">Cierre Encargada
                                {{selectedEncargada}}</mat-drawer-content>
                        </mat-drawer-container>
                    </div>

                    <div class="col-3">
                        <mat-drawer-container style="float: right;">
                            <mat-drawer-content style="font-weight: bold;">{{ingresoPeriodo + '
                                €'}}</mat-drawer-content>
                        </mat-drawer-container>
                    </div>
                </div>

                <mat-divider></mat-divider>

                <div class="col-auto" *ngIf="mostrarFecha" style="display: contents;">
                    <mat-drawer-container style="float: left;">
                        <mat-drawer-content>{{fechaDesc + ' - ' + horaDesc + ' - ' + fechaAsc + ' ' +
                            horaAsc}}</mat-drawer-content>
                    </mat-drawer-container>
                </div>

                <!-- Table Cierre -->

                <div style="display: grid; place-items: center;" class="classTable">
                    <div style="text-align: center; width: max-content;">
                        <table class="table">
                            <thead>
                                <tr class="table-secondary">
                                    <th scope="col"></th>
                                    <th scope="col">Caja</th>
                                    <th scope="col">Ingresos</th>
                                    <th scope="col">Pagos</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Efectivo</th>
                                    <td>{{totalCajaEfectivo + ' €'}}</td>
                                    <td>{{totalesEfectivo + ' €'}}</td>
                                    <td>{{sumaEfectivo + ' €'}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Bizum</th>
                                    <td>{{totalCajaBizu + ' €'}}</td>
                                    <td>{{totalesBizum + ' €'}}</td>
                                    <td>{{sumaBizum + ' €'}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Tarjeta</th>
                                    <td>{{totalCajaTarjeta + ' €'}}</td>
                                    <td>{{totalesTarjeta + ' €'}}</td>
                                    <td>{{sumaTarjeta + ' €'}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Transf</th>
                                    <td>{{totalCajaTransfer + ' €'}}</td>
                                    <td>{{totalesTransferencia + ' €'}}</td>
                                    <td>{{sumaTransfe + ' €'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Fin Table Cierre -->

                <h4 class="ingresoPeriodo">Ingresos periodo {{sumaPeriodo + ' €'}}</h4>

                <!-- Table -->

                <div style="display: grid; place-items: center; margin-top: 3%;">
                    <div style="text-align: center; width: max-content;">
                        <table class="table">
                            <thead>
                                <tr class="table-secondary">
                                    <!-- 2 -->
                                    <th scope="col">Terapeuta</th>
                                    <!-- 3 -->
                                    <th scope="col">Salida</th>
                                    <!-- 4 -->
                                    <th scope="col">Hora</th>
                                    <!-- 5 -->
                                    <th scope="col">Pago</th>
                                    <!-- 5 -->
                                    <th scope="col">€ a piso</th>
                                    <!-- 6 -->
                                    <th scope="col">€ a piso 2</th>
                                    <!-- 7 -->
                                    <th scope="col">€ a terap.</th>
                                    <!-- 8 -->
                                    <th scope="col">€ a enc.</th>
                                    <!-- 9 -->
                                    <th scope="col">€ a otros</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let serv of (servicio | encargada: selectedEncargada) 
                            | paginate: { itemsPerPage: 5, currentPage: page }">
                                <tr>
                                    <!-- 1 -->
                                    <td>{{serv.terapeuta}}</td>
                                    <!-- 2 -->
                                    <td>{{serv.salida}}</td>
                                    <!-- 3 -->
                                    <td>{{serv.horaStart + ' - ' + serv.horaStart}}</td>
                                    <!-- 4 -->
                                    <td>{{serv.formaPago}}</td>
                                    <!-- 5 -->
                                    <td>{{serv.numberPiso1 + ' €'}}</td>
                                    <!-- 6 -->
                                    <td>{{serv.numberPiso2 + ' €'}}</td>
                                    <!-- 7 -->
                                    <td>{{serv.numberTerap + ' €'}}</td>
                                    <!-- 8 -->
                                    <td>{{serv.numberEncarg + ' €'}}</td>
                                    <!-- 9 -->
                                    <td>{{serv.numberOtro + ' €'}}</td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr>
                                    <td style="border-top: solid;"></td>
                                    <td style="border-top: solid;"></td>
                                    <td style="border-top: solid;"></td>
                                    <td style="border-top: solid;">Total</td>
                                    <td style="border-top: solid;">{{totalValuePiso + ' €'}}</td>
                                    <td style="border-top: solid;">{{totalValuePiso2 + ' €'}}</td>
                                    <td style="border-top: solid;">{{totalValueTerap + ' €'}}</td>
                                    <td style="border-top: solid;">{{totalValueEncarg + ' €'}}</td>
                                    <td style="border-top: solid;">{{totalValueOtros + ' €'}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <pagination-controls style="float: right;" (pageChange)="page = $event" previousLabel="Anterior"
                            nextLabel="Siguiente">
                        </pagination-controls>
                    </div>
                </div>

                <!-- fin Tabla -->

                <h4 class="PagosPeriodo">Pagos periodo {{sumaPeriodo + ' €'}}</h4>

                <!-- Table Cierre -->

                <div style="display: grid; place-items: center;" class="classTable">
                    <div style="text-align: center; width: max-content;">
                        <table class="table">
                            <thead>
                                <tr class="table-secondary">
                                    <th scope="col"></th>
                                    <th scope="col">Efectivo</th>
                                    <th scope="col">Bizum</th>
                                    <th scope="col">Tarjeta</th>
                                    <th scope="col">Transf</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let encarg of servicio | encargada: selectedEncargada">
                                <tr>
                                    <td>{{encarg.terapeuta}}</td>
                                    <td data-label="Efectivo">{{encarg.valueEfectivo + ' €'}}</td>
                                    <td data-label="Bizum">{{encarg.valueBizum + ' €'}}</td>
                                    <td data-label="Tarjeta">{{encarg.valueTarjeta + ' €'}}</td>
                                    <td data-label="Transferencia">{{encarg.valueTrans + ' €'}}</td>
                                </tr>
                            </tbody>
                            <tbody class="table3">
                                <tr>
                                    <td style="border-top: solid;">Total</td>
                                    <td data-label="Efectivo" style="border-top: solid;">{{totalesEfectivo + ' €'}}</td>
                                    <td data-label="Bizum" style="border-top: solid;">{{totalesBizum + ' €'}}</td>
                                    <td data-label="Tarjeta" style="border-top: solid;">{{totalesTarjeta + ' €'}}</td>
                                    <td data-label="Transferencia" style="border-top: solid;">{{totalesTransferencia + '
                                        €'}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Fin Table Cierre -->
            </div>
        </div>
    </form>

    <button *ngIf="tablas" mat-raised-button style="display: grid; margin: auto;" (click)="guardar()"
        color="primary">Guardar</button>
</div>


<!-- Editar Cierre -->
<div *ngIf="editCierre">

    <h4 style="text-align: center; margin-bottom: 5%; font-size: x-large;">Cierre de {{datosCierre[0]['encargada']}}
    </h4>

    <div class="container">

        <div class="row" style="margin-top: 4%;">
            <div class="col-9">
                <label style="font-weight: bold; font-size: larger;">Cierre Encargada {{selectedEncargada}}</label>
            </div>

            <div class="col-3">
                <label style="font-weight: bold; float: right;">{{ingresoPeriodo + ' €'}}</label>
            </div>
        </div>

        <mat-divider></mat-divider>

        <div class="col-auto" style="display: contents;">
            <mat-drawer-container style="float: left;">
                <mat-drawer-content>{{fechaDesc + ' - ' + horaDesc + ' - ' + fechaAsc + ' ' +
                    horaAsc}}</mat-drawer-content>
            </mat-drawer-container>
        </div>

        <!-- Table Cierre -->

        <div style="display: grid; place-items: center;" class="classTable">
            <div style="text-align: center; width: max-content;">
                <table class="table">
                    <thead>
                        <tr class="table-secondary">
                            <th scope="col"></th>
                            <th scope="col">Caja</th>
                            <th scope="col">Ingresos</th>
                            <th scope="col">Pagos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Efectivo</th>
                            <td>{{totalCajaEfectivo + ' €'}}</td>
                            <td>{{totalesEfectivo + ' €'}}</td>
                            <td>{{sumaEfectivo + ' €'}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Bizum</th>
                            <td>{{totalCajaBizu + ' €'}}</td>
                            <td>{{totalesBizum + ' €'}}</td>
                            <td>{{sumaBizum + ' €'}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Tarjeta</th>
                            <td>{{totalCajaTarjeta + ' €'}}</td>
                            <td>{{totalesTarjeta + ' €'}}</td>
                            <td>{{sumaTarjeta + ' €'}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Transf</th>
                            <td>{{totalCajaTransfer + ' €'}}</td>
                            <td>{{totalesTransferencia + ' €'}}</td>
                            <td>{{sumaTransfe + ' €'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Fin Table Cierre -->

        <h4 class="ingresoPeriodo">Ingresos periodo {{sumaPeriodo + ' €'}}</h4>

        <!-- Table -->

        <div style="display: grid; place-items: center; margin-top: 3%;">
            <div style="text-align: center; width: max-content;">
                <table class="table">
                    <thead>
                        <tr class="table-secondary">
                            <!-- 2 -->
                            <th scope="col">Terapeuta</th>
                            <!-- 3 -->
                            <th scope="col">Salida</th>
                            <!-- 4 -->
                            <th scope="col">Hora</th>
                            <!-- 5 -->
                            <th scope="col">Pago</th>
                            <!-- 5 -->
                            <th scope="col">€ a piso</th>
                            <!-- 6 -->
                            <th scope="col">€ a piso 2</th>
                            <!-- 7 -->
                            <th scope="col">€ a terap.</th>
                            <!-- 8 -->
                            <th scope="col">€ a enc.</th>
                            <!-- 9 -->
                            <th scope="col">€ a otros</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let cierre of (datosCierre | encargada: selectedEncargada) 
                            | paginate: { itemsPerPage: 5, currentPage: page }">
                        <tr>
                            <!-- 1 -->
                            <td>{{cierre.terapeuta}}</td>
                            <!-- 2 -->
                            <td>{{cierre.salida}}</td>
                            <!-- 3 -->
                            <td>{{cierre.horaStart + ' - ' + cierre.horaStart}}</td>
                            <!-- 4 -->
                            <td>{{cierre.formaPago}}</td>
                            <!-- 5 -->
                            <td>{{cierre.numberPiso1 + ' €'}}</td>
                            <!-- 6 -->
                            <td>{{cierre.numberPiso2 + ' €'}}</td>
                            <!-- 7 -->
                            <td>{{cierre.numberTerap + ' €'}}</td>
                            <!-- 8 -->
                            <td>{{cierre.numberEncarg + ' €'}}</td>
                            <!-- 9 -->
                            <td>{{cierre.numberOtro + ' €'}}</td>
                        </tr>
                    </tbody>

                    <tbody>
                        <tr>
                            <td style="border-top: solid;"></td>
                            <td style="border-top: solid;"></td>
                            <td style="border-top: solid;"></td>
                            <td style="border-top: solid;">Total</td>
                            <td style="border-top: solid;">{{totalValuePiso + ' €'}}</td>
                            <td style="border-top: solid;">{{totalValuePiso2 + ' €'}}</td>
                            <td style="border-top: solid;">{{totalValueTerap + ' €'}}</td>
                            <td style="border-top: solid;">{{totalValueEncarg + ' €'}}</td>
                            <td style="border-top: solid;">{{totalValueOtros + ' €'}}</td>
                        </tr>
                    </tbody>
                </table>

                <pagination-controls style="float: right;" (pageChange)="page = $event" previousLabel="Anterior"
                    nextLabel="Siguiente">
                </pagination-controls>
            </div>
        </div>

        <!-- fin Tabla -->

        <h4 class="PagosPeriodo">Pagos periodo {{sumaPeriodo + ' €'}}</h4>

        <!-- Table Cierre -->

        <div style="display: grid; place-items: center;" class="classTable">
            <div style="text-align: center; width: max-content;">
                <table class="table">
                    <thead>
                        <tr class="table-secondary">
                            <th scope="col"></th>
                            <th scope="col">Efectivo</th>
                            <th scope="col">Bizum</th>
                            <th scope="col">Tarjeta</th>
                            <th scope="col">Transf</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let cierre of datosCierre | encargada: selectedEncargada">
                        <tr>
                            <td>{{cierre.terapeuta}}</td>
                            <td data-label="Efectivo">{{cierre.valueEfectivo + ' €'}}</td>
                            <td data-label="Bizum">{{cierre.valueBizum + ' €'}}</td>
                            <td data-label="Tarjeta">{{cierre.valueTarjeta + ' €'}}</td>
                            <td data-label="Transferencia">{{cierre.valueTrans + ' €'}}</td>
                        </tr>
                    </tbody>
                    <tbody class="table3">
                        <tr>
                            <td style="border-top: solid;">Total</td>
                            <td data-label="Efectivo" style="border-top: solid;">{{totalesEfectivo + ' €'}}</td>
                            <td data-label="Bizum" style="border-top: solid;">{{totalesBizum + ' €'}}</td>
                            <td data-label="Tarjeta" style="border-top: solid;">{{totalesTarjeta + ' €'}}</td>
                            <td data-label="Transferencia" style="border-top: solid;">{{totalesTransferencia + '
                                €'}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Fin Table Cierre -->
    </div>
</div>