<script src="components/sweetalert/dist/sweetalert.min.js"></script>

<div *ngIf="liqEncargada" class="text-center mt-4 mb-4">
    <button class="btn btn-primary rounded-circle" (click)="addLiquidacion()">+</button>
    <div>
        <label> Nuevo cierre </label>
    </div>
</div>

<form *ngIf="liqEncargada" [formGroup]="formTemplate">

    <div class="container">
        <div class="row">

            <mat-form-field class="col-6">
                <mat-label>Encargada</mat-label>
                <mat-select formControlName="encargada" [(ngModel)]="selectedEncargada">
                    <mat-option *ngFor="let encarg of encargada" [value]="encarg.nombre">
                        {{encarg.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="col-6">
                <input type="date" class="form-control" (change)="dateStart($event)" formControlName="fechaInicio">
            </div>


            <div class="col-6">
                <input type="date" class="form-control" (change)="dateEnd($event)" formControlName="FechaFin">
            </div>

            <mat-form-field class="col-6">
                <mat-label>Buscar</mat-label>
                <input type="text" matInput (ngModelChange)="busqueda($event)" formControlName="busqueda" />
            </mat-form-field>
        </div>
    </div>
</form>



<div *ngIf="liqEncargada" style="display: grid; place-items: center; margin-top: 3%;">
    <div style="text-align: center; width: max-content;">
        <table class="table" id="excel-table">
            <thead>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="font-weight: bold; font-size: large; color: crimson;">TOTALES</td>
                    <td style="border-left: solid;border-top: solid; border-bottom: solid;">{{totalValueServicio + '
                        €'}}
                    </td>
                    <td style="border-top: solid; border-bottom: solid;">{{totalValueEfectivo + ' €'}}</td>
                    <td style="border-top: solid; border-bottom: solid;">{{totalValueBizum + ' €'}}</td>
                    <td style="border-top: solid; border-bottom: solid;">{{totalValueTarjeta + ' €'}}</td>
                    <td style="border-top: solid; border-bottom: solid;  border-right: solid;">{{totalValueTrans + '
                        €'}}</td>
                </tr>
                <tr>
                    <!-- 2 -->
                    <th scope="col">Encargada</th>
                    <!-- 3 -->
                    <th scope="col">Desde</th>
                    <!-- 4 -->
                    <th scope="col">Hasta</th>
                    <!-- 5 -->
                    <th scope="col">Hora</th>
                    <!-- 5 -->
                    <th scope="col">Servicios</th>
                    <!-- 6 -->
                    <th scope="col">TOTAL</th>
                    <!-- 7 -->
                    <th scope="col">Efectivo</th>
                    <!-- 8 -->
                    <th scope="col">Bizum</th>
                    <!-- 9 -->
                    <th scope="col">Tarjeta</th>
                    <!-- 10 -->
                    <th scope="col">Trans.</th>
                </tr>
            </thead>
            <tbody (click)="editamos(serv.id)" *ngFor="let serv of (servicio | encargada: selectedEncargada 
            | fechaInicial: fechaInicio:fechaFinal | busqueda: filtredBusqueda) 
            | paginate: { itemsPerPage: 10, currentPage: page }">
                <tr>
                    <!-- 2 -->
                    <td>{{serv.encargada}}</td>
                    <!-- 3 -->
                    <td>{{serv.fecha}}</td>
                    <!-- 4 -->
                    <td>{{serv.fecha}}</td>
                    <!-- 5 -->
                    <td>{{serv.horaEnd}}</td>
                    <!-- 5 -->
                    <td>{{serv.servicio}}</td>
                    <!-- 6 -->
                    <td>{{serv.totalServicio}}</td>
                    <!-- 7 -->
                    <td>{{serv.valueEfectivo}}</td>
                    <!-- 8 -->
                    <td>{{serv.valueBizum}}</td>
                    <!-- 9 -->
                    <td>{{serv.valueTarjeta}}</td>
                    <!-- 10 -->
                    <td>{{serv.valueTrans}}</td>
                </tr>

                <!-- Modal -->
                <ng-template class="custom-modal" #modalTabl let-modal>
                    <div class="modal-header">
                        <h5 class="modal-title"> Nota </h5>
                        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body" style="text-align: center;">
                        <!-- Aqui se coloca lo adentro -->

                        <h4>{{serv.nota}}</h4>

                        <!-- Afuera -->
                    </div>
                </ng-template>

                <!-- Fin Modal -->

            </tbody>
        </table>

        <pagination-controls style="float: right;" (pageChange)="page = $event" previousLabel="Anterior"
            nextLabel="Siguiente">
        </pagination-controls>
    </div>
</div>



<!-- Agregar Emcargada -->
<div *ngIf="addEncarg">

    <h4 style="text-align: center; margin-bottom: 5%; font-family: cursive; font-size: x-large;">NUEVA LIQUIDACIÓN DE
        UNA ENCARGADA</h4>

    <form [formGroup]="formTemplate">

        <div class="container">

            <div style="display: grid; place-items: center;">
                <mat-form-field class="col-6">
                    <mat-label>Encargada</mat-label>
                    <mat-select formControlName="encargada" [(ngModel)]="selectedEncargada">
                        <mat-option *ngFor="let encarg of encargada" [value]="encarg.nombre">
                            {{encarg.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="row" style="margin-top: 4%;">
                <div class="col-6">
                    <mat-drawer-container class="example-container">
                        <mat-drawer-content style="font-weight: bold; font-size: larger;">Cierre Encargada
                            {{selectedEncargada}}</mat-drawer-content>
                    </mat-drawer-container>
                </div>

                <div class="col-6">
                    <mat-drawer-container class="example-container" style="float: right;">
                        <mat-drawer-content style="font-weight: bold;">{{totalComision + ' €'}}</mat-drawer-content>
                    </mat-drawer-container>
                </div>
            </div>

            <mat-divider></mat-divider>

            <div class="col-auto">
                <mat-drawer-container class="example-container" style="float: left;">
                    <mat-drawer-content style="font-weight: bold;">{{totalComision + ' €'}}</mat-drawer-content>
                </mat-drawer-container>
            </div>

            <!-- Table Sumatoria -->

            <div style="display: grid; place-items: center;" class="tableCierre">
                <div style="text-align: center; width: max-content;">
                    <table class="table" *ngFor="let cerre of servicio">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Caja</th>
                                <th scope="col">Ingresos</th>
                                <th scope="col">Pagos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Efectivo</th>
                                <td>{{1111 + ' €'}}</td>
                                <td>{{cerre.valueEfectivo + ' €'}}</td>
                                <td>{{totalValueEfectivo}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Bizum</th>
                                <td>{{555 + ' €'}}</td>
                                <td>{{cerre.valueBizum + ' €'}}</td>
                                <td>{{666 + ' €'}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Tarjeta</th>
                                <td>{{1111 + ' €'}}</td>
                                <td>{{cerre.valueTarjeta + ' €'}}</td>
                                <td>{{22222 + ' €'}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Transf</th>
                                <td>{{555 + ' €'}}</td>
                                <td>{{cerre.valueTrans + ' €'}}</td>
                                <td>{{6666 + ' €'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>

        <!-- Table Sumatoria -->


    </form>

    <button mat-raised-button style="display: grid; margin: auto;" (click)="guardar()" color="primary">Guardar</button>
</div>