.table-secondary {
  --bs-table-bg: cornflowerblue;
  white-space: nowrap;
}

.btnCircle {
  width: 45px;
  height: 45px;
  border-radius: 60px;
  font-size: 15px;
  text-align: center;
  background-color: #0d6efd;
  border: thick;
  color: white;
}

.table-secondary {
  --bs-table-bg: transparent;
  background-color: transparent;
}

.quitarBordesVacio {
  border-style: hidden;
  line-height: 0%;
}

.lbelTotal {
  border: hidden;
  font-weight: bold;
  color: red;
  border-right: solid;
  border-color: black;
}

.bordeTotal {
  border-top: solid;  
  border-bottom: solid;
}

tr {
  line-height: 0%;
}

th {
  white-space: nowrap;
}

@media only screen and (min-device-width: 270px) and (max-device-width: 1020px) {
  .tableCierre {
    margin-top: 15%;
  }

  .ingresoPeriodo {
    margin-top: 8%;
    text-transform: inherit;
    font-weight: bold;
    font-size: 150%;
    color: blue;
  }

  .PagosPeriodo {
    margin-top: 2%;
    margin-bottom: -10%;
    text-transform: inherit;
    font-weight: bold;
    font-size: 150%;
    color: blue;
  }

  .classTable {
    margin-top: 15%;
  }

  .noHayCierre {
    display: contents;
    font-size: x-large;
    color: red;
  }

  .cajaEncargada {
    text-align: -webkit-center;
    margin-top: 10%;
  }
}

/* ------------------------------------------------------------------------------------------------
 ---------------------------------------------------------------------------------------------------
 Query para Pantalla grande */

@media only screen and (min-device-width: 1023px) and (max-device-width: 1030px) {
  .tableCierre {
    margin-top: 15%;
  }

  .ingresoPeriodo {
    margin-top: 8%;
    text-transform: inherit;
    font-weight: bold;
    font-size: 150%;
    color: blue;
  }

  .PagosPeriodo {
    margin-top: 8%;
    margin-bottom: -4%;
    text-transform: inherit;
    font-weight: bold;
    font-size: 150%;
    color: blue;
  }

  .classTable {
    margin-top: 10%;
  }

  .noHayCierre {
    text-align: center;
    font-family: cursive;
    font-size: x-large;
    color: red;
  }

  .cajaEncargada {
    text-align: -webkit-center;
    margin-top: 10%;
  }
}

@media only screen and (min-device-width: 1279px) and (max-device-width: 1280px) {
  .tableCierre {
    margin-top: 6%;
  }

  .ingresoPeriodo {
    margin-top: 2%;
    text-transform: inherit;
    font-weight: bold;
    font-size: 170%;
    color: blue;
  }

  .PagosPeriodo {
    margin-top: 2%;
    margin-bottom: -4%;
    text-transform: inherit;
    font-weight: bold;
    font-size: 170%;
    color: blue;
  }

  .classTable {
    margin-top: 6%;
  }

  .noHayCierre {
    text-align: center;
    font-family: cursive;
    font-size: x-large;
    color: red;
  }

  .cajaEncargada {
    text-align: -webkit-center;
  }
}

@media only screen and (min-device-width: 1350px) and (max-device-width: 1380px) {
  .tableCierre {
    margin-top: 15%;
  }

  .ingresoPeriodo {
    margin-top: 2%;
    text-transform: inherit;
    font-weight: bold;
    font-size: 170%;
    color: blue;
  }

  .PagosPeriodo {
    margin-top: 2%;
    margin-bottom: -4%;
    text-transform: inherit;
    font-weight: bold;
    font-size: 170%;
    color: blue;
  }

  .classTable {
    margin-top: 6%;
  }

  .noHayCierre {
    text-align: center;
    font-family: cursive;
    font-size: x-large;
    color: red;
  }

  .cajaEncargada {
    text-align: -webkit-center;
  }
}

@media only screen and (min-device-width: 1381px) and (max-device-width: 2500px) {
  .tableCierre {
    margin-top: 8%;
  }

  .ingresoPeriodo {
    margin-top: 2%;
    text-transform: inherit;
    font-weight: bold;
    font-size: 170%;
    color: blue;
  }

  .PagosPeriodo {
    margin-top: 2%;
    margin-bottom: -4%;
    text-transform: inherit;
    font-weight: bold;
    font-size: 170%;
    color: blue;
  }

  .classTable {
    margin-top: 6%;
  }

  .noHayCierre {
    text-align: center;
    font-family: cursive;
    font-size: x-large;
    color: red;
  }

  .cajaEncargada {
    text-align: -webkit-center;
  }
}
