.text {
  display: contents;
  color: #242424;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
}

.table-secondary {
  --bs-table-bg: transparent;
  background-color: transparent;
}

.quitarBordesVacio {
  border-style: hidden;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

th,
td {
  padding: 10px;
}

@media only screen and (min-device-width: 270px) and (max-device-width: 392px) {

  .container {
    overflow-x: hidden;
  }

  .color2 {
    background: #8C52FF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    margin-top: 43%;
    margin-left: 20%;
  }

  .tableContainer {
    display: grid;
    grid-template-columns: 8% 28% 8%;
  }

  .tableContainer {
    display: grid;
    grid-template-columns: 52% 52%;
    justify-content: center;
    margin-top: 1rem;
  }

  .therapistContainer {
    width: 86%;
    justify-self: center;
  }

  .containerInCharge {
    width: 86%;
    justify-self: center;
  }

  .dateContainer {
    width: 86%;
    justify-self: center;
    margin-top: 10%;
  }

  .tableContainer2 {
    display: grid;
    grid-template-columns: 52% 52%;
    margin-top: 2rem;
    margin-left: -14px;
  }

  .containerPaymentMethod {
    width: 83%;
    justify-self: center;
    margin-left: 5%;
    margin-top: -10%;
  }

  .searchContainer {
    width: 82%;
    justify-self: center;
    margin-left: -7px;
    margin-top: -10%;
  }

  .buttonDeleteContainer {
    margin-top: 18px;
    width: 6rem;
    margin-left: 1.3rem;
  }

  .exportExcel {
    margin-top: 18px;
    width: 2rem;
    margin-left: 0rem;
  }

  /* Table */

  .adjustTable {
    margin-left: -2rem;
    overflow-x: auto;
    overflow-y: visible;
    width: 100%;
  }

  .textNote {
    max-width: 0px;
    padding: 0px 0px 10px 0px;
  }

  .textDate {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
    padding: 0px 15px 10px 0px;
  }

  .textTherapist {
    font-family: sans-serif;
    line-height: 1.2rem;
    font-size: 18px;
    width: 80px;
    padding: 16px 20px 0px 0px;
    display: block;
    word-wrap: break-word;
  }

  .textManager {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    line-height: 1.2rem;
    font-size: 18px;
    max-width: 80px;
    padding: 10px 5px 0px 4px;
    word-wrap: break-word;
  }

  .textExit {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
    padding: 0px 10px 9px 7px;
  }

  .textHour {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
    padding: 0px 0px 9px 0px;
  }

  .textMin{
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
    padding: 0px 15px 9px 7px;
  }

  .textPay {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
    padding: 0px 23px 9px 0px;
  }

  .textTreatment {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    line-height: 1.2rem;
    font-size: 18px;
    max-width: 100px;
    padding: 10px 24px 0px 4px;
    word-wrap: break-word;
  }

  .textValue {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    padding: 0px 10px 0px 0px;
    line-height: 1.2rem;
  }

  .textTip{
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    line-height: 1.2rem;
    font-size: 18px;
    max-width: 40px;
    padding: 10px 13px 0px 0px;
    word-wrap: break-word;
  }

  .textColumn {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    padding: 0px 13px 10px 0px;
    white-space: nowrap;
  }

  .textVitamin {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    line-height: 1.2rem;
    font-size: 18px;
    max-width: 73px;
    padding: 0px 20px 0px 0px;
    word-wrap: break-word;
  }

  .columnNote {
    border-top: hidden;
    border-bottom: hidden;
  }

  .columnDate {
    border-bottom: hidden;
    word-wrap: break-word;
    font-family: sans-serif;
    font-size: 16px;
    line-height: normal;
    height: min-content;
  }

  .columnTherapist {
    border-bottom: hidden;
    border-top: 1px solid blue;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: justify;
    line-height: normal;
    height: min-content;
  }

  .columnManager {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: justify;
    line-height: normal;
    height: min-content;
  }

  .columnMin{
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: normal;
    height: min-content;
  }

  .columnExit {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: justify;
    line-height: normal;
    height: min-content;
  }

  .columnHour {
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 16px;
    text-align: justify;
    line-height: normal;
    height: min-content;
  }

  .columnPaymentMethod {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: justify;
    line-height: normal;
    height: min-content;
  }

  .columnTreatment {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnFloor1 {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnFloor2 {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueTherapist {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueManager {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueOther {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueDrink {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueTobacco {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueVitamin {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueTip {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueOthers {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueTotal {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueClient {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: justify;
    line-height: normal;
    height: min-content;
  }

  .lbelTotal {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #8C52FF;
  }

  .lblValueTotal {
    text-align: end;
    font-family: sans-serif;
    font-size: 18px;
    padding: 10px 33px 0px 0px;
    color: #8C52FF;
  }

  .lblVaueTotalFloor2 {
    text-align: end;
    font-family: sans-serif;
    font-size: 18px;
    padding: 10px 33px 0px 20px;
    color: #8C52FF;
  }

  .lblValueTotals {
    text-align: end;
    font-family: sans-serif;
    font-size: 18px;
    color: #8C52FF;
  }
}

@media only screen and (min-device-width: 393px) and (max-device-width: 1030px) {

  .container {
    overflow-x: hidden;
  }

  .color2 {
    background: #8C52FF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    margin-top: 43%;
    margin-left: 20%;
  }

  .tableContainer {
    display: grid;
    grid-template-columns: 8% 28% 8%;
  }

  .tableContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    margin-top: 1rem;
  }

  .therapistContainer {
    width: 86%;
    justify-self: center;
  }

  .containerInCharge {
    width: 86%;
    justify-self: center;
  }

  .dateContainer {
    width: 86%;
    justify-self: center;
    margin-top: 8%;
  }

  .tableContainer2 {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 2rem;
    margin-left: -2%;
  }

  .containerPaymentMethod {
    width: 85%;
    justify-self: center;
    margin-left: 7%;
    margin-top: -10%;
  }

  .searchContainer {
    width: 84%;
    justify-self: center;
    margin-left: 0.2rem;
    margin-top: -10%;
  }

  .buttonDeleteContainer {
    margin-top: 18px;
    width: 6rem;
    margin-left: 1.3rem;
  }

  .exportExcel {
    margin-top: 18px;
    width: 2rem;
    margin-left: 0rem;
  }

  /* Table */

  .adjustTable {
    margin-left: 0%;
    margin-top: 13%;
    overflow-x: auto;
    overflow-y: visible;
    width: 100%;
  }

  .textNote {
    max-width: 0px;
    padding: 0px 0px 10px 0px;
  }

  .textDate {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
    padding: 0px 15px 10px 0px;
  }

  .textTherapist {
    font-family: sans-serif;
    line-height: 1.2rem;
    font-size: 18px;
    width: 80px;
    padding: 16px 20px 0px 0px;
    display: block;
    word-wrap: break-word;
  }

  .textManager {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    line-height: 1.2rem;
    font-size: 18px;
    max-width: 80px;
    padding: 10px 5px 0px 4px;
    word-wrap: break-word;
  }

  .textExit {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
    padding: 0px 10px 9px 7px;
  }

  .textHour {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
    padding: 0px 0px 9px 0px;
  }

  .textMin{
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
    padding: 0px 15px 9px 7px;
  }

  .textPay {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
    padding: 0px 23px 9px 0px;
  }

  .textTreatment {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    line-height: 1.2rem;
    font-size: 18px;
    max-width: 100px;
    padding: 10px 24px 0px 4px;
    word-wrap: break-word;
  }

  .textValue {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    padding: 0px 10px 0px 0px;
    line-height: 1.2rem;
  }

  .textTip{
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    line-height: 1.2rem;
    font-size: 18px;
    max-width: 40px;
    padding: 10px 13px 0px 0px;
    word-wrap: break-word;
  }

  .textColumn {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    padding: 0px 13px 10px 0px;
    white-space: nowrap;
  }

  .textVitamin {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    line-height: 1.2rem;
    font-size: 18px;
    max-width: 73px;
    padding: 0px 20px 0px 0px;
    word-wrap: break-word;
  }

  .columnNote {
    border-top: hidden;
    border-bottom: hidden;
  }

  .columnDate {
    border-bottom: hidden;
    word-wrap: break-word;
    font-family: sans-serif;
    font-size: 16px;
    line-height: normal;
    height: min-content;
  }

  .columnTherapist {
    border-bottom: hidden;
    border-top: 1px solid blue;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: justify;
    line-height: normal;
    height: min-content;
  }

  .columnManager {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: justify;
    line-height: normal;
    height: min-content;
  }

  .columnMin{
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: normal;
    height: min-content;
  }

  .columnExit {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: justify;
    line-height: normal;
    height: min-content;
  }

  .columnHour {
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 16px;
    text-align: justify;
    line-height: normal;
    height: min-content;
  }

  .columnPaymentMethod {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: justify;
    line-height: normal;
    height: min-content;
  }

  .columnTreatment {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnFloor1 {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnFloor2 {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueTherapist {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueManager {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueOther {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueDrink {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueTobacco {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueVitamin {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueTip {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueOthers {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueTotal {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueClient {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: justify;
    line-height: normal;
    height: min-content;
  }

  .lbelTotal {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #8C52FF;
  }

  .lblValueTotal {
    text-align: end;
    font-family: sans-serif;
    font-size: 18px;
    padding: 10px 33px 0px 0px;
    color: #8C52FF;
  }

  .lblVaueTotalFloor2 {
    text-align: end;
    font-family: sans-serif;
    font-size: 18px;
    padding: 10px 33px 0px 20px;
    color: #8C52FF;
  }

  .lblValueTotals {
    text-align: end;
    font-family: sans-serif;
    font-size: 18px;
    color: #8C52FF;
  }
}

@media only screen and (min-device-width: 1131px) and (max-device-width: 1800px) {

  .color2 {
    background: #8C52FF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    margin-top: 40%;
    margin-left: 20%;
  }

  .tableContainer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
    margin-left: 26px;
    margin-top: 1rem;
  }

  .therapistContainer {
    width: 84%;
    justify-self: center;
  }

  .containerInCharge {
    width: 84%;
    justify-self: center;
  }

  .dateContainer {
    width: 90%;
    justify-self: center;
  }

  .tableContainer2 {
    display: grid;
    grid-template-columns: 24% 26% 17% 10%;
    margin-top: 1rem;
    margin-left: 33px;
  }

  .containerPaymentMethod {
    width: 88%;
    justify-self: center;
    margin-left: -3%;
  }

  .searchContainer {
    width: 80%;
    justify-self: center;
    margin-left: -1%;
  }

  .buttonDeleteContainer {
    margin-top: 1.2rem;
    width: 6rem;
    margin-left: 1rem;
  }

  .exportExcel {
    margin-top: 1.4rem;
    width: 2rem;
    margin-left: 2rem;
  }

  /* Table */

  .adjustTable {
    margin-left: -72%;
    margin-top: 4rem;
  }

  .textNote {
    max-width: 0px;
    padding: 0px 0px 10px 0px;
  }

  .textDate {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
    height: 3rem;
    max-width: 95px;
    padding: 0px 56px 10px 11px;
  }

  .textTherapist {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
    padding: 0px 10px 10px 0px;
  }

  .textManager {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
    padding: 0px 10px 10px 0px;
  }

  .textExit {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
    padding: 0px 27px 10px 0px;
  }

  .textHour {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
    height: 4rem;
    width: 0px;
    padding: 0px 45px 10px 0px;
  }

  .textMin{
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
  }

  .textPay {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
    height: 3rem;
    padding: 0px 27px 9px 7px;
  }

  .textTreatment {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
    height: 4rem;
    padding: 0px 10px 10px 0px;
  }

  .textValue {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
    padding: 0px 10px 10px 0px;
  }

  .textTip{
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
    height: 4rem;
    padding: 0px 10px 10px 0px;
  }

  .textColumn {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
    padding: 0px 10px 10px 0px;
  }

  .textVitamin {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
    padding: 0px 10px 10px 0px;
  }

  .columnNote {
    border-top: hidden;
    border-bottom: hidden;
  }

  .columnDate {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
    line-height: normal;
    height: min-content;
  }

  .columnTherapist {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
    line-height: normal;
    height: min-content;
  }

  .columnManager {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
    line-height: normal;
    height: min-content;
  }

  .columnMin{
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: normal;
    height: min-content;
  }

  .columnExit {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
    line-height: normal;
    height: min-content;
  }

  .columnHour {
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
    line-height: normal;
    height: min-content;
  }

  .columnPaymentMethod {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
    line-height: normal;
    height: min-content;
  }

  .columnTreatment {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnFloor1 {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnFloor2 {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueTherapist {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueManager {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueOther {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueDrink {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueTobacco {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueVitamin {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueTip {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueOthers {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueTotal {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueClient {
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
    line-height: normal;
    height: min-content;
  }

  .lbelTotal {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #8C52FF;
  }

  .lblValueTotal {
    text-align: end;
    font-family: sans-serif;
    font-size: 18px;
    color: #8C52FF;
  }

  .lblVaueTotalFloor2 {
    text-align: end;
    font-family: sans-serif;
    font-size: 18px;
    color: #8C52FF;
  }

  .lblValueTotals {
    text-align: end;
    font-family: sans-serif;
    font-size: 18px;
    color: #8C52FF;
  }
}

@media only screen and (min-device-width: 1801px) and (max-device-width: 2000px) {

  .color2 {
    background: #8C52FF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    margin-top: 40%;
    margin-left: 20%;
  }

  .tableContainer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
    margin-left: 1.2rem;
    margin-top: 1rem;
  }

  .therapistContainer {
    width: 77.1%;
    justify-self: center;
  }

  .containerInCharge {
    width: 77.1%;
    justify-self: center;
  }

  .dateContainer {
    width: 77%;
    justify-self: center;
  }

  .tableContainer2 {
    display: grid;
    grid-template-columns: 24% 26% 17% 10%;
    margin-top: 2.5rem;
    margin-left: 1.7rem;
  }

  .containerPaymentMethod {
    width: 81%;
    justify-self: center;
    margin-left: -3%;
  }

  .searchContainer {
    width: 75%;
    justify-self: center;
    margin-left: -1%;
  }

  .buttonDeleteContainer {
    margin-top: 1.2rem;
    width: 6rem;
    margin-left: 1rem;
  }

  .exportExcel {
    margin-top: 1.4rem;
    width: 2rem;
    margin-left: 2rem;
  }

  /* Table */

  .adjustTable {
    margin-left: -99%;
  }

  .textNote {
    max-width: 0px;
    padding: 0px 0px 10px 0px;
  }

  .textNote {
    max-width: 0px;
    padding: 0px 0px 10px 0px;
  }

  .textDate {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
    height: 3rem;
    max-width: 95px;
    padding: 0px 56px 10px 11px;
  }

  .textTherapist {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
    padding: 0px 10px 10px 0px;
  }

  .textManager {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
    padding: 0px 10px 10px 0px;
  }

  .textExit {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
    padding: 0px 27px 10px 0px;
  }

  .textHour {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
    height: 4rem;
    width: 0px;
    padding: 0px 45px 10px 0px;
  }

  .textMin{
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
  }

  .textPay {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
    height: 3rem;
    padding: 0px 27px 9px 7px;
  }

  .textTreatment {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
    height: 4rem;
    padding: 0px 10px 10px 0px;
  }

  .textValue {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
    padding: 0px 10px 10px 0px;
  }

  .textTip{
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
    height: 4rem;
    padding: 0px 10px 10px 0px;
  }

  .textColumn {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
    padding: 0px 10px 10px 0px;
  }

  .textVitamin {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
    padding: 0px 10px 10px 0px;
  }

  .columnNote {
    border-top: hidden;
    border-bottom: hidden;
  }

  .columnDate {
    border-bottom: hidden;
    padding: 23px 20px 43px 0px;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
    line-height: normal;
    height: min-content;
  }

  .columnTherapist {
    border-bottom: hidden;
    padding: 23px 20px 43px 0px;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
    line-height: normal;
    height: min-content;
  }

  .columnManager {
    border-bottom: hidden;
    padding: 23px 20px 43px 0px;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
    line-height: normal;
    height: min-content;
  }

  .columnMin{
    border-bottom: hidden;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: normal;
    height: min-content;
  }

  .columnExit {
    border-bottom: hidden;
    padding: 23px 20px 43px 0px;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
    line-height: normal;
    height: min-content;
  }

  .columnHour {
    border-bottom: hidden;
    padding: 23px 0px 43px 0px;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
    line-height: normal;
    height: min-content;
  }

  .columnPaymentMethod {
    word-wrap: break-word;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
    line-height: normal;
    height: min-content;
  }

  .columnTreatment {
    word-wrap: break-word;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnFloor1 {
    word-wrap: break-word;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnFloor2 {
    word-wrap: break-word;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueTherapist {
    word-wrap: break-word;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueManager {
    word-wrap: break-word;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueOther {
    word-wrap: break-word;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueDrink {
    word-wrap: break-word;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueTobacco {
    word-wrap: break-word;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueVitamin {
    word-wrap: break-word;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueTip {
    word-wrap: break-word;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueOthers {
    word-wrap: break-word;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueTotal {
    word-wrap: break-word;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: end;
    line-height: normal;
    height: min-content;
  }

  .columnValueClient {
    word-wrap: break-word;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
    line-height: normal;
    height: min-content;
  }

  .lbelTotal {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #8C52FF;
  }

  .lblValueTotal {
    text-align: end;
    font-family: sans-serif;
    font-size: 18px;
  }

  .lblVaueTotalFloor2 {
    text-align: end;
    font-family: sans-serif;
    font-size: 18px;
  }

  .lblValueTotals {
    text-align: end;
    font-family: sans-serif;
    font-size: 18px;
  }
}