<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-8 mx-auto">
            <div class="m-0 vh-90 row justify-content-center align-items-center">

                <label class="title">SERVICIOS REALIZADOS</label>

                <form [formGroup]="formTemplate">

                    <div class="row tableContainer">

                        <div class="therapistContainer">
                            <div class="row g-0">
                                <label class="text">Terapeuta</label>
                                <select class="form-select" formControlName="terapeuta" [(ngModel)]="selectedTerapeuta"
                                    (change)="filters()" style="height: 2.2rem; border-color: #8C52FF; color: #242424; font-size: 18px;
                                        font-family: sans-serif;">
                                    <option selected value="">Selecciona</option>
                                    <option *ngFor="let terap of terapeuta" [value]="terap.nombre">
                                        {{terap.nombre}} </option>
                                </select>
                            </div>
                        </div>

                        <div class="containerInCharge">
                            <div class="row g-0">
                                <label class="text">Encargada</label>
                                <select class="form-select" formControlName="encargada" [(ngModel)]="selectedEncargada"
                                    (change)="filters()" style="height: 2.2rem; border-color: #8C52FF; color: #242424; font-size: 18px;
                                        font-family: sans-serif;">
                                    <option *ngIf="administratorRole" selected value="">Selecciona</option>
                                    <option *ngFor="let managers of manager" [value]="managers.nombre">
                                        {{managers.nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="dateContainer">
                            <div class="row g-0">
                                <label class="text">Fecha Inicio</label>
                                <input type="date" class="form-control" formControlName="fechaInicio"
                                    (change)="filters()" style="height: 2.2rem; border-color: #8C52FF; color: #242424; font-size: 18px;
                                            font-family: sans-serif">
                            </div>
                        </div>

                        <div class="dateContainer">
                            <div class="row g-0">
                                <label class="text">Fecha Final</label>
                                <input type="date" class="form-control" formControlName="FechaFin"
                                    (change)="filters()" style="height: 2.2rem; border-color: #8C52FF; color: #242424; font-size: 18px;
                                            font-family: sans-serif">
                            </div>
                        </div>
                    </div>

                    <div class="tableContainer2">

                        <div class="containerPaymentMethod">
                            <div class="row g-0">
                                <label class="text">Tipo de Pago</label>
                                <select class="form-select" formControlName="formaPago" [(ngModel)]="selectedFormPago"
                                    (change)="filters()" style="height: 2.2rem; border-color: #8C52FF; color: #242424; font-size: 18px;
                                    font-family: sans-serif;">
                                    <option selected value="">Selecciona</option>
                                    <option value="Efectivo">Efectivo</option>
                                    <option value="Bizum">Bizum</option>
                                    <option value="Tarjeta">Tarjeta</option>
                                    <option value="Trans">Trans</option>
                                </select>
                            </div>
                        </div>

                        <div class="searchContainer">
                            <div class="row g-0">
                                <label class="text">Busqueda</label>
                                <input type="text" class="form-control input-sm" formControlName="busqueda"
                                    (change)="filters()" style="height: 2.2rem; border-color: #8C52FF; 
                                    color: #242424; font-size: 18px; font-family: sans-serif;" />
                            </div>
                        </div>

                        <div class="buttonDeleteContainer">
                            <div class="row g-0">
                                <button type="submit" id="buttonDelete" mat-raised-button color="warn" disabled
                                    (click)="deleteService()">Eliminar</button>
                            </div>
                        </div>

                        <div class="exportExcel">
                            <div class="row g-0">
                                <img src="./assets/excel.png" (click)="exportExcel()" width="30">
                            </div>
                        </div>
                    </div>
                </form>

                <!-- Table -->
                <div class="column">

                    <!-- Total value -->
                    <div class="columnTableLine1">

                        <div> </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div class="textTotals">
                            <label>TOTALES</label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div class="valueTotal">
                            <label>{{TotalValueLetter + ' €'}}</label>
                        </div>

                        <div class="textPay">
                            <label></label>
                        </div>

                        <div class="textExit">
                            <label></label>
                        </div>

                        <div class="valueTreatment">
                            <label>{{TotalServiceLetter + ' €'}}</label>
                        </div>

                        <div class="valueFloor1">
                            <label>{{TotalFloor1Letter + ' €'}}</label>
                        </div>

                        <div class="valueFloor2">
                            <label>{{TotalFloor2Letter + ' €'}}</label>
                        </div>

                        <div class="valueTherapist">
                            <label>{{TotalTherapistLetter + ' €'}}</label>
                        </div>

                        <div class="valueManager">
                            <label>{{TotalManagerLetter + ' €'}}</label>
                        </div>

                        <div class="valueOther">
                            <label>{{TotalToAnotherLetter + ' €'}}</label>
                        </div>

                        <div class="valueDrink">
                            <label>{{TotalDrinkLetter + ' €'}}</label>
                        </div>

                        <div class="valueTobacco">
                            <label>{{TotalTobaccoLetter + ' €'}}</label>
                        </div>

                        <div class="valueVitamin">
                            <label>{{TotalVitaminsLetter + ' €'}}</label>
                        </div>

                        <div class="valueTip">
                            <label>{{TotalTipLetter + ' €'}}</label>
                        </div>

                        <div class="valueOthers">
                            <label>{{TotalOthersLetter + ' €'}}</label>
                        </div>

                        <div>
                            <label></label>
                        </div>
                    </div>

                    <!-- Text -->

                    <div class="columnTableLine1">

                        <div> </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div class="textTherapistLine1">
                            <label>Tera</label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div class="textTreatmentLine1">
                            <label>Trata</label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>
                    </div>

                    <div class="columnTableLine2">

                        <div> </div>

                        <div class="textManager">
                            <label>Encargada</label>
                        </div>

                        <div class="textDate">
                            <label>Fecha</label>
                        </div>

                        <div class="textTherapistLine2">
                            <label>peuta</label>
                        </div>

                        <div class="textTime">
                            <label>Tiempo</label>
                        </div>

                        <div class="textMin">
                            <label>Min</label>
                        </div>

                        <div class="textTotal">
                            <label>Total</label>
                        </div>

                        <div class="textPay">
                            <label>Pago</label>
                        </div>

                        <div class="textExit">
                            <label>Salida</label>
                        </div>

                        <div class="textTreatmentLine2">
                            <label>miento</label>
                        </div>

                        <div class="textFloor1">
                            <label>€ a piso 1</label>
                        </div>

                        <div class="textFloor2">
                            <label>€ a piso 2</label>
                        </div>

                        <div class="textValueTherapist">
                            <label>€ a terap.</label>
                        </div>

                        <div class="textValueManager">
                            <label>€ a enc.</label>
                        </div>

                        <div class="textValueOther">
                            <label>€ a otros</label>
                        </div>

                        <div class="textDrink">
                            <label>Bebida</label>
                        </div>

                        <div class="textTobacco">
                            <label>Tabaco</label>
                        </div>

                        <div class="textVitamin">
                            <label>Vitamina</label>
                        </div>

                        <div class="textTip">
                            <label>Propina</label>
                        </div>

                        <div class="textOthers">
                            <label>Otros</label>
                        </div>

                        <div class="textClient">
                            <label>Cliente</label>
                        </div>
                    </div>

                    <hr class="lineTable">

                    <div class="columnTableLine2" *ngFor="let services of (servicio | terapeuta: selectedTerapeuta |
                    encargada: selectedEncargada | fechaInicial: fechaInicio:fechaFinal | 
                    busqueda: filtredBusqueda | formaPago: selectedFormPago ) | 
                    paginate: { itemsPerPage: 50, currentPage: page }">

                        <div class="columnNote" class="columnNote" [ngClass]="{'color2':services.nota !== ''}"
                            (click)="notes(services.id, modalTabl)">
                        </div>

                        <div class="columnManager" (click)="editForm(services.id)">{{services.encargada}}</div>

                        <div class="columnDate" (click)="editForm(services.id)">{{services.fecha}}</div>

                        <div class="columnTherapist" (click)="editForm(services.id)">{{services.terapeuta}}</div>

                        <div class="columnHour" (click)="editForm(services.id)">{{services.horaStart + '-' +
                            services.horaEnd}}</div>

                        <div class="columnMin" (click)="editForm(services.id)">{{services.minuto + ' min'}}</div>

                        <div class="columnTotal" (click)="editForm(services.id)">{{services.totalServicio+ ' €'}}</div>

                        <div class="columnPaymentMethod" (click)="editForm(services.id)">{{services.formaPago}}</div>

                        <div class="columnExit" (click)="editForm(services.id)">{{services.salida}}</div>

                        <div class="columnTreatment" (click)="editForm(services.id)">{{services.servicio + ' €'}}</div>

                        <div class="columnFloor1" (click)="editForm(services.id)">{{services.numberPiso1 + ' €'}}</div>

                        <div class="columnFloor2" (click)="editForm(services.id)">{{services.numberPiso2 + ' €'}}</div>

                        <div class="columnValueTherapist" (click)="editForm(services.id)">
                            {{services.numberTerap + ' €'}}</div>

                        <div class="columnValueManager" (click)="editForm(services.id)">
                            {{services.numberEncarg + ' €'}} </div>

                        <div class="columnValueOther" (click)="editForm(services.id)">
                            {{services.numberOtro + ' €'}} </div>

                        <div class="columnValueDrink" (click)="editForm(services.id)">{{services.bebidas + ' €'}}</div>

                        <div class="columnValueTobacco" (click)="editForm(services.id)">{{services.tabaco + ' €'}}</div>

                        <div class="columnValueVitamin" (click)="editForm(services.id)">
                            {{services.vitaminas + ' €'}} </div>

                        <div class="columnValueTip" (click)="editForm(services.id)">{{services.propina + ' €'}}</div>

                        <div class="columnOther" (click)="editForm(services.id)">{{services.otros+ ' €'}}</div>

                        <div class="columnClient" (click)="editForm(services.id)">{{services.cliente}}</div>

                        <!-- Modal -->
                        <ng-template class="custom-modal" #modalTabl let-modal>
                            <div class="modal-header">
                                <h5 class="modal-title"> Nota </h5>
                                <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body" style="text-align: center;">
                                <!-- Aqui se coloca lo adentro -->

                                <h4>{{services.nota}}</h4>

                                <!-- Afuera -->
                            </div>
                        </ng-template>

                        <!-- Fin Modal -->
                    </div>
                </div>

                <!-- Fin table -->

                <pagination-controls class="pagination_Mobile" (pageChange)="page = $event" previousLabel=""
                    nextLabel="">
                </pagination-controls>

            </div>
        </div>
    </div>
</div>