<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-8 mx-auto">
            <div class="m-0 vh-100 row justify-content-center align-items-center">

                <form [formGroup]="formTemplate">

                    <div class="tableContainer">

                        <div class="therapistContainer">
                            <div class="row g-0">
                                <label class="text">Terapeuta</label>
                                <select class="form-select" formControlName="terapeuta" [(ngModel)]="selectedTerapeuta"
                                    (ngModelChange)="filters()" style="height: 2.2rem; border-color: #8C52FF; color: #242424; font-size: 18px;
                                    font-family: sans-serif;">
                                    <option selected value="">Selecciona</option>
                                    <option *ngFor="let terap of terapeuta" [value]="terap.nombre">
                                        {{terap.nombre}} </option>
                                </select>
                            </div>
                        </div>

                        <div class="containerInCharge">
                            <div class="row g-0">
                                <label class="text">Encargada</label>
                                <select class="form-select" formControlName="encargada" [(ngModel)]="selectedEncargada"
                                    (ngModelChange)="filters()" style="height: 2.2rem; border-color: #8C52FF; color: #242424; font-size: 18px;
                                    font-family: sans-serif;">
                                    <option *ngIf="administratorRole" selected value="">Selecciona</option>
                                    <option *ngFor="let managers of manager" [value]="managers.nombre">
                                        {{managers.nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="dateContainer">
                            <div class="row g-0">
                                <label class="text">Fecha Inicio</label>
                                <input type="date" class="form-control" formControlName="fechaInicio"
                                    (change)="filters()" style="height: 2.2rem; border-color: #8C52FF; color: #242424; font-size: 18px;
                                        font-family: sans-serif">
                            </div>
                        </div>

                        <div class="row g-0">
                            <div class="dateIcon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    class="bi bi-calendar-date" viewBox="0 0 16 16">
                                    <path
                                        d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z" />
                                    <path
                                        d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                                </svg>
                            </div>
                        </div>

                        <div class="dateContainer">
                            <div class="row g-0">
                                <label class="text">Fecha Final</label>
                                <input type="date" class="form-control" formControlName="FechaFin"
                                    (ngModelChange)="filters()" style="height: 2.2rem; border-color: #8C52FF; color: #242424; font-size: 18px;
                                        font-family: sans-serif">
                            </div>
                        </div>

                        <div class="row g-0">
                            <div class="dateIcon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    class="bi bi-calendar-date" viewBox="0 0 16 16">
                                    <path
                                        d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z" />
                                    <path
                                        d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div class="tableContainer2">

                        <div class="containerPaymentMethod">
                            <div class="row g-0">
                                <label class="text">Tipo de Pago</label>
                                <select class="form-select" formControlName="formaPago" [(ngModel)]="selectedFormPago"
                                    (ngModelChange)="filters()" style="height: 2.2rem; border-color: #8C52FF; color: #242424; font-size: 18px;
                                font-family: sans-serif;">
                                    <option selected value="">Selecciona</option>
                                    <option value="Efectivo">Efectivo</option>
                                    <option value="Bizum">Bizum</option>
                                    <option value="Tarjeta">Tarjeta</option>
                                    <option value="Trans">Trans</option>
                                </select>
                            </div>
                        </div>

                        <div class="searchContainer">
                            <div class="row g-0">
                                <label class="text">Busqueda</label>
                                <input type="text" class="form-control input-sm" formControlName="busqueda"
                                    (ngModelChange)="filters()" style="height: 2.2rem; border-color: #8C52FF; 
                                color: #242424; font-size: 18px; font-family: sans-serif;" />
                            </div>
                        </div>

                        <div class="buttonDeleteContainer">
                            <div class="row g-0">
                                <button type="submit" id="buttonDelete" mat-raised-button color="warn" disabled
                                    (click)="deleteService()">Eliminar</button>
                            </div>
                        </div>

                        <div class="exportExcel">
                            <div class="row g-0">
                                <img src="./assets/excel.png" (click)="exportExcel()" width="30">
                            </div>
                        </div>
                    </div>
                </form>

                <!-- table -->

                <div>
                    <h2
                      *ngFor="
                        let services of servicio | paginate: { itemsPerPage: 2, currentPage: page }
                      "
                    >
                      {{ services.encargada }}
                      {{ services.terapeuta }}
                    </h2>
                  </div>
                  
                  <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>