.text {
  display: contents;
  color: #242424;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
}

.color2 {
  background: blue;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: block;
  margin-top: 10%;
  margin-left: 20%;
}

.espacioTotales {
  left: 63%;
}

.quitarBordes {
  line-height: 100%;
}

.quitarBordesVacio {
  border-style: hidden;
}

.lbelTotal {
  border: hidden;
  font-weight: bold;
  color: red;
  border-color: black;
  padding: 14px 0px;
}

.bordeTotal {
  border: hidden;
  padding: 14px;
  text-align: right;
}

@media only screen and (min-device-width: 270px) and (max-device-width: 394px) {
  .tableContainer {
    display: grid;
    grid-template-columns: 8% 28% 8%;
  }
}

@media only screen and (min-device-width: 395px) and (max-device-width: 1030px) {
  .tableContainer {
    display: grid;
    grid-template-columns: 8% 28% 8%;
  }
}

@media only screen and (min-device-width: 1131px) and (max-device-width: 1800px) {
  .tableContainer {
    display: grid;
    grid-template-columns: 27% 27% 27% 3% 27% 3%;
    justify-content: center;
    margin-top: 1rem;
  }

  .therapistContainer {
    width: 9.7rem;
    justify-self: center;
  }

  .containerInCharge {
    width: 9.7rem;
    justify-self: center;
  }

  .dateContainer {
    width: 9.6rem;
    justify-self: center;
  }

  .dateIcon {
    place-self: center;
    margin-top: 1rem;
    margin-left: -1rem;
  }

  .containerStartTime {
    width: 9.6rem;
    justify-self: center;
  }

  .startTimeIcon {
    place-self: center;
    margin-top: 1rem;
    margin-left: -1rem;
  }

  .tableContainer2 {
    display: grid;
    grid-template-columns: 24% 26% 17% 10%;
    margin-top: 2.5rem;
    margin-left: -2.8rem;
  }

  .containerPaymentMethod {
    width: 85%;
    justify-self: center;
  }

  .searchContainer {
    width: 79%;
    justify-self: center;
    margin-left: 4%;
  }

  .buttonDeleteContainer {
    margin-top: 1.2rem;
    width: 6rem;
    margin-left: 1.3rem;
  }

  .exportExcel {
    margin-top: 1.4rem;
    width: 2rem;
    margin-left: 2rem;
  }
}

@media only screen and (min-device-width: 1801px) and (max-device-width: 2000px) {
  .tableContainer {
    display: grid;
    grid-template-columns: 22% 22% 22% 3% 22% 3%;
    justify-content: center;
    margin-top: 1rem;
  }

  .therapistContainer {
    width: 77.1%;
    justify-self: center;
  }

  .containerInCharge {
    width: 77.1%;
    justify-self: center;
  }

  .dateContainer {
    width: 82%;
    justify-self: center;
  }

  .dateIcon {
    place-self: center;
    margin-top: 1rem;
  }

  .containerStartTime {
    width: 82%;
    justify-self: center;
  }

  .startTimeIcon {
    place-self: center;
    margin-top: 1rem;
  }

  .tableContainer2 {
    display: grid;
    grid-template-columns: 22% 26% 17% 10%;
    margin-top: 2.5rem;
    margin-left: 1.7rem;
  }

  .containerPaymentMethod {
    width: 82%;
    justify-self: center;
  }

  .searchContainer {
    width: 68%;
    justify-self: center;
    margin-left: -1.2rem;
  }

  .buttonDeleteContainer {
    margin-top: 1.2rem;
    width: 6rem;
    margin-left: 1rem;
  }

  .exportExcel {
    margin-top: 1.4rem;
    width: 2rem;
    margin-left: 2rem;
  }

  .adjustTable {
    margin-top: 2rem;
    width: auto;
    margin-left: 2rem;
    overflow: scroll;
  }

  .columnTable {
    display: grid;
    grid-template-columns: 6% 14% 15% 15% 15% 15% 16% 15% 13% 13% 13% 11% 12% 10% 10% 12% 12% 10% 10% 10%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align-last: center;
    margin-left: 1.8rem;
    cursor: pointer;    
  }

  .availableColumn {
    margin-right: auto;
    width: 85%;
  }

  .therapist {
    line-height: 1.5rem;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    word-wrap: break-word;
    text-align-last: left;
    margin-left: 1rem;
  }

  .exit {
    line-height: 1rem;
    text-align: left;
    font-family: sans-serif;
    font-size: 18px;
    word-wrap: break-word;
    text-align-last: left;
    margin-left: 1rem;
  }

  .endTime {
    line-height: 1rem;
    text-align: left;
    font-family: sans-serif;
    font-size: 18px;
    word-wrap: break-word;
    text-align-last: left;
    margin-left: 1rem;
  }
}
