.text {
  display: contents;
  color: #242424;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
}

.color2 {
  background: blue;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: block;
  margin-top: 10%;
  margin-left: 20%;
}

.table-secondary {
  --bs-table-bg: transparent;
  background-color: transparent;
}

.quitarBordesVacio {
  border-style: hidden;
}

th,
td {
  padding: 30px;
}

@media only screen and (min-device-width: 270px) and (max-device-width: 392px) {
  .tableContainer {
    display: grid;
    grid-template-columns: 8% 28% 8%;
  }

  .tableContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    margin-top: 1rem;
  }

  .therapistContainer {
    width: 86%;
    justify-self: center;
  }

  .containerInCharge {
    width: 86%;
    justify-self: center;
  }

  .dateContainer {
    width: 86%;
    justify-self: center;
    margin-top: 1.5rem;
  }

  .containerStartTime {
    width: 86%;
    justify-self: center;
  }

  .tableContainer2 {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 2rem;
    margin-left: -2%;
  }

  .containerPaymentMethod {
    width: 85%;
    justify-self: center;
    margin-left: 7%;
  }

  .searchContainer {
    width: 84%;
    justify-self: center;
    margin-left: 0.2rem;
  }

  .buttonDeleteContainer {
    margin-top: 2rem;
    width: 6rem;
    margin-left: 1.3rem;
  }

  .exportExcel {
    margin-top: 2rem;
    width: 2rem;
    margin-left: 0rem;
  }

  /* Table */

  .adjustTable {
    margin-left: -11rem;
  }

  .columnNote {
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
  }

  .columnDate {
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
  }

  .columnTherapist {
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
  }

  .columnManager {
    text-align: center;
    padding: 24px 0px 0px 6px;
    display: inline-block;
    width: 45px;
    word-wrap: break-word;
    line-height: normal;
    font-family: sans-serif;
    font-size: 18px;
  }

  .columnExit {
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
  }

  .columnHour {
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
  }

  .columnPaymentMethod {
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
  }

  .columnTreatment {
    text-align: center;
    padding: 24px 0px 0px 6px;
    display: inline-block;
    width: 50px;
    word-wrap: break-word;
    line-height: normal;
    font-family: sans-serif;
    font-size: 18px;
  }

  .columnFloor1 {
    padding: 24px 0px 0px 6px;
    text-align: center;
    display: table-cell;
    width: 50px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
  }

  .columnFloor2 {
    padding: 24px 0px 0px 6px;
    text-align: center;
    display: table-cell;
    width: 50px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
  }

  .columnValueTherapist {
    padding: 24px 0px 0px 6px;
    text-align: center;
    display: table-cell;
    width: 50px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
  }

  .columnValueManager {
    padding: 24px 0px 0px 6px;
    text-align: center;
    display: table-cell;
    width: 50px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
  }

  .columnValueOther {
    padding: 24px 0px 0px 6px;
    text-align: center;
    display: table-cell;
    width: 50px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
  }

  .columnValueDrink {
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
  }

  .columnValueTobacco {
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
  }

  .columnValueVitamin {
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
  }

  .columnValueTip {
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
  }

  .columnValueOthers {
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
  }

  .columnValueTotal {
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
  }

  .columnValueClient {
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
  }
}

@media only screen and (min-device-width: 393px) and (max-device-width: 1030px) {
  .tableContainer {
    display: grid;
    grid-template-columns: 8% 28% 8%;
  }

  .tableContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    margin-top: 1rem;
  }

  .therapistContainer {
    width: 86%;
    justify-self: center;
  }

  .containerInCharge {
    width: 86%;
    justify-self: center;
  }

  .dateContainer {
    width: 86%;
    justify-self: center;
    margin-top: 1.5rem;
  }

  .containerStartTime {
    width: 86%;
    justify-self: center;
  }

  .tableContainer2 {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 2rem;
    margin-left: -2%;
  }

  .containerPaymentMethod {
    width: 85%;
    justify-self: center;
    margin-left: 7%;
  }

  .searchContainer {
    width: 84%;
    justify-self: center;
    margin-left: 0.2rem;
  }

  .buttonDeleteContainer {
    margin-top: 2rem;
    width: 6rem;
    margin-left: 1.3rem;
  }

  .exportExcel {
    margin-top: 2rem;
    width: 2rem;
    margin-left: 0rem;
  }

  /* Table */

  .adjustTable {
    margin-left: 0%;
  }

  .textColumn {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
  }

  .columnNote {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 16px;
  }

  .columnDate {
    border-bottom: hidden;
    padding: 23px 20px 43px 0px;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
  }

  .columnTherapist {
    border-bottom: hidden;
    padding: 23px 20px 43px 0px;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
  }

  .columnManager {
    border-bottom: hidden;
    padding: 23px 20px 43px 0px;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
  }

  .columnExit {
    border-bottom: hidden;
    padding: 23px 20px 43px 0px;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
  }

  .columnHour {
    border-bottom: hidden;
    padding: 23px 0px 43px 0px;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
  }

  .columnPaymentMethod {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
  }

  .columnTreatment {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnFloor1 {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnFloor2 {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnValueTherapist {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnValueManager {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnValueOther {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnValueDrink {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnValueTobacco {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnValueVitamin {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnValueTip {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnValueOthers {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnValueTotal {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnValueClient {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
  }

  .lbelTotal {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid blue;
    border-left: 1px solid blue;
    border-top: 1px solid blue;
  }

  .lblValueTotal{
    border-bottom: 1px solid blue;
    border-top: 1px solid blue;
    text-align: end;
    font-family: sans-serif;
    font-size: 18px;
  }

  .lblValueTotals{
    border-bottom: 1px solid blue;
    border-top: 1px solid blue;
    border-right: 1px solid blue;
    text-align: end;
    font-family: sans-serif;
    font-size: 18px;
  }
}

@media only screen and (min-device-width: 1131px) and (max-device-width: 1800px) {
  .tableContainer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
    margin-left: 1.2rem;
    margin-top: 1rem;
  }

  .therapistContainer {
    width: 77.1%;
    justify-self: center;
  }

  .containerInCharge {
    width: 77.1%;
    justify-self: center;
  }

  .dateContainer {
    width: 77%;
    justify-self: center;
  }

  .containerStartTime {
    width: 77%;
    justify-self: center;
  }

  .tableContainer2 {
    display: grid;
    grid-template-columns: 24% 26% 17% 10%;
    margin-top: 2.5rem;
    margin-left: 1.7rem;
  }

  .containerPaymentMethod {
    width: 81%;
    justify-self: center;
    margin-left: -3%;
  }

  .searchContainer {
    width: 75%;
    justify-self: center;
    margin-left: -1%;
  }

  .buttonDeleteContainer {
    margin-top: 1.2rem;
    width: 6rem;
    margin-left: 1rem;
  }

  .exportExcel {
    margin-top: 1.4rem;
    width: 2rem;
    margin-left: 2rem;
  }

  /* Table */

  .adjustTable {
    margin-left: -99%;
  }

  .textColumn {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
  }

  .columnNote {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 16px;
  }

  .columnDate {
    border-bottom: hidden;
    padding: 23px 20px 43px 0px;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
  }

  .columnTherapist {
    border-bottom: hidden;
    padding: 23px 20px 43px 0px;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
  }

  .columnManager {
    border-bottom: hidden;
    padding: 23px 20px 43px 0px;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
  }

  .columnExit {
    border-bottom: hidden;
    padding: 23px 20px 43px 0px;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
  }

  .columnHour {
    border-bottom: hidden;
    padding: 23px 0px 43px 0px;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
  }

  .columnPaymentMethod {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
  }

  .columnTreatment {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnFloor1 {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnFloor2 {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnValueTherapist {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnValueManager {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnValueOther {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnValueDrink {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnValueTobacco {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnValueVitamin {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnValueTip {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnValueOthers {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnValueTotal {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnValueClient {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
  }

  .lbelTotal {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid blue;
    border-left: 1px solid blue;
    border-top: 1px solid blue;
  }

  .lblValueTotal{
    border-bottom: 1px solid blue;
    border-top: 1px solid blue;
    text-align: end;
    font-family: sans-serif;
    font-size: 18px;
  }

  .lblValueTotals{
    border-bottom: 1px solid blue;
    border-top: 1px solid blue;
    border-right: 1px solid blue;
    text-align: end;
    font-family: sans-serif;
    font-size: 18px;
  }
}

@media only screen and (min-device-width: 1801px) and (max-device-width: 2000px) {
  .tableContainer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
    margin-left: 1.2rem;
    margin-top: 1rem;
  }

  .therapistContainer {
    width: 77.1%;
    justify-self: center;
  }

  .containerInCharge {
    width: 77.1%;
    justify-self: center;
  }

  .dateContainer {
    width: 77%;
    justify-self: center;
  }

  .containerStartTime {
    width: 77%;
    justify-self: center;
  }

  .tableContainer2 {
    display: grid;
    grid-template-columns: 24% 26% 17% 10%;
    margin-top: 2.5rem;
    margin-left: 1.7rem;
  }

  .containerPaymentMethod {
    width: 81%;
    justify-self: center;
    margin-left: -3%;
  }

  .searchContainer {
    width: 75%;
    justify-self: center;
    margin-left: -1%;
  }

  .buttonDeleteContainer {
    margin-top: 1.2rem;
    width: 6rem;
    margin-left: 1rem;
  }

  .exportExcel {
    margin-top: 1.4rem;
    width: 2rem;
    margin-left: 2rem;
  }

  /* Table */

  .adjustTable {
    margin-left: -99%;
  }

  .textColumn {
    border-bottom: 1px solid blue;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre;
  }

  .columnNote {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 16px;
  }

  .columnDate {
    border-bottom: hidden;
    padding: 23px 20px 43px 0px;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
  }

  .columnTherapist {
    border-bottom: hidden;
    padding: 23px 20px 43px 0px;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
  }

  .columnManager {
    border-bottom: hidden;
    padding: 23px 20px 43px 0px;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
  }

  .columnExit {
    border-bottom: hidden;
    padding: 23px 20px 43px 0px;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
  }

  .columnHour {
    border-bottom: hidden;
    padding: 23px 0px 43px 0px;
    word-wrap: break-word;
    max-width: 0px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
  }

  .columnPaymentMethod {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
  }

  .columnTreatment {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnFloor1 {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnFloor2 {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnValueTherapist {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnValueManager {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnValueOther {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnValueDrink {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnValueTobacco {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnValueVitamin {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnValueTip {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnValueOthers {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnValueTotal {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
  }

  .columnValueClient {
    word-wrap: break-word;
    line-height: normal;
    max-width: 65px;
    border-bottom: hidden;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
  }

  .lbelTotal {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid blue;
    border-left: 1px solid blue;
    border-top: 1px solid blue;
  }

  .lblValueTotal{
    border-bottom: 1px solid blue;
    border-top: 1px solid blue;
    text-align: end;
    font-family: sans-serif;
    font-size: 18px;
  }

  .lblValueTotals{
    border-bottom: 1px solid blue;
    border-top: 1px solid blue;
    border-right: 1px solid blue;
    text-align: end;
    font-family: sans-serif;
    font-size: 18px;
  }
}
