<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-8 mx-auto">
            <div class="m-0 vh-100 row justify-content-center align-items-center">

                <form [formGroup]="formTemplate">

                    <div class="tableContainer">

                        <div class="therapistContainer">
                            <div class="row g-0">
                                <label class="text">Terapeuta</label>
                                <select class="form-select" formControlName="terapeuta" [(ngModel)]="selectedTerapeuta"
                                    (ngModelChange)="filters()" style="height: 2.2rem; border-color: #8C52FF; color: #242424; font-size: 18px;
                                    font-family: sans-serif;">
                                    <option selected value="">Selecciona</option>
                                    <option *ngFor="let terap of terapeuta" [value]="terap.nombre">
                                        {{terap.nombre}} </option>
                                </select>
                            </div>
                        </div>

                        <div class="containerInCharge">
                            <div class="row g-0">
                                <label class="text">Encargada</label>
                                <select class="form-select" formControlName="encargada" [(ngModel)]="selectedEncargada"
                                    (ngModelChange)="filters()" style="height: 2.2rem; border-color: #8C52FF; color: #242424; font-size: 18px;
                                    font-family: sans-serif;">
                                    <option *ngIf="administratorRole" selected value="">Selecciona</option>
                                    <option *ngFor="let managers of manager" [value]="managers.nombre">
                                        {{managers.nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="dateContainer">

                            <div class="row g-0">
                                <label class="text">Fecha Inicio</label>
                                <input type="date" class="form-control" formControlName="fechaInicio"
                                    (change)="filters()" style="height: 2.2rem; border-color: #8C52FF; color: #242424; font-size: 18px;
                                        font-family: sans-serif">
                            </div>
                        </div>

                        <div class="dateContainer">
                            <div class="row g-0">
                                <label class="text">Fecha Final</label>
                                <input type="date" class="form-control" formControlName="FechaFin"
                                    (ngModelChange)="filters()" style="height: 2.2rem; border-color: #8C52FF; color: #242424; font-size: 18px;
                                        font-family: sans-serif">
                            </div>
                        </div>
                    </div>

                    <div class="tableContainer2">

                        <div class="containerPaymentMethod">
                            <div class="row g-0">
                                <label class="text">Tipo de Pago</label>
                                <select class="form-select" formControlName="formaPago" [(ngModel)]="selectedFormPago"
                                    (ngModelChange)="filters()" style="height: 2.2rem; border-color: #8C52FF; color: #242424; font-size: 18px;
                                font-family: sans-serif;">
                                    <option selected value="">Selecciona</option>
                                    <option value="Efectivo">Efectivo</option>
                                    <option value="Bizum">Bizum</option>
                                    <option value="Tarjeta">Tarjeta</option>
                                    <option value="Trans">Trans</option>
                                </select>
                            </div>
                        </div>

                        <div class="searchContainer">
                            <div class="row g-0">
                                <label class="text">Busqueda</label>
                                <input type="text" class="form-control input-sm" formControlName="busqueda"
                                    (ngModelChange)="filters()" style="height: 2.2rem; border-color: #8C52FF; 
                                color: #242424; font-size: 18px; font-family: sans-serif;" />
                            </div>
                        </div>

                        <div class="buttonDeleteContainer">
                            <div class="row g-0">
                                <button type="submit" id="buttonDelete" mat-raised-button color="warn" disabled
                                    (click)="deleteService()">Eliminar</button>
                            </div>
                        </div>

                        <div class="exportExcel">
                            <div class="row g-0">
                                <img src="./assets/excel.png" (click)="exportExcel()" width="30">
                            </div>
                        </div>
                    </div>
                </form>


                <div class="row g-0 adjustTable">

                    <table class="table" id="excel-table">
                        <thead>
                            <tr style="line-height: 0rem; letter-spacing: 0rem">
                                <td class="quitarBordesVacio"></td>
                                <td class="quitarBordesVacio"></td>
                                <td class="quitarBordesVacio"></td>
                                <td class="quitarBordesVacio"></td>
                                <td class="quitarBordesVacio"></td>
                                <td class="quitarBordesVacio" style="border-right: 1px solid blue;"></td>
                                <td class="quitarBordesVacio lbelTotal"> TOTALES </td>
                                <td class="bordeTotal lblValueTotal"> {{totalServicio + '€'}} </td>
                                <td class="bordeTotal lblValueTotal">{{totalPiso + '€'}}</td>
                                <td class="bordeTotal lblValueTotal">{{totalPiso2 + '€'}}</td>
                                <td class="bordeTotal lblValueTotal">{{totalValorTerapeuta + '€'}} </td>
                                <td class="bordeTotal lblValueTotal">{{totalValorEncargada + '€'}} </td>
                                <td class="bordeTotal lblValueTotal">{{totalValorAOtros + '€'}} </td>
                                <td class="bordeTotal lblValueTotal">{{TotalValorBebida + '€'}} </td>
                                <td class="bordeTotal lblValueTotal">{{TotalValorTabaco + '€'}} </td>
                                <td class="bordeTotal lblValueTotal">{{totalValorVitaminas + '€'}} </td>
                                <td class="bordeTotal lblValueTotal">{{totalValorPropina + '€'}} </td>
                                <td class="bordeTotal lblValueTotal">{{totalValorOtroServ + '€'}} </td>
                                <td class="bordeTotal lblValueTotals"> {{totalValor + '€'}}</td>
                                <td class="quitarBordesVacio" style="border-left: 1px solid blue;"></td>
                            </tr>

                            <tr style="line-height: 0%; letter-spacing: 0px;">
                                <!-- 1 -->
                                <th class="textColumn"> Nota</th>
                                <!-- 2 -->
                                <th class="textColumn"> Fecha </th>
                                <!-- 3 -->
                                <th class="textColumn"> Terapeuta </th>
                                <!-- 4 -->
                                <th class="textColumn">Encargada </th>
                                <!-- 5 -->
                                <th class="textColumn"> Salida </th>
                                <!-- 6 -->
                                <th class="textColumn"> Hora </th>
                                <!-- 7 -->
                                <th class="textColumn"> Pago </th>
                                <!-- 8 -->
                                <th class="textColumn"> Tratamiento </th>
                                <!-- 9 -->
                                <th class="textColumn">€ a piso 1 </th>
                                <!-- 10 -->
                                <th class="textColumn">€ a piso 2 </th>
                                <!-- 11 -->
                                <th class="textColumn">€ a terap. </th>
                                <!-- 12 -->
                                <th class="textColumn">€ a enc. </th>
                                <!-- 13 -->
                                <th class="textColumn">€ a otros </th>
                                <!-- 14 -->
                                <th class="textColumn"> Bebida </th>
                                <!-- 15 -->
                                <th class="textColumn"> Tabaco </th>
                                <!-- 16 -->
                                <th class="textColumn"> Vitamina </th>
                                <!-- 17 -->
                                <th class="textColumn"> Propina </th>
                                <!-- 18 -->
                                <th class="textColumn"> Otros </th>
                                <!-- 19 -->
                                <th class="textColumn"> Total </th>
                                <!-- 20 -->
                                <th class="textColumn"> Cliente </th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let services of (servicio | terapeuta: selectedTerapeuta | 
                            encargada: selectedEncargada | fechaInicial: fechaInicio:fechaFinal | 
                            busqueda: filtredBusqueda | formaPago: selectedFormPago ) | 
                            paginate: { itemsPerPage: 100, currentPage: page }">
                            <tr style="cursor: pointer; line-height: 0%;">
                                <!-- 1 -->
                                <td class="columnNote" [ngClass]="{'color2':services.nota !== ''}"
                                    (click)="notes(services.id, modalTabl)">
                                </td>
                                <!-- 2 -->
                                <td (click)="editForm(services.id)" class="columnDate">
                                    {{services.fecha}} </td>
                                <!-- 3 -->
                                <td (click)="editForm(services.id)" class="columnTherapist">
                                    {{services.terapeuta}}</td>
                                <!-- 4 -->
                                <td (click)="editForm(services.id)" class="columnManager"> {{services.encargada}}</td>
                                <!-- 5 -->
                                <td (click)="editForm(services.id)" class="columnExit"> {{services.salida }} </td>
                                <!-- 6 -->
                                <td (click)="editForm(services.id)" class="columnHour">
                                    {{services.horaStart + '-' + services.horaEnd }}
                                </td>
                                <!-- 7 -->
                                <td (click)="editForm(services.id)" class="columnPaymentMethod">
                                    {{services.formaPago}} </td>
                                <!-- 8 -->
                                <td (click)="editForm(services.id)" class="columnTreatment">
                                    {{services.servicio + ' €'}}</td>
                                <!-- 9 -->
                                <td (click)="editForm(services.id)" class="columnFloor1">
                                    {{services.numberPiso1 + ' €'}}</td>
                                <!-- 10 -->
                                <td (click)="editForm(services.id)" class="columnFloor2">
                                    {{services.numberPiso2 + ' €'}}</td>
                                <!-- 11 -->
                                <td (click)="editForm(services.id)" class="columnValueTherapist">
                                    {{services.numberTerap + ' €'}}</td>
                                <!-- 12 -->
                                <td (click)="editForm(services.id)" class="columnValueManager">
                                    {{services.numberEncarg + ' €'}}</td>
                                <!-- 13 -->
                                <td (click)="editForm(services.id)" class="columnValueOther">
                                    {{services.numberOtro + ' €'}}</td>
                                <!-- 14 -->
                                <td (click)="editForm(services.id)" class="columnValueDrink">
                                    {{services.bebidas +
                                    ' €'}}</td>
                                <!-- 15 -->
                                <td (click)="editForm(services.id)" class="columnValueTobacco">
                                    {{services.tabaco +
                                    ' €'}}</td>
                                <!-- 16 -->
                                <td (click)="editForm(services.id)" class="columnValueVitamin">
                                    {{services.vitaminas
                                    + ' €'}}</td>
                                <!-- 17 -->
                                <td (click)="editForm(services.id)" class="columnValueTip">
                                    {{services.propina +
                                    ' €'}}</td>
                                <!-- 18 -->
                                <td (click)="editForm(services.id)" class="columnValueOthers">
                                    {{services.otros+ '
                                    €'}}</td>
                                <!-- 19 -->
                                <td (click)="editForm(services.id)" class="columnValueTotal">
                                    {{services.totalServicio+ ' €'}}</td>
                                <!-- 20 -->
                                <td (click)="editForm(services.id)" class="columnValueClient">
                                    {{services.cliente}}
                                </td>
                            </tr>

                            <!-- Modal -->
                            <ng-template class="custom-modal" #modalTabl let-modal>
                                <div class="modal-header">
                                    <h5 class="modal-title"> Nota </h5>
                                    <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body" style="text-align: center;">
                                    <!-- Aqui se coloca lo adentro -->

                                    <h4>{{services.nota}}</h4>

                                    <!-- Afuera -->
                                </div>
                            </ng-template>

                            <!-- Fin Modal -->

                        </tbody>
                    </table>
                </div>

                <pagination-controls style="float: right;" (pageChange)="page = $event" previousLabel="Anterior"
                    nextLabel="Siguiente">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>