<script src="components/sweetalert/dist/sweetalert.min.js"></script>

<form *ngIf="liquidationForm" [formGroup]="formTemplate">

    <div class="text-center mt-4 mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" style="cursor: pointer;"
            class="bi bi-plus-circle text-primary" viewBox="0 0 16 16" (click)="insertForm()">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg>
        <div>
            <label> Nueva liquidación </label>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-6">
                <label style="display: contents;">Terapeuta</label>
                <select class="form-select" name="terapeuta" [(ngModel)]="liqTerapeuta.terapeuta"
                    (ngModelChange)="filters()">
                    <option selected value="">Selecciona</option>
                    <option *ngFor="let terap of terapeuta" [value]="terap.nombre" style="font-size: 14px;">
                        {{terap.nombre}}
                    </option>
                </select>
            </div>

            <div class="col-6">
                <label style="display: contents;">Encargada</label>
                <select class="form-select" name="encargada" [(ngModel)]="liqTerapeuta.encargada"
                    (ngModelChange)="filters()">
                    <option selected value="">Selecciona</option>
                    <option *ngFor="let encarg of encargada" [value]="encarg.nombre" style="font-size: 14px;">
                        {{encarg.nombre}}
                    </option>
                </select>
            </div>

            <div class="col-6" style="margin-top: 2%;">
                <input type="date" class="form-control" (ngModelChange)="filters()" formControlName="fechaInicio"
                    style="font-size: 14px;">
            </div>

            <div class="col-6" style="margin-top: 2%;">
                <input type="date" class="form-control" (ngModelChange)="filters()" formControlName="FechaFin"
                    style="font-size: 14px;">
            </div>

            <div class="row" style="margin-top: 2%;">
                <div class="col-2" style="display: grid; align-content: center;">
                    <label style="display: contents;">Buscar</label>
                </div>
                <div class="col-10">
                    <input type="text" class="form-control" formControlName="busqueda" (ngModelChange)="filters()"
                        style="font-size: 14px; max-width: inherit;">
                </div>
            </div>

        </div>
    </div>
</form>

<div *ngIf="liquidationForm" class="container" style="margin-top: 3%; text-align: -webkit-center;">
    <table class="table">
        <thead>
            <tr class="table-secondary quitarBordes" style="line-height: 0%; letter-spacing: normal">
                <!-- 1 -->
                <td class="columnTerapeuta">Terapeuta </td>
                <!-- 2 -->
                <td class="columnEncargada">Encargada</td>
                <!-- 3 -->
                <td class="columnImporte">Importe</td>
                <!-- 4 -->
                <td class="columnFechas">Desde</td>
                <!-- 5 -->
                <td class="columnFechas">Hasta</td>
                <!-- 6 -->
                <td class="columnTratamiento">Tratamiento</td>
            </tr>
        </thead>
        <tbody *ngFor="let liqTerap of (liquidated | terapeuta: liqTerapeuta.terapeuta | 
                encargada: liqTerapeuta.encargada | fechaFinalEncargada: fechaInicio:fechaFinal 
                | busquedaTerapeuta: filterByName:filterByNumber) | paginate: { itemsPerPage: 10, currentPage: page }"
            (click)="dataFormEdit(liqTerap.idTerapeuta, liqTerap.id)">
            <tr style="cursor: pointer">
                <!-- 1 -->
                <td class="quitarBordes" style="text-align: left; border-bottom: hidden">{{liqTerap?.terapeuta}}
                </td>
                <!-- 2 -->
                <td class="quitarBordes" style="text-align: left; border-bottom: hidden;"> {{liqTerap?.encargada}} </td>
                <!-- 3 -->
                <td class="quitarBordes" style="text-align: right; border-bottom: hidden">{{liqTerap?.importe}}</td>
                <!-- 4 -->
                <td class="quitarBordes trFechaDesde">
                    {{liqTerap?.desdeFechaLiquidado + ' - ' + liqTerap?.desdeHoraLiquidado}}</td>
                <!-- 5 -->
                <td class="quitarBordes trFechaHasta">
                    {{liqTerap?.hastaFechaLiquidado + ' - ' + liqTerap?.hastaHoraLiquidado}}</td>
                <!-- 6 -->
                <td class="quitarBordes" style="text-align: right; border-bottom: hidden">
                    {{liqTerap?.tratamiento}}
                </td>
            </tr>

            <!-- Modal -->
            <ng-template class="custom-modal" #modalTabl let-modal>
                <div class="modal-header">
                    <h5 class="modal-title"> Nota </h5>
                    <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body" style="text-align: center;">
                    <!-- Aqui se coloca lo adentro -->

                    <h4>{{liqTerap.nota}}</h4>

                    <!-- Afuera -->
                </div>
            </ng-template>
            <!-- Fin Modal -->

        </tbody>
    </table>

    <p class="noHayCierre" *ngIf="liquidated?.length === 0"> Actualmente no hay Liquidación para Terapeutas
    </p>

    <pagination-controls style="float: right;" (pageChange)="page = $event" previousLabel="Anterior"
        nextLabel="Siguiente">
    </pagination-controls>
</div>

<!-- Agregar Terapeuta -->
<div *ngIf="addForm" class="formAgregar">

    <label style="display: grid; text-align: center; margin-bottom: 5%; font-size: x-large;">NUEVA LIQUIDACIÓN</label>

    <form>
        <div class="container">
            <div class="row">

                <div class="col-6 selectTerap">
                    <label style="display: contents;">Terapeuta</label>
                    <select class="form-select addTerapeuta" name="terapeuta" [(ngModel)]="liqTerapeuta.terapeuta">
                        <option selected value="">Selecciona</option>
                        <option *ngFor="let terap of terapeuta" [value]="terap.nombre">{{terap.nombre}}
                        </option>
                    </select>
                </div>

                <div class="col-6">
                    <label style="display: contents;">Encargada</label>
                    <select class="form-select addEncargada" name="encargada" [(ngModel)]="liqTerapeuta.encargada"
                        (ngModelChange)="calculateServices()">
                        <option selected value="">Selecciona</option>
                        <option *ngFor="let encarg of encargada" [value]="encarg.nombre">{{encarg.nombre}}
                        </option>
                    </select>
                </div>
            </div>

            <div *ngIf="selected">

                <div class="row fechas" style="margin-top: 2%">
                    <div class="col-2 fechaInicio">
                        <label style="display: contents;">Inicial</label>
                        <input type="date" class="form-control" name="desdeFechaLiquidado"
                            [(ngModel)]="liqTerapeuta.desdeFechaLiquidado" [value]="liqTerapeuta.desdeFechaLiquidado"
                            (change)="inputDateAndTime()">
                    </div>

                    <div class="col-2 horaInicio" style="align-self: end;">
                        <input type="time" min="18:00" max="21:00" step="3600" class="form-control"
                            name="desdeHoraLiquidado" [(ngModel)]="liqTerapeuta.desdeHoraLiquidado"
                            [value]="liqTerapeuta.desdeHoraLiquidado" (change)="inputDateAndTime()" />
                    </div>

                    <div class="col-2 fechaFinal">
                        <label style="display: contents;">Final</label>
                        <input type="date" class="form-control" name="hastaFechaLiquidado"
                            [(ngModel)]="liqTerapeuta.hastaFechaLiquidado" [value]="liqTerapeuta.hastaFechaLiquidado"
                            (change)="inputDateAndTime()">
                    </div>

                    <div class="col-2 horaFinal" style="align-self: end;">
                        <input type="time" name="horaStart" min="18:00" max="21:00" step="3600" class="form-control"
                            [(ngModel)]="liqTerapeuta.hastaHoraLiquidado" [value]="liqTerapeuta.hastaHoraLiquidado"
                            (change)="inputDateAndTime()">
                    </div>
                </div>


                <div class="row" style="margin-top: 4%;">
                    <div class="col-9">
                        <label style="font-weight: bold; font-size: larger;">Liquidación de Terapeuta
                            {{liqTerapeuta.terapeuta}}</label>
                    </div>

                    <div class="col-3">
                        <label style="float: right; font-weight: bold;">{{totalCommission + ' €'}}</label>
                    </div>
                </div>

                <hr class="lineaHoy">

                <div style="display: grid; place-items: center;" class="classTable">
                    <div style="text-align: center; width: max-content;">
                        <table class="table">
                            <thead>
                                <tr class="table-secondary quitarBordes"
                                    style="line-height: 0%; letter-spacing: normal;">
                                    <!-- 1 -->
                                    <td class="columnImporte">Nota</td>
                                    <!-- 2 -->
                                    <td class="columnImporte">Fecha</td>
                                    <!-- 3 -->
                                    <td class="columnImporte">Salida</td>
                                    <!-- 4 -->
                                    <td class="columnHora">Hora</td>
                                    <!-- 5 -->
                                    <td class="columnTratamiento">Tratamiento</td>
                                    <!-- 6 -->
                                    <td class="columnImporte">Propina</td>
                                    <!-- 7 -->
                                    <td class="columnImporte">Pago</td>
                                    <!-- 8 -->
                                    <td class="column€Terap">€ a terap </td>
                                    <!-- 9 -->
                                    <td class="columnImporte">Bebida</td>
                                    <!-- 10 -->
                                    <td class="columnImporte">Tabaco</td>
                                    <!-- 11 -->
                                    <td class="columnImporte">Vitamina</td>
                                    <!-- 12 -->
                                    <td class="columnImporte">Otros</td>
                                </tr>
                            </thead>
                            <tbody *ngFor="let serv of (unliquidatedService | terapeuta: liqTerapeuta.terapeuta | 
                        encargada: liqTerapeuta.encargada) | paginate: { itemsPerPage: 10, currentPage: page }">
                                <tr style="cursor: pointer">
                                    <!-- 1 -->
                                    <td class="quitarBordes" style="text-align: left; border-bottom: hidden;"
                                        [ngClass]="{'color2':serv.nota !== ''}" (click)="comments(serv.id, modalTabl)">
                                    </td>
                                    <!-- 2 -->
                                    <td class="quitarBordes" (click)="goToEdit(serv.id)"
                                        style="text-align: left; border-bottom: hidden;">
                                        {{serv.fecha}}</td>
                                    <!-- 3 -->
                                    <td class=" quitarBordes" (click)="goToEdit(serv.id)"
                                        style="text-align: left; border-bottom: hidden;">
                                        {{serv.salida}}</td>
                                    <!-- 4 -->
                                    <td class="quitarBordes" (click)="goToEdit(serv.id)"
                                        style="text-align: left; border-bottom: hidden;">
                                        {{serv.horaStart + ' :' + serv.horaEnd}}</td>
                                    <!-- 5 -->
                                    <td class="quitarBordes" (click)="goToEdit(serv.id)"
                                        style="text-align: right; border-bottom: hidden;">
                                        {{serv.servicio}}</td>
                                    <!-- 6 -->
                                    <td class="quitarBordes" (click)="goToEdit(serv.id)"
                                        style="text-align: right; border-bottom: hidden;">
                                        {{serv.propina}}</td>
                                    <!-- 7 -->
                                    <td class="quitarBordes" (click)="goToEdit(serv.id)"
                                        style="text-align: left; border-bottom: hidden;">
                                        {{serv.formaPago}}</td>
                                    <!-- 8 -->
                                    <td class="quitarBordes" (click)="goToEdit(serv.id)"
                                        style="text-align: right; border-bottom: hidden; border-top: 1px solid blue">
                                        {{serv.numberTerap}}</td>
                                    <!-- 9 -->
                                    <td class="quitarBordes" (click)="goToEdit(serv.id)"
                                        style="text-align: right; border-bottom: hidden;">
                                        {{serv.bebidas}}</td>
                                    <!-- 10 -->
                                    <td class="quitarBordes" (click)="goToEdit(serv.id)"
                                        style="text-align: right; border-bottom: hidden;">
                                        {{serv.tabaco}}</td>
                                    <!-- 11 -->
                                    <td class="quitarBordes" (click)="goToEdit(serv.id)"
                                        style="text-align: right; border-bottom: hidden;">
                                        {{serv.vitaminas}}</td>
                                    <!-- 12 -->
                                    <td class="quitarBordes" (click)="goToEdit(serv.id)"
                                        style="text-align: right; border-bottom: hidden;">
                                        {{serv.otros}}</td>
                                </tr>

                                <!-- Modal -->
                                <ng-template class="custom-modal" #modalTabl let-modal>
                                    <div class="modal-header">
                                        <h5 class="modal-title"> Nota </h5>
                                        <button type="button" class="close" (click)="modal.dismiss()"
                                            aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body" style="text-align: center;">
                                        <!-- Aqui se coloca lo adentro -->

                                        <h4>{{serv.nota}}</h4>

                                        <!-- Afuera -->
                                    </div>
                                </ng-template>

                                <!-- Fin Modal -->

                            </tbody>

                            <tr>
                                <!-- 1 -->
                                <td></td>
                                <!-- 2 -->
                                <td></td>
                                <!-- 3 -->
                                <td></td>
                                <!-- 4 -->
                                <td></td>
                                <!-- 5 -->
                                <td style="font-weight: bold; text-align: right"> {{totalService + '€'}}</td>
                                <!-- 6 -->
                                <td style="font-weight: bold; text-align: right">{{totalTipValue + '€'}}</td>
                                <!-- 7 -->
                                <td></td>
                                <!-- 8 -->
                                <td style="font-weight: bold; text-align: right"> {{totalTherapistValue + '€'}}</td>
                                <!-- 9 -->
                                <td style="font-weight: bold; text-align: right">{{totalValueDrink + '€'}}</td>
                                <!-- 10 -->
                                <td style="font-weight: bold; text-align: right">{{totalTobaccoValue + '€'}}</td>
                                <!-- 11 -->
                                <td style="font-weight: bold; text-align: right"> {{totalValueVitamins + '€'}}</td>
                                <!-- 12 -->
                                <td style="font-weight: bold; text-align: right">{{totalValueOther + '€'}}</td>
                            </tr>
                        </table>

                        <pagination-controls style="float: right;" (pageChange)="page = $event" previousLabel="Anterior"
                            nextLabel="Siguiente">
                        </pagination-controls>
                    </div>
                </div>


                <!-- Table Sumatoria -->
                <div style="display: grid; place-items: center;" class="tableEdtit">
                    <div style="text-align: center; width: max-content;">
                        <table class="table">
                            <thead>
                                <tr class="table-secondary">
                                    <th style="border-bottom: hidden;"></th>
                                    <th style="border-bottom: 1px solid blue; text-align: center;">Suma</th>
                                    <th style="border-bottom: 1px solid blue; text-align: center;">Comisión</th>
                                    <th style="border-bottom: 1px solid blue; text-align: center;">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="line-height: 40%">
                                    <th scope="row"
                                        style="border-bottom: hidden; text-align: left; font-weight: normal; text-transform: capitalize">
                                        Tratamiento</th>
                                    <td style="border-bottom: hidden; text-align: right;">{{totalService + ' €'}}</td>
                                    <td style="border-bottom: hidden; text-align: right;">{{terapeutaName?.servicio +
                                        ' %'}}
                                    </td>
                                    <td style="border-bottom: hidden; text-align: right;">{{serviceCommission + ' €'}}
                                    </td>
                                </tr>
                                <tr style="line-height: 40%">
                                    <th scope="row"
                                        style="border-bottom: hidden; text-align: left; font-weight: normal; text-transform: capitalize">
                                        Propina</th>
                                    <td style="border-bottom: hidden; text-align: right;">{{totalTipValue + ' €'}}</td>
                                    <td style="border-bottom: hidden; text-align: right;">{{terapeutaName?.propina + '
                                        %'}}
                                    </td>
                                    <td style="border-bottom: hidden; text-align: right;">{{commissionTip + ' €'}}</td>
                                </tr>
                                <tr style="line-height: 40%">
                                    <th scope="row"
                                        style="border-bottom: hidden; text-align: left; font-weight: normal; text-transform: capitalize;">
                                        Bebida</th>
                                    <td style="border-bottom: hidden; text-align: right;">{{totalValueDrink + ' €'}}
                                    </td>
                                    <td style="border-bottom: hidden; text-align: right;">{{terapeutaName?.bebida + '
                                        %'}}
                                    </td>
                                    <td style="border-bottom: hidden; text-align: right;">{{beverageCommission + ' €'}}
                                    </td>
                                </tr>
                                <tr style="line-height: 40%">
                                    <th scope="row"
                                        style="border-bottom: hidden; text-align: left; font-weight: normal; text-transform: capitalize;">
                                        Tabaco</th>
                                    <td style="border-bottom: hidden; text-align: right;">{{totalTobaccoValue + ' €'}}
                                    </td>
                                    <td style="border-bottom: hidden; text-align: right;">
                                        {{terapeutaName?.tabaco + ' %'}} </td>
                                    <td style="border-bottom: hidden; text-align: right;">{{tobaccoCommission + ' €'}}
                                    </td>
                                </tr>
                                <tr style="line-height: 40%">
                                    <th scope="row"
                                        style="border-bottom: hidden; text-align: left; font-weight: normal; text-transform: capitalize;">
                                        Vitamina</th>
                                    <td style="border-bottom: hidden; text-align: right;">{{totalValueVitamins + ' €'}}
                                    </td>
                                    <td style="border-bottom: hidden; text-align: right;">
                                        {{terapeutaName?.vitamina + ' %'}} </td>
                                    <td style="border-bottom: hidden; text-align: right;">{{vitaminCommission + ' €'}}
                                    </td>
                                </tr>
                                <tr style="line-height: 40%">
                                    <th scope="row"
                                        style="border-bottom: hidden; text-align: left; font-weight: normal; text-transform: capitalize;">
                                        Otros</th>
                                    <td style="border-bottom: hidden; text-align: right;">{{totalValueOther + ' €'}}
                                    </td>
                                    <td style="border-bottom: hidden; text-align: right;">
                                        {{terapeutaName?.otros + ' %'}}</td>
                                    <td style="border-bottom: hidden; text-align: right;">{{commissionOthers + ' €'}}
                                    </td>
                                </tr>
                                <tr style="line-height: 40%">
                                    <th scope="row" style="border-bottom: hidden;"></th>
                                    <td style="border-bottom: hidden;"></td>
                                    <td style="border-bottom: hidden; text-align: start;">Suma</td>
                                    <td style="border-bottom: hidden; text-align: right;">{{sumCommission + ' €'}}</td>
                                </tr>
                                <tr style="line-height: 40%">
                                    <th scope="row" style="border-bottom: hidden;"></th>
                                    <td style="border-bottom: hidden;"></td>
                                    <td style="border-bottom: 1px solid blue; text-align: start;">Recibido</td>
                                    <td style="border-bottom: 1px solid blue; text-align: right;">{{receivedTherapist}}
                                    </td>
                                </tr>
                                <tr style="line-height: 40%">
                                    <th scope="row" style="border-bottom: hidden;"></th>
                                    <td style="border-bottom: hidden;"></td>
                                    <td style="border-bottom: hidden; text-align: start;">Total</td>
                                    <td style="border-bottom: hidden; text-align: right;">{{totalCommission}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="row" *ngIf="selected && unliquidatedService.length > 0" style="margin-bottom: 4%">
                    <div class="col-6">
                        <button mat-flat-button color="primary" style="display: grid; margin: auto;"
                            (click)="save()">Guardar</button>
                    </div>
                    <div class="col-6">
                        <button mat-flat-button color="primary" style="display: grid; margin: auto;"
                            (click)="cancel()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Editar Terapeuta -->
<div *ngIf="editTerap">

    <label style="display: grid; text-align: center; margin-bottom: 5%; font-size: x-large;">Visualizacion de la
        liquidación de {{settledData[0]['terapeuta']}} con {{settledData[0]['encargada']}}
    </label>

    <div class="container">

        <div class="row" style="margin-top: 4%;">
            <div class="col-9">
                <label style="font-weight: bold; font-size: larger;">Liquidación de Terapeuta
                    {{settledData[0]['terapeuta']}}</label>
            </div>

            <div class="col-3">
                <label style="float: right; font-weight: bold;">{{totalCommission + ' €'}}</label>
            </div>
        </div>

        <hr class="lineaHoy">

        <div class="col-auto" style="display: contents">
            <label style="float: left">
                {{liqTerapeuta.desdeFechaLiquidado + ' : ' + liqTerapeuta.desdeHoraLiquidado + ' - ' +
                liqTerapeuta.hastaFechaLiquidado + ' : ' + liqTerapeuta.hastaHoraLiquidado}}</label>
        </div>

        <div style="display: grid; place-items: center; clear: left" class="classTable">
            <div style="text-align: center; width: max-content">
                <table class="table">
                    <thead>
                        <tr class="table-secondary quitarBordes" style="line-height: 0%; letter-spacing: normal">
                            <!-- 1 -->
                            <td class="columnImporte"> Nota</td>
                            <!-- 2 -->
                            <td class="columnImporte"> Fecha</td>
                            <!-- 3 -->
                            <td class="columnImporte"> Salida</td>
                            <!-- 4 -->
                            <td class="columnImporte"> Hora</td>
                            <!-- 5 -->
                            <td class="columnTratamiento">Tratamiento</td>
                            <!-- 6 -->
                            <td class="columnImporte"> Propina</td>
                            <!-- 7 -->
                            <td class="columnImporte"> Pago</td>
                            <!-- 8 -->
                            <td class="column€Terap">€ a terap</td>
                            <!-- 9 -->
                            <td class="columnImporte"> Bebida</td>
                            <!-- 10 -->
                            <td class="columnImporte"> Tabaco</td>
                            <!-- 11 -->
                            <td class="columnImporte"> Vitamina</td>
                            <!-- 12 -->
                            <td class="columnImporte"> Otros</td>
                        </tr>
                    </thead>
                    <tbody *ngFor="let serv of (settledData | terapeuta: liqTerapeuta.terapeuta | 
                    encargada: liqTerapeuta.encargada) | paginate: { itemsPerPage: 10, currentPage: page }">
                        <tr style="cursor: pointer;">
                            <!-- 1 -->
                            <td class="quitarBordes" style="text-align: left; border-bottom: hidden;"
                                [ngClass]="{'color2':serv.nota !== ''}" (click)="comments(serv.id, modalTabl)">
                            </td>
                            <!-- 2 -->
                            <td class="quitarBordes" (click)="goToEdit(serv.id)"
                                style="text-align: left; border-bottom: hidden;">
                                {{serv.fecha}}</td>
                            <!-- 3 -->
                            <td class="quitarBordes" (click)="goToEdit(serv.id)"
                                style="text-align: left; border-bottom: hidden;">
                                {{serv.salida}}
                            </td>
                            <!-- 4 -->
                            <td class="quitarBordes" (click)="goToEdit(serv.id)"
                                style="text-align: left; border-bottom: hidden;">{{serv.hora}}
                            </td>
                            <!-- 5 -->
                            <td class="quitarBordes" (click)="goToEdit(serv.id)"
                                style="text-align: right; border-bottom: hidden; border-top: 1px solid blue">
                                {{serv.servicio}}
                            </td>
                            <!-- 6 -->
                            <td class="quitarBordes" (click)="goToEdit(serv.id)"
                                style="text-align: right; border-bottom: hidden;">
                                {{serv.propina}}</td>
                            <!-- 7 -->
                            <td class="quitarBordes" (click)="goToEdit(serv.id)"
                                style="text-align: left; border-bottom: hidden;">
                                {{serv.formaPago}}</td>
                            <!-- 8 -->
                            <td class="quitarBordes" (click)="goToEdit(serv.id)" style="text-align: right; border-bottom: hidden;
                                border-top: 1px solid blue">
                                {{serv.numberTerap}}</td>
                            <!-- 9 -->
                            <td class="quitarBordes" (click)="goToEdit(serv.id)"
                                style="text-align: right; border-bottom: hidden;">
                                {{serv.bebidas}}</td>
                            <!-- 10 -->
                            <td class="quitarBordes" (click)="goToEdit(serv.id)"
                                style="text-align: right; border-bottom: hidden;">
                                {{serv.tabaco}}</td>
                            <!-- 11 -->
                            <td class="quitarBordes" (click)="goToEdit(serv.id)"
                                style="text-align: right; border-bottom: hidden;">
                                {{serv.vitaminas}}</td>
                            <!-- 12 -->
                            <td class="quitarBordes" (click)="goToEdit(serv.id)"
                                style="text-align: right; border-bottom: hidden;">
                                {{serv.otros}}</td>
                        </tr>

                        <!-- Modal -->
                        <ng-template class="custom-modal" #modalTabl let-modal>
                            <div class="modal-header">
                                <h5 class="modal-title"> Nota </h5>
                                <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body" style="text-align: center;">
                                <!-- Aqui se coloca lo adentro -->

                                <h4>{{serv.nota}}</h4>

                                <!-- Afuera -->
                            </div>
                        </ng-template>

                        <!-- Fin Modal -->

                    </tbody>

                    <tr>
                        <!-- 1 -->
                        <td></td>
                        <!-- 2 -->
                        <td></td>
                        <!-- 3 -->
                        <td></td>
                        <!-- 4 -->
                        <td></td>
                        <!-- 5 -->
                        <td style="font-weight: bold; text-align: right;">{{totalService + ' €'}}</td>
                        <!-- 6 -->
                        <td style="font-weight: bold; text-align: right;">{{totalTipValue + ' €'}}</td>
                        <!-- 7 -->
                        <td></td>
                        <!-- 8 -->
                        <td style="font-weight: bold; text-align: right;">{{totalTherapistValue + '€'}}</td>
                        <!-- 9 -->
                        <td style="font-weight: bold; text-align: right;">{{totalValueDrink + ' €'}}</td>
                        <!-- 10 -->
                        <td style="font-weight: bold; text-align: right;">{{totalTobaccoValue + ' €'}}</td>
                        <!-- 11 -->
                        <td style="font-weight: bold; text-align: right;">{{totalValueVitamins + ' €'}}</td>
                        <!-- 12 -->
                        <td style="font-weight: bold; text-align: right;">{{totalValueOther + ' €'}}</td>
                    </tr>
                </table>

                <pagination-controls style="float: right;" (pageChange)="page = $event" previousLabel="Anterior"
                    nextLabel="Siguiente">
                </pagination-controls>
            </div>
        </div>
    </div>

    <!-- Table Sumatoria -->

    |<div style="display: grid; place-items: center;" class="tableEdtit">
        <div style="text-align: center; width: max-content;">
            <table class="table">
                <thead>
                    <tr class="table-secondary quitarBordes" style="line-height: 0%; letter-spacing: normal">
                        <th style="border-bottom: hidden;"></th>
                        <th style="border-bottom: 1px solid blue; text-align: center;">Suma</th>
                        <th style="border-bottom: 1px solid blue; text-align: center;">Comisión</th>
                        <th style="border-bottom: 1px solid blue; text-align: center;">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="line-height: 40%">
                        <th scope="row"
                            style="border-bottom: hidden; text-align: left; font-weight: normal; text-transform: capitalize">
                            Tratamiento</th>
                        <td style="border-bottom: hidden; text-align: right;">{{totalService + ' €'}}</td>
                        <td style="border-bottom: hidden; text-align: right;">{{terapeutaName['servicio'] + ' %'}}</td>
                        <td style="border-bottom: hidden; text-align: right;">{{serviceCommission + ' €'}}</td>
                    </tr>
                    <tr style="line-height: 40%">
                        <th scope="row"
                            style="border-bottom: hidden; text-align: left; font-weight: normal; text-transform: capitalize">
                            Propina</th>
                        <td style="border-bottom: hidden; text-align: right;">{{totalTipValue + ' €'}}</td>
                        <td style="border-bottom: hidden; text-align: right;">{{terapeutaName['propina'] + ' %'}}</td>
                        <td style="border-bottom: hidden; text-align: right;">{{commissionTip + ' €'}}</td>
                    </tr>
                    <tr style="line-height: 40%">
                        <th scope="row"
                            style="border-bottom: hidden; text-align: left; font-weight: normal; text-transform: capitalize">
                            Bebida</th>
                        <td style="border-bottom: hidden; text-align: right;">{{totalValueDrink + ' €'}}</td>
                        <td style="border-bottom: hidden; text-align: right;">{{terapeutaName['bebida'] + ' %'}}</td>
                        <td style="border-bottom: hidden; text-align: right;">{{beverageCommission + ' €'}}</td>
                    </tr>
                    <tr style="line-height: 40%">
                        <th scope="row"
                            style="border-bottom: hidden; text-align: left; font-weight: normal; text-transform: capitalize">
                            Tabaco</th>
                        <td style="border-bottom: hidden; text-align: right;">{{totalTobaccoValue + ' €'}}</td>
                        <td style="border-bottom: hidden; text-align: right;">{{terapeutaName['tabaco'] + ' %'}}</td>
                        <td style="border-bottom: hidden; text-align: right;">{{tobaccoCommission + ' €'}}</td>
                    </tr>
                    <tr style="line-height: 40%">
                        <th scope="row"
                            style="border-bottom: hidden; text-align: left; font-weight: normal; text-transform: capitalize">
                            Vitamina</th>
                        <td style="border-bottom: hidden; text-align: right;">{{totalValueVitamins + ' €'}}</td>
                        <td style="border-bottom: hidden; text-align: right;">{{terapeutaName['vitamina'] + ' %'}}</td>
                        <td style="border-bottom: hidden; text-align: right;">{{vitaminCommission + ' €'}}</td>
                    </tr>
                    <tr style="line-height: 40%">
                        <th scope="row"
                            style="border-bottom: hidden; text-align: left; font-weight: normal; text-transform: capitalize">
                            Otros</th>
                        <td style="border-bottom: hidden; text-align: right;">{{totalValueOther + ' €'}}</td>
                        <td style="border-bottom: hidden; text-align: right;">{{terapeutaName['otros'] + ' %'}}</td>
                        <td style="border-bottom: hidden; text-align: right;">{{commissionOthers + ' €'}}</td>
                    </tr>
                    <tr style="line-height: 40%">
                        <th scope="row" style="border-bottom: hidden;"></th>
                        <td style="border-bottom: hidden; text-align: right;"></td>
                        <td style="border-bottom: hidden; text-align: start;">Suma</td>
                        <td style="border-bottom: hidden; text-align: right;">{{sumCommission + ' €'}}</td>
                    </tr>
                    <tr style="line-height: 40%">
                        <th scope="row" style="border-bottom: hidden;"></th>
                        <td style="border-bottom: hidden; text-align: right;"></td>
                        <td style="border-bottom: 1px solid blue; text-align: start;">Recibido</td>
                        <td style="border-bottom: 1px solid blue; text-align: right;">
                            {{receivedTherapist}}</td>
                    </tr>
                    <tr style="line-height: 40%">
                        <th scope="row" style="border-bottom: hidden;"></th>
                        <td style="border-bottom: hidden;"></td>
                        <td style="border-bottom: hidden; text-align: start;">Total</td>
                        <td style="border-bottom: hidden; text-align: right;">{{totalCommission}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" *ngIf="editTerap">
        <div class="col-6" style="display: grid; justify-content: center; margin-bottom: 4%">
            <button mat-raised-button (click)="cancel()" color="primary">Cancelar</button>
        </div>

        <div class="col-6" style="display: grid; justify-content: center; margin-bottom: 4%">
            <button mat-raised-button (click)="edit()" color="primary">Editar</button>
        </div>
    </div>
</div>