.color2 {
  background: blue;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: block;
  margin-top: 10%;
  margin-left: 20%;
}

.mat-divider {
  border-top-color: red;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white;
}

.table-secondary {
  --bs-table-bg: auto;
}

tr {
  line-height: 0%;
}

th {
  white-space: nowrap;
}

.inputEncargada {
  text-align: center;
}

@media only screen and (min-device-width: 270px) and (max-device-width: 930px) {
  .columnFechas {
    text-align-last: center;
  }

  .trFechas {
    white-space: nowrap;
  }

  .classTable {
    margin-top: 15%;
  }

  .noHayCierre {
    font-size: x-large;
    color: red;
    container-type: inline-size;
  }

  .lineaHoy {
    display: grid;
    margin: auto;
    border-width: initial;
    color: blue;
    margin-bottom: 0%;
    margin-top: -1%;
    width: 100%;
  }
}

@media only screen and (min-device-width: 1023px) and (max-device-width: 2000px) {
  .classTable {
    margin-top: 8%;
  }

  .noHayCierre {
    text-align: center;
    font-size: x-large;
    color: red;
  }

  .lineaHoy {
    display: grid;
    margin: auto;
    border-width: initial;
    color: blue;
    margin-bottom: 0%;
    margin-top: -1%;
    width: 100%;
  }
}