<script src="components/sweetalert/dist/sweetalert.min.js"></script>

<div *ngIf="liqTep" class="text-center mt-4 mb-4">
    <button class="btn btn-primary rounded-circle" (click)="addLiquidacion()">+</button>
    <div>
        <label> Nueva liquidación </label>
    </div>
</div>

<form *ngIf="liqTep" [formGroup]="formTemplate">

    <div class="container">
        <div class="row">

            <mat-form-field class="col-6">
                <mat-label>Terapeuta</mat-label>
                <mat-select formControlName="terapeuta" [(ngModel)]="selectedTerapeuta">
                    <mat-option *ngFor="let terap of terapeuta" [value]="terap.nombre">
                        {{terap.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="col-6">
                <mat-label>Encargada</mat-label>
                <mat-select formControlName="encargada" [(ngModel)]="selectedEncargada">
                    <mat-option *ngFor="let encarg of encargada" [value]="encarg.nombre">
                        {{encarg.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="col-6">
                <input type="date" class="form-control" (change)="dateStart($event)" formControlName="fechaInicio">
            </div>


            <div class="col-6">
                <input type="date" class="form-control" (change)="dateEnd($event)" formControlName="FechaFin">
            </div>

            <mat-form-field class="col-6 acomodarInput">
                <mat-label>Buscar</mat-label>
                <input type="text" matInput (ngModelChange)="busqueda($event)" formControlName="busqueda" />
            </mat-form-field>
        </div>
    </div>
</form>



<div *ngIf="liqTep" style="display: grid; place-items: center; margin-top: 3%;">
    <div style="text-align: center; width: max-content;">
        <table class="table" id="excel-table">
            <thead>
                <tr>
                    <!-- 1 -->
                    <th scope="col">Terapeuta</th>
                    <!-- 2 -->
                    <th scope="col">Encargada</th>
                    <!-- 3 -->
                    <th scope="col">Desde</th>
                    <!-- 4 -->
                    <th scope="col">Hasta</th>
                    <!-- 5 -->
                    <th scope="col">Hora</th>
                    <!-- 5 -->
                    <th scope="col">Servicios</th>
                    <!-- 6 -->
                    <th scope="col">Importe</th>
                </tr>
            </thead>
            <tbody *ngFor="let serv of (servicio | terapeuta: selectedTerapeuta | 
                encargada: selectedEncargada | fechaInicial: fechaInicio:fechaFinal 
                | busqueda: filtredBusqueda) | paginate: { itemsPerPage: 10, currentPage: page }">
                <tr>
                    <!-- 1 -->
                    <td>{{serv.terapeuta}}</td>
                    <!-- 2 -->
                    <td>{{serv.encargada}}</td>
                    <!-- 3 -->
                    <td>{{serv.fecha}}</td>
                    <!-- 4 -->
                    <td>{{serv.fecha}}</td>
                    <!-- 5 -->
                    <td>{{serv.horaEnd}}</td>
                    <!-- 5 -->
                    <td>{{serv.servicio}}</td>
                    <!-- 5 -->
                    <td>{{serv.numberTerap}}</td>
                </tr>

                <!-- Modal -->
                <ng-template class="custom-modal" #modalTabl let-modal>
                    <div class="modal-header">
                        <h5 class="modal-title"> Nota </h5>
                        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body" style="text-align: center;">
                        <!-- Aqui se coloca lo adentro -->

                        <h4>{{serv.nota}}</h4>

                        <!-- Afuera -->
                    </div>
                </ng-template>

                <!-- Fin Modal -->

            </tbody>
        </table>

        <pagination-controls style="float: right;" (pageChange)="page = $event" previousLabel="Anterior"
            nextLabel="Siguiente">
        </pagination-controls>
    </div>
</div>



<!-- Agregar Terapia -->
<div *ngIf="addTerap">

    <h4 style="text-align: center; margin-top: 2%; margin-bottom: 4%;">Agregar liquidacion terapia</h4>

    <form [formGroup]="formTemplate">

        <div class="container">
            <div class="row">

                <mat-form-field class="col-9">
                    <mat-label>Terapeuta</mat-label>
                    <mat-select formControlName="terapeuta" [(ngModel)]="selectedTerapeuta"
                        (ngModelChange)="calcularSumaDeServicios()">
                        <mat-option *ngFor="let terap of terapeuta" [value]="terap.nombre">
                            {{terap.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="col-3">
                    <mat-label>Encargada</mat-label>
                    <mat-select formControlName="encargada" [(ngModel)]="selectedEncargada"
                        (ngModelChange)="calcularSumaDeServicios()">
                        <mat-option *ngFor="let encarg of encargada" [value]="encarg.nombre">
                            {{encarg.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="row" style="margin-top: 4%;">
                <div class="col-6">
                    <mat-drawer-container class="example-container">
                        <mat-drawer-content style="font-weight: bold; font-size: larger;">Liquidación de
                            {{selectedTerapeuta}}</mat-drawer-content>
                    </mat-drawer-container>
                </div>

                <div class="col-6">
                    <mat-drawer-container class="example-container" style="float: right;">
                        <mat-drawer-content style="font-weight: bold;">ddd</mat-drawer-content>
                    </mat-drawer-container>
                </div>
            </div>

            <mat-divider></mat-divider>

            <div style="display: grid; place-items: center; margin-top: 0%;">
                <div style="text-align: center; width: max-content;">
                    <table class="table">
                        <thead>
                            <tr>
                                <!-- 1 -->
                                <th scope="col">Nota</th>
                                <!-- 2 -->
                                <th scope="col">Fecha</th>
                                <!-- 3 -->
                                <th scope="col">Salida</th>
                                <!-- 4 -->
                                <th scope="col">Hora</th>
                                <!-- 5 -->
                                <th scope="col">Servicio</th>
                                <!-- 6 -->
                                <th scope="col">Propina</th>
                                <!-- 7 -->
                                <th scope="col">Pago</th>
                                <!-- 8 -->
                                <th scope="col">€ a terap</th>
                                <!-- 9 -->
                                <th scope="col">Bebida</th>
                                <!-- 10 -->
                                <th scope="col">Tabaco</th>
                                <!-- 11 -->
                                <th scope="col">Vitamina</th>
                                <!-- 12 -->
                                <th scope="col">Otros</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let serv of (servicio | terapeuta: selectedTerapeuta | 
                    encargada: selectedEncargada) | paginate: { itemsPerPage: 10, currentPage: page }">
                            <tr>
                                <!-- 1 -->
                                <td [ngClass]="{'color2':serv.nota !== ''}" (click)="notas(serv.id, modalTabl)">
                                </td>
                                <!-- 2 -->
                                <td>{{serv.fecha}}</td>
                                <!-- 3 -->
                                <td>{{serv.salida}}</td>
                                <!-- 4 -->
                                <td>{{serv.hora}}</td>
                                <!-- 5 -->
                                <td>{{serv.servicio}}</td>
                                <!-- 6 -->
                                <td>{{serv.propina}}</td>
                                <!-- 7 -->
                                <td>{{serv.formaPago}}</td>
                                <!-- 8 -->
                                <td>{{serv.numberTerap}}</td>
                                <!-- 9 -->
                                <td>{{serv.bebidas}}</td>
                                <!-- 10 -->
                                <td>{{serv.tabaco}}</td>
                                <!-- 11 -->
                                <td>{{serv.vitaminas}}</td>
                                <!-- 12 -->
                                <td>{{serv.otros}}</td>
                            </tr>

                            <!-- Modal -->
                            <ng-template class="custom-modal" #modalTabl let-modal>
                                <div class="modal-header">
                                    <h5 class="modal-title"> Nota </h5>
                                    <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body" style="text-align: center;">
                                    <!-- Aqui se coloca lo adentro -->

                                    <h4>{{serv.nota}}</h4>

                                    <!-- Afuera -->
                                </div>
                            </ng-template>

                            <!-- Fin Modal -->

                        </tbody>

                        <tr>
                            <!-- 1 -->
                            <td scope="col"></td>
                            <!-- 2 -->
                            <td scope="col"></td>
                            <!-- 3 -->
                            <td scope="col"></td>
                            <!-- 4 -->
                            <td scope="col"></td>
                            <!-- 5 -->
                            <td scope="col" style="font-weight: bold">{{totalServicio + ' €'}}</td>
                            <!-- 6 -->
                            <td scope="col" style="font-weight: bold">{{totalValorPropina + ' €'}}</td>
                            <!-- 7 -->
                            <td scope="col"></td>
                            <!-- 8 -->
                            <td scope="col" style="font-weight: bold">{{totalValorTerapeuta + ' €'}}</td>
                            <!-- 9 -->
                            <td scope="col" style="font-weight: bold">{{TotalValorBebida + ' €'}}</td>
                            <!-- 10 -->
                            <td scope="col" style="font-weight: bold">{{TotalValorTabaco + ' €'}}</td>
                            <!-- 11 -->
                            <td scope="col" style="font-weight: bold">{{totalValorVitaminas + ' €'}}</td>
                            <!-- 12 -->
                            <td scope="col" style="font-weight: bold">{{totalValorOtroServ + ' €'}}</td>
                        </tr>
                    </table>

                    <pagination-controls style="float: right;" (pageChange)="page = $event" previousLabel="Anterior"
                        nextLabel="Siguiente">
                    </pagination-controls>
                </div>
            </div>
        </div>

        <!-- Table Sumatoria -->

        <div style="display: grid; place-items: center; margin-top: 4%;">
            <div style="text-align: center; width: max-content;">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Suma</th>
                            <th scope="col">Comisión</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Servicio</th>
                            <td>{{totalServicio + ' €'}}</td>
                            <td>{{terapeutaName['servicio'] + ' %'}}</td>
                            <td>{{comisionServicio + ' €'}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Propina</th>
                            <td>{{totalValorPropina + ' €'}}</td>
                            <td>{{terapeutaName['propina'] + ' %'}}</td>
                            <td>{{comisionPropina + ' €'}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Bebida</th>
                            <td>{{TotalValorBebida + ' €'}}</td>
                            <td>{{terapeutaName['bebida'] + ' %'}}</td>
                            <td>{{comisionBebida + ' €'}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Tabaco</th>
                            <td>{{TotalValorTabaco + ' €'}}</td>
                            <td>{{terapeutaName['tabaco'] + ' %'}}</td>
                            <td>{{comisionTabaco + ' €'}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Vitamina</th>
                            <td>{{totalValorVitaminas + ' €'}}</td>
                            <td>{{terapeutaName['vitamina'] + ' %'}}</td>
                            <td>{{comisionVitamina + ' €'}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Otros</th>
                            <td>{{totalValorOtroServ + ' €'}}</td>
                            <td>{{terapeutaName['otros'] + ' %'}}</td>
                            <td>{{comisionOtros + ' €'}}</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td>Suma</td>
                            <td>{{sumaComision + ' €'}}</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td style="border-bottom: solid;">Recibido</td>
                            <td style="border-bottom: solid;">{{recibidoTerap}}</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td>Total</td>
                            <td>{{totalComision}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>