.color1 {
    background: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: block;
    margin-top: 10%;
    margin-left: 20%;
}


.color2 {
    background: green;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: block;
    margin-top: 10%;
    margin-left: 20%;
}

.table-secondary {
    --bs-table-bg: cornflowerblue;
}

.ingresoPeriodo {
    margin-top: 0%;
    margin-bottom: 3%;
    text-transform: inherit;
    font-weight: bold;
    font-size: 150%;
    color: blue;
}

@media only screen and (min-device-width: 270px) and (max-device-width: 1020px) {
    .ingresoPeriodo {
        margin-top: 0%;
        margin-bottom: 3%;
        text-transform: inherit;
        font-weight: bold;
        font-size: 150%;
        color: blue;
    }

    .tableAdjust {
        display: inline-table;
    }
}

@media only screen and (min-device-width: 1279px) and (max-device-width: 2500px) {
    .ingresoPeriodo {
        margin-top: 0%;
        margin-bottom: 3%;
        text-transform: inherit;
        font-weight: bold;
        font-size: 150%;
        color: blue;
    }

    .tableAdjust {
        display: inline-table;
    }
}