<script src="components/sweetalert/dist/sweetalert.min.js"></script>

<div *ngIf="!editamos">
    <h4 style="text-align: center; margin-bottom: 5%; font-family: cursive; font-size: x-large;">Nuevo Servicio</h4>

    <form [formGroup]="formTemplate" (ngSubmit)="addServicio(formTemplate.value)">

        <div class="container" style="margin-top: 4%;">
            <div class="row">

                <mat-form-field class="col-6">
                    <mat-label>Terapeuta</mat-label>
                    <mat-select formControlName="terapeuta" name="terapeuta" (ngModelChange)="terapeu($event)">
                        <mat-option *ngFor="let terap of terapeuta" [value]="terap.nombre">
                            {{terap.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="col-6">
                    <mat-label>Encargada</mat-label>
                    <mat-select formControlName="encargada" name="encargada">
                        <mat-option *ngFor="let encarg of encargada" [value]="encarg.nombre">
                            {{encarg.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="parent">
                <mat-form-field class="col-6">
                    <mat-label>Cliente</mat-label>
                    <input matInput type="text" formControlName="cliente">
                </mat-form-field>
            </div>


            <!---------------------------------------- TIEMPO ---------------------------------------->

            <mat-list>
                <mat-drawer-container>
                    <mat-drawer-content style="font-weight: bold; font-size: larger;">TIEMPO</mat-drawer-content>
                </mat-drawer-container>
                <mat-divider></mat-divider>
            </mat-list>


            <div class="row" style="margin-bottom: 2%;">
                <div class="col-6">
                    <mat-drawer-container class="example-container">
                        <mat-drawer-content style="font-weight: bold;">Último servicio:</mat-drawer-content>
                    </mat-drawer-container>
                </div>

                <div class="col-6">
                    <mat-drawer-container class="example-container" style="float: right;" *ngFor="let hor of fechaLast">
                        <mat-drawer-content>{{horaStartTerapeuta + '-' + horaEndTerapeuta}}</mat-drawer-content>
                    </mat-drawer-container>
                </div>
            </div>

            <div class="row" style="margin-bottom: 3%;">

                <div class="col-6" style="display: inline-block; align-self: center;">

                    <mat-drawer-container class="example-container">
                        <mat-drawer-content>Fecha</mat-drawer-content>
                    </mat-drawer-container>

                    <input type="date" class="form-control" (change)="fechaEscogida($event)" [value]="fechaActual">
                </div>

                <div class="col-6">
                    <mat-drawer-container class="example-container">
                        <mat-drawer-content>Hora inicio</mat-drawer-content>
                    </mat-drawer-container>

                    <input type="time" class="form-control" (change)="horaInicio($event)" [value]="horaStarted"
                        min="18:00" max="21:00" step="3600" />
                </div>

                <div class="col-6">
                    <mat-label>Duración(min.)</mat-label>
                    <input class="form-control" type="number" formControlName="minuto"
                        (ngModelChange)="minutos($event)">

                </div>

                <div class="col-6" style="text-align: center; align-self: center;">
                    <mat-drawer-container class="example-container">
                        <mat-drawer-content>Hora fin:</mat-drawer-content>
                    </mat-drawer-container>
                    <mat-drawer-container class="example-container">
                        <mat-drawer-content style="font-weight: bold;">{{horaFinalServicio}}</mat-drawer-content>
                    </mat-drawer-container>
                </div>
            </div>

            <!---------------------------------------- Servicios ---------------------------------------->

            <mat-list>
                <div class="row">
                    <div class="col-6">
                        <mat-drawer-container>
                            <mat-drawer-content
                                style="font-weight: bold; font-size: larger;">SERVICIOS</mat-drawer-content>
                        </mat-drawer-container>
                    </div>

                    <div class="col-6">
                        <mat-drawer-container style="float: right;">
                            <mat-drawer-content
                                style="font-weight: bold; font-size: larger;">{{sumatoriaServicios}}</mat-drawer-content>
                        </mat-drawer-container>
                    </div>
                </div>
                <mat-divider></mat-divider>
            </mat-list>

            <div class="row" style="margin-bottom: 1%; margin-top: 2%;">
                <div class="col-4">
                    <label>Tratamiento</label>
                    <input type="number" class="form-control" (ngModelChange)="valueService()"
                        formControlName="servicio" />
                </div>
                <div class="col-4">
                    <label>Bebidas</label>
                    <input type="number" class="form-control" (ngModelChange)="valueService()"
                        formControlName="bebidas" />
                </div>
                <div class="col-4">
                    <label>Tabaco</label>
                    <input type="number" class="form-control" (ngModelChange)="valueService()"
                        formControlName="tabaco" />
                </div>
                <div class="col-4" style="margin-top: 2%">
                    <label>Vitaminas</label>
                    <input type="number" class="form-control" (ngModelChange)="valueService()"
                        formControlName="vitaminas" />
                </div>
                <div class="col-4" style="margin-top: 2%">
                    <label>Propina</label>
                    <input type="number" class="form-control" (ngModelChange)="valueService()"
                        formControlName="propina" />
                </div>
                <div class="col-4" style="margin-top: 2%">
                    <label>Otros</label>
                    <input type="number" class="form-control" (ngModelChange)="valueService()"
                        formControlName="otros" />
                </div>

                <div class="col-4" style="margin-top: 2%">
                    <label>Lugar Salida</label>
                    <input type="text" class="form-control" formControlName="salida" />
                </div>
            </div>


            <!---------------------------------------- COBROS  ---------------------------------------->


            <mat-list>
                <div class="row">
                    <div class="col-6">
                        <mat-drawer-container>
                            <mat-drawer-content
                                style="font-weight: bold; font-size: larger;">COBROS</mat-drawer-content>
                        </mat-drawer-container>
                    </div>

                    <div class="col-6">
                        <mat-drawer-container style="float: right;">
                            <mat-drawer-content
                                style="font-weight: bold; font-size: larger;">{{sumatoriaCobros}}</mat-drawer-content>
                        </mat-drawer-container>
                    </div>
                </div>
                <mat-divider></mat-divider>
            </mat-list>

            <div class="row" style="justify-content: right; margin-top: 3%; margin-bottom: 2%;">

                <mat-drawer-container style="font-family: cursive; font-size: small;" class="col-2">
                    <mat-drawer-content>EFECT</mat-drawer-content>
                </mat-drawer-container>

                <mat-drawer-container style="font-family: cursive; font-size: small;" class="col-2">
                    <mat-drawer-content>BIZUM</mat-drawer-content>
                </mat-drawer-container>

                <mat-drawer-container style="font-family: cursive; font-size: small;" class="col-2">
                    <mat-drawer-content>TARJETA</mat-drawer-content>
                </mat-drawer-container>

                <mat-drawer-container style="font-family: cursive; font-size: small;" class="col-2">
                    <mat-drawer-content>TRANS</mat-drawer-content>
                </mat-drawer-container>
            </div>

            <div class="row">
                <div class="col-4">
                    <mat-label>Piso 1</mat-label>
                    <input type="number" formControlName="numberPiso1" (ngModelChange)="valueCobros()"
                        class="form-control">
                </div>

                <mar-form-field class="col-2">
                    <mat-checkbox formControlName="efectPiso1"
                        (ngModelChange)="efectCheckToggle($event)"></mat-checkbox>
                </mar-form-field>

                <mar-form-field class="col-2">
                    <mat-checkbox formControlName="bizuPiso1" (ngModelChange)="bizumCheckToggle($event)"></mat-checkbox>
                </mar-form-field>

                <mar-form-field class="col-2">
                    <mat-checkbox formControlName="tarjPiso1" (ngModelChange)="tarjCheckToggle($event)"></mat-checkbox>
                </mar-form-field>

                <mar-form-field class="col-2">
                    <mat-checkbox formControlName="transPiso1"
                        (ngModelChange)="transCheckToggle($event)"></mat-checkbox>
                </mar-form-field>
            </div>

            <div class="row">
                <div class="col-4">
                    <mat-label>Piso 2</mat-label>
                    <input matInput type="number" formControlName="numberPiso2" (ngModelChange)="valueCobros()"
                        class="form-control">
                </div>

                <mar-form-field class="col-2">
                    <mat-checkbox formControlName="efectPiso2"
                        (ngModelChange)="efectCheckToggle($event)"></mat-checkbox>
                </mar-form-field>

                <mar-form-field class="col-2">
                    <mat-checkbox formControlName="bizuPiso2" (ngModelChange)="bizumCheckToggle($event)"></mat-checkbox>
                </mar-form-field>

                <mar-form-field class="col-2">
                    <mat-checkbox formControlName="tarjPiso2" (ngModelChange)="tarjCheckToggle($event)"></mat-checkbox>
                </mar-form-field>

                <mar-form-field class="col-2">
                    <mat-checkbox formControlName="transPiso2"
                        (ngModelChange)="transCheckToggle($event)"></mat-checkbox>
                </mar-form-field>
            </div>

            <div class="row">
                <div class="col-4">
                    <mat-label>Terapeuta</mat-label>
                    <input matInput type="number" formControlName="numberTerap" (ngModelChange)="valueCobros()"
                        class="form-control">
                </div>

                <mar-form-field class="col-2">
                    <mat-checkbox formControlName="efectTerap"
                        (ngModelChange)="efectCheckToggle($event)"></mat-checkbox>
                </mar-form-field>

                <mar-form-field class="col-2">
                    <mat-checkbox formControlName="bizuTerap" (ngModelChange)="bizumCheckToggle($event)"></mat-checkbox>
                </mar-form-field>

                <mar-form-field class="col-2">
                    <mat-checkbox formControlName="tarjTerap" (ngModelChange)="tarjCheckToggle($event)"></mat-checkbox>
                </mar-form-field>

                <mar-form-field class="col-2">
                    <mat-checkbox formControlName="transTerap"
                        (ngModelChange)="transCheckToggle($event)"></mat-checkbox>
                </mar-form-field>
            </div>

            <div class="row">
                <div class="col-4">
                    <mat-label>Encargada</mat-label>
                    <input matInput type="number" formControlName="numberEncarg" (ngModelChange)="valueCobros()"
                        class="form-control">
                </div>

                <mar-form-field class="col-2">
                    <mat-checkbox formControlName="efectEncarg"
                        (ngModelChange)="efectCheckToggle($event)"></mat-checkbox>
                </mar-form-field>

                <mar-form-field class="col-2">
                    <mat-checkbox formControlName="bizuEncarg"
                        (ngModelChange)="bizumCheckToggle($event)"></mat-checkbox>
                </mar-form-field>

                <mar-form-field class="col-2">
                    <mat-checkbox formControlName="tarjEncarg" (ngModelChange)="tarjCheckToggle($event)"></mat-checkbox>
                </mar-form-field>

                <mar-form-field class="col-2">
                    <mat-checkbox formControlName="transEncarg"
                        (ngModelChange)="transCheckToggle($event)"></mat-checkbox>
                </mar-form-field>
            </div>

            <div class="row" style="margin-bottom: 5%;">
                <div class="col-4">
                    <mat-label>Otro</mat-label>
                    <input matInput type="number" formControlName="numberOtro" (ngModelChange)="valueCobros()"
                        class="form-control">
                </div>

                <mar-form-field class="col-2">
                    <mat-checkbox formControlName="efectOtro" (ngModelChange)="efectCheckToggle($event)"></mat-checkbox>
                </mar-form-field>

                <mar-form-field class="col-2">
                    <mat-checkbox formControlName="bizuOtro" (ngModelChange)="bizumCheckToggle($event)"></mat-checkbox>
                </mar-form-field>

                <mar-form-field class="col-2">
                    <mat-checkbox formControlName="tarjOtro" (ngModelChange)="tarjCheckToggle($event)"></mat-checkbox>
                </mar-form-field>

                <mar-form-field class="col-2">
                    <mat-checkbox formControlName="transOtro" (ngModelChange)="transCheckToggle($event)"></mat-checkbox>
                </mar-form-field>
            </div>

            <!-- Fin servicio -->

            <mat-form-field style="display: grid; align-self: center;">
                <mat-label>Notas:</mat-label>
                <textarea matInput formControlName="nota"></textarea>
            </mat-form-field>

            <button mat-raised-button style="display: grid; margin: auto;" type="submit"
                color="primary">Guardar</button>
        </div>

    </form>
</div>

<!------------------------------------------ Editar ------------------------------------------>

<div class="container" *ngIf="editamos">
    <div class="row" *ngFor="let edServ of editarService">

        <h4 style="text-align: center; margin-bottom: 5%; font-family: cursive; font-size: x-large;">Editar</h4>
        <form>
            <div class="container">
                <div class="row">

                    <mat-form-field class="col-6">
                        <mat-select [(ngModel)]="edServ.terapeuta" name="terapeuta">
                            <mat-option *ngFor="let terap of terapeuta" [value]="terap.nombre">
                                {{terap.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="col-6">
                        <mat-select [(ngModel)]="edServ.encargada" name="encargada">
                            <mat-option *ngFor="let encarg of encargada" [value]="encarg.nombre">
                                {{encarg.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="parent">
                    <mat-form-field class="col-6">
                        <mat-label>Cliente</mat-label>
                        <input matInput type="text" [(ngModel)]="edServ.cliente" name="cliente">
                    </mat-form-field>
                </div>

                <!---------------------------------------- TIEMPO ---------------------------------------->

                <mat-list>
                    <mat-drawer-container>
                        <mat-drawer-content style="font-weight: bold; font-size: larger;">TIEMPO</mat-drawer-content>
                    </mat-drawer-container>
                    <mat-divider></mat-divider>
                </mat-list>

                <div class="row" style="margin-bottom: 2%;">
                    <div class="col-6">
                        <mat-drawer-container class="example-container">
                            <mat-drawer-content style="font-weight: bold;">Último servicio:</mat-drawer-content>
                        </mat-drawer-container>
                    </div>

                    <div class="col-6">
                        <mat-drawer-container class="example-container" style="float: right;">
                            <mat-drawer-content>{{edServ['horaStart'] + '-' +
                                edServ['horaEnd']}}</mat-drawer-content>
                        </mat-drawer-container>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 3%;">

                    <div class="col-6" style="display: inline-block; align-self: center;">
                        <mat-drawer-container class="example-container">
                            <mat-drawer-content>Fecha</mat-drawer-content>
                        </mat-drawer-container>

                        <input type="date" class="form-control" [(ngModel)]="edServ.fecha" name="fecha"
                            (change)="fechaEscogida($event)" [value]="fechaActual">
                    </div>

                    <div class="col-6">
                        <mat-drawer-container class="example-container">
                            <mat-drawer-content>Hora inicio</mat-drawer-content>
                        </mat-drawer-container>

                        <input type="time" class="form-control" [(ngModel)]="edServ.horaStart" name="horaStart"
                            (change)="horaInicio($event)" [value]="horaStarted" min="18:00" max="21:00" step="3600" />
                    </div>

                    <div class="col-6">
                        <mat-label>Duración(min.)</mat-label>
                        <input type="number" class="form-control" [(ngModel)]="edServ.minuto" name="minuto"
                            (ngModelChange)="minutos($event)">
                    </div>

                    <div class="col-6" style="display: grid; text-align: center; align-self: center;">
                        <mat-drawer-container class="example-container">
                            <mat-drawer-content>Hora fin:</mat-drawer-content>
                        </mat-drawer-container>
                        <mat-drawer-container class="example-container">
                            <mat-drawer-content style="font-weight: bold;">{{edServ['horaEnd']}}</mat-drawer-content>
                        </mat-drawer-container>
                    </div>
                </div>

                <!---------------------------------------- Servicios ---------------------------------------->

                <mat-list>
                    <div class="row">
                        <div class="col-6">
                            <mat-drawer-container>
                                <mat-drawer-content
                                    style="font-weight: bold; font-size: larger;">SERVICIOS</mat-drawer-content>
                            </mat-drawer-container>
                        </div>

                        <div class="col-6">
                            <mat-drawer-container style="float: right;">
                                <mat-drawer-content
                                    style="font-weight: bold; font-size: larger;">{{edServ['totalServicio']}}</mat-drawer-content>
                            </mat-drawer-container>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                </mat-list>


                <div class="row" style="margin-bottom: 1%; margin-top: 2%;">

                    <div class="col-4">
                        <label>Tratamiento</label>
                        <input type="number" class="form-control" [(ngModel)]="edServ.servicio" name="servicio"
                            (ngModelChange)="valueServiceEdit()" />
                    </div>

                    <div class="col-4">
                        <label>Bebidas</label>
                        <input type="number" class="form-control" [(ngModel)]="edServ.bebidas" name="bebidas"
                            (ngModelChange)="valueServiceEdit()" />
                    </div>

                    <div class="col-4">
                        <label>Tabaco</label>
                        <input type="number" class="form-control" [(ngModel)]="edServ.tabaco" name="tabaco"
                            (ngModelChange)="valueServiceEdit()" />
                    </div>

                    <div class="col-4" style="margin-top: 2%">
                        <label>Vitaminas</label>
                        <input type="number" class="form-control" [(ngModel)]="edServ.vitaminas" name="vitaminas"
                            (ngModelChange)="valueServiceEdit()" />
                    </div>

                    <div class="col-4" style="margin-top: 2%">
                        <label>Propina</label>
                        <input type="number" class="form-control" [(ngModel)]="edServ.propina" name="propina"
                            (ngModelChange)="valueServiceEdit()" />
                    </div>

                    <div class="col-4" style="margin-top: 2%">
                        <label>Otros</label>
                        <input type="number" class="form-control" [(ngModel)]="edServ.otros" name="otros"
                            (ngModelChange)="valueServiceEdit()" />
                    </div>

                    <div class="col-4" style="margin-top: 2%">
                        <label>Lugar Salida</label>
                        <input type="text" class="form-control" [(ngModel)]="edServ.salida" name="salida"
                            (ngModelChange)="valueServiceEdit()" />
                    </div>
                </div>


                <!---------------------------------------- COBROS  ---------------------------------------->

                <mat-list>
                    <div class="row">
                        <div class="col-6">
                            <mat-drawer-container>
                                <mat-drawer-content
                                    style="font-weight: bold; font-size: larger;">COBROS</mat-drawer-content>
                            </mat-drawer-container>
                        </div>

                        <div class="col-6">
                            <mat-drawer-container style="float: right;">
                                <mat-drawer-content
                                    style="font-weight: bold; font-size: larger;">{{sumatoriaCobrosEdit}}</mat-drawer-content>
                            </mat-drawer-container>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                </mat-list>

                <div class="row" style="justify-content: right; margin-top: 3%; margin-bottom: 2%;">

                    <mat-drawer-container style="font-family: cursive; font-size: small;" class="col-2">
                        <mat-drawer-content>EFECT</mat-drawer-content>
                    </mat-drawer-container>

                    <mat-drawer-container style="font-family: cursive; font-size: small;" class="col-2">
                        <mat-drawer-content>BIZUM</mat-drawer-content>
                    </mat-drawer-container>

                    <mat-drawer-container style="font-family: cursive; font-size: small;" class="col-2">
                        <mat-drawer-content>TARJETA</mat-drawer-content>
                    </mat-drawer-container>

                    <mat-drawer-container style="font-family: cursive; font-size: small;" class="col-2">
                        <mat-drawer-content>TRANS</mat-drawer-content>
                    </mat-drawer-container>
                </div>

                <!------------------------------------------------- Piso 1 ------------------------------------------------->

                <div class="row">
                    <div class="col-4">
                        <mat-label>Piso 1</mat-label>
                        <input type="number" class="form-control" [(ngModel)]="edServ.numberPiso1" name="numberPiso1"
                            (ngModelChange)="valueCobrosEdit()">
                    </div>

                    <mar-form-field class="col-2">
                        <mat-checkbox [(ngModel)]="edServ.efectPiso1" name="efectPiso1"
                            (ngModelChange)="efectCheckToggleEdit($event)"></mat-checkbox>
                    </mar-form-field>

                    <mar-form-field class="col-2">
                        <mat-checkbox [(ngModel)]="edServ.bizuPiso1" name="bizuPiso1"
                            (ngModelChange)="bizumCheckToggleEdit($event)"></mat-checkbox>
                    </mar-form-field>

                    <mar-form-field class="col-2">
                        <mat-checkbox [(ngModel)]="edServ.tarjPiso1" name="tarjPiso1"
                            (ngModelChange)="tarjCheckToggleEdit($event)"></mat-checkbox>
                    </mar-form-field>

                    <mar-form-field class="col-2">
                        <mat-checkbox [(ngModel)]="edServ.transPiso1" name="transPiso1"
                            (ngModelChange)="transCheckToggleEdit($event)"></mat-checkbox>
                    </mar-form-field>
                </div>


                <!------------------------------------------------- Piso 2 ------------------------------------------------->

                <div class="row">
                    <div class="col-4">
                        <mat-label>Piso 2</mat-label>
                        <input matInput type="number" [(ngModel)]="edServ.numberPiso2" name="numberPiso2"
                            (ngModelChange)="valueCobrosEdit()" class="form-control">
                    </div>

                    <mar-form-field class="col-2">
                        <mat-checkbox [(ngModel)]="edServ.efectPiso2" name="efectPiso2"
                            (ngModelChange)="efectCheckToggleEdit($event)"></mat-checkbox>
                    </mar-form-field>

                    <mar-form-field class="col-2">
                        <mat-checkbox [(ngModel)]="edServ.bizuPiso2" name="bizuPiso2"
                            (ngModelChange)="bizumCheckToggleEdit($event)"></mat-checkbox>
                    </mar-form-field>

                    <mar-form-field class="col-2">
                        <mat-checkbox [(ngModel)]="edServ.tarjPiso2" name="tarjPiso2"
                            (ngModelChange)="tarjCheckToggleEdit($event)"></mat-checkbox>
                    </mar-form-field>

                    <mar-form-field class="col-2">
                        <mat-checkbox [(ngModel)]="edServ.transPiso2" name="transPiso2"
                            (ngModelChange)="transCheckToggleEdit($event)"></mat-checkbox>
                    </mar-form-field>
                </div>

                <!------------------------------------------------- Terapeuta ------------------------------------------------->

                <div class="row">
                    <div class="col-4">
                        <mat-label>Terapeuta</mat-label>
                        <input matInput type="number" [(ngModel)]="edServ.numberTerap" name="numberTerap"
                            (ngModelChange)="valueCobrosEdit()" class="form-control">
                    </div>

                    <mar-form-field class="col-2">
                        <mat-checkbox [(ngModel)]="edServ.efectTerap" name="efectTerap"
                            (ngModelChange)="efectCheckToggleEdit($event)"></mat-checkbox>
                    </mar-form-field>

                    <mar-form-field class="col-2">
                        <mat-checkbox [(ngModel)]="edServ.bizuTerap" name="bizuTerap"
                            (ngModelChange)="bizumCheckToggleEdit($event)"></mat-checkbox>
                    </mar-form-field>

                    <mar-form-field class="col-2">
                        <mat-checkbox [(ngModel)]="edServ.tarjTerap" name="tarjTerap"
                            (ngModelChange)="tarjCheckToggleEdit($event)"></mat-checkbox>
                    </mar-form-field>

                    <mar-form-field class="col-2">
                        <mat-checkbox [(ngModel)]="edServ.transTerap" name="transTerap"
                            (ngModelChange)="transCheckToggleEdit($event)"></mat-checkbox>
                    </mar-form-field>
                </div>

                <div class="row">
                    <div class="col-4">
                        <mat-label>Encargada</mat-label>
                        <input matInput type="number" [(ngModel)]="edServ.numberEncarg" name="numberEncarg"
                            (ngModelChange)="valueCobrosEdit()" class="form-control">
                    </div>

                    <mar-form-field class="col-2">
                        <mat-checkbox [(ngModel)]="edServ.efectEncarg" name="efectEncarg"
                            (ngModelChange)="efectCheckToggleEdit($event)"></mat-checkbox>
                    </mar-form-field>

                    <mar-form-field class="col-2">
                        <mat-checkbox [(ngModel)]="edServ.bizuEncarg" name="bizuEncarg"
                            (ngModelChange)="bizumCheckToggleEdit($event)"></mat-checkbox>
                    </mar-form-field>

                    <mar-form-field class="col-2">
                        <mat-checkbox [(ngModel)]="edServ.tarjEncarg" name="tarjEncarg"
                            (ngModelChange)="tarjCheckToggleEdit($event)"></mat-checkbox>
                    </mar-form-field>

                    <mar-form-field class="col-2">
                        <mat-checkbox [(ngModel)]="edServ.transEncarg" name="transEncarg"
                            (ngModelChange)="transCheckToggleEdit($event)"></mat-checkbox>
                    </mar-form-field>
                </div>

                <div class="row" style="margin-bottom: 5%;">
                    <div class="col-4">
                        <mat-label>Otro</mat-label>
                        <input matInput type="number" [(ngModel)]="edServ.numberOtro" name="numberOtro"
                            (ngModelChange)="valueCobrosEdit()" class="form-control">
                    </div>

                    <mar-form-field class="col-2">
                        <mat-checkbox [(ngModel)]="edServ.efectOtro" name="efectOtro"
                            (ngModelChange)="efectCheckToggleEdit($event)"></mat-checkbox>
                    </mar-form-field>

                    <mar-form-field class="col-2">
                        <mat-checkbox [(ngModel)]="edServ.bizuOtro" name="bizuOtro"
                            (ngModelChange)="bizumCheckToggleEdit($event)"></mat-checkbox>
                    </mar-form-field>

                    <mar-form-field class="col-2">
                        <mat-checkbox [(ngModel)]="edServ.tarjOtro" name="tarjOtro"
                            (ngModelChange)="tarjCheckToggleEdit($event)"></mat-checkbox>
                    </mar-form-field>

                    <mar-form-field class="col-2">
                        <mat-checkbox [(ngModel)]="edServ.transOtro" name="transOtro"
                            (ngModelChange)="transCheckToggleEdit($event)"></mat-checkbox>
                    </mar-form-field>
                </div>

                <!-- Fin servicio -->

                <mat-form-field style="display: grid; align-self: center;">
                    <mat-label>Notas:</mat-label>
                    <textarea matInput [(ngModel)]="edServ.nota" name="nota"></textarea>
                </mat-form-field>
            </div>
        </form>

        <div class="container" *ngFor="let edServ of editarService">
            <div class="row">

                <div class="col-6">
                    <button mat-raised-button style="display: grid; margin: auto;"
                        (click)="editarServicio(edServ.idDocument, edServ.id, edServ)" color="primary">Guardar</button>
                </div>

                <div class="col-6" *ngIf="buttonDelete">
                    <button mat-raised-button style="display: grid; margin: auto;" (click)="eliminarServicio(edServ.id)"
                        color="warn">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>