@media only screen and (min-device-width: 270px) and (max-device-width: 1030px) {
  .titulos {
    margin-top: 8%;
    font-size: 1rem;
  }

  hr {
    display: grid;
    margin: auto;
    border-width: initial;
    color: blue;
    margin-top: -2%;
    margin-bottom: 0%;
  }

  .lugarSalida {
    margin-top: 7%;
  }

  .duracionHora {
    margin-top: 7%;
  }

  .inputSelect {
    margin-top: 12%;
  }

  .inputCliente {
    margin-top: 4%;
  }

  .botonesEditar {
    margin-top: 7%;
  }
}

@media only screen and (min-device-width: 1131px) and (max-device-width: 2000px) {
  .titulos {
    margin-top: 3%;
    font-size: 1rem;
  }

  hr {
    display: grid;
    margin: auto;
    border-width: initial;
    color: blue;
    margin-top: 0%;
    margin-bottom: 1%;
  }

  .lugarSalida {
    margin-top: 3%;
  }

  .sumaServicios {
    float: right;
  }

  .duracionHora {
    margin-top: 3%;
  }

  .inputCliente {
    margin-top: 2%;
  }

  .botonesEditar {
    margin-top: 2%;
  }
}