.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-divider {
    border-top-color: red;
}

.bs-timepicker-field {
    width: 45px;
}

.btn:not(:disabled):not(.disabled) {
    display: none;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white;
}