<h4 style="text-align: center; margin-top: 2%; margin-bottom: 4%;">Nuevo Servicio</h4>

<form [formGroup]="formTemplate" (ngSubmit)="addServicio(formTemplate.value)">

    <div class=" container" style="margin-top: 4%;">
        <div class="row">

            <mat-form-field class="col-6">
                <mat-label>Terapeuta</mat-label>
                <mat-select formControlName="terapeuta" name="terapeuta">
                    <mat-option *ngFor="let terap of terapeuta" [value]="terap.nombre">
                        {{terap.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="col-6">
                <mat-label>Encargada</mat-label>
                <mat-select formControlName="encargada" name="encargada">
                    <mat-option *ngFor="let encarg of encargada" [value]="encarg.nombre">
                        {{encarg.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="parent">
            <mat-form-field class="col-6">
                <mat-label>Cliente</mat-label>
                <input matInput type="text" formControlName="cliente">
            </mat-form-field>
        </div>

        <mat-list>
            <mat-drawer-container>
                <mat-drawer-content style="font-weight: bold; font-size: larger;">TIEMPO</mat-drawer-content>
            </mat-drawer-container>
            <mat-divider></mat-divider>
        </mat-list>


        <div class="row" style="margin-bottom: 5%;">
            <div class="col-6">
                <mat-drawer-container class="example-container">
                    <mat-drawer-content style="font-weight: bold;">Último servicio:</mat-drawer-content>
                </mat-drawer-container>
            </div>

            <div class="col-6">
                <mat-drawer-container class="example-container" style="float: right;" *ngFor="let hor of fechaLast">
                    <mat-drawer-content>{{hor.hora}}</mat-drawer-content>
                </mat-drawer-container>
            </div>
        </div>

        <div class="row" style="margin-bottom: 5%;">

            <div class="col-6" style="display: inline-block; align-self: center;">

                <mat-drawer-container class="example-container" style="margin-bottom: 3%;">
                    <mat-drawer-content>Fecha</mat-drawer-content>
                </mat-drawer-container>

                <input type="date" class="form-control" (change)="fechaEscogida($event)" [value]="fechaActual">

            </div>

            <div class="col-6" style="margin-top: 5%">
                <mat-drawer-container class="example-container">
                    <mat-drawer-content>Hora inicio</mat-drawer-content>
                </mat-drawer-container>

                <input type="time" class="form-control" (change)="horaInicio($event)" [value]="horaStarted" min="18:00"
                    max="21:00" step="3600" />
            </div>

            <div class="col-6">
                <mat-label>Duración(min.)</mat-label>
                <input class="form-control" type="number" formControlName="minuto" (change)="minutos($event)">

            </div>

            <div class="col-6" style="text-align: center; align-self: center;">
                <mat-drawer-container class="example-container">
                    <mat-drawer-content>Hora fin:</mat-drawer-content>
                </mat-drawer-container>
                <mat-drawer-container class="example-container">
                    <mat-drawer-content style="font-weight: bold;">{{horaFinMinutos}}</mat-drawer-content>
                </mat-drawer-container>
            </div>
        </div>

        <!-- Servicios -->

        <div class="row" style="margin-bottom: 5%">

            <div class="col-6">
                <mat-drawer-container>
                    <mat-drawer-content style="font-weight: bold; font-size: larger;">SERVICIOS</mat-drawer-content>
                </mat-drawer-container>
            </div>

            <div class="col-6">
                <mat-drawer-container style="float: right;">
                    <mat-drawer-content
                        style="font-weight: bold; font-size: larger;">{{sumatoriaServicios}}</mat-drawer-content>
                </mat-drawer-container>
            </div>

            <mat-divider></mat-divider>

        </div>




        <div class="row" style="margin-bottom: 3%">
            <div class="col-4">
                <label>Servicio</label>
                <input type="number" class="form-control" (ngModelChange)="valueService()" formControlName="servicio" />
            </div>
            <div class="col-4">
                <label>Bebidas</label>
                <input type="number" class="form-control" (ngModelChange)="valueService()" formControlName="bebidas" />
            </div>
            <div class="col-4">
                <label>Tabaco</label>
                <input type="number" class="form-control" (ngModelChange)="valueService()" formControlName="tabaco" />
            </div>
            <div class="col-4">
                <label>Vitaminas</label>
                <input type="number" class="form-control" (ngModelChange)="valueService()"
                    formControlName="vitaminas" />
            </div>
            <div class="col-4">
                <label>Propina</label>
                <input type="number" class="form-control" (ngModelChange)="valueService()" formControlName="propina" />
            </div>
            <div class="col-4">
                <label>Otros</label>
                <input type="number" class="form-control" (ngModelChange)="valueService()" formControlName="otros" />
            </div>
        </div>

        <div style="margin-bottom: 5%;">
            <mat-label>Salida</mat-label>
            <mar-form-field>
                <mat-checkbox (change)="salida($event)"></mat-checkbox>
            </mar-form-field>
        </div>


        <div class="row" style="margin-bottom: 5%">

            <div class="col-6">
                <mat-drawer-container>
                    <mat-drawer-content style="font-weight: bold; font-size: larger;">COBROS</mat-drawer-content>
                </mat-drawer-container>
            </div>

            <div class="col-6">
                <mat-drawer-container style="float: right;">
                    <mat-drawer-content
                        style="font-weight: bold; font-size: larger;">{{restamosCobro}}</mat-drawer-content>
                </mat-drawer-container>
            </div>

            <mat-divider></mat-divider>
        </div>


        <!-- Cobros -->

        <div class="row" style="justify-content: right; margin-bottom: 4%;">


            <mat-drawer-container class="col-2">
                <mat-drawer-content>Efect</mat-drawer-content>
            </mat-drawer-container>

            <mat-drawer-container class="col-2">
                <mat-drawer-content>Bizum</mat-drawer-content>
            </mat-drawer-container>

            <mat-drawer-container class="col-2">
                <mat-drawer-content>Tarjeta</mat-drawer-content>
            </mat-drawer-container>

            <mat-drawer-container class="col-2">
                <mat-drawer-content>Trans</mat-drawer-content>
            </mat-drawer-container>

        </div>

        <div class="row">
            <div class="col-4">
                <mat-label>Piso 1</mat-label>
                <input type="text" formControlName="numberPiso1" (ngModelChange)="valueCobros()" class="form-control">
            </div>

            <mar-form-field class="col-2">
                <mat-checkbox formControlName="efectPiso1" (ngModelChange)="efectCheckToggle($event)"></mat-checkbox>
            </mar-form-field>

            <mar-form-field class="col-2">
                <mat-checkbox formControlName="bizuPiso1" (ngModelChange)="bizumCheckToggle($event)"></mat-checkbox>
            </mar-form-field>

            <mar-form-field class="col-2">
                <mat-checkbox formControlName="tarjPiso1" (ngModelChange)="tarjCheckToggle($event)"></mat-checkbox>
            </mar-form-field>

            <mar-form-field class="col-2">
                <mat-checkbox formControlName="transPiso1" (ngModelChange)="transCheckToggle($event)"></mat-checkbox>
            </mar-form-field>
        </div>

        <div class="row">
            <div class="col-4">
                <mat-label>Piso 2</mat-label>
                <input matInput type="number" formControlName="numberPiso2" class="form-control">
            </div>

            <mar-form-field class="col-2">
                <mat-checkbox formControlName="efectPiso2" (ngModelChange)="efectCheckToggle($event)"></mat-checkbox>
            </mar-form-field>

            <mar-form-field class="col-2">
                <mat-checkbox formControlName="bizuPiso2" (ngModelChange)="bizumCheckToggle($event)"></mat-checkbox>
            </mar-form-field>

            <mar-form-field class="col-2">
                <mat-checkbox formControlName="tarjPiso2" (ngModelChange)="tarjCheckToggle($event)"></mat-checkbox>
            </mar-form-field>

            <mar-form-field class="col-2">
                <mat-checkbox formControlName="transPiso2" (ngModelChange)="transCheckToggle($event)"></mat-checkbox>
            </mar-form-field>
        </div>

        <div class="row">
            <div class="col-4">
                <mat-label>Terapeuta</mat-label>
                <input matInput type="number" formControlName="numberTerap" class="form-control">
            </div>

            <mar-form-field class="col-2">
                <mat-checkbox formControlName="efectTerap" (ngModelChange)="efectCheckToggle($event)"></mat-checkbox>
            </mar-form-field>

            <mar-form-field class="col-2">
                <mat-checkbox formControlName="bizuTerap" (ngModelChange)="bizumCheckToggle($event)"></mat-checkbox>
            </mar-form-field>

            <mar-form-field class="col-2">
                <mat-checkbox formControlName="tarjTerap" (ngModelChange)="tarjCheckToggle($event)"></mat-checkbox>
            </mar-form-field>

            <mar-form-field class="col-2">
                <mat-checkbox formControlName="transTerap" (ngModelChange)="transCheckToggle($event)"></mat-checkbox>
            </mar-form-field>
        </div>

        <div class="row">
            <div class="col-4">
                <mat-label>Encargada</mat-label>
                <input matInput type="number" formControlName="numberEncarg" class="form-control">
            </div>

            <mar-form-field class="col-2">
                <mat-checkbox formControlName="efectEncarg" (ngModelChange)="efectCheckToggle($event)"></mat-checkbox>
            </mar-form-field>

            <mar-form-field class="col-2">
                <mat-checkbox formControlName="bizuEncarg" (ngModelChange)="bizumCheckToggle($event)"></mat-checkbox>
            </mar-form-field>

            <mar-form-field class="col-2">
                <mat-checkbox formControlName="tarjEncarg" (ngModelChange)="tarjCheckToggle($event)"></mat-checkbox>
            </mar-form-field>

            <mar-form-field class="col-2">
                <mat-checkbox formControlName="transEncarg" (ngModelChange)="transCheckToggle($event)"></mat-checkbox>
            </mar-form-field>
        </div>

        <div class="row" style="margin-bottom: 5%;">
            <div class="col-4">
                <mat-label>Otro</mat-label>
                <input matInput type="number" formControlName="numberOtro" class="form-control">
            </div>

            <mar-form-field class="col-2">
                <mat-checkbox formControlName="efectOtro" (ngModelChange)="efectCheckToggle($event)"></mat-checkbox>
            </mar-form-field>

            <mar-form-field class="col-2">
                <mat-checkbox formControlName="bizuOtro" (ngModelChange)="bizumCheckToggle($event)"></mat-checkbox>
            </mar-form-field>

            <mar-form-field class="col-2">
                <mat-checkbox formControlName="tarjOtro" (ngModelChange)="tarjCheckToggle($event)"></mat-checkbox>
            </mar-form-field>

            <mar-form-field class="col-2">
                <mat-checkbox formControlName="transOtro" (ngModelChange)="transCheckToggle($event)"></mat-checkbox>
            </mar-form-field>
        </div>

        <!-- Fin servicio -->

        <mat-form-field style="display: grid; align-self: center;">
            <mat-label>Notas:</mat-label>
            <textarea matInput formControlName="nota"></textarea>
        </mat-form-field>

        <button mat-raised-button style="display: grid; margin: auto;" type="submit" color="primary">Guardar</button>
    </div>

</form>