<h4> TOTAL HOY 360 € </h4>

<div class="page-content">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nota</th>
        <th scope="col">Terap.</th>
        <th scope="col">Encarg.</th>
        <th scope="col">Hora</th>
        <th scope="col">Tiempo</th>
        <th scope="col">Servicio</th>
        <th scope="col">Salida</th>
      </tr>
    </thead>
    <tbody *ngFor="let vis of vision ">
      <tr>
        <td [ngClass]="{'color1':vis.nota == '','color2':vis.nota !== ''}">
          {{vis.nota}}</td>
        <td>{{vis.terapeuta}}</td>
        <td>{{vis.encargada}}</td>
        <td>{{vis.hora + '-' + vis.horaFin}}</td>
        <td>{{vis.minuto }}</td>
        <td>{{vis.totalServicio + ' €'}}</td>
        <td>{{vis.nota}}</td>
      </tr>
    </tbody>
  </table>


</div>



<!-- Ocupacion -->

<h4> OCUPACIÓN </h4>