@media only screen and (min-device-width: 270px) and (max-device-width: 392px) {
  .container {
    margin-bottom: -6rem;
  }

  body {
    overflow-x: hidden !important;
  }

  .newService {
    margin-left: 0.5rem;
  }

  .refreshPage {
    margin-left: 1rem;
  }

  .textRefreshPage {
    margin-top: -12%;
  }

  .disponible {
    background: green;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
    margin-top: 45%;
    margin-left: 0;
  }

  .disponible2 {
    background: green;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
    margin-top: 45%;
    margin-left: 0;
  }

  .ocupado {
    background: red;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
    margin-top: 45%;
    margin-left: 0;
  }

  .columnIcon {
    display: grid;
    grid-template-columns: 36% 40%;
    margin-top: 1rem;
    margin-left: 6rem;
  }

  .newServiceCircle {
    width: 4rem;
  }

  .circleRefreshPage {
    width: 4.8rem;
    margin-top: -5%;
  }

  .adjustTable {
    margin-top: 2rem;
    width: 100%;
  }

  .columnTable {
    display: grid;
    grid-template-columns: 2% 24.1% 21.1% 18% 10%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    justify-content: center;
    text-align-last: center;
    margin-left: -3.7rem;
  }

  .availableColumn {
    margin-right: auto;
    width: 85%;
  }

  .therapist {
    line-height: 1.5rem;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    word-wrap: break-word;
    text-align-last: left;
    margin-left: 1rem;
  }

  .exit {
    line-height: 1rem;
    text-align: left;
    font-family: sans-serif;
    font-size: 18px;
    word-wrap: break-word;
    text-align-last: left;
    margin-left: 1rem;
  }

  .endTime {
    line-height: 1rem;
    text-align: left;
    font-family: sans-serif;
    font-size: 18px;
    word-wrap: break-word;
    text-align-last: left;
    margin-left: 1rem;
  }

  .columnArrows {
    display: grid;
    grid-template-columns: 10% 28% 10%;
    margin-top: 2.4rem;
    margin-bottom: 0rem;
    justify-content: center;
    text-align-last: center;
  }

  .date {
    justify-self: center;
    margin-top: 0.1rem;
  }

  .column {
    display: grid;
    grid-template-columns: 75%;
    justify-content: center;
    justify-items: center;
    margin-top: 2rem;
    margin-left: -1.6rem;
  }

  .columnService {
    margin-right: auto;
    width: 85%;
  }

  .collectionsColumn {
    width: 85%;
    margin-top: 2rem;
  }

  .serviceLine {
    width: 15.8rem;
    color: #8c52ff;
    margin: auto;
    border-width: initial;
    opacity: initial;
    margin-left: 0.7rem;
    margin-top: 0.5rem;
  }

  .columnTreatment {
    display: grid;
    grid-template-columns: 71% 42%;
    margin-top: 0.8rem;
  }

  .treatmentValue {
    justify-self: end;
  }

  .columnDrink {
    display: grid;
    grid-template-columns: 71% 42%;
  }

  .drinkValue {
    justify-self: end;
  }

  .columnTobacco {
    display: grid;
    grid-template-columns: 71% 42%;
  }

  .tobaccoValue {
    justify-self: end;
  }

  .columnVitamin {
    display: grid;
    grid-template-columns: 71% 42%;
  }

  .vitaminValue {
    justify-self: end;
  }

  .columnTip {
    display: grid;
    grid-template-columns: 71% 42%;
  }

  .tipValue {
    justify-self: end;
  }

  .columnOthers {
    display: grid;
    grid-template-columns: 71% 42%;
  }

  .valueOthers {
    justify-self: end;
  }

  .columnOthers {
    display: grid;
    grid-template-columns: 71% 42%;
  }

  .totalLine {
    width: 15.8rem;
    color: #8c52ff;
    margin: auto;
    border-width: initial;
    opacity: initial;
    margin-left: 0rem;
  }

  .columnTotal {
    display: grid;
    grid-template-columns: 71% 42%;
  }

  .valueTotal {
    justify-self: end;
  }

  .collectionsLine {
    width: 16.6rem;
    color: #8c52ff;
    margin: auto;
    border-width: initial;
    opacity: initial;
    margin-left: 0rem;
    margin-top: 0.5rem;
  }

  .floorColumn {
    display: grid;
    grid-template-columns: 71% 42%;
    margin-top: 0.8rem;
  }

  .valueFloor {
    justify-self: end;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
  }

  .columnEffective {
    display: grid;
    grid-template-columns: 71% 42%;
  }

  .valueEffective {
    justify-self: end;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
  }

  .columnBizum {
    display: grid;
    grid-template-columns: 71% 42%;
  }

  .valueBizum {
    justify-self: end;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
  }

  .columnCard {
    display: grid;
    grid-template-columns: 71% 42%;
  }

  .valueCard {
    justify-self: end;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
  }

  .columnTranfer {
    display: grid;
    grid-template-columns: 71% 42%;
  }

  .valueTranfer {
    justify-self: end;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
  }

  .columnTherapist {
    display: grid;
    grid-template-columns: 71% 42%;
  }

  .valueTherapist {
    justify-self: end;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
  }

  .columnManager {
    display: grid;
    grid-template-columns: 71% 42%;
  }

  .valueManager {
    justify-self: end;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
  }

  .columnOther {
    display: grid;
    grid-template-columns: 71% 42%;
  }

  .valueOther {
    justify-self: end;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
  }

  .totalLineCollections {
    width: 16.6rem;
    color: #8c52ff;
    margin: auto;
    border-width: initial;
    opacity: initial;
    margin-left: 0rem;
    margin-top: 0.5rem;
  }
}

/* Pedro */
@media only screen and (min-device-width: 393px) and (max-device-width: 1030px) {
  .container {
    margin-bottom: -6rem;
  }

  body {
    overflow-x: hidden !important;
  }

  .newService {
    margin-left: 0.5rem;
  }

  .refreshPage {
    margin-left: 1rem;
  }

  .textRefreshPage {
    margin-top: -12%;
  }

  .disponible {
    background: green;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
    margin-top: 45%;
    margin-left: 0;
  }

  .disponible2 {
    background: green;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
    margin-top: 45%;
    margin-left: 0;
  }

  .ocupado {
    background: red;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
    margin-top: 45%;
    margin-left: 0;
  }

  .columnIcon {
    display: grid;
    grid-template-columns: 36% 40%;
    margin-top: 1rem;
    margin-left: 6rem;
  }

  .newServiceCircle {
    width: 4rem;
  }

  .circleRefreshPage {
    width: 4.8rem;
    margin-top: -5%;
  }

  .adjustTable {
    margin-top: 2rem;
    width: 100%;
  }

  .columnTable {
    display: grid;
    grid-template-columns: 2% 24.1% 21.1% 18% 10%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    justify-content: center;
    text-align-last: center;
    margin-left: -3.7rem;
  }

  .availableColumn {
    margin-right: auto;
    width: 85%;
  }

  .therapist {
    line-height: 1.5rem;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    word-wrap: break-word;
    text-align-last: left;
    margin-left: 1rem;
  }

  .exit {
    line-height: 1rem;
    text-align: left;
    font-family: sans-serif;
    font-size: 18px;
    word-wrap: break-word;
    text-align-last: left;
    margin-left: 1rem;
  }

  .endTime {
    line-height: 1rem;
    text-align: left;
    font-family: sans-serif;
    font-size: 18px;
    word-wrap: break-word;
    text-align-last: left;
    margin-left: 1rem;
  }

  .columnArrows {
    display: grid;
    grid-template-columns: 10% 28% 10%;
    margin-top: 2.4rem;
    margin-bottom: 0rem;
    justify-content: center;
    text-align-last: center;
  }

  .date {
    justify-self: center;
    margin-top: 0.1rem;
  }

  .column {
    display: grid;
    grid-template-columns: 75%;
    justify-content: center;
    justify-items: center;
    margin-top: 2rem;
    margin-left: -1.6rem;
  }

  .columnService {
    margin-right: auto;
    width: 85%;
  }

  .collectionsColumn {
    width: 85%;
    margin-top: 2rem;
  }

  .serviceLine {
    width: 15.8rem;
    color: #8c52ff;
    margin: auto;
    border-width: initial;
    opacity: initial;
    margin-left: 0.7rem;
    margin-top: 0.5rem;
  }

  .columnTreatment {
    display: grid;
    grid-template-columns: 71% 42%;
    margin-top: 0.8rem;
  }

  .treatmentValue {
    justify-self: end;
  }

  .columnDrink {
    display: grid;
    grid-template-columns: 71% 42%;
  }

  .drinkValue {
    justify-self: end;
  }

  .columnTobacco {
    display: grid;
    grid-template-columns: 71% 42%;
  }

  .tobaccoValue {
    justify-self: end;
  }

  .columnVitamin {
    display: grid;
    grid-template-columns: 71% 42%;
  }

  .vitaminValue {
    justify-self: end;
  }

  .columnTip {
    display: grid;
    grid-template-columns: 71% 42%;
  }

  .tipValue {
    justify-self: end;
  }

  .columnOthers {
    display: grid;
    grid-template-columns: 71% 42%;
  }

  .valueOthers {
    justify-self: end;
  }

  .columnOthers {
    display: grid;
    grid-template-columns: 71% 42%;
  }

  .totalLine {
    width: 15.8rem;
    color: #8c52ff;
    margin: auto;
    border-width: initial;
    opacity: initial;
    margin-left: 0rem;
  }

  .columnTotal {
    display: grid;
    grid-template-columns: 71% 42%;
  }

  .valueTotal {
    justify-self: end;
  }

  .collectionsLine {
    width: 16.6rem;
    color: #8c52ff;
    margin: auto;
    border-width: initial;
    opacity: initial;
    margin-left: 0rem;
    margin-top: 0.5rem;
  }

  .floorColumn {
    display: grid;
    grid-template-columns: 71% 42%;
    margin-top: 0.8rem;
  }

  .valueFloor {
    justify-self: end;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
  }

  .columnEffective {
    display: grid;
    grid-template-columns: 71% 42%;
  }

  .valueEffective {
    justify-self: end;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
  }

  .columnBizum {
    display: grid;
    grid-template-columns: 71% 42%;
  }

  .valueBizum {
    justify-self: end;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
  }

  .columnCard {
    display: grid;
    grid-template-columns: 71% 42%;
  }

  .valueCard {
    justify-self: end;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
  }

  .columnTranfer {
    display: grid;
    grid-template-columns: 71% 42%;
  }

  .valueTranfer {
    justify-self: end;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
  }

  .columnTherapist {
    display: grid;
    grid-template-columns: 71% 42%;
  }

  .valueTherapist {
    justify-self: end;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
  }

  .columnManager {
    display: grid;
    grid-template-columns: 71% 42%;
  }

  .valueManager {
    justify-self: end;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
  }

  .columnOther {
    display: grid;
    grid-template-columns: 71% 42%;
  }

  .valueOther {
    justify-self: end;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
  }

  .totalLineCollections {
    width: 16.6rem;
    color: #8c52ff;
    margin: auto;
    border-width: initial;
    opacity: initial;
    margin-left: 0rem;
    margin-top: 0.5rem;
  }
}

@media only screen and (min-device-width: 1131px) and (max-device-width: 1800px) {
  .newService {
    margin-left: 0.5rem;
  }

  .refreshPage {
    margin-left: 1.2em;
  }

  .textRefreshPage {
    margin-top: -12%;
  }

  .disponible {
    background: green;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
    margin-top: 32%;
    margin-left: 0;
  }

  .disponible2 {
    background: green;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
    margin-top: 32%;
    margin-left: 0;
  }

  .ocupado {
    background: red;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
    margin-top: 32%;
    margin-left: 0;
  }

  .columnIcon {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: center;
    justify-items: center;
  }

  .newServiceCircle {
    width: 4rem;
  }

  .circleRefreshPage {
    width: 4rem;
  }

  .adjustTable {
    margin-top: 2rem;
  }

  .columnTable {
    display: grid;
    grid-template-columns: 2% 27% 20% 24% 12%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    justify-content: center;
    text-align-last: center;
    margin-left: 2.3rem;
  }

  .availableColumn {
    margin-right: auto;
    width: 85%;
  }

  .therapist {
    line-height: 1.5rem;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    word-wrap: break-word;
    text-align-last: left;
    margin-left: 1rem;
  }

  .exit {
    line-height: 1rem;
    text-align: left;
    font-family: sans-serif;
    font-size: 18px;
    word-wrap: break-word;
    text-align-last: left;
    margin-left: 1rem;
  }

  .endTime {
    line-height: 1rem;
    text-align: left;
    font-family: sans-serif;
    font-size: 18px;
    word-wrap: break-word;
    text-align-last: left;
    margin-left: 1rem;
  }

  .columnArrows {
    display: grid;
    grid-template-columns: 7% 15% 7%;
    margin-top: 2.4rem;
    margin-bottom: 3rem;
    justify-content: center;
    text-align-last: center;
    margin-left: 5rem;
  }

  .date {
    justify-self: center;
    margin-top: 0.4rem;
  }

  .column {
    display: grid;
    grid-template-columns: 39.5% 39.5%;
    justify-items: center;
    margin-top: -1rem;
    margin-left: 14.5rem;
  }

  .columnService {
    margin-right: auto;
    width: 85%;
  }

  .collectionsColumn {
    width: 85%;
  }

  .serviceLine {
    width: 15.3rem;
    color: #8c52ff;
    margin: auto;
    border-width: initial;
    opacity: initial;
    margin-left: 0rem;
    margin-top: 0.5rem;
  }

  .columnTreatment {
    display: grid;
    grid-template-columns: 45% 57%;
    margin-top: 0.6rem;
  }

  .treatmentValue {
    justify-self: end;
  }

  .columnDrink {
    display: grid;
    grid-template-columns: 45% 57%;
  }

  .drinkValue {
    justify-self: end;
  }

  .columnTobacco {
    display: grid;
    grid-template-columns: 45% 57%;
  }

  .tobaccoValue {
    justify-self: end;
  }

  .columnVitamin {
    display: grid;
    grid-template-columns: 45% 57%;
  }

  .vitaminValue {
    justify-self: end;
  }

  .columnTip {
    display: grid;
    grid-template-columns: 45% 57%;
  }

  .tipValue {
    justify-self: end;
  }

  .columnOthers {
    display: grid;
    grid-template-columns: 45% 57%;
  }

  .valueOthers {
    justify-self: end;
  }

  .totalLine {
    width: 15.3rem;
    color: #8c52ff;
    margin: auto;
    border-width: initial;
    opacity: initial;
    margin-left: 0rem;
  }

  .columnTotal {
    display: grid;
    grid-template-columns: 45% 57%;
  }

  .valueTotal {
    justify-self: end;
  }

  .collectionsLine {
    width: 14.6rem;
    color: #8c52ff;
    margin: auto;
    border-width: initial;
    opacity: initial;
    margin-left: 0rem;
    margin-top: 0.5rem;
  }

  .floorColumn {
    display: grid;
    grid-template-columns: 50% 48%;
    margin-top: 0.6rem;
  }

  .valueFloor {
    justify-self: end;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
  }

  .columnEffective {
    display: grid;
    grid-template-columns: 50% 48%;
  }

  .valueEffective {
    justify-self: end;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
  }

  .columnBizum {
    display: grid;
    grid-template-columns: 50% 48%;
  }

  .valueBizum {
    justify-self: end;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
  }

  .columnCard {
    display: grid;
    grid-template-columns: 50% 48%;
  }

  .valueCard {
    justify-self: end;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
  }

  .columnTranfer {
    display: grid;
    grid-template-columns: 50% 48%;
  }

  .valueTranfer {
    justify-self: end;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
  }

  .columnTherapist {
    display: grid;
    grid-template-columns: 50% 48%;
  }

  .valueTherapist {
    justify-self: end;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
  }

  .columnManager {
    display: grid;
    grid-template-columns: 50% 48%;
  }

  .valueManager {
    justify-self: end;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
  }

  .columnOther {
    display: grid;
    grid-template-columns: 50% 48%;
  }

  .valueOther {
    justify-self: end;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
  }

  .totalLineCollections {
    width: 14.6rem;
    color: #8c52ff;
    margin: auto;
    border-width: initial;
    opacity: initial;
    margin-left: 0rem;
    margin-top: 0.5rem;
  }
}

@media only screen and (min-device-width: 1801px) and (max-device-width: 2000px) {
  .newService {
    margin-left: 0.5rem;
  }

  .refreshPage {
    margin-left: 1.2em;
  }

  .textRefreshPage {
    margin-top: -12%;
  }

  .disponible {
    background: green;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
    margin-top: 32%;
    margin-left: 0;
  }

  .disponible2 {
    background: green;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
    margin-top: 32%;
    margin-left: 0;
  }

  .ocupado {
    background: red;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
    margin-top: 32%;
    margin-left: 0;
  }

  .columnIcon {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: center;
    justify-items: center;
  }

  .newServiceCircle {
    width: 4rem;
  }

  .circleRefreshPage {
    width: 4rem;
  }

  .adjustTable {
    margin-top: 2rem;
  }

  .columnTable {
    display: grid;
    grid-template-columns: 2% 25% 22% 16% 28%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    justify-content: center;
    text-align-last: center;
    margin-left: 2.3rem;
  }

  .availableColumn {
    margin-right: auto;
    width: 85%;
  }

  .therapist {
    line-height: 1.5rem;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    word-wrap: break-word;
    text-align-last: left;
    margin-left: 1rem;
  }

  .exit {
    line-height: 1rem;
    text-align: left;
    font-family: sans-serif;
    font-size: 18px;
    word-wrap: break-word;
    text-align-last: left;
    margin-left: 1rem;
  }

  .endTime {
    line-height: 1rem;
    text-align: left;
    font-family: sans-serif;
    font-size: 18px;
    word-wrap: break-word;
    text-align-last: left;
    margin-left: 1rem;
  }

  .columnArrows {
    display: grid;
    grid-template-columns: 7% 15% 7%;
    margin-top: 2.9rem;
    margin-bottom: 3rem;
    justify-content: center;
    text-align-last: center;
    margin-left: 0rem;
  }

  .date {
    justify-self: center;
    margin-top: 0.4rem;
  }

  .column {
    display: grid;
    grid-template-columns: 44.1% 42.4%;
    justify-items: center;
    margin-top: -3rem;
    margin-left: 7.5rem;
  }

  .columnService {
    margin-right: auto;
    width: 85%;
  }

  .collectionsColumn {
    width: 85%;
  }

  .serviceLine {
    width: 17.5rem;
    color: #8c52ff;
    margin: auto;
    border-width: initial;
    opacity: initial;
    margin-left: 0rem;
    margin-top: 0.5rem;
  }

  .columnTreatment {
    display: grid;
    grid-template-columns: 45% 45%;
    margin-top: 0.6rem;
  }

  .treatmentValue {
    justify-self: end;
  }

  .columnDrink {
    display: grid;
    grid-template-columns: 45% 45%;
  }

  .drinkValue {
    justify-self: end;
  }

  .columnTobacco {
    display: grid;
     grid-template-columns: 45% 45%;
  }

  .tobaccoValue {
    justify-self: end;
  }

  .columnVitamin {
    display: grid;
     grid-template-columns: 45% 45%;
  }

  .vitaminValue {
    justify-self: end;
  }

  .columnTip {
    display: grid;
     grid-template-columns: 45% 45%;
  }

  .tipValue {
    justify-self: end;
  }

  .columnOthers {
    display: grid;
     grid-template-columns: 45% 45%;
  }

  .valueOthers {
    justify-self: end;
  }

  .totalLine {
    width: 17.5rem;
    color: #8c52ff;
    margin: auto;
    border-width: initial;
    opacity: initial;
    margin-left: 0rem;
  }

  .columnTotal {
    display: grid;
    grid-template-columns: 45% 45%;
  }

  .valueTotal {
    justify-self: end;
  }

  .collectionsLine {
    width: 18.2rem;
    color: #8c52ff;
    margin: auto;
    border-width: initial;
    opacity: initial;
    margin-left: 0rem;
    margin-top: 0.5rem;
  }

  .floorColumn {
    display: grid;
    grid-template-columns: 50% 48%;
    margin-top: 0.6rem;
  }

  .valueFloor {
    justify-self: end;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
  }

  .columnEffective {
    display: grid;
    grid-template-columns: 50% 48%;
  }

  .valueEffective {
    justify-self: end;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
  }

  .columnBizum {
    display: grid;
    grid-template-columns: 50% 48%;
  }

  .valueBizum {
    justify-self: end;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
  }

  .columnCard {
    display: grid;
    grid-template-columns: 50% 48%;
  }

  .valueCard {
    justify-self: end;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
  }

  .columnTranfer {
    display: grid;
    grid-template-columns: 50% 48%;
  }

  .valueTranfer {
    justify-self: end;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
  }

  .columnTherapist {
    display: grid;
    grid-template-columns: 50% 48%;
  }

  .valueTherapist {
    justify-self: end;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
  }

  .columnManager {
    display: grid;
    grid-template-columns: 50% 48%;
  }

  .valueManager {
    justify-self: end;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
  }

  .columnOther {
    display: grid;
    grid-template-columns: 50% 48%;
  }

  .valueOther {
    justify-self: end;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
  }

  .totalLineCollections {
    width: 18.2rem;
    color: #8c52ff;
    margin: auto;
    border-width: initial;
    opacity: initial;
    margin-left: 0rem;
    margin-top: 0.5rem;
  }
}