<div class="contenido">
  <div class="row text-center">
    <div class="col-6">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus-circle text-primary circleIzquierda"
        viewBox="0 0 16 16" style="cursor: pointer;"
        routerLink="/menu/{{ idUser['id'] }}/nuevo-servicio/{{idUser['id']}}">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        <path
          d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
      </svg>
      <div>
        Nuevo servicio
      </div>
    </div>
    <div class="col-6">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-repeat text-primary circleDerecha"
        viewBox="0 0 16 16" onclick="location.reload()" style="cursor: pointer;">
        <path
          d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z" />
        <path fill-rule="evenodd"
          d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z" />
      </svg>
      <div>
        Refrescar Pagina
      </div>
    </div>
  </div>

  <div class="padre">
    <div class="hijo">
      <table class="table">
        <thead>
          <tr class="table-secondary">
            <th scope="col" style="width: 0%;"></th>
            <th scope="col" style="width: 0%;">Terapeuta</th>
            <th scope="col" style="width: 0%;">Salida</th>
            <th scope="col" style="width: 0%;">Fin</th>
            <th scope="col" style="width: 0%;">Restante</th>
          </tr>
        </thead>
        <tbody *ngFor="let vis of terapeutas">
          <tr>
            <td
              [ngClass]="{'ocupado':calculardiferencia(vis.horaEnd, vis.nombre, vis.fechaEnd) !== '' , 'disponible':calculardiferencia(vis.horaEnd, vis.nombre, vis.fechaEnd) === '', 'disponible2':calculardiferencia(vis.horaEnd, vis.nombre, vis.fechaEnd) === '00:00'}">
            </td>
            <td>{{vis.nombre}}</td>
            <td [ngClass]="{'disponibleEncargada':calculardiferencia(vis.horaEnd, vis.nombre, vis.fechaEnd) === ''}">
              {{vis.salida}}</td>
            <td [ngClass]="{'disponibleEncargada':calculardiferencia(vis.horaEnd, vis.nombre, vis.fechaEnd) === ''}">
              {{vis.horaEnd}}</td>
            <td>{{calculardiferencia(vis.horaEnd, vis.nombre, vis.fechaEnd)}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="fechas" style="display: grid; place-items: center;">
    <div class="totalHoy">
      <div class="row flechaFecha">
        <div class="col-4 btnRight">
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" (click)="atras()"
            class="bi bi-arrow-left-circle text-primary" viewBox="0 0 16 16" style="cursor: pointer;">
            <path fill-rule="evenodd"
              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
          </svg>
        </div>
        <div class="col-4">
          <label>{{fechaHoyActual}}</label>
        </div>
        <div class="col-4 btnLeft">
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" (click)="siguiente()"
            class="bi bi-arrow-right-circle text-primary" viewBox="0 0 16 16" style="cursor: pointer;">
            <path fill-rule="evenodd"
              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
          </svg>
        </div>
      </div>
    </div>
  </div>

  <div class="columnTable">
    <div class="row text-center tableTotales">

      <div class="col-6 columnCol">

        <label class="textServicios">Servicios</label>
        <hr class="lineaHoy">
        <div class="colmnIzquierda">
          <div class="row">
            <div class="col-9">
              <label>Tratamientos</label>
            </div>
            <div class="col-3" style="margin-left: auto;">
              <p>{{totalServicio}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-9">
              <label>Bebidas</label>
            </div>
            <div class="col-3" style="margin-left: auto;">
              <p>{{totalBebida}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-9">
              <label>Tabaco</label>
            </div>
            <div class="col-3" style="margin-left: auto;">
              <p>{{totalTabaco}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-9">
              <label>Vitaminas</label>
            </div>
            <div class="col-3" style="margin-left: auto;">
              <p>{{totalVitamina}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-9">
              <label>Propina</label>
            </div>
            <div class="col-3" style="margin-left: auto;">
              <p>{{totalPropina}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-9">
              <label>Otros</label>
            </div>
            <div class="col-3" style="margin-left: auto;">
              <p>{{totalOtros}}</p>
            </div>
          </div>

          <hr class="lineaHoy">
          <div class="row">
            <div class="col-9">
              <label style="font-weight: bold;">TOTAL</label>
            </div>
            <div class="col-3" style="margin-left: auto;">
              <p style="font-weight: bold;">{{totalVision}}</p>
            </div>
          </div>
        </div>

      </div>

      <div class="col-6 columnColPago">
        <label class="textServicios">Cobros</label>
        <hr class="lineaHoyFormaPago">

        <div class="row">
          <div class="col-9">
            <label>Piso</label>
          </div>
          <div class="col-3" style="margin-left: auto;">
            <p>{{totalPisos}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-9">
            <label>Efectivo</label>
          </div>
          <div class="col-3" style="margin-left: auto;">
            <p>{{totalEfectivo}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-9">
            <label>Bizum</label>
          </div>
          <div class="col-3" style="margin-left: auto;">
            <p>{{totalBizum}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-9">
            <label>Tarjeta</label>
          </div>
          <div class="col-3" style="margin-left: auto;">
            <p>{{totalTarjeta}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-9">
            <label>Transferencia</label>
          </div>
          <div class="col-3" style="margin-left: auto;">
            <p>{{totalTrasnf}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-9">
            <label>Terapeuta</label>
          </div>
          <div class="col-3" style="margin-left: auto;">
            <p>{{totalTerap}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-9">
            <label>Encargada</label>
          </div>
          <div class="col-3" style="margin-left: auto;">
            <p>{{totalEncarg}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-9">
            <label>Otros</label>
          </div>
          <div class="col-3" style="margin-left: auto;">
            <p>{{totalOtro}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>