body {
  overflow-x: hidden;
}

table {
  width: 100%;
}

.table-secondary {
  --bs-table-bg: cornflowerblue;
}

.nota {
  background: blue;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: block;
  margin-top: 20%;
  margin-left: 20%;
}

.disponible {
  background: green;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: block;
  margin-top: 20%;
  margin-left: 20%;
}

.disponible2 {
  background: green;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: block;
  margin-top: 20%;
  margin-left: 20%;
}

.disponibleEncargada {
  display: none;
}

.ocupado {
  background: red;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: block;
  margin-top: 20%;
  margin-left: 20%;
}

@media only screen and (min-device-width: 270px) and (max-device-width: 1030px) {

  .padre {
    display: grid;
  }

  .hijo {
    width: auto;
    margin-bottom: 8%;
  }

  hr {
    display: grid;
    margin: auto;
    border-width: initial;
    color: blue;
    margin-top: 2%;
    margin-bottom: -7%;
    width: 87%;
  }

  .linea {
    display: grid;
    margin: auto;
    border-width: initial;
    color: blue;
    margin-top: -5%;
    margin-bottom: 7%;
    width: 87%;
  }

  .lineaHoy {
    display: grid;
    margin: auto;
    border-width: initial;
    color: blue;
    margin-top: 4%;
    margin-bottom: 5%;
    width: 90%;
  }

  .lineaHoyFormaPago {
    display: grid;
    margin: auto;
    border-width: initial;
    color: blue;
    margin-top: 4%;
    margin-bottom: 3%;
    width: 90%;
  }

  .btnLeft {
    display: grid;
    justify-content: left;
  }

  .btnRight {
    display: grid;
    justify-content: right;
  }
}

@media only screen and (min-device-width: 1131px) and (max-device-width: 2000px) {
  .totalHoy {
    display: grid;
  }

  .padre {
    display: grid;
    place-items: center;
  }

  .hijo {
    text-align: center;
    width: max-content;
    margin-bottom: 3%;
  }

  hr {
    display: grid;
    margin: auto;
    border-width: initial;
    color: blue;
    margin-top: 2%;
    margin-bottom: -2%;
    width: 87%;
  }

  .linea {
    display: grid;
    margin: auto;
    border-width: initial;
    color: blue;
    margin-top: -2%;
    margin-bottom: 3%;
    width: 87%;
  }

  .lineaHoy {
    display: grid;
    margin: auto;
    border-width: initial;
    color: blue;
    margin-top: 4%;
    margin-bottom: 5%;
    width: 74%;
  }

  .lineaHoyFormaPago {
    display: grid;
    margin: auto;
    border-width: initial;
    color: blue;
    margin-top: 0%;
    margin-bottom: 3%;
    width: 74%;
  }

  .btnLeft {
    display: grid;
    justify-content: left;
  }

  .btnRight {
    display: grid;
    justify-content: right;
  }
}