<div class="content">
  <mat-toolbar>
    <h4> TOTAL HOY 360 € </h4>
  </mat-toolbar>
</div>

<div class="page-content" style="height: calc(100vh - 149px)">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nota</th>
        <th scope="col">Terap.</th>
        <th scope="col">Encarg.</th>
        <th scope="col">Hora</th>
        <th scope="col">Tiempo</th>
        <th scope="col">Servicio</th>
        <th scope="col">Salida</th>
      </tr>
    </thead>
    <tbody *ngFor="let serv of vision | paginate: { itemsPerPage: 5, currentPage: page }">
      <tr>
        <td>{{serv.nota}}</td>
        <td>{{serv.terapeuta}}</td>
        <td>{{serv.encargada}}</td>
        <td>{{serv.hora}}</td>
        <td>{{serv.minuto }}</td>
        <td>{{serv.minuto}}</td>
        <td>{{serv.nota}}</td>
      </tr>
    </tbody>
  </table>

  <pagination-controls style="float: right;" (pageChange)="page = $event" previousLabel="Anterior"
    nextLabel="Siguiente">
  </pagination-controls>
</div>



<!-- Ocupacion -->

<div class="content">
  <mat-toolbar>
    <h4> OCUPACIÓN </h4>
  </mat-toolbar>
</div>