<script src="components/sweetalert/dist/sweetalert.min.js"></script>

<form *ngIf="liqEncarg" [formGroup]="formTemplate">

    <div class="text-center mt-4 mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" style="cursor: pointer;"
            class="bi bi-plus-circle text-primary" viewBox="0 0 16 16" (click)="addLiquidacion()">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg>
        <div>
            <label> Nueva liquidación </label>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-6">
                <label style="display: contents;">Encargada</label>
                <select class="form-select" formControlName="encargada" [(ngModel)]="selectedEncargada"
                    (ngModelChange)="filtro()">
                    <option selected value="">Selecciona</option>
                    <option *ngFor="let encarg of encargada" [value]="encarg.nombre">{{encarg.nombre}}
                    </option>
                </select>
            </div>

            <div class="col-6 acomodarInput">
                <input type="text" class="form-control input-sm" formControlName="busqueda" style="font-size: 14px;"
                    (ngModelChange)="filtro()">
            </div>

            <div class="col-6" style="margin-top: 2%;">
                <input type="date" class="form-control" formControlName="fechaInicio" (ngModelChange)="filtro()">
            </div>


            <div class="col-6" style="margin-top: 2%;">
                <input type="date" class="form-control" formControlName="FechaFin" (ngModelChange)="filtro()">
            </div>
        </div>
    </div>
</form>

<div *ngIf="liqEncarg" class="container" style="margin-top: 3%; text-align: -webkit-center;">
    <table class="table">
        <thead>
            <tr class="table-secondary quitarBordes" style="line-height: 0%; letter-spacing: normal; outline: outset;">
                <!-- 1 -->
                <th scope="col" class="quitarBordeTable">Encargada</th>
                <!-- 2 -->
                <th scope="col" class="quitarBordeTable">Desde</th>
                <!-- 3 -->
                <th scope="col" class="quitarBordeTable">Hasta</th>
                <!-- 4 -->
                <th scope="col" class="quitarBordeTable">Tratamiento</th>
                <!-- 5 -->
                <th scope="col">Importe</th>
            </tr>
        </thead>
        <tbody *ngFor="let liqEncarg of (liquidacionesEncargada | encargada: selectedEncargada
        | fechaFinalEncargada: fechaInicio:fechaFinal | busquedaEncargada: filtredBusqueda:filtredBusquedaNumber) |
        paginate: { itemsPerPage: 10, currentPage: page }" (click)="editamosServicio(liqEncarg.idEncargada)">
            <tr style="cursor: pointer">
                <!-- 1 -->
                <td class="quitarBordes" style="text-align: left;">{{liqEncarg.encargada}}</td>
                <!-- 2 -->
                <td class="quitarBordes" style="text-align: left;">{{liqEncarg.desdeFechaLiquidado + ' - ' +
                    liqEncarg.desdeHoraLiquidado}}</td>
                <!-- 3 -->
                <td class="quitarBordes" style="text-align: left;">{{liqEncarg.hastaFechaLiquidado + ' - ' +
                    liqEncarg.hastaHoraLiquidado}}</td>
                <!-- 4 -->
                <td class="quitarBordes" style="text-align: right;">{{liqEncarg.tratamiento}}</td>
                <!-- 5 -->
                <td class="quitarBordes" style="text-align: right;">{{liqEncarg.importe}}</td>
            </tr>

            <!-- Modal -->
            <ng-template class="custom-modal" #modalTabl let-modal>
                <div class="modal-header">
                    <h5 class="modal-title"> Nota </h5>
                    <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body" style="text-align: center;">
                    <!-- Aqui se coloca lo adentro -->

                    <h4>{{liqEncarg.nota}}</h4>

                    <!-- Afuera -->
                </div>
            </ng-template>
            <!-- Fin Modal -->

        </tbody>
    </table>

    <h5 class="noHayCierre" *ngIf="liquidacionesEncargada?.length == 0"> Actualmente no hay Liquidación para Encargadas
    </h5>

    <pagination-controls style="float: right;" (pageChange)="page = $event" previousLabel="Anterior"
        nextLabel="Siguiente">
    </pagination-controls>
</div>

<!-- Agregar Encargada -->
<div *ngIf="addEncarg">

    <label style="display: grid; text-align: center; margin-bottom: 5%; font-size: x-large;">NUEVA LIQUIDACIÓN DE
        UNA ENCARGADA </label>

    <form [formGroup]="formTemplate">

        <div class="container">
            <div class="row inputEncargada">

                <div class="col-6">
                    <label style="display: contents;">Encargada</label>
                    <select class="form-select" formControlName="encargada" [(ngModel)]="selectedEncargada"
                        (ngModelChange)="calcularSumaDeServicios()">
                        <option selected value="">Selecciona</option>
                        <option *ngFor="let encarg of encargada" [value]="encarg.nombre">{{encarg.nombre}}
                        </option>
                    </select>
                </div>
            </div>

            <div *ngIf="selected" class="row" style="margin-top: 4%;">
                <div class="col-9">
                    <label style="font-weight: bold; font-size: larger;">Liquidación de Encargada
                        {{selectedEncargada}}</label>
                </div>

                <div class="col-3">
                    <label style="float: right; font-weight: bold;">{{totalComision + ' €'}}</label>
                </div>
            </div>

            <hr class="lineaHoy" *ngIf="selected">

            <div class="col-auto" *ngIf="mostrarFecha" style="display: contents">
                <label style="float: left;">{{fechaAsc + ' - ' + fechaDesc}}</label>
            </div>

            <div *ngIf="selected" style="display: grid; place-items: center;" class="classTable">
                <div style="text-align: center; width: max-content;">
                    <table class="table">
                        <thead>
                            <tr class="table-secondary quitarBordes"
                                style="line-height: 0%; letter-spacing: normal; outline: outset;">
                                <!-- 1 -->
                                <th scope="col" class="quitarBordeTable">Nota</th>
                                <!-- 2 -->
                                <th scope="col" class="quitarBordeTable">Fecha</th>
                                <!-- 3 -->
                                <th scope="col" class="quitarBordeTable">Salida</th>
                                <!-- 4 -->
                                <th scope="col" class="quitarBordeTable">Terapeuta</th>
                                <!-- 5 -->
                                <th scope="col" class="quitarBordeTable">Hora</th>
                                <!-- 6 -->
                                <th scope="col" class="quitarBordeTable">Tratamiento</th>
                                <!-- 7 -->
                                <th scope="col" class="quitarBordeTable">Propina</th>
                                <!-- 8 -->
                                <th scope="col" class="quitarBordeTable">Pago</th>
                                <!-- 9 -->
                                <th scope="col" class="quitarBordeTable">€ a Encarg</th>
                                <!-- 10 -->
                                <th scope="col" class="quitarBordeTable">Bebida</th>
                                <!-- 11 -->
                                <th scope="col" class="quitarBordeTable">Tabaco</th>
                                <!-- 12 -->
                                <th scope="col" class="quitarBordeTable">Vitamina</th>
                                <!-- 13 -->
                                <th scope="col" class="quitarBordeTable">Otros</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let serv of (servicioNoLiquidadaEncargada | encargada: selectedEncargada) |
                        paginate: { itemsPerPage: 10, currentPage: page }">
                            <tr style="cursor: pointer">
                                <!-- 1 -->
                                <td class="quitarBordes" [ngClass]="{'color2':serv.nota !== ''}"
                                    (click)="notas(serv.id, modalTabl)">
                                </td>
                                <!-- 2 -->
                                <td (click)="editamos(serv.id)" class="quitarBordes" style="text-align: left;">
                                    {{serv.fecha}}</td>
                                <!-- 3 -->
                                <td (click)="editamos(serv.id)" class="quitarBordes" style="text-align: left;">
                                    {{serv.terapeuta}}</td>
                                <!-- 4 -->
                                <td (click)="editamos(serv.id)" class="quitarBordes" style="text-align: left;">
                                    {{serv.salida}}</td>
                                <!-- 5 -->
                                <td (click)="editamos(serv.id)" class="quitarBordes" style="text-align: left;">
                                    {{serv.horaStart}}</td>
                                <!-- 6 -->
                                <td (click)="editamos(serv.id)" class="quitarBordes" style="text-align: right;">
                                    {{serv.servicio}}</td>
                                <!-- 7 -->
                                <td (click)="editamos(serv.id)" class="quitarBordes" style="text-align: right;">
                                    {{serv.propina}}</td>
                                <!-- 8 -->
                                <td (click)="editamos(serv.id)" class="quitarBordes" style="text-align: left;">
                                    {{serv.formaPago}}</td>
                                <!-- 9 -->
                                <td (click)="editamos(serv.id)" class="quitarBordes" style="text-align: right;">
                                    {{serv.numberEncarg}}</td>
                                <!-- 10 -->
                                <td (click)="editamos(serv.id)" class="quitarBordes" style="text-align: right;">
                                    {{serv.bebidas}}</td>
                                <!-- 11 -->
                                <td (click)="editamos(serv.id)" class="quitarBordes" style="text-align: right;">
                                    {{serv.tabaco}}</td>
                                <!-- 12 -->
                                <td (click)="editamos(serv.id)" class="quitarBordes" style="text-align: right;">
                                    {{serv.vitaminas}}</td>
                                <!-- 13 -->
                                <td (click)="editamos(serv.id)" class="quitarBordes" style="text-align: right;">
                                    {{serv.otros}}</td>
                            </tr>

                            <!-- Modal -->
                            <ng-template class="custom-modal" #modalTabl let-modal>
                                <div class="modal-header">
                                    <h5 class="modal-title"> Nota </h5>
                                    <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body" style="text-align: center;">
                                    <!-- Aqui se coloca lo adentro -->

                                    <h4>{{serv.nota}}</h4>

                                    <!-- Afuera -->
                                </div>
                            </ng-template>

                            <!-- Fin Modal -->

                        </tbody>

                        <tr>
                            <!-- 1 -->
                            <td></td>
                            <!-- 2 -->
                            <td></td>
                            <!-- 3 -->
                            <td></td>
                            <!-- 4 -->
                            <td></td>
                            <!-- 5 -->
                            <td></td>
                            <!-- 6 -->
                            <td style="font-weight: bold; text-align: right">{{totalServicio + ' €'}}
                            </td>
                            <!-- 7 -->
                            <td style="font-weight: bold; text-align: right">{{totalValorPropina + ' €'}}
                            </td>
                            <!-- 8 -->
                            <td style="font-weight: bold; text-align: right"></td>
                            <!-- 9 -->
                            <td style="font-weight: bold; text-align: right">{{totalValorEncargada + '
                                €'}}</td>
                            <!-- 10 -->
                            <td style="font-weight: bold; text-align: right">{{TotalValorBebida + ' €'}}
                            </td>
                            <!-- 11 -->
                            <td style="font-weight: bold; text-align: right">{{TotalValorTabaco + ' €'}}
                            </td>
                            <!-- 12 -->
                            <td style="font-weight: bold; text-align: right">{{totalValorVitaminas + '
                                €'}}</td>
                            <!-- 13 -->
                            <td style="font-weight: bold; text-align: right">{{totalValorOtroServ + '
                                €'}}</td>
                        </tr>
                    </table>

                    <pagination-controls style="float: right;" (pageChange)="page = $event" previousLabel="Anterior"
                        nextLabel="Siguiente">
                    </pagination-controls>
                </div>
            </div>
        </div>

        <!-- Table Sumatoria -->

        <div *ngIf="selected" style="display: grid; place-items: center; margin-top: 0%;">
            <div style="text-align: center; width: max-content;">
                <table class="table">
                    <thead>
                        <tr class="table-secondary quitarBordes4">
                            <th scope="col" class="bordes"></th>
                            <th scope="col" class="quitarBordeTable" style="outline: outset;">Suma</th>
                            <th scope="col" class="quitarBordeTable" style="outline: outset;">Comisión</th>
                            <th scope="col" class="quitarBordeTable" style="outline: outset;">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="quitarBordes2">Tratamiento</th>
                            <td class="quitarBordes2">{{totalServicio + ' €'}}</td>
                            <td class="quitarBordes2">{{encargadaName['servicio'] + ' %'}}</td>
                            <td class="quitarBordes2">{{comisionServicio + ' €'}}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="quitarBordes2">Propina</th>
                            <td class="quitarBordes2">{{totalValorPropina + ' €'}}</td>
                            <td class="quitarBordes2">{{encargadaName['propina'] + ' %'}}</td>
                            <td class="quitarBordes2">{{comisionPropina + ' €'}}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="quitarBordes2">Bebida</th>
                            <td class="quitarBordes2">{{TotalValorBebida + ' €'}}</td>
                            <td class="quitarBordes2">{{encargadaName['bebida'] + ' %'}}</td>
                            <td class="quitarBordes2">{{comisionBebida + ' €'}}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="quitarBordes2">Tabaco</th>
                            <td class="quitarBordes2">{{TotalValorTabaco + ' €'}}</td>
                            <td class="quitarBordes2">{{encargadaName['tabaco'] + ' %'}}</td>
                            <td class="quitarBordes2">{{comisionTabaco + ' €'}}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="quitarBordes2">Vitamina</th>
                            <td class="quitarBordes2">{{totalValorVitaminas + ' €'}}</td>
                            <td class="quitarBordes2">{{encargadaName['vitamina'] + ' %'}}</td>
                            <td class="quitarBordes2">{{comisionVitamina + ' €'}}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="quitarBordes2">Otros</th>
                            <td class="quitarBordes2">{{totalValorOtroServ + ' €'}}</td>
                            <td class="quitarBordes2">{{encargadaName['otros'] + ' %'}}</td>
                            <td class="quitarBordes2">{{comisionOtros + ' €'}}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="bordes"></th>
                            <td class="bordes"></td>
                            <td class="quitarBordes2">Suma</td>
                            <td class="quitarBordes2">{{sumaComision + ' €'}}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="bordes"></th>
                            <td class="bordes"></td>
                            <td class="quitarBordes2" style="border-bottom: solid;">Recibido</td>
                            <td class="quitarBordes2" style="border-bottom: solid;">{{recibidoTerap}}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="bordes"></th>
                            <td class="bordes"></td>
                            <td class="quitarBordes2">Total</td>
                            <td class="quitarBordes2">{{totalComision}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-6">
            <button *ngIf="selected && servicioNoLiquidadaEncargada.length > 0" mat-flat-button color="accent"
                style="display: grid; margin: auto;" (click)="guardar()">Guardar</button>
        </div>
        <div class="col-6">
            <button *ngIf="selected && servicioNoLiquidadaEncargada.length > 0" mat-flat-button color="primary"
                style="display: grid; margin: auto;" (click)="regresar()">Regresar</button>
        </div>
    </div>
</div>

<!-- Editar Encargada -->
<div *ngIf="editEncarg">

    <label style="display: grid; text-align: center; margin-bottom: 5%; font-size: x-large;">Visualizacion de la liquidación
        de {{datosLiquidadoEncargada[0]['encargada']}}
    </label>

    <div class="container">

        <div class="row" style="margin-top: 4%;">
            <div class="col-6">
                <label style="font-weight: bold; font-size: larger;">Liquidación de Terapeuta
                    {{selectedEncargada}}</label>
            </div>

            <div class="col-6">
                <label style="float: right; font-weight: bold;">{{totalComision + ' €'}}</label>
            </div>
        </div>

        <hr class="lineaHoy">

        <div class="col-auto" style="display: contents">
            <label style="float: left;">{{fechaAsc + ' : ' + horaAsc + ' - ' + fechaDesc + ' : ' +
                horaDesc}}</label>
        </div>

        <div style="display: grid; place-items: center;" class="classTable">
            <div style="text-align: center; width: max-content;">
                <table class="table">
                    <thead>
                        <tr class="table-secondary quitarBordes"
                            style="line-height: 0%; letter-spacing: normal; outline: outset;">
                            <!-- 1 -->
                            <th scope="col" class="quitarBordeTable">Nota</th>
                            <!-- 2 -->
                            <th scope="col" class="quitarBordeTable">Fecha</th>
                            <!-- 3 -->
                            <th scope="col" class="quitarBordeTable">Terapeuta</th>
                            <!-- 4 -->
                            <th scope="col" class="quitarBordeTable">Salida</th>
                            <!-- 5 -->
                            <th scope="col" class="quitarBordeTable">Hora</th>
                            <!-- 6 -->
                            <th scope="col" class="quitarBordeTable">Tratamiento</th>
                            <!-- 7 -->
                            <th scope="col" class="quitarBordeTable">Propina</th>
                            <!-- 8 -->
                            <th scope="col" class="quitarBordeTable">Pago</th>
                            <!-- 9 -->
                            <th scope="col" class="quitarBordeTable">€ a terap</th>
                            <!-- 10 -->
                            <th scope="col" class="quitarBordeTable">Bebida</th>
                            <!-- 11 -->
                            <th scope="col" class="quitarBordeTable">Tabaco</th>
                            <!-- 12 -->
                            <th scope="col" class="quitarBordeTable">Vitamina</th>
                            <!-- 13 -->
                            <th scope="col" class="quitarBordeTable">Otros</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let serv of (datosLiquidadoEncargada | encargada: selectedEncargada) | 
                    paginate: { itemsPerPage: 10, currentPage: page }">
                        <tr style="cursor: pointer;">
                            <!-- 1 -->
                            <td class="quitarBordes" [ngClass]="{'color2':serv.nota !== ''}"
                                (click)="notas(serv.id, modalTabl)">
                            </td>
                            <!-- 2 -->
                            <td (click)="editamos(serv.id)" class="quitarBordes" style="text-align: left;">
                                {{serv.fecha}}</td>
                            <!-- 3 -->
                            <td (click)="editamos(serv.id)" class="quitarBordes" style="text-align: left;">
                                {{serv.terapeuta}}</td>
                            <!-- 4 -->
                            <td (click)="editamos(serv.id)" class="quitarBordes" style="text-align: left;">
                                {{serv.salida}}</td>
                            <!-- 5 -->
                            <td (click)="editamos(serv.id)" class="quitarBordes" style="text-align: left;">{{serv.hora}}
                            </td>
                            <!-- 6 -->
                            <td (click)="editamos(serv.id)" class="quitarBordes" style="text-align: right;">
                                {{serv.servicio}}</td>
                            <!-- 7 -->
                            <td (click)="editamos(serv.id)" class="quitarBordes" style="text-align: right;">
                                {{serv.propina}}</td>
                            <!-- 8 -->
                            <td (click)="editamos(serv.id)" class="quitarBordes" style="text-align: left;">
                                {{serv.formaPago}}</td>
                            <!-- 9 -->
                            <td (click)="editamos(serv.id)" class="quitarBordes" style="text-align: right;">
                                {{serv.numberEncarg}}</td>
                            <!-- 10 -->
                            <td (click)="editamos(serv.id)" class="quitarBordes" style="text-align: right;">
                                {{serv.bebidas}}</td>
                            <!-- 11 -->
                            <td (click)="editamos(serv.id)" class="quitarBordes" style="text-align: right;">
                                {{serv.tabaco}}</td>
                            <!-- 12 -->
                            <td (click)="editamos(serv.id)" class="quitarBordes" style="text-align: right;">
                                {{serv.vitaminas}}</td>
                            <!-- 13 -->
                            <td (click)="editamos(serv.id)" class="quitarBordes" style="text-align: right;">
                                {{serv.otros}}</td>
                        </tr>

                        <!-- Modal -->
                        <ng-template class="custom-modal" #modalTabl let-modal>
                            <div class="modal-header">
                                <h5 class="modal-title"> Nota </h5>
                                <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body" style="text-align: center;">
                                <!-- Aqui se coloca lo adentro -->

                                <h4>{{serv.nota}}</h4>

                                <!-- Afuera -->
                            </div>
                        </ng-template>

                        <!-- Fin Modal -->

                    </tbody>

                    <tr>
                        <!-- 1 -->
                        <td></td>
                        <!-- 2 -->
                        <td></td>
                        <!-- 3 -->
                        <td></td>
                        <!-- 4 -->
                        <td></td>
                        <!-- 5 -->
                        <td style="font-weight: bold; text-align: right">{{totalServicio + ' €'}}</td>
                        <!-- 6 -->
                        <td style="font-weight: bold; text-align: right">{{totalValorPropina + ' €'}}</td>
                        <!-- 7 -->
                        <td></td>
                        <!-- 8 -->
                        <td style="font-weight: bold; text-align: right">{{totalValorEncargada + ' €'}}</td>
                        <!-- 9 -->
                        <td style="font-weight: bold; text-align: right">{{TotalValorBebida + ' €'}}</td>
                        <!-- 10 -->
                        <td style="font-weight: bold; text-align: right">{{TotalValorTabaco + ' €'}}</td>
                        <!-- 11 -->
                        <td style="font-weight: bold; text-align: right">{{totalValorVitaminas + ' €'}}</td>
                        <!-- 12 -->
                        <td style="font-weight: bold; text-align: right">{{totalValorOtroServ + ' €'}}</td>
                    </tr>
                </table>

                <pagination-controls style="float: right;" (pageChange)="page = $event" previousLabel="Anterior"
                    nextLabel="Siguiente">
                </pagination-controls>
            </div>
        </div>
    </div>

    <!-- Table Sumatoria -->

    <div style="display: grid; place-items: center; margin-top: 0%;">
        <div style="text-align: center; width: max-content;">
            <table class="table">
                <thead>
                    <tr class="table-secondary quitarBordes4">
                        <th scope="col" class="bordes"></th>
                        <th scope="col" class="quitarBordeTable" style="outline: outset;">Suma</th>
                        <th scope="col" class="quitarBordeTable" style="outline: outset;">Comisión</th>
                        <th scope="col" class="quitarBordeTable" style="outline: outset;">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="quitarBordes2">Tratamiento</th>
                        <td class="quitarBordes2">{{totalServicio + ' €'}}</td>
                        <td class="quitarBordes2">{{encargadaName['servicio'] + ' %'}}</td>
                        <td class="quitarBordes2">{{comisionServicio + ' €'}}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="quitarBordes2">Propina</th>
                        <td class="quitarBordes2">{{totalValorPropina + ' €'}}</td>
                        <td class="quitarBordes2">{{encargadaName['propina'] + ' %'}}</td>
                        <td class="quitarBordes2">{{comisionPropina + ' €'}}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="quitarBordes2">Bebida</th>
                        <td class="quitarBordes2">{{TotalValorBebida + ' €'}}</td>
                        <td class="quitarBordes2">{{encargadaName['bebida'] + ' %'}}</td>
                        <td class="quitarBordes2">{{comisionBebida + ' €'}}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="quitarBordes2">Tabaco</th>
                        <td class="quitarBordes2">{{TotalValorTabaco + ' €'}}</td>
                        <td class="quitarBordes2">{{encargadaName['tabaco'] + ' %'}}</td>
                        <td class="quitarBordes2">{{comisionTabaco + ' €'}}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="quitarBordes2">Vitamina</th>
                        <td class="quitarBordes2">{{totalValorVitaminas + ' €'}}</td>
                        <td class="quitarBordes2">{{encargadaName['vitamina'] + ' %'}}</td>
                        <td class="quitarBordes2">{{comisionVitamina + ' €'}}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="quitarBordes2">Otros</th>
                        <td class="quitarBordes2">{{totalValorOtroServ + ' €'}}</td>
                        <td class="quitarBordes2">{{encargadaName['otros'] + ' %'}}</td>
                        <td class="quitarBordes2">{{comisionOtros + ' €'}}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="bordes"></th>
                        <td class="bordes"></td>
                        <td class="quitarBordes2">Suma</td>
                        <td class="quitarBordes2">{{sumaComision + ' €'}}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="bordes"></th>
                        <td class="bordes"></td>
                        <td class="quitarBordes2" style="border-bottom: solid;">Recibido</td>
                        <td class="quitarBordes2" style="border-bottom: solid;">{{recibidoTerap}}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="bordes"></th>
                        <td class="bordes"></td>
                        <td class="quitarBordes2">Total</td>
                        <td class="quitarBordes2">{{totalComision}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <button *ngIf="editEncarg" mat-raised-button style="display: grid; margin: auto;" (click)="regresar()"
        color="primary">Regresar</button>
</div>