.color2 {
  background: blue;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: block;
  margin-top: 10%;
  margin-left: 20%;
}

.inputEncargada {
  place-content: center;
}

.table-secondary {
  --bs-table-bg: transparent;
  background-color: transparent;
}

tr {
  line-height: 0%;
  font-size: 14px;
}

th {
  white-space: nowrap;
  font-size: 14px;
}

th,
td {
  font-size: 14px;
}

.quitarBordes {
  line-height: 100%;
}

.quitarBordesVacio {
  border-style: hidden;
}

.lbelTotal {
  border: hidden;
  font-weight: bold;
  color: red;
  border-color: black;
  padding: 14px 0px;
}

.bordeTotal {
  border: hidden;
  padding: 14px;
  text-align: right;
}

@media only screen and (min-device-width: 270px) and (max-device-width: 1020px) {
  .acomodarInput {
    margin-top: 2.5%;
  }

  .classTable {
    margin-top: 15%;
  }

  .noHayCierre {
    font-size: 14px;
    color: red;
    container-type: inline-size;
  }

  .lineaHoy {
    display: grid;
    margin: auto;
    border-width: initial;
    color: blue;
    margin-bottom: 0%;
    margin-top: -1%;
    width: 100%;
  }

  .tableEdtit {
    margin-top: -12%;
  }

  .columnImporte {
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .columnFechaDesde {
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .columnFechHasta {
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .columnEncargada {
    padding: 24px 12px 0px 0px;
    text-align: center;
    max-width: 28px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  .columnTratamiento {
    padding: 24px 12px 0px 0px;
    text-align: center;
    max-width: 32px;
    word-wrap: break-word;
    line-height: normal;
    border-bottom: 1px solid blue;
  }

  table {
    width: inherit;
  }

}

@media only screen and (min-device-width: 1023px) and (max-device-width: 2000px) {
  .acomodarInput {
    margin-top: 1%;
  }

  .classTable {
    margin-top: 8%;
  }

  .noHayCierre {
    text-align: center;
    font-size: x-large;
    color: red;
  }

  .lineaHoy {
    display: grid;
    margin: auto;
    border-width: initial;
    color: blue;
    margin-bottom: 0%;
    margin-top: -0.5%;
    width: 100%;
  }

  .tableEdtit {
    margin-top: 0%;
  }

  .formAgregar {
    overflow-x: hidden;
  }

  table {
    width: auto;
  }

  .columnImporte {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .columnFechaDesde {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .columnFechHasta {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .columnEncargada {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }

  .columnTratamiento {
    width: 80px;
    border-bottom: 1px solid blue;
    padding: 35px 0px 10px 6px;
    text-align: center;
  }
}