<script src="components/sweetalert/dist/sweetalert.min.js"></script>

<form *ngIf="liqEncarg" [formGroup]="formTemplate">

    <div class="text-center mt-4 mb-4">
        <button class="btnCircle" (click)="addLiquidacion()">+</button>
        <div>
            <label> Nueva liquidación </label>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <mat-form-field class="col-6">
                <mat-label>Encargada</mat-label>
                <mat-select formControlName="encargada" [(ngModel)]="selectedEncargada">
                    <mat-option *ngFor="let encarg of encargada" [value]="encarg.nombre">
                        {{encarg.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="col-6">
                <input type="date" class="form-control" (change)="dateStart($event)" formControlName="fechaInicio">
            </div>


            <div class="col-6">
                <input type="date" class="form-control" (change)="dateEnd($event)" formControlName="FechaFin">
            </div>

            <mat-form-field class="col-6">
                <mat-label>Buscar</mat-label>
                <input type="text" matInput (ngModelChange)="busqueda($event, $event)" formControlName="busqueda">
            </mat-form-field>
        </div>
    </div>
</form>

<div *ngIf="liqEncarg" class="container">
    <table class="table">
        <thead>
            <tr class="table-secondary">
                <!-- 1 -->
                <th scope="col">Encargada</th>
                <!-- 2 -->
                <th scope="col">Desde</th>
                <!-- 3 -->
                <th scope="col">Hasta</th>
                <!-- 4 -->
                <th scope="col">Tratamiento</th>
                <!-- 5 -->
                <th scope="col">Importe</th>
            </tr>
        </thead>
        <tbody *ngFor="let liqEncarg of (liquidacionesEncargada | encargada: selectedEncargada
        | fechaFinalEncargada: fechaInicio:fechaFinal | busquedaEncargada: filtredBusqueda:numberFiltro) |
        paginate: { itemsPerPage: 10, currentPage: page }" (click)="editamosServicio(liqEncarg.idEncargada)">
            <tr style="cursor: pointer;">
                <!-- 1 -->
                <td>{{liqEncarg.encargada}}</td>
                <!-- 2 -->
                <td>{{liqEncarg.desdeFechaLiquidado + ' - ' + liqEncarg.desdeHoraLiquidado}}</td>
                <!-- 3 -->
                <td>{{liqEncarg.hastaFechaLiquidado + ' - ' + liqEncarg.hastaHoraLiquidado}}</td>
                <!-- 4 -->
                <td>{{liqEncarg.tratamiento}}</td>
                <!-- 5 -->
                <td>{{liqEncarg.importe}}</td>
            </tr>

            <!-- Modal -->
            <ng-template class="custom-modal" #modalTabl let-modal>
                <div class="modal-header">
                    <h5 class="modal-title"> Nota </h5>
                    <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body" style="text-align: center;">
                    <!-- Aqui se coloca lo adentro -->

                    <h4>{{liqEncarg.nota}}</h4>

                    <!-- Afuera -->
                </div>
            </ng-template>
            <!-- Fin Modal -->

        </tbody>
    </table>

    <h5 class="noHayCierre" *ngIf="liquidacionesEncargada?.length == 0"> Actualmente no hay Liquidación para Encargadas
    </h5>

    <pagination-controls style="float: right;" (pageChange)="page = $event" previousLabel="Anterior"
        nextLabel="Siguiente">
    </pagination-controls>
</div>

<!-- Agregar Encargada -->
<div *ngIf="addEncarg">

    <h4 style="text-align: center; margin-bottom: 5%; font-family: cursive; font-size: x-large;">NUEVA LIQUIDACIÓN DE
        UNA Encargada </h4>

    <form [formGroup]="formTemplate">

        <div class="container">
            <div class="row inputEncargada">

                <mat-form-field class="col-6">
                    <mat-label>Encargada</mat-label>
                    <mat-select formControlName="encargada" [(ngModel)]="selectedEncargada"
                        (ngModelChange)="calcularSumaDeServicios()">
                        <mat-option *ngFor="let encarg of encargada" [value]="encarg.nombre">
                            {{encarg.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div *ngIf="selected" class="row" style="margin-top: 4%;">
                <div class="col-9">
                    <mat-drawer-container class="example-container">
                        <mat-drawer-content style="font-weight: bold; font-size: larger;">Liquidación de Encargada
                            {{selectedEncargada}}</mat-drawer-content>
                    </mat-drawer-container>
                </div>

                <div class="col-3">
                    <mat-drawer-container style="float: right;">
                        <mat-drawer-content style="font-weight: bold;">{{totalComision + ' €'}}</mat-drawer-content>
                    </mat-drawer-container>
                </div>
            </div>

            <mat-divider *ngIf="selected"></mat-divider>

            <div class="col-auto" *ngIf="mostrarFecha">
                <mat-drawer-container style="float: left;">
                    <mat-drawer-content>{{fechaAsc + ' - ' + fechaDesc}}</mat-drawer-content>
                </mat-drawer-container>
            </div>

            <div *ngIf="selected" style="display: grid; place-items: center;" class="classTable">
                <div style="text-align: center; width: max-content;">
                    <table class="table">
                        <thead>
                            <tr class="table-secondary">
                                <!-- 1 -->
                                <th scope="col">Nota</th>
                                <!-- 2 -->
                                <th scope="col">Fecha</th>
                                <!-- 3 -->
                                <th scope="col">Salida</th>
                                <!-- 4 -->
                                <th scope="col">Terapeuta</th>
                                <!-- 5 -->
                                <th scope="col">Hora</th>
                                <!-- 6 -->
                                <th scope="col">Tratamiento</th>
                                <!-- 7 -->
                                <th scope="col">Propina</th>
                                <!-- 8 -->
                                <th scope="col">Pago</th>
                                <!-- 9 -->
                                <th scope="col">€ a Encarg</th>
                                <!-- 10 -->
                                <th scope="col">Bebida</th>
                                <!-- 11 -->
                                <th scope="col">Tabaco</th>
                                <!-- 12 -->
                                <th scope="col">Vitamina</th>
                                <!-- 13 -->
                                <th scope="col">Otros</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let serv of (servicioNoLiquidadaEncargada | encargada: selectedEncargada) |
                        paginate: { itemsPerPage: 10, currentPage: page }">
                            <tr style="cursor: pointer;">
                                <!-- 1 -->
                                <td [ngClass]="{'color2':serv.nota !== ''}" (click)="notas(serv.id, modalTabl)">
                                </td>
                                <!-- 2 -->
                                <td (click)="editamos(serv.id)">{{serv.fecha}}</td>
                                <!-- 3 -->
                                <td (click)="editamos(serv.id)">{{serv.terapeuta}}</td>
                                <!-- 4 -->
                                <td (click)="editamos(serv.id)">{{serv.salida}}</td>
                                <!-- 5 -->
                                <td (click)="editamos(serv.id)">{{serv.horaStart}}</td>
                                <!-- 6 -->
                                <td (click)="editamos(serv.id)">{{serv.servicio}}</td>
                                <!-- 7 -->
                                <td (click)="editamos(serv.id)">{{serv.propina}}</td>
                                <!-- 8 -->
                                <td (click)="editamos(serv.id)">{{serv.formaPago}}</td>
                                <!-- 9 -->
                                <td (click)="editamos(serv.id)">{{serv.numberEncarg}}</td>
                                <!-- 10 -->
                                <td (click)="editamos(serv.id)">{{serv.bebidas}}</td>
                                <!-- 11 -->
                                <td (click)="editamos(serv.id)">{{serv.tabaco}}</td>
                                <!-- 12 -->
                                <td (click)="editamos(serv.id)">{{serv.vitaminas}}</td>
                                <!-- 13 -->
                                <td (click)="editamos(serv.id)">{{serv.otros}}</td>
                            </tr>

                            <!-- Modal -->
                            <ng-template class="custom-modal" #modalTabl let-modal>
                                <div class="modal-header">
                                    <h5 class="modal-title"> Nota </h5>
                                    <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body" style="text-align: center;">
                                    <!-- Aqui se coloca lo adentro -->

                                    <h4>{{serv.nota}}</h4>

                                    <!-- Afuera -->
                                </div>
                            </ng-template>

                            <!-- Fin Modal -->

                        </tbody>

                        <tr>
                            <!-- 1 -->
                            <td scope="col"></td>
                            <!-- 2 -->
                            <td scope="col"></td>
                            <!-- 3 -->
                            <td scope="col"></td>
                            <!-- 4 -->
                            <td scope="col"></td>
                            <!-- 5 -->
                            <td scope="col"></td>
                            <!-- 6 -->
                            <td scope="col" style="font-weight: bold">{{totalServicio + ' €'}}</td>
                            <!-- 7 -->
                            <td scope="col" style="font-weight: bold">{{totalValorPropina + ' €'}}</td>
                            <!-- 8 -->
                            <td scope="col" style="font-weight: bold"></td>
                            <!-- 9 -->
                            <td scope="col" style="font-weight: bold">{{totalValorEncargada + ' €'}}</td>
                            <!-- 10 -->
                            <td scope="col" style="font-weight: bold">{{TotalValorBebida + ' €'}}</td>
                            <!-- 11 -->
                            <td scope="col" style="font-weight: bold">{{TotalValorTabaco + ' €'}}</td>
                            <!-- 12 -->
                            <td scope="col" style="font-weight: bold">{{totalValorVitaminas + ' €'}}</td>
                            <!-- 13 -->
                            <td scope="col" style="font-weight: bold">{{totalValorOtroServ + ' €'}}</td>
                        </tr>
                    </table>

                    <pagination-controls style="float: right;" (pageChange)="page = $event" previousLabel="Anterior"
                        nextLabel="Siguiente">
                    </pagination-controls>
                </div>
            </div>
        </div>

        <!-- Table Sumatoria -->

        <div *ngIf="selected" style="display: grid; place-items: center; margin-top: 0%;">
            <div style="text-align: center; width: max-content;">
                <table class="table">
                    <thead>
                        <tr class="table-secondary">
                            <th scope="col"></th>
                            <th scope="col">Suma</th>
                            <th scope="col">Comisión</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Tratamiento</th>
                            <td>{{totalServicio + ' €'}}</td>
                            <td>{{encargadaName['servicio'] + ' %'}}</td>
                            <td>{{comisionServicio + ' €'}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Propina</th>
                            <td>{{totalValorPropina + ' €'}}</td>
                            <td>{{encargadaName['propina'] + ' %'}}</td>
                            <td>{{comisionPropina + ' €'}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Bebida</th>
                            <td>{{TotalValorBebida + ' €'}}</td>
                            <td>{{encargadaName['bebida'] + ' %'}}</td>
                            <td>{{comisionBebida + ' €'}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Tabaco</th>
                            <td>{{TotalValorTabaco + ' €'}}</td>
                            <td>{{encargadaName['tabaco'] + ' %'}}</td>
                            <td>{{comisionTabaco + ' €'}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Vitamina</th>
                            <td>{{totalValorVitaminas + ' €'}}</td>
                            <td>{{encargadaName['vitamina'] + ' %'}}</td>
                            <td>{{comisionVitamina + ' €'}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Otros</th>
                            <td>{{totalValorOtroServ + ' €'}}</td>
                            <td>{{encargadaName['otros'] + ' %'}}</td>
                            <td>{{comisionOtros + ' €'}}</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td>Suma</td>
                            <td>{{sumaComision + ' €'}}</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td style="border-bottom: solid;">Recibido</td>
                            <td style="border-bottom: solid;">{{recibidoTerap}}</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td>Total</td>
                            <td>{{totalComision}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>

    <button *ngIf="selected && servicioNoLiquidadaEncargada.length > 0" mat-raised-button
        style="display: grid; margin: auto;" (click)="guardar()" color="primary">Guardar</button>
</div>

<!-- Editar Terapeuta -->
<div *ngIf="editEncarg">

    <h4 style="text-align: center; margin-bottom: 5%; font-family: cursive; font-size: x-large;">Editar liquidación
        Encargada {{datosLiquidadoEncargada[0]['encargada']}}
    </h4>

    <div class="container">

        <div class="row" style="margin-top: 4%;">
            <div class="col-6">
                <mat-drawer-container class="example-container">
                    <mat-drawer-content style="font-weight: bold; font-size: larger;">Liquidación de Terapeuta
                        {{selectedEncargada}}</mat-drawer-content>
                </mat-drawer-container>
            </div>

            <div class="col-6">
                <mat-drawer-container style="float: right;">
                    <mat-drawer-content style="font-weight: bold;">{{totalComision + ' €'}}</mat-drawer-content>
                </mat-drawer-container>
            </div>
        </div>

        <mat-divider></mat-divider>

        <div class="col-auto">
            <mat-drawer-container style="float: left;">
                <mat-drawer-content>{{fechaAsc + ' : ' + horaAsc + ' - ' + fechaDesc + ' : ' +
                    horaDesc}}</mat-drawer-content>
            </mat-drawer-container>
        </div>

        <div style="display: grid; place-items: center;" class="classTable">
            <div style="text-align: center; width: max-content;">
                <table class="table">
                    <thead>
                        <tr class="table-secondary">
                            <!-- 1 -->
                            <th scope="col">Nota</th>
                            <!-- 2 -->
                            <th scope="col">Fecha</th>
                            <!-- 3 -->
                            <th scope="col">Terapeuta</th>
                            <!-- 4 -->
                            <th scope="col">Salida</th>
                            <!-- 5 -->
                            <th scope="col">Hora</th>
                            <!-- 6 -->
                            <th scope="col">Tratamiento</th>
                            <!-- 7 -->
                            <th scope="col">Propina</th>
                            <!-- 8 -->
                            <th scope="col">Pago</th>
                            <!-- 9 -->
                            <th scope="col">€ a terap</th>
                            <!-- 10 -->
                            <th scope="col">Bebida</th>
                            <!-- 11 -->
                            <th scope="col">Tabaco</th>
                            <!-- 12 -->
                            <th scope="col">Vitamina</th>
                            <!-- 13 -->
                            <th scope="col">Otros</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let serv of (datosLiquidadoEncargada | encargada: selectedEncargada) | 
                    paginate: { itemsPerPage: 10, currentPage: page }">
                        <tr style="cursor: pointer;">
                            <!-- 1 -->
                            <td [ngClass]="{'color2':serv.nota !== ''}" (click)="notas(serv.id, modalTabl)">
                            </td>
                            <!-- 2 -->
                            <td (click)="editamos(serv.id)">{{serv.fecha}}</td>
                            <!-- 3 -->
                            <td (click)="editamos(serv.id)">{{serv.terapeuta}}</td>
                            <!-- 4 -->
                            <td (click)="editamos(serv.id)">{{serv.salida}}</td>
                            <!-- 5 -->
                            <td (click)="editamos(serv.id)">{{serv.hora}}</td>
                            <!-- 6 -->
                            <td (click)="editamos(serv.id)">{{serv.servicio}}</td>
                            <!-- 7 -->
                            <td (click)="editamos(serv.id)">{{serv.propina}}</td>
                            <!-- 8 -->
                            <td (click)="editamos(serv.id)">{{serv.formaPago}}</td>
                            <!-- 9 -->
                            <td (click)="editamos(serv.id)">{{serv.numberEncarg}}</td>
                            <!-- 10 -->
                            <td (click)="editamos(serv.id)">{{serv.bebidas}}</td>
                            <!-- 11 -->
                            <td (click)="editamos(serv.id)">{{serv.tabaco}}</td>
                            <!-- 12 -->
                            <td (click)="editamos(serv.id)">{{serv.vitaminas}}</td>
                            <!-- 13 -->
                            <td (click)="editamos(serv.id)">{{serv.otros}}</td>
                        </tr>

                        <!-- Modal -->
                        <ng-template class="custom-modal" #modalTabl let-modal>
                            <div class="modal-header">
                                <h5 class="modal-title"> Nota </h5>
                                <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body" style="text-align: center;">
                                <!-- Aqui se coloca lo adentro -->

                                <h4>{{serv.nota}}</h4>

                                <!-- Afuera -->
                            </div>
                        </ng-template>

                        <!-- Fin Modal -->

                    </tbody>

                    <tr>
                        <!-- 1 -->
                        <td scope="col"></td>
                        <!-- 2 -->
                        <td scope="col"></td>
                        <!-- 3 -->
                        <td scope="col"></td>
                        <!-- 4 -->
                        <td scope="col"></td>
                        <!-- 5 -->
                        <td scope="col" style="font-weight: bold">{{totalServicio + ' €'}}</td>
                        <!-- 6 -->
                        <td scope="col" style="font-weight: bold">{{totalValorPropina + ' €'}}</td>
                        <!-- 7 -->
                        <td scope="col"></td>
                        <!-- 8 -->
                        <td scope="col" style="font-weight: bold">{{totalValorEncargada + ' €'}}</td>
                        <!-- 9 -->
                        <td scope="col" style="font-weight: bold">{{TotalValorBebida + ' €'}}</td>
                        <!-- 10 -->
                        <td scope="col" style="font-weight: bold">{{TotalValorTabaco + ' €'}}</td>
                        <!-- 11 -->
                        <td scope="col" style="font-weight: bold">{{totalValorVitaminas + ' €'}}</td>
                        <!-- 12 -->
                        <td scope="col" style="font-weight: bold">{{totalValorOtroServ + ' €'}}</td>
                    </tr>
                </table>

                <pagination-controls style="float: right;" (pageChange)="page = $event" previousLabel="Anterior"
                    nextLabel="Siguiente">
                </pagination-controls>
            </div>
        </div>
    </div>

    <!-- Table Sumatoria -->

    <div style="display: grid; place-items: center; margin-top: 0%;">
        <div style="text-align: center; width: max-content;">
            <table class="table">
                <thead>
                    <tr class="table-secondary">
                        <th scope="col"></th>
                        <th scope="col">Suma</th>
                        <th scope="col">Comisión</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Tratamiento</th>
                        <td>{{totalServicio + ' €'}}</td>
                        <td>{{encargadaName['servicio'] + ' %'}}</td>
                        <td>{{comisionServicio + ' €'}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Propina</th>
                        <td>{{totalValorPropina + ' €'}}</td>
                        <td>{{encargadaName['propina'] + ' %'}}</td>
                        <td>{{comisionPropina + ' €'}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Bebida</th>
                        <td>{{TotalValorBebida + ' €'}}</td>
                        <td>{{encargadaName['bebida'] + ' %'}}</td>
                        <td>{{comisionBebida + ' €'}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Tabaco</th>
                        <td>{{TotalValorTabaco + ' €'}}</td>
                        <td>{{encargadaName['tabaco'] + ' %'}}</td>
                        <td>{{comisionTabaco + ' €'}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Vitamina</th>
                        <td>{{totalValorVitaminas + ' €'}}</td>
                        <td>{{encargadaName['vitamina'] + ' %'}}</td>
                        <td>{{comisionVitamina + ' €'}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Otros</th>
                        <td>{{totalValorOtroServ + ' €'}}</td>
                        <td>{{encargadaName['otros'] + ' %'}}</td>
                        <td>{{comisionOtros + ' €'}}</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td>Suma</td>
                        <td>{{sumaComision + ' €'}}</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td style="border-bottom: solid;">Recibido</td>
                        <td style="border-bottom: solid;">{{recibidoTerap}}</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td>Total</td>
                        <td>{{totalComision}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- <button *ngIf="editEncarg" mat-raised-button style="display: grid; margin: auto;" (click)="editarEncargada()"
        color="primary">Guardar</button> -->
</div>