.text {
  display: contents;
  color: #242424;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
}

.titles {
  margin-top: 1.5rem;
  font-size: 20px;
  margin-bottom: 0;
  color: #8C52FF;
  font-weight: bold;
  font-family: sans-serif;
}

.sumServices {
  margin-top: 1.5rem;
  font-size: 22px;
  margin-bottom: 0;
  color: #8C52FF;
  font-weight: bold;
  font-family: sans-serif;
  margin-left: 3rem;
}

@media only screen and (min-device-width: 270px) and (max-device-width: 398px) {

  body {
      overflow-x: hidden !important;
  }

  .title {
    display: grid;
    justify-content: center;
    font-size: 30px;
    color: #8C52FF;
    font-weight: bold;
    font-family: system-ui;
    margin-bottom: 1.5rem;
  }

  .timeline {
    width: 20rem;
    margin-top: 0.3rem;
    color: #8C52FF;
    margin-top: 0.3rem;
    margin: auto;
    border-width: initial;
  }

  .sumServices {
    margin-top: 1.5rem;
    font-size: 22px;
    margin-bottom: 0;
    color: #8C52FF;
    font-weight: bold;
    font-family: system-ui;
    margin-left: 3rem;
  }

  .serviceDescription {
    margin-left: 0.7rem;
  }

  .serviceLine {
    width: 20rem;
    color: #8C52FF;
    margin-top: 0.3rem;
    margin: auto;
    border-width: initial;
  }

  .lastServiceOrdered {
    margin-left: 11rem;
    margin-top: -1.7rem;
  }

  .btnGuardar {
    margin-bottom: 1.5rem;
  }

  .botones {
    margin-bottom: 4%
  }

  .btnIconos {
    margin-top: 10%;
  }

  .checkBox {
    margin-top: 40%;
    scale: 1.2;
  }

  .inputContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-right: auto;
    margin-top: 1rem;
  }

  .therapistContainer {
    width: auto;
    justify-self: center;
  }

  .containerInCharge {
    width: auto;
    justify-self: center;
  }

  .clientContainer {
    width: auto;
    justify-self: center;
    margin-top: 10%;
  }

  .datesContainer {
    display: grid;
    grid-template-columns: 42% 10% 31% 10%;
    margin-top: 1rem;
  }

  .dateContainer {
    width: auto;
    justify-self: center;
  }

  .dateIcon {
    text-align: center;
    place-self: center;
    margin-top: 1rem;
  }

  .containerStartTime {
    width: 6.5rem;
  }

  .startTimeIcon {
    text-align: center;
    place-self: center;
    margin-top: 1rem;
  }

  .datesContainer2 {
    display: grid;
    grid-template-columns: 40% 59%;
  }

  .containerDuration {
    width: auto;
    margin-top: 17%;
  }

  .EndTimeContainer {
    text-align: center;
    place-self: center;
    margin-top: 1.5rem;
  }

  .containerPlaceExit {
    width: auto;
    margin-top: 1rem;
  }

  .containerTitleService {
    display: grid;
    grid-template-columns: 40% 40%;
    margin-right: 9%;
  }

  .titleService {
    text-align: center;
    place-self: center;
    margin-left: 0.4rem;
  }

  .totalService {
    text-align: center;
    place-self: center;
    margin-top: 1.5rem;
    margin-left: 15rem;
  }

  .servicesContainer {
    display: grid;
    grid-template-columns: 35% 35% 23%;
    margin-top: 1rem;
  }

  .treatmentContainer {
    width: 5rem;
  }

  .beverageContainer {
    width: 5rem;
  }

  .tobaccoContainer {
    width: 5rem;
  }

  .vitaminColumn {
    width: 5rem;
    margin-top: 1.5rem;
  }

  .tipColumn {
    width: 5rem;
    margin-top: 1.5rem;
  }

  .columnOthers {
    width: 5rem;
    margin-top: 1.5rem;
  }

  .collectionContainer {
    display: grid;
    grid-template-columns: 16% 16% 19% 13%;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 4.7rem;
  }

  .collectionContainer2 {
    display: grid;
    grid-template-columns: 23.2% 19% 16% 20% 15%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  .collectionPiso1 {
    margin-top: 1rem;
  }

  .collectionPiso2 {
    margin-top: 1rem;
  }

  .collectionTherapist {
    margin-top: 1rem;
  }

  .collectionManager {
    margin-top: 1rem;
  }

  .collectionOther {
    margin-top: 1rem;
  }

  .checkBoxCash {
    margin-top: 0.5rem;
    margin-left: 1.4rem;
  }

  .checkBoxBizum {
    margin-top: 0.7rem;
    margin-left: 0.6rem;
  }

  .CheckBoxCard {
    text-align: center;
    margin-top: 0.4rem;
    margin-left: 0.3rem;
  }

  .checkBoxTransaction {
    margin-left: 0.6rem;
    margin-top: 0.8rem;
  }

  .notesContainer {
    display: grid;
    grid-template-columns: 93%;
    margin-top: 1rem;
    margin-left: -2rem;
    margin-bottom: 1.5rem;
  }

  .notes {
    margin-left: 1rem;
  }

  .inputButtonSave {
    display: grid;
    grid-template-columns: 26%;
    justify-content: center;
  }

  .inputButton {
    display: grid;
    grid-template-columns: 31% 33% 25%;
    margin-left: -1.7rem;
  }
}

@media only screen and (min-device-width: 400px) and (max-device-width: 1030px) {

  body {
    overflow-x: hidden;
  }

  .title {
    display: grid;
    justify-content: center;
    font-size: 30px;
    color: #8C52FF;
    font-weight: bold;
    font-family: system-ui;
    margin-bottom: 1.5rem;
  }

  .timeline {
    width: 20rem;
    margin-top: 0.3rem;
    color: #8C52FF;
    margin-top: 0.3rem;
    margin: auto;
    border-width: initial;
  }

  .sumServices {
    margin-top: 1.5rem;
    font-size: 22px;
    margin-bottom: 0;
    color: #8C52FF;
    font-weight: bold;
    font-family: system-ui;
    margin-left: 3rem;
  }

  .serviceDescription {
    margin-left: 0.7rem;
  }

  .serviceLine {
    width: 20rem;
    color: #8C52FF;
    margin-top: 0.3rem;
    margin: auto;
    border-width: initial;
  }

  .lastServiceOrdered {
    margin-left: 11rem;
    margin-top: -1.7rem;
  }

  .btnGuardar {
    margin-bottom: 1.5rem;
  }

  .botones {
    margin-bottom: 4%
  }

  .btnIconos {
    margin-top: 10%;
  }

  .checkBox {
    margin-top: 40%;
    scale: 1.2;
  }

  .inputContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-right: auto;
    margin-top: 1rem;
  }

  .therapistContainer {
    width: auto;
    justify-self: center;
  }

  .containerInCharge {
    width: auto;
    justify-self: center;
  }

  .clientContainer {
    width: auto;
    justify-self: center;
    margin-top: 1rem;
  }

  .datesContainer {
    display: grid;
    grid-template-columns: 42% 10% 29% 12%;
    margin-top: 1rem;
  }

  .dateContainer {
    width: auto;
    justify-self: center;
  }

  .dateIcon {
    text-align: center;
    place-self: center;
    margin-top: 1rem;
  }

  .containerStartTime {
    width: 6.5rem;
  }

  .startTimeIcon {
    text-align: center;
    place-self: center;
    margin-top: 1rem;
  }

  .datesContainer2 {
    display: grid;
    grid-template-columns: 40% 59%;
  }

  .containerDuration {
    width: auto;
    margin-top: 17%;
  }

  .EndTimeContainer {
    text-align: center;
    place-self: center;
    margin-top: 1.5rem;
  }

  .containerPlaceExit {
    width: auto;
    margin-top: 1rem;
  }

  .containerTitleService {
    display: grid;
    grid-template-columns: 40% 40%;
    margin-right: 9%;
  }

  .titleService {
    text-align: center;
    place-self: center;
    margin-left: 0.4rem;
  }

  .totalService {
    text-align: center;
    place-self: center;
    margin-top: 1.5rem;
    margin-left: 15rem;
  }

  .servicesContainer {
    display: grid;
    grid-template-columns: 36% 35.8% 22%;
    margin-top: 1rem;
  }

  .treatmentContainer {
    width: 5rem;
  }

  .beverageContainer {
    width: 5rem;
  }

  .tobaccoContainer {
    width: 5rem;
  }

  .vitaminColumn {
    width: 5rem;
    margin-top: 1.5rem;
  }

  .tipColumn {
    width: 5rem;
    margin-top: 1.5rem;
  }

  .columnOthers {
    width: 5rem;
    margin-top: 1.5rem;
  }

  .collectionContainer {
    display: grid;
    grid-template-columns: 15% 15% 18% 18%;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 7.5rem;
  }

  .collectionContainer2 {
    display: grid;
    grid-template-columns: 21.6% 22% 16% 20% 14%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  .collectionPiso1 {
    margin-top: 1rem;
  }

  .collectionPiso2 {
    margin-top: 1rem;
  }

  .collectionTherapist {
    margin-top: 1rem;
  }

  .collectionManager {
    margin-top: 1rem;
  }

  .collectionOther {
    margin-top: 1rem;
  }

  .checkBoxCash {
    margin-left: 2.5rem;
  }

  .checkBoxBizum {
    margin-top: 0.5rem;
    margin-left: 1rem;
  }

  .CheckBoxCard {
    text-align: center;
    margin-top: 0.1rem;
    margin-left: 0rem;
  }

  .checkBoxTransaction {
    margin-left: 0rem;
    margin-top: 0.6rem;
  }

  .notesContainer {
    display: grid;
    grid-template-columns: 91.7%;
    margin-top: 1rem;
    margin-left: -2rem;
    margin-bottom: 1.5rem;
  }

  .notes {
    margin-left: 1rem;
  }

  .inputButtonSave {
    display: grid;
    grid-template-columns: 26%;
    justify-content: center;
  }

  .inputButton {
    display: grid;
    grid-template-columns: 31% 33% 25%;
    margin-left: -1.9rem;
  }
}

@media only screen and (min-device-width: 1131px) and (max-device-width: 2000px) {

  .title {
    display: grid;
    justify-content: center;
    font-size: 45px;
    color: #8C52FF;
    font-weight: bold;
    font-family: system-ui;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  .sumServices {
    margin-top: 1.5rem;
    font-size: 22px;
    margin-bottom: 0;
    color: #8C52FF;
    font-weight: bold;
    font-family: system-ui;
    margin-left: 10rem;
  }

  .serviceDescription {
    margin-left: 0.7rem;
  }

  .timeline {
    width: 45rem;
    color: #8C52FF;
    margin-top: 0.3rem;
    margin: auto;
    border-width: initial;
  }

  .serviceLine {
    width: 45rem;
    color: #8C52FF;
    margin: auto;
    border-width: initial;
  }

  .lastServiceOrdered {
    margin-left: 27.8rem;
    margin-top: -2em;
  }

  .botones {
    margin-bottom: 4%
  }

  .btnIconos {
    margin-top: 2%;
  }

  .checkBox {
    margin-top: 11%;
    scale: 1.2;
  }

  .inputContainer {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
    margin-top: 1rem;
  }

  .therapistContainer {
    width: 100%;
    justify-self: center;
  }

  .containerInCharge {
    width: 100%;
    justify-self: center;
  }

  .clientContainer {
    width: 100%;
    justify-self: center;
  }

  .datesContainer {
    display: grid;
    grid-template-columns: 22% 24% 23% 3%;
    margin-left: 26%;
    margin-top: 1rem;
  }

  .dateContainer {
    width: 9.7rem;
  }

  .dateIcon {
    place-self: center;
    margin-top: 1rem;
  }

  .containerStartTime {
    width: 9.7rem;
  }

  .startTimeIcon {
    place-self: center;
    margin-top: 1rem;
  }

  .datesContainer2 {
    display: grid;
    grid-template-columns: 22% 50%;
    margin-left: 28%;
  }

  .containerDuration {
    width: 9.7rem;
    margin-top: 18%;
  }

  .EndTimeContainer {
    width: 100%;
    margin-left: 13rem;
    margin-top: 1.8rem;
  }

  .containerPlaceExit {
    width: 9.7rem;
    margin-top: 18%;
  }

  .containerTitleService {
    display: grid;
    grid-template-columns: 40% 40%;
    margin-right: 9%;
  }

  .titleService {
    margin-left: 2.4rem;
    margin-bottom: -1%;
  }

  .totalService {
    width: 100%;
    margin-top: 1.5rem;
    margin-left: 8rem;
  }

  .servicesContainer {
    display: grid;
    grid-template-columns: 26% 26% 24%;
    justify-content: center;
    margin-top: 1rem;
  }

  .treatmentContainer {
    width: 9.7rem;
  }

  .beverageContainer {
    width: 9.7rem;
  }

  .tobaccoContainer {
    width: 9.7rem;
  }

  .vitaminColumn {
    width: 9.7rem;
    margin-top: 18%;
  }

  .tipColumn {
    width: 9.7rem;
    margin-top: 18%;
  }

  .columnOthers {
    width: 9.7rem;
    margin-top: 18%;
  }

  .collectionContainer {
    display: grid;
    grid-template-columns: 14% 14% 14% 14%;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 13.8rem;
  }

  .collectionContainer2 {
    display: grid;
    grid-template-columns: 21.6% 14% 14% 14% 14%;
    margin-top: 1rem;
    margin-left: 10.8rem;
    margin-bottom: 1.5rem;
  }

  .collectionPiso1 {
    margin-top: 1rem;
  }

  .collectionPiso2 {
    margin-top: 1rem;
  }

  .collectionTherapist {
    margin-top: 1rem;
  }

  .collectionManager {
    margin-top: 1rem;
  }

  .collectionOther {
    margin-top: 1rem;
  }

  .checkBoxCash {
    text-align: center;
    margin-top: 1.4rem;
  }

  .checkBoxBizum {
    text-align: center;
    margin-top: 1.4rem;
  }

  .CheckBoxCard {
    text-align: center;
    margin-top: 1.4rem;
    margin-left: 0.5rem;
  }

  .checkBoxTransaction {
    text-align: center;
    margin-top: 1.4rem;
  }

  .notesContainer {
    display: grid;
    grid-template-columns: 73.7%;
    margin-top: 1rem;
    margin-left: 8.8rem;
    margin-bottom: 1.5rem;
  }

  .notes {
    margin-left: 1rem;
  }

  .inputButtonSave {
    display: grid;
    grid-template-columns: 15%;
    justify-content: center;
  }

  .inputButton {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    margin-left: 9rem;
  }
}