body {
  background-color: white;
}

.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
  border-width: thin;
}

.contenedorCargando {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hijoCargando {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
}

.cargando {
  position: relative;
  color: black;
  margin-top: 2em;
  letter-spacing: 0.08em;
  text-transform: uppercase
}

.rueda {
  border: 10px solid rgba(255, 255, 255, .3);
  border-radius: 50%;
  border-left-color: cornflowerblue;
  width: 80px;
  height: 80px;
  animation: giro 1s linear infinite;
}

@keyframes giro {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.text {
  display: contents;
  color: #737373;
  font-size: 18px;
  font-family: inherit;
}

.titles {
  margin-top: 1.5rem;
  font-size: 20px;
  margin-bottom: 0;
  color: #8C52FF;
  font-weight: bold;
  font-family: system-ui;
}

.sumServices {
  margin-top: 1.5rem;
  font-size: 22px;
  margin-bottom: 0;
  color: #8C52FF;
  font-weight: bold;
  font-family: system-ui;
  margin-left: 3rem;
}

@media only screen and (min-device-width: 270px) and (max-device-width: 1030px) {

  .title {
    display: grid;
    justify-content: center;
    font-size: 30px;
    color: #8C52FF;
    font-weight: bold;
    font-family: system-ui;
    margin-bottom: 1.5rem;
  }

  .timeline {
    width: 20rem;
    margin-top: 0.3rem;
    color: #8C52FF;
    margin-top: 0.3rem;
    margin: auto;
    border-width: initial;
  }

  .sumServices {
    margin-top: 1.5rem;
    font-size: 22px;
    margin-bottom: 0;
    color: #8C52FF;
    font-weight: bold;
    font-family: system-ui;
    margin-left: 3rem;
  }

  .serviceDescription {
    margin-left: 0.7rem;
  }

  .serviceLine {
    width: 20rem;
    color: #8C52FF;
    margin-top: 0.3rem;
    margin: auto;
    border-width: initial;
  }

  .lastServiceOrdered {
    margin-left: 11rem;
    margin-top: -1.7rem;
  }

  .btnGuardar {
    margin-top: 1rem;
    margin-bottom: 7%
  }

  .botones {
    margin-bottom: 4%
  }

  .btnIconos {
    margin-top: 10%;
  }

  .checkBox {
    margin-top: 40%;
    scale: 1.2;
  }

  .inputContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-right: auto;
    margin-top: 1rem;
  }

  .therapistContainer {
    width: auto;
    justify-self: center;
  }

  .containerInCharge {
    width: auto;
    justify-self: center;
  }

  .clientContainer {
    width: auto;
    justify-self: center;
    margin-top: 10%;
  }

  .datesContainer {
    display: grid;
    grid-template-columns: 41% 10% 41% 10%;
    margin-top: 1rem;
  }

  .dateContainer {
    width: auto;
    justify-self: center;
  }

  .dateIcon {
    text-align: center;
    place-self: center;
    margin-top: 1rem;
  }

  .containerStartTime {
    width: auto;
    justify-self: center;
  }

  .startTimeIcon {
    text-align: center;
    place-self: center;
    margin-top: 1rem;
  }

  .datesContainer2 {
    display: grid;
    grid-template-columns: 31% 30% 31%;
  }

  .containerDuration {
    width: auto;
    margin-top: 17%;
  }

  .EndTimeContainer {
    text-align: center;
    place-self: center;
    margin-top: 18%;
  }

  .containerPlaceExit {
    width: auto;
    margin-top: 13%;
  }

  .containerTitleService {
    display: grid;
    grid-template-columns: 40% 40%;
    margin-right: 9%;
  }

  .titleService {
    text-align: center;
    place-self: center;
    margin-left: 0.4rem;
  }

  .totalService {
    text-align: center;
    place-self: center;
    margin-top: 1.5rem;
    margin-left: 15rem;
  }

  .servicesContainer {
    display: grid;
    grid-template-columns: 31% 30% 31%;
    margin-top: 1rem;
  }

  .treatmentContainer {
    width: 5rem;
  }

  .beverageContainer {
    width: 5rem;
  }

  .tobaccoContainer {
    width: 5rem;
  }

  .vitaminColumn {
    width: 5rem;
    margin-top: 1.5rem;
  }

  .tipColumn {
    width: 5rem;
    margin-top: 1.5rem;
  }

  .columnOthers {
    width: 5rem;
    margin-top: 1.5rem;
  }
}

@media only screen and (min-device-width: 1131px) and (max-device-width: 2000px) {

  .title {
    display: grid;
    justify-content: center;
    font-size: 45px;
    color: #8C52FF;
    font-weight: bold;
    font-family: system-ui;
    margin-bottom: 2rem;
  }

  .sumServices {
    margin-top: 1.5rem;
    font-size: 22px;
    margin-bottom: 0;
    color: #8C52FF;
    font-weight: bold;
    font-family: system-ui;
    margin-left: 10rem;
  }

  .serviceDescription {
    margin-left: 0.7rem;
  }

  .timeline {
    width: 45rem;
    color: #8C52FF;
    margin-top: 0.3rem;
    margin: auto;
    border-width: initial;
  }

  .serviceLine {
    width: 45rem;
    color: #8C52FF;
    margin-top: 0.3rem;
    margin: auto;
    border-width: initial;
  }

  .lastServiceOrdered {
    margin-left: 27.8rem;
    margin-top: -2em;
  }

  .btnGuardar {
    margin-top: 1rem;
    margin-bottom: 2%
  }

  .botones {
    margin-bottom: 4%
  }

  .btnIconos {
    margin-top: 2%;
  }

  .checkBox {
    margin-top: 11%;
    scale: 1.2;
  }

  .inputContainer {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
    margin-top: 1rem;
  }

  .therapistContainer {
    width: 100%;
    justify-self: center;
  }

  .containerInCharge {
    width: 100%;
    justify-self: center;
  }

  .clientContainer {
    width: 100%;
    justify-self: center;
  }

  .datesContainer {
    display: grid;
    grid-template-columns: 22% 24% 23% 3%;
    margin-left: 26%;
    margin-top: 1rem;
  }

  .dateContainer {
    width: 9.7rem;
  }

  .dateIcon {
    place-self: center;
    margin-top: 1rem;
  }

  .containerStartTime {
    width: 9.7rem;
  }

  .startTimeIcon {
    place-self: center;
    margin-top: 1rem;
  }

  .datesContainer2 {
    display: grid;
    grid-template-columns: 22% 24% 22%;
    margin-left: 28%;
  }

  .containerDuration {
    width: 9.7rem;
    margin-top: 18%;
  }

  .EndTimeContainer {
    width: 100%;
    align-self: center;
    text-align-last: center;
    margin-top: 15.6%;
  }

  .containerPlaceExit {
    width: 9.7rem;
    margin-top: 18%;
  }

  .containerTitleService {
    display: grid;
    grid-template-columns: 40% 40%;
    margin-right: 9%;
  }

  .titleService {
    margin-left: 2.4rem;
  }

  .totalService {
    width: 100%;
    margin-top: 1.5rem;
    margin-left: 8rem;
  }

  .servicesContainer {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
    margin-top: 1rem;
  }

  .treatmentContainer {
    width: 9.7rem;
  }

  .beverageContainer {
    width: 9.7rem;
  }

  .tobaccoContainer {
    width: 9.7rem;
  }

  .vitaminColumn {
    width: 9.7rem;
    margin-top: 18%;
  }

  .tipColumn {
    width: 9.7rem;
    margin-top: 18%;
  }

  .columnOthers {
    width: 9.7rem;
    margin-top: 18%;
  }
}