<script src="components/sweetalert/dist/sweetalert.min.js"></script>

<div *ngIf="!editamos && addService">
    <h4 style="text-align: center; margin-bottom: 5%; font-size: xx-large;">Nuevo Servicio</h4>
    <div class="container">

        <div class="row inputSelect">

            <!-- <div class="col-6 font-weight-bold"> -->
            <div class="col-6">
                <label style="display: contents;">Terapeuta</label>

                <select class="form-select inputs" name="terapeuta" [(ngModel)]="services.terapeuta"
                    (ngModelChange)="therapists($event)">
                    <option selected value="">Selecciona</option>
                    <option *ngFor="let terap of terapeuta" [value]="terap.nombre">{{terap?.nombre}}
                    </option>
                </select>
            </div>

            <div class="col-6">
                <label style="display: contents;">Encargada</label>

                <select class="form-select inputs" name="encargada" [(ngModel)]="services.encargada">
                    <option selected value>Selecciona</option>
                    <option *ngFor="let encarg of encargada" [value]="encarg.nombre">{{encarg?.nombre}}
                    </option>
                </select>
            </div>

            <div class="inputCliente">
                <label style="display: contents;">Cliente</label>
                <input class="form-control input-sm inputs" type="text" name="cliente" [(ngModel)]="services.cliente">
            </div>
        </div>

        <!---------------------------------------- TIEMPO ---------------------------------------->

        <label class="titulos font-weight-bold">TIEMPO</label>
        <hr>

        <div class="row">
            <div class="col-6">
                <label class="font-weight-bold">Último services:</label>
            </div>

            <div class="col-6" *ngIf="hourStartTerapeuta != ''">
                <label style="float: right;" *ngFor="let hor of fechaLast">
                    {{hourStartTerapeuta + '-' + horaEndTerapeuta}}
                </label>
            </div>
        </div>

        <div class="row titulos">

            <div class="col-6">
                <div class="row">
                    <div class="col-9">
                        <label style="display: contents;">Fecha</label>
                        <input type="date" class="form-control inputs" (change)="chosenDate($event)"
                            [value]="fechaActual">
                    </div>
                    <div class="col-3 btnIconos" style="display: grid; align-content: center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-calendar-date" viewBox="0 0 16 16">
                            <path
                                d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z" />
                            <path
                                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                        </svg>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="row">
                    <div class="col-9">
                        <label style="display: contents;">Hora inicio</label>
                        <input type="time" name="horaStart" [(ngModel)]="services.horaStart"
                            (change)="startTime($event)" [value]="horaStarted" min="18:00" max="21:00" step="3600"
                            class="form-control inputs" />
                    </div>
                    <div class="col-3 btnIconos" style="display: grid; align-content: center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-clock" viewBox="0 0 16 16">
                            <path
                                d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
                        </svg>
                    </div>
                </div>
            </div>

            <div class="col-6 duracionHora">
                <label style="display: contents;">Duración(min.)</label>
                <input class=" form-control inputs" type="number" name="ejempo" [(ngModel)]="services.minuto"
                    (ngModelChange)="minutes($event)">
            </div>

            <div class="col-6 duracionHora">
                <div style="text-align: center; align-self: center;">
                    <label>Hora fin:</label>
                </div>
                <div style="text-align: center; font-size: larger;"> {{services.horaEnd}} </div>
            </div>

            <div class="row lugarSalida">
                <div class="col-5" style="display: grid">
                    <label style="align-self: center">Lugar Salida</label>
                </div>
                <div class="col-7">
                    <input type="text" class="form-control inputs" name="salida" [(ngModel)]="services.salida" />
                </div>
            </div>
        </div>

        <!---------------------------------------- Servicios ---------------------------------------->

        <div class="row titulos">
            <div class="col-4">
                <label class="font-weight-bold">SERVICIOS</label>
            </div>

            <div class="col-8">
                <label class="font-weight-bold sumaServicios">{{sumatoriaServicios + ' €'}}</label>
            </div>
        </div>
        <hr>
        <label>Detalla el importe de los servicess</label>


        <div class="row titulos">
            <div class="col-4">
                <label>Tratamiento</label>
                <input type="number" name="services" [(ngModel)]="services.servicio" (ngModelChange)="serviceValue()"
                    class="form-control inputs" />
            </div>
            <div class="col-4">
                <label>Bebidas</label>
                <input type="number" name="bebidas" [(ngModel)]="services.bebidas" (ngModelChange)="serviceValue()"
                    class="form-control inputs" />
            </div>
            <div class="col-4">
                <label>Tabaco</label>
                <input type="number" name="tabaco" [(ngModel)]="services.tabaco" (ngModelChange)="serviceValue()"
                    class="form-control inputs" />
            </div>
            <div class="col-4" style="margin-top: 2%">
                <label>Vitaminas</label>
                <input type="number" name="vitaminas" [(ngModel)]="services.vitaminas" (ngModelChange)="serviceValue()"
                    class="form-control inputs" />
            </div>
            <div class="col-4" style="margin-top: 2%">
                <label>Propina</label>
                <input type="number" name="propina" [(ngModel)]="services.propina" (ngModelChange)="serviceValue()"
                    class="form-control inputs" />
            </div>
            <div class="col-4" style="margin-top: 2%">
                <label>Otros</label>
                <input type="number" name="otros" [(ngModel)]="services.otros" (ngModelChange)="serviceValue()"
                    class="form-control inputs" />
            </div>
        </div>

        <!---------------------------------------- COBROS  ---------------------------------------->

        <div class="row titulos">
            <div class="col-4">
                <label class="font-weight-bold">COBROS</label>
            </div>

            <div class="col-8">
                <label class="font-weight-bold sumaServicios">{{sumatoriaCobros + ' €'}}</label>
            </div>
        </div>
        <hr>
        <label>Detalla quién ha cobrado los servicess y por que medio de pago </label>

        <div class="row" style="justify-content: right; margin-top: 3%; margin-bottom: 2%;">

            <mat-drawer-container style="font-size: small;" class="col-2">
                <mat-drawer-content>EFECT</mat-drawer-content>
            </mat-drawer-container>

            <mat-drawer-container style="font-size: small;" class="col-2">
                <mat-drawer-content>BIZUM</mat-drawer-content>
            </mat-drawer-container>

            <mat-drawer-container style="font-size: small;" class="col-2">
                <mat-drawer-content>TARJETA</mat-drawer-content>
            </mat-drawer-container>

            <mat-drawer-container style="font-size: small;" class="col-2">
                <mat-drawer-content>TRANS</mat-drawer-content>
            </mat-drawer-container>
        </div>

        <div class="row titulos">
            <div class="col-4">
                <mat-label>Piso 1</mat-label>
                <input type="number" name="numberPiso1" [(ngModel)]="services.numberPiso1"
                    (ngModelChange)="collectionsValue()" class="form-control inputs">
            </div>

            <mar-form-field class="col-2">
                <mat-checkbox name="efectPiso1" [(ngModel)]="services.efectPiso1" class="checkBox"></mat-checkbox>
            </mar-form-field>

            <mar-form-field class="col-2">
                <mat-checkbox name="bizuPiso1" [(ngModel)]="services.bizuPiso1" class="checkBox"></mat-checkbox>
            </mar-form-field>

            <mar-form-field class="col-2">
                <mat-checkbox name="tarjPiso1" [(ngModel)]="services.tarjPiso1" class="checkBox"></mat-checkbox>
            </mar-form-field>

            <mar-form-field class="col-2">
                <mat-checkbox name="transPiso1" [(ngModel)]="services.transPiso1" class="checkBox"></mat-checkbox>
            </mar-form-field>
        </div>

        <div class="row">
            <div class="col-4">
                <mat-label>Piso 2</mat-label>
                <input matInput type="number" name="numberPiso2" [(ngModel)]="services.numberPiso2"
                    (ngModelChange)="collectionsValue()" class="form-control inputs">
            </div>

            <mar-form-field class="col-2">
                <mat-checkbox name="efectPiso2" [(ngModel)]="services.efectPiso2" class="checkBox"></mat-checkbox>
            </mar-form-field>

            <mar-form-field class="col-2">
                <mat-checkbox name="bizuPiso2" [(ngModel)]="services.bizuPiso2" class="checkBox"></mat-checkbox>
            </mar-form-field>

            <mar-form-field class="col-2">
                <mat-checkbox name="tarjPiso2" [(ngModel)]="services.tarjPiso2" class="checkBox"></mat-checkbox>
            </mar-form-field>

            <mar-form-field class="col-2">
                <mat-checkbox name="transPiso2" [(ngModel)]="services.transPiso2" class="checkBox"></mat-checkbox>
            </mar-form-field>
        </div>

        <div class="row">
            <div class="col-4">
                <mat-label>Terapeuta</mat-label>
                <input matInput type="number" name="numberTerap" [(ngModel)]="services.numberTerap"
                    (ngModelChange)="collectionsValue()" class="form-control inputs">
            </div>

            <mar-form-field class="col-2">
                <mat-checkbox name="efectTerap" [(ngModel)]="services.efectTerap" class="checkBox"></mat-checkbox>
            </mar-form-field>

            <mar-form-field class="col-2">
                <mat-checkbox name="bizuTerap" [(ngModel)]="services.bizuTerap" class="checkBox"></mat-checkbox>
            </mar-form-field>

            <mar-form-field class="col-2">
                <mat-checkbox name="tarjTerap" [(ngModel)]="services.tarjTerap" class="checkBox"></mat-checkbox>
            </mar-form-field>

            <mar-form-field class="col-2">
                <mat-checkbox name="transTerap" [(ngModel)]="services.transTerap" class="checkBox"></mat-checkbox>
            </mar-form-field>
        </div>

        <div class="row">
            <div class="col-4">
                <mat-label>Encargada</mat-label>
                <input matInput type="number" name="numberEncarg" [(ngModel)]="services.numberEncarg"
                    (ngModelChange)="collectionsValue()" class="form-control inputs">
            </div>

            <mar-form-field class="col-2">
                <mat-checkbox name="efectEncarg" [(ngModel)]="services.efectEncarg" class="checkBox"></mat-checkbox>
            </mar-form-field>

            <mar-form-field class="col-2">
                <mat-checkbox name="bizuEncarg" [(ngModel)]="services.bizuEncarg" class="checkBox"></mat-checkbox>
            </mar-form-field>

            <mar-form-field class="col-2">
                <mat-checkbox name="tarjEncarg" [(ngModel)]="services.tarjEncarg" class="checkBox"></mat-checkbox>
            </mar-form-field>

            <mar-form-field class="col-2">
                <mat-checkbox name="transEncarg" [(ngModel)]="services.transEncarg" class="checkBox"></mat-checkbox>
            </mar-form-field>
        </div>

        <div class="row" style="margin-bottom: 5%;">
            <div class="col-4">
                <mat-label>Otro</mat-label>
                <input matInput type="number" name="numberOtro" [(ngModel)]="services.numberOtro"
                    (ngModelChange)="collectionsValue()" class="form-control inputs">
            </div>

            <mar-form-field class="col-2">
                <mat-checkbox name="efectOtro" [(ngModel)]="services.efectOtro" class="checkBox"></mat-checkbox>
            </mar-form-field>

            <mar-form-field class="col-2">
                <mat-checkbox name="bizuOtro" [(ngModel)]="services.bizuOtro" class="checkBox"></mat-checkbox>
            </mar-form-field>

            <mar-form-field class="col-2">
                <mat-checkbox name="tarjOtro" [(ngModel)]="services.tarjOtro" class="checkBox"></mat-checkbox>
            </mar-form-field>

            <mar-form-field class="col-2">
                <mat-checkbox name="transOtro" [(ngModel)]="services.transOtro" class="checkBox"></mat-checkbox>
            </mar-form-field>
        </div>

        <!-- Fin services -->

        <hr class="titulos">

        <div class="row titulos">
            <div class="col-12">
                <label>Notas</label>
                <textarea type="text" class="form-control inputs" name="nota" [(ngModel)]="services.nota"></textarea>
            </div>
        </div>

        <div class="titulos btnGuardar">
            <button type="submit" mat-raised-button class="btn btn-primary" style="display: grid; margin: auto;"
                color="primary" (click)="saveService()">Guardar</button>
        </div>
    </div>
</div>

<div class="container" *ngIf="cargamos">
    <div class="contenedorCargando">
        <div class="hijoCargando">
            <div class="rueda"></div>
            <div class="cargando">Cargando...</div>
        </div>
    </div>
</div>


<!------------------------------------------ Editar ------------------------------------------>

<div class="container" *ngIf="editamos && addService">
    <div>

        <h4 style="text-align: center; margin-bottom: 5%; font-size: xx-large;">Editar</h4>

        <div class="container" *ngFor="let edServ of editarService">
            <div class="row inputSelect">

                <div class="col-6">
                    <label style="display: contents;">Terapeuta</label>
                    <select class="form-select inputs" name="terapeuta" [(ngModel)]="edServ.terapeuta">
                        <option *ngFor="let terap of terapeutaSelect" [value]="terap.nombre">{{terap?.nombre}}
                        </option>
                    </select>
                </div>

                <div class="col-6">
                    <label style="display: contents;">Encargada</label>
                    <select class="form-select inputs" name="encargada" [(ngModel)]="edServ.encargada">
                        <option *ngFor="let encarg of encargada" [value]="encarg.nombre">{{encarg?.nombre}}
                        </option>
                    </select>
                </div>

                <div class="inputCliente">
                    <label style="display: contents;">Cliente</label>
                    <input class="form-control input-sm inputs" type="text" name="cliente" [(ngModel)]="edServ.cliente">
                </div>
            </div>

            <!---------------------------------------- TIEMPO ---------------------------------------->

            <label class="titulos font-weight-bold">TIEMPO</label>
            <hr>

            <div class="row">
                <div class="col-6">
                    <label class="font-weight-bold">Último services:</label>
                </div>

                <div class="col-6">
                    <label style="float: right;">
                        {{edServ['horaStart'] + '-' + edServ['horaEnd']}}
                    </label>
                </div>
            </div>

            <div class="row titulos">
                <div class="col-6">
                    <label style="display: contents;">Fecha</label>
                    <input type="date" class="form-control inputs" name="fecha" [(ngModel)]="edServ.fecha"
                        (change)="editChosenDate($event)" [value]="fechaActual">
                </div>

                <div class="col-6">
                    <label style="display: contents;">Hora inicio</label>
                    <input type="time" class="form-control inputs" name="horaStart" [(ngModel)]="edServ.horaStart"
                        (change)="editStartTime($event)" min="18:00" max="21:00" step="3600" />
                </div>

                <div class="col-6 duracionHora">
                    <label style="display: contents;">Duración(min.)</label>
                    <input class=" form-control inputs inputs" type="number" name="minuto" [(ngModel)]="edServ.minuto"
                        (ngModelChange)="editMinutes($event)">
                </div>

                <div class="col-6 duracionHora">
                    <div style="text-align: center; align-self: center;">
                        <label>Hora fin:</label>
                    </div>
                    <div style="text-align: center; font-size: larger;"> {{edServ['horaEnd']}} </div>
                </div>

                <div class="row lugarSalida">
                    <div class="col-5" style="display: grid">
                        <label style="align-self: center">Lugar Salida</label>
                    </div>
                    <div class="col-7">
                        <input type="text" class="form-control inputs" name="salida" [(ngModel)]="edServ.salida"
                            (ngModelChange)="editServiceValue()" />
                    </div>
                </div>


            </div>

            <!---------------------------------------- Servicios ---------------------------------------->

            <div class="row titulos">
                <div class="col-4">
                    <label class="font-weight-bold">SERVICIOS</label>
                </div>

                <div class="col-8">
                    <label class="font-weight-bold sumaServicios">{{edServ['totalServicio'] + ' €'}}</label>
                </div>
            </div>
            <hr>
            <label>Detalla el importe de los servicess</label>


            <div class="row titulos">
                <div class="col-4">
                    <label>Tratamiento</label>
                    <input type="number" name="services" [(ngModel)]="edServ.servicio"
                        (ngModelChange)="editServiceValue()" class="form-control inputs" />
                </div>

                <div class="col-4">
                    <label>Bebidas</label>
                    <input type="number" name="bebidas" [(ngModel)]="edServ.bebidas"
                        (ngModelChange)="editServiceValue()" class="form-control inputs" />
                </div>

                <div class="col-4">
                    <label>Tabaco</label>
                    <input type="number" name="tabaco" [(ngModel)]="edServ.tabaco" (ngModelChange)="editServiceValue()"
                        class="form-control inputs" />
                </div>

                <div class="col-4" style="margin-top: 2%">
                    <label>Vitaminas</label>
                    <input type="number" name="vitaminas" [(ngModel)]="edServ.vitaminas"
                        (ngModelChange)="editServiceValue()" class="form-control inputs" />
                </div>

                <div class="col-4" style="margin-top: 2%">
                    <label>Propina</label>
                    <input type="number" name="propina" [(ngModel)]="edServ.propina"
                        (ngModelChange)="editServiceValue()" class="form-control inputs" />
                </div>

                <div class="col-4" style="margin-top: 2%">
                    <label>Otros</label>
                    <input type="number" name="otros" [(ngModel)]="edServ.otros" (ngModelChange)="editServiceValue()"
                        class="form-control inputs" />
                </div>
            </div>


            <!---------------------------------------- COBROS  ---------------------------------------->


            <div class="row titulos">
                <div class="col-4">
                    <label class="font-weight-bold">COBROS</label>
                </div>

                <div class="col-8">
                    <label class="font-weight-bold sumaServicios">{{sumatoriaCobrosEdit + ' €'}}</label>
                </div>
            </div>
            <hr>
            <label>Detalla quién ha cobrado los servicess y por que medio de pago </label>

            <div class="row titulos" style="justify-content: right; margin-top: 3%; margin-bottom: 2%;">

                <mat-drawer-container style="font-size: small;" class="col-2">
                    <mat-drawer-content>EFECT</mat-drawer-content>
                </mat-drawer-container>

                <mat-drawer-container style="font-size: small;" class="col-2">
                    <mat-drawer-content>BIZUM</mat-drawer-content>
                </mat-drawer-container>

                <mat-drawer-container style="font-size: small;" class="col-2">
                    <mat-drawer-content>TARJETA</mat-drawer-content>
                </mat-drawer-container>

                <mat-drawer-container style="font-size: small;" class="col-2">
                    <mat-drawer-content>TRANS</mat-drawer-content>
                </mat-drawer-container>
            </div>

            <!------------------------------------------------- Piso 1 ------------------------------------------------->

            <div class="row">
                <div class="col-4">
                    <mat-label>Piso 1</mat-label>
                    <input type="number" name="numberPiso1" [(ngModel)]="edServ.numberPiso1"
                        (ngModelChange)="editCollectionsValue()" class="form-control inputs">
                </div>

                <mar-form-field class="col-2">
                    <mat-checkbox name="efectPiso1" [(ngModel)]="edServ.efectPiso1" class="checkBox"></mat-checkbox>
                </mar-form-field>

                <mar-form-field class="col-2">
                    <mat-checkbox name="bizuPiso1" [(ngModel)]="edServ.bizuPiso1" class="checkBox"></mat-checkbox>
                </mar-form-field>

                <mar-form-field class="col-2">
                    <mat-checkbox name="tarjPiso1" [(ngModel)]="edServ.tarjPiso1" class="checkBox"></mat-checkbox>
                </mar-form-field>

                <mar-form-field class="col-2">
                    <mat-checkbox name="transPiso1" [(ngModel)]="edServ.transPiso1" class="checkBox"></mat-checkbox>
                </mar-form-field>
            </div>


            <!------------------------------------------------- Piso 2 ------------------------------------------------->

            <div class="row">
                <div class="col-4">
                    <mat-label>Piso 2</mat-label>
                    <input matInput type="number" name="numberPiso2" [(ngModel)]="edServ.numberPiso2"
                        (ngModelChange)="editCollectionsValue()" class="form-control inputs">
                </div>

                <mar-form-field class="col-2">
                    <mat-checkbox name="efectPiso2" [(ngModel)]="edServ.efectPiso2" class="checkBox"></mat-checkbox>
                </mar-form-field>

                <mar-form-field class="col-2">
                    <mat-checkbox name="bizuPiso2" [(ngModel)]="edServ.bizuPiso2" class="checkBox"></mat-checkbox>
                </mar-form-field>

                <mar-form-field class="col-2">
                    <mat-checkbox name="tarjPiso2" [(ngModel)]="edServ.tarjPiso2" class="checkBox"></mat-checkbox>
                </mar-form-field>

                <mar-form-field class="col-2">
                    <mat-checkbox name="transPiso2" [(ngModel)]="edServ.transPiso2" class="checkBox"></mat-checkbox>
                </mar-form-field>
            </div>

            <!------------------------------------------------- Terapeuta ------------------------------------------------->

            <div class="row">
                <div class="col-4">
                    <mat-label>Terapeuta</mat-label>
                    <input matInput type="number" name="numberTerap" [(ngModel)]="edServ.numberTerap"
                        (ngModelChange)="editCollectionsValue()" class="form-control inputs">
                </div>

                <mar-form-field class="col-2">
                    <mat-checkbox name="efectTerap" [(ngModel)]="edServ.efectTerap" class="checkBox"></mat-checkbox>
                </mar-form-field>

                <mar-form-field class="col-2">
                    <mat-checkbox name="bizuTerap" [(ngModel)]="edServ.bizuTerap" class="checkBox"></mat-checkbox>
                </mar-form-field>

                <mar-form-field class="col-2">
                    <mat-checkbox name="tarjTerap" [(ngModel)]="edServ.tarjTerap" class="checkBox"></mat-checkbox>
                </mar-form-field>

                <mar-form-field class="col-2">
                    <mat-checkbox name="transTerap" [(ngModel)]="edServ.transTerap" class="checkBox"></mat-checkbox>
                </mar-form-field>
            </div>

            <div class="row">
                <div class="col-4">
                    <mat-label>Encargada</mat-label>
                    <input matInput type="number" name="numberEncarg" [(ngModel)]="edServ.numberEncarg"
                        (ngModelChange)="editCollectionsValue()" class="form-control inputs">
                </div>

                <mar-form-field class="col-2">
                    <mat-checkbox name="efectEncarg" [(ngModel)]="edServ.efectEncarg" class="checkBox"></mat-checkbox>
                </mar-form-field>

                <mar-form-field class="col-2">
                    <mat-checkbox name="bizuEncarg" [(ngModel)]="edServ.bizuEncarg" class="checkBox"></mat-checkbox>
                </mar-form-field>

                <mar-form-field class="col-2">
                    <mat-checkbox name="tarjEncarg" [(ngModel)]="edServ.tarjEncarg" class="checkBox"></mat-checkbox>
                </mar-form-field>

                <mar-form-field class="col-2">
                    <mat-checkbox name="transEncarg" [(ngModel)]="edServ.transEncarg" class="checkBox"></mat-checkbox>
                </mar-form-field>
            </div>

            <div class="row" style="margin-bottom: 5%;">
                <div class="col-4">
                    <mat-label>Otro</mat-label>
                    <input matInput type="number" [(ngModel)]="edServ.numberOtro" name="numberOtro"
                        (ngModelChange)="editCollectionsValue()" class="form-control inputs">
                </div>

                <mar-form-field class="col-2">
                    <mat-checkbox name="efectOtro" [(ngModel)]="edServ.efectOtro" class="checkBox"></mat-checkbox>
                </mar-form-field>

                <mar-form-field class="col-2">
                    <mat-checkbox name="bizuOtro" [(ngModel)]="edServ.bizuOtro" class="checkBox"></mat-checkbox>
                </mar-form-field>

                <mar-form-field class="col-2">
                    <mat-checkbox name="tarjOtro" [(ngModel)]="edServ.tarjOtro" class="checkBox"></mat-checkbox>
                </mar-form-field>

                <mar-form-field class="col-2">
                    <mat-checkbox name="transOtro" [(ngModel)]="edServ.transOtro" class="checkBox"></mat-checkbox>
                </mar-form-field>
            </div>

            <!-- Fin services -->

            <hr class="titulos">

            <div class="row titulos">
                <div class="col-12">
                    <label>Notas</label>
                    <textarea type="text" class="form-control" [(ngModel)]="edServ.nota" name="nota"></textarea>
                </div>
            </div>

            <div class="titulos botonesEditar" *ngFor="let edServ of editarService">
                <div class="row botones" style="display: flex; place-content: center;">

                    <div class="col-4">
                        <button class="btn btn-primary titulos" style="display: grid; margin: auto;"
                            (click)="editService(edServ.id, edServ)">Guardar</button>
                    </div>

                    <div class="col-4">
                        <button class="btn btn-success titulos" style="display: grid; margin: auto;"
                            (click)="cancel()">Cancelar</button>
                    </div>

                    <div class="col-4" *ngIf="buttonDelete">
                        <button class="btn btn-danger titulos" style="display: grid; margin: auto;"
                            (click)="deleteService(edServ.id)">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>