<div class="container" *ngIf="!editamos && addService">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-8 mx-auto">
            <div class="m-0 vh-90 row justify-content-center align-items-center">

                <label class="title">Nuevo Servicio</label>

                <div class="row inputContainer">

                    <div class="row g-0">
                        <div class="therapistContainer">
                            <label class="text">Terapeuta</label>
                            <select class="form-select" [(ngModel)]="services.terapeuta" name="terapeuta"
                                (ngModelChange)="therapists($event)" style="height: 2.2rem; border-color: #8C52FF; color: #242424; font-size: 18px;
                                            font-family: sans-serif;">
                                <option selected value="">Selecciona</option>
                                <option *ngFor="let terap of terapeuta" [value]="terap.nombre">
                                    {{terap?.nombre}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="containerInCharge">
                            <label class="text">Encargada</label>
                            <select class="form-select" name="encargada" [(ngModel)]="services.encargada" style="height: 2.2rem; border-color: #8C52FF; color: #242424; font-size: 18px;
                                            font-family: sans-serif;">
                                <option *ngIf="administratorRole" selected value>Selecciona</option>
                                <option *ngFor="let encarg of manager" [value]="encarg.nombre">
                                    {{encarg?.nombre}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="clientContainer">
                            <label class="text">Cliente</label>
                            <input class="form-control" type="text" name="cliente" [(ngModel)]="services.cliente" style="height: 2.2rem; border-color: #8C52FF; color: #242424;
                                            font-family: sans-serif; font-size: 18px;">
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="containerPlaceExit">
                            <label style="color: #242424; font-size: 18px; font-family: sans-serif;
                                        display: contents; font-weight: bold">Lugar Salida</label>
                            <input type="text" class="form-control" [(ngModel)]="services.salida"
                                style="color: #242424; 
                                        font-size: 18px; height: 2.2rem; font-family: sans-serif; border-color: #8C52FF" />
                        </div>
                    </div>
                </div>
                <!---------------------------------------- TIEMPO ---------------------------------------->

                <label class="titles">TIEMPO</label>
                <hr class="timeline">

                <div class="row" style="margin-right: auto;">
                    <div class="lastService">
                        <label style="color: #242424; font-size: 18px; font-weight: bold;">Último
                            servicio:</label>
                    </div>

                    <div class="lastServiceOrdered" *ngIf="hourStartTerapeuta != ''">
                        <label style="color: #242424; font-size: 18px; font-weight: bold;"
                            *ngFor="let hor of fechaLast"> {{hourStartTerapeuta + '-' + horaEndTerapeuta}}
                        </label>
                    </div>
                </div>

                <div class="row datesContainer">

                    <div class="row g-0">
                        <div class="dateContainer">
                            <label style="color: #242424; font-size: 18px; font-family: sans-serif; font-weight: bold;
                                            display: contents;">Fecha</label>
                            <input type="date" class="form-control" (change)="chosenDate($event)" [value]="fechaActual"
                                style="color: #242424; font-size: 18px; font-family: sans-serif; 
                                    height: 2.2rem; border-color: #8C52FF">
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="containerStartTime">
                            <label style="color: #242424; font-size: 18px; font-family: sans-serif; font-weight: bold;
                                        display: contents;">Hora inicio</label>
                            <input type="time" class="form-control" name="horaStart" min="18:00" max="21:00" step="3600"
                                [(ngModel)]="services.horaStart" (change)="startTime($event)" [value]="horaStarted"
                                style="color: #242424; font-size: 18px; height: 2.2rem; 
                                            font-family: sans-serif; border-color: #8C52FF" />
                        </div>
                    </div>
                </div>


                <div class="row datesContainer2">
                    <div class="row g-0">
                        <div class="containerDuration">
                            <label style="color: #242424; font-size: 18px; font-family: sans-serif;
                                        display: contents; font-weight: bold">Duración(min.)</label>
                            <input class="form-control" type="number" [(ngModel)]="Servminutes"
                                (ngModelChange)="minutes($event)" style="color: #242424; font-size: 18px; 
                                            height: 2.2rem; font-family: sans-serif; border-color: #8C52FF">
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="EndTimeContainer">
                            <label style="color: #242424; font-size: 18px; font-family: sans-serif;
                                        font-weight: bold;">Hora fin</label>
                            <div class="hourEnd" style="color: #242424; font-size: 18px; height: 2.2rem; 
                                        font-family: sans-serif; font-weight: bold"> {{services.horaEnd}} </div>
                        </div>
                    </div>
                </div>

                <!---------------------------------------- Servicios ---------------------------------------->

                <div class="row containerTitleService">
                    <div class="row g-0">
                        <div class="titleService">
                            <label class="titles">SERVICIOS</label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="titleService">
                            <label class="sumServices">{{sumatoriaServicios + ' €'}}</label>
                        </div>
                    </div>
                </div>

                <hr class="serviceLine">

                <div class="row g-0">
                    <div class="serviceDescription">
                        <label style="color: #000000; font-size: 15px">Detalla el importe de los
                            servicios</label>
                    </div>
                </div>


                <div class="row servicesContainer">
                    <div class="row g-0">
                        <div class="treatmentContainer">
                            <label style="color: #242424; font-size: 18px; font-family: sans-serif; 
                                        display: contents; font-weight: bold">Tratamiento</label>
                            <input type="number" class="form-control" name="services" [(ngModel)]="services.servicio"
                                (ngModelChange)="serviceValue()" style="height: 2.2rem; color: #000000; 
                                            font-size: 18px; font-family: sans-serif; border-color: #8C52FF" />
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="tipColumn">
                            <label style="color: #242424; font-size: 18px; font-family: sans-serif;
                                        display: contents; font-weight: bold">Propina</label>
                            <input type="number" class="form-control" name="propina" [(ngModel)]="services.propina"
                                (ngModelChange)="serviceValue()" style="height: 2.2rem; color: #000000; 
                                            font-size: 18px; font-family: sans-serif; border-color: #8C52FF" />
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="taxiColumn">
                            <label style="color: #242424; font-size: 18px; font-family: sans-serif;
                                        display: contents; font-weight: bold">Taxi</label>
                            <input type="number" class="form-control" name="propina" [(ngModel)]="services.propina"
                                (ngModelChange)="serviceValue()" style="height: 2.2rem; color: #000000; 
                                            font-size: 18px; font-family: sans-serif; border-color: #8C52FF" />
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="vitaminColumn">
                            <label style="color: #242424; font-size: 18px; font-family: sans-serif; 
                                        display: contents; font-weight: bold">Vitaminas</label>
                            <input type="number" class="form-control" name="vitaminas" [(ngModel)]="services.vitaminas"
                                (ngModelChange)="serviceValue()" style="height: 2.2rem; color: #000000; 
                                            font-size: 18px; font-family: sans-serif; border-color: #8C52FF" />
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="tobaccoContainer">
                            <label style="color: #242424; font-size: 18px; font-family: sans-serif;
                                        display: contents; font-weight: bold">Tabaco</label>
                            <input type="number" class="form-control" name="tabaco" [(ngModel)]="services.tabaco"
                                (ngModelChange)="serviceValue()" style="height: 2.2rem; color: #000000; 
                                            font-size: 18px; font-family: sans-serif; border-color: #8C52FF" />
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="columnOthers">
                            <label style="color: #242424; font-size: 18px; font-family: sans-serif;
                                        display: contents; font-weight: bold">Otros</label>
                            <input type="number" class="form-control" name="otros" [(ngModel)]="services.otros"
                                (ngModelChange)="serviceValue()" style="height: 2.2rem; color: #000000; 
                                            font-size: 18px; font-family: sans-serif; border-color: #8C52FF" />
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="beverageContainer">
                            <label style="color: #242424; font-size: 18px; font-family: sans-serif; 
                                        display: contents; font-weight: bold">Bebida casa</label>
                            <input type="number" class="form-control" name="bebidas" [(ngModel)]="services.bebidas"
                                (ngModelChange)="serviceValue()" style="height: 2.2rem; color: #000000; 
                                            font-size: 18px; font-family: sans-serif; border-color: #8C52FF" />
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="beverageTherapistContainer">
                            <label style="color: #242424; font-size: 18px; font-family: sans-serif; 
                                        display: contents; font-weight: bold">Bebida terap.</label>
                            <input type="number" class="form-control" name="bebidas" [(ngModel)]="services.bebidas"
                                (ngModelChange)="serviceValue()" style="height: 2.2rem; color: #000000; 
                                            font-size: 18px; font-family: sans-serif; border-color: #8C52FF" />
                        </div>
                    </div>
                </div>

                <!---------------------------------------- COBROS  ---------------------------------------->

                <div class="row containerTitleService">
                    <div class="row g-0">
                        <div class="titleCollection">
                            <label class="titles">COBROS</label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="titleService">
                            <label class="sumServices">{{sumatoriaCobros + ' €'}}</label>
                        </div>
                    </div>
                </div>

                <hr class="serviceLine">

                <div class="row g-0">
                    <div class="serviceDescription">
                        <label style="color: #000000; font-size: 15px">Detalla quién ha cobrado los servicios y
                            por que medio de pago</label>
                    </div>
                </div>

                <div class="collectionContainer">

                    <div class="row g-0">
                        <div style="font-size: small;">
                            <label style="color: #242424; font-size: 13px; font-family: sans-serif;
                                        display: contents; font-weight: bold">EFECT</label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div style="font-size: small;">
                            <label style="color: #242424; font-size: 13px; font-family: sans-serif;
                                        display: contents; font-weight: bold">BIZUM</label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div style="font-size: small;">
                            <label style="color: #242424; font-size: 13px; font-family: sans-serif;
                                        display: contents; font-weight: bold">TARJ.</label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div style="font-size: small;">
                            <label style="color: #242424; font-size: 13px; font-family: sans-serif;
                                        display: contents; font-weight: bold">TRANS</label>
                        </div>
                    </div>
                </div>

                <div class="row collectionContainer2">

                    <div class="collectionPiso1 row g-0" style="display: block;">
                        <label style="color: #242424; font-size: 17px; font-family: sans-serif;
                                        display: contents; font-weight: bold">Casa</label>
                        <input type="number" class="form-control" name="numberPiso1" [(ngModel)]="services.numberPiso1"
                            (ngModelChange)="collectionsValue()" style="height: 2.2rem; color: #000000; font-size: 18px; font-family: sans-serif;
                                            border-color: #8C52FF">
                    </div>

                    <div class="row g-0">
                        <div class="checkBoxCash">
                            <input type="checkbox" id="efectPiso1" name="efectPiso1" (change)="validatePaymentMethod()"
                                [(ngModel)]="services.efectPiso1">
                            <label for="efectPiso1"></label>
                        </div>

                    </div>

                    <div class="row g-0">
                        <div class="checkBoxBizum">
                            <input type="checkbox" id="bizuPiso1" name="bizuPiso1" (change)="validatePaymentMethod()"
                                [(ngModel)]="services.bizuPiso1">
                            <label for="bizuPiso1"></label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="CheckBoxCard">
                            <input type="checkbox" id="tarjPiso1" name="tarjPiso1" (change)="validatePaymentMethod()"
                                [(ngModel)]="services.tarjPiso1">
                            <label for="tarjPiso1"></label>
                        </div>

                    </div>

                    <div class="row g-0">
                        <div class="checkBoxTransaction">
                            <input type="checkbox" id="transPiso1" name="transPiso1" (change)="validatePaymentMethod()"
                                [(ngModel)]="services.transPiso1">
                            <label for="transPiso1"></label>
                        </div>
                    </div>


                    <div class="collectionPiso2 row g-0" style="display: block;">
                        <label style="color: #242424; font-size: 17px; font-family: sans-serif;
                                        display: contents; font-weight: bold">Casa</label>
                        <input matInput type="number" class="form-control" name="numberPiso2"
                            [(ngModel)]="services.numberPiso2" (ngModelChange)="collectionsValue()"
                            style="height: 2.2rem; color: #000000; font-size: 18px; font-family: sans-serif; border-color: #8C52FF">
                    </div>

                    <div class="row g-0">
                        <div class="checkBoxCashFloor2">
                            <input type="checkbox" id="efectPiso2" name="efectPiso2" (change)="validatePaymentMethod()"
                                [(ngModel)]="services.efectPiso2">
                            <label for="efectPiso2"></label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="checkBoxBizumFloor2">
                            <input type="checkbox" id="bizuPiso2" name="bizuPiso2" (change)="validatePaymentMethod()"
                                [(ngModel)]="services.bizuPiso2">
                            <label for="bizuPiso2"></label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="CheckBoxCardFloor2">
                            <input type="checkbox" id="tarjPiso2" name="tarjPiso2" (change)="validatePaymentMethod()"
                                [(ngModel)]="services.tarjPiso2">
                            <label for="tarjPiso2"></label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="checkBoxTransactionFloor2">
                            <input type="checkbox" id="transPiso2" name="transPiso2" (change)="validatePaymentMethod()"
                                [(ngModel)]="services.transPiso2">
                            <label for="transPiso2"></label>
                        </div>
                    </div>

                    <div class="collectionTherapist row g-0" style="display: block;">
                        <label style="color: #242424; font-size: 17px; font-family: sans-serif;
                                        display: contents; font-weight: bold">Terapeuta</label>
                        <input matInput type="number" class="form-control" name="numberTerap"
                            [(ngModel)]="services.numberTerap" (ngModelChange)="collectionsValue()"
                            style="height: 2.2rem; color: #000000; font-size: 18px; font-family: sans-serif; border-color: #8C52FF">
                    </div>

                    <div class="row g-0">
                        <div class="checkBoxCashTherapist">
                            <input type="checkbox" id="efectTerap" name="efectTerap" (change)="validatePaymentMethod()"
                                [(ngModel)]="services.efectTerap">
                            <label for="efectTerap"></label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="checkBoxBizumTherapist">
                            <input type="checkbox" id="bizuTerap" (change)="validatePaymentMethod()" name="bizuTerap"
                                [(ngModel)]="services.bizuTerap">
                            <label for="bizuTerap"></label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="CheckBoxCardTherapist">
                            <input type="checkbox" id="tarjTerap" (change)="validatePaymentMethod()" name="tarjTerap"
                                [(ngModel)]="services.tarjTerap">
                            <label for="tarjTerap"></label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="checkBoxTransactionTherapist">
                            <input type="checkbox" id="transTerap" (change)="validatePaymentMethod()" name="transTerap"
                                [(ngModel)]="services.transTerap">
                            <label for="transTerap"></label>
                        </div>
                    </div>

                    <div class="collectionManager row g-0" style="display: block;">
                        <label style="color: #242424; font-size: 17px; font-family: sans-serif;
                                        display: contents; font-weight: bold">Encargada</label>
                        <input matInput type="number" class="form-control" name="numberEncarg"
                            [(ngModel)]="services.numberEncarg" (ngModelChange)="collectionsValue()"
                            style="height: 2.2rem; color: #000000; font-size: 18px; font-family: sans-serif; border-color: #8C52FF">
                    </div>

                    <div class="row g-0">
                        <div class="checkBoxCashManager">
                            <input type="checkbox" id="efectEncarg" name="efectEncarg"
                                (change)="validatePaymentMethod()" [(ngModel)]="services.efectEncarg">
                            <label for="efectEncarg"></label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="checkBoxBizumManager">
                            <input type="checkbox" id="bizuEncarg" name="bizuEncarg" (change)="validatePaymentMethod()"
                                [(ngModel)]="services.bizuEncarg">
                            <label for="bizuEncarg"></label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="CheckBoxCardManager">
                            <input type="checkbox" id="tarjEncarg" name="tarjEncarg" (change)="validatePaymentMethod()"
                                [(ngModel)]="services.tarjEncarg">
                            <label for="tarjEncarg"></label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="checkBoxTransactionManager">
                            <input type="checkbox" id="transEncarg" name="transEncarg"
                                (change)="validatePaymentMethod()" [(ngModel)]="services.transEncarg">
                            <label for="transEncarg"></label>
                        </div>
                    </div>

                    <div class="collectionOther row g-0" style="display: block;">
                        <label style="color: #242424; font-size: 17px; font-family: sans-serif;
                                        display: contents; font-weight: bold">Taxista</label>
                        <input matInput type="number" class="form-control" name="numberTaxi"
                            [(ngModel)]="services.numberTaxi" (ngModelChange)="collectionsValue()"
                            style="height: 2.2rem; color: #000000; font-size: 18px; font-family: sans-serif; border-color: #8C52FF">
                    </div>

                    <div class="row g-0">
                        <div class="checkBoxCashOther">
                            <input type="checkbox" id="efectDriverTaxi" name="efectDriverTaxi"
                                (change)="validatePaymentMethod()" [(ngModel)]="services.efectDriverTaxi">
                            <label for="efectDriverTaxi"></label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="checkBoxBizumOther">
                            <input type="checkbox" id="bizuDriverTaxi" name="bizuDriverTaxi"
                                (change)="validatePaymentMethod()" [(ngModel)]="services.bizuDriverTaxi">
                            <label for="bizuDriverTaxi"></label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="CheckBoxCardOther">
                            <input type="checkbox" id="tarjDriverTaxi" name="tarjDriverTaxi"
                                (change)="validatePaymentMethod()" [(ngModel)]="services.tarjDriverTaxi">
                            <label for="tarjDriverTaxi"></label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="checkBoxTransactionOther">
                            <input type="checkbox" id="transDriverTaxi" name="transDriverTaxi"
                                (change)="validatePaymentMethod()" [(ngModel)]="services.transDriverTaxi">
                            <label for="transDriverTaxi"></label>
                        </div>
                    </div>
                    <!-- AQUI -->
                </div>


                <!-- Fin services -->

                <hr class="serviceLine">

                <div class="notesContainer">
                    <div class="row g-0">
                        <div class="notes">
                            <label style="color: #8C52FF; font-size: 20px; font-family: sans-serif;
                                    display: contents; font-weight: bold;">Notas:</label>
                            <textarea type="text" class="form-control" name="nota" [(ngModel)]="services.nota"
                                style="height: 2.2rem; color: #000000; font-size: 18px; font-family: sans-serif; border-color: #8C52FF"></textarea>
                        </div>
                    </div>
                </div>

                <div class="inputButtonSave">
                    <div class="row g-0">
                        <button type="submit" mat-raised-button class="btn btn-primary"
                            style="display: grid; margin: auto;" color="primary"
                            (click)="saveService()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!------------------------------------------ Editar ------------------------------------------>

<div class="container marginBody" *ngIf="editamos && addService">
    <div class="row" *ngFor="let edServ of editarService">
        <div class="col-sm-9 col-md-7 col-lg-8 mx-auto">
            <div class="m-0 vh-90 row justify-content-center align-items-center">

                <label class="title">Editar</label>
                <div class="row inputContainer">

                    <div class="row g-0">
                        <div class="therapistContainer">
                            <label class="text">Terapeuta</label>
                            <select class="form-select" [(ngModel)]="edServ.terapeuta" name="terapeuta"
                                (ngModelChange)="therapists($event)" style="height: 2.2rem; border-color: #8C52FF; color: #242424; font-size: 18px;
                                            font-family: sans-serif;">
                                <option *ngFor="let terap of terapeuta" [value]="terap.nombre">
                                    {{terap?.nombre}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="containerInCharge">
                            <label class="text">Encargada</label>
                            <select class="form-select" name="encargada" [(ngModel)]="edServ.encargada" style="height: 2.2rem; border-color: #8C52FF; color: #242424; font-size: 18px;
                                            font-family: sans-serif;">
                                <option *ngFor="let encarg of manager" [value]="encarg.nombre">
                                    {{encarg?.nombre}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="clientContainer">
                            <label class="text">Cliente</label>
                            <input class="form-control" type="text" name="cliente" [(ngModel)]="edServ.cliente" style="height: 2.2rem; border-color: #8C52FF; color: #242424;
                                            font-family: sans-serif; font-size: 18px;">
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="containerPlaceExit">
                            <label style="color: #242424; font-size: 18px; font-family: sans-serif;
                                        display: contents; font-weight: bold">Lugar Salida</label>
                            <input type="text" class="form-control" [(ngModel)]="edServ.salida"
                                style="color: #242424; 
                                        font-size: 18px; height: 2.2rem; font-family: sans-serif; border-color: #8C52FF" />
                        </div>
                    </div>
                </div>
                <!---------------------------------------- TIEMPO ---------------------------------------->

                <label class="titles">TIEMPO</label>
                <hr class="timeline">

                <div class="row" style="margin-right: auto;">
                    <div class="col-6 lastService">
                        <label style="color: #242424; font-size: 18px; font-weight: bold;">Último
                            servicio:</label>
                    </div>

                    <div class="col-6 lastServiceOrdered" *ngIf="hourStartTerapeuta != ''">
                        <label style="color: #242424; font-size: 18px; font-weight: bold;"
                            *ngFor="let hor of fechaLast"> {{edServ['horaStart'] + '-' + edServ['horaEnd']}}
                        </label>
                    </div>
                </div>

                <div class="row datesContainer">

                    <div class="row g-0">
                        <div class="dateContainer">
                            <label style="color: #242424; font-size: 18px; font-family: sans-serif; font-weight: bold;
                                            display: contents;">Fecha</label>
                            <input type="date" class="form-control" (change)="chosenDate($event)"
                                [(ngModel)]="edServ.fecha" [value]="fechaActual" style="color: #242424; font-size: 18px; 
                                            font-family: sans-serif; height: 2.2rem; border-color: #8C52FF">
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="containerStartTime">

                            <label style="color: #242424; font-size: 18px; font-family: sans-serif; font-weight: bold;
                                        display: contents;">Hora inicio</label>
                            <input type="time" class="form-control" name="horaStart" min="18:00" max="21:00" step="3600"
                                [(ngModel)]="edServ.horaStart" (change)="editStartTime($event)" [value]="horaStarted"
                                style="color: #242424; font-size: 18px; height: 2.2rem; 
                                            font-family: sans-serif; border-color: #8C52FF" />
                        </div>
                    </div>
                </div>


                <div class="row datesContainer2">
                    <div class="row g-0">
                        <div class="containerDuration">
                            <label style="color: #242424; font-size: 18px; font-family: sans-serif;
                                        display: contents; font-weight: bold">Duración(min.)</label>
                            <input class="form-control" type="number" [(ngModel)]="edServ.minuto"
                                (ngModelChange)="editMinutes($event)" style="color: #242424; font-size: 18px; 
                                            height: 2.2rem; font-family: sans-serif; border-color: #8C52FF">
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="EndTimeContainer">
                            <label style="color: #242424; font-size: 18px; font-family: sans-serif;
                                        font-weight: bold;">Hora fin</label>
                            <div class="hourEnd" style="color: #242424; font-size: 18px; height: 2.2rem; 
                                        font-family: sans-serif; font-weight: bold"> {{edServ.horaEnd}} </div>
                        </div>
                    </div>
                </div>

                <!---------------------------------------- Servicios ---------------------------------------->

                <div class="row containerTitleService">
                    <div class="row g-0">
                        <div class="titleService">
                            <label class="titles">SERVICIOS</label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="titleService">
                            <label class="sumServices">{{edServ['totalServicio'] + ' €'}}</label>
                        </div>
                    </div>
                </div>

                <hr class="serviceLine">

                <div class="row g-0">
                    <div class="serviceDescription">
                        <label style="color: #000000; font-size: 15px">Detalla el importe de los
                            servicios</label>
                    </div>
                </div>


                <div class="row servicesContainer">
                    <div class="row g-0">
                        <div class="treatmentContainer">

                            <label style="color: #242424; font-size: 18px; font-family: sans-serif; 
                                        display: contents; font-weight: bold">Tratamiento</label>
                            <input type="number" class="form-control" name="services" [(ngModel)]="edServ.servicio"
                                (ngModelChange)="editServiceValue()" style="height: 2.2rem; color: #000000; 
                                            font-size: 18px; font-family: sans-serif; border-color: #8C52FF" />
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="tipColumn">
                            <label style="color: #242424; font-size: 18px; font-family: sans-serif;
                                        display: contents; font-weight: bold">Propina</label>
                            <input type="number" class="form-control" name="propina" [(ngModel)]="edServ.propina"
                                (ngModelChange)="editServiceValue()" style="height: 2.2rem; color: #000000; 
                                            font-size: 18px; font-family: sans-serif; border-color: #8C52FF" />
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="taxiColumn">
                            <label style="color: #242424; font-size: 18px; font-family: sans-serif;
                                        display: contents; font-weight: bold">Taxi</label>
                            <input type="number" class="form-control" name="propina" [(ngModel)]="edServ.propina"
                                (ngModelChange)="editServiceValue()" style="height: 2.2rem; color: #000000; 
                                            font-size: 18px; font-family: sans-serif; border-color: #8C52FF" />
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="vitaminColumn">
                            <label style="color: #242424; font-size: 18px; font-family: sans-serif; 
                                        display: contents; font-weight: bold">Vitaminas</label>
                            <input type="number" class="form-control" name="vitaminas" [(ngModel)]="edServ.vitaminas"
                                (ngModelChange)="editServiceValue()" style="height: 2.2rem; color: #000000; 
                                            font-size: 18px; font-family: sans-serif; border-color: #8C52FF" />
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="tobaccoContainer">
                            <label style="color: #242424; font-size: 18px; font-family: sans-serif;
                                        display: contents; font-weight: bold">Tabaco</label>
                            <input type="number" class="form-control" name="tabaco" [(ngModel)]="edServ.tabaco"
                                (ngModelChange)="editServiceValue()" style="height: 2.2rem; color: #000000; 
                                            font-size: 18px; font-family: sans-serif; border-color: #8C52FF" />
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="columnOthers">
                            <label style="color: #242424; font-size: 18px; font-family: sans-serif;
                                        display: contents; font-weight: bold">Otros</label>
                            <input type="number" class="form-control" name="otros" [(ngModel)]="edServ.otros"
                                (ngModelChange)="editServiceValue()" style="height: 2.2rem; color: #000000; 
                                            font-size: 18px; font-family: sans-serif; border-color: #8C52FF" />
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="beverageContainer">
                            <label style="color: #242424; font-size: 18px; font-family: sans-serif; 
                                        display: contents; font-weight: bold">Bebida casa</label>
                            <input type="number" class="form-control" name="bebidas" [(ngModel)]="edServ.bebidas"
                                (ngModelChange)="editServiceValue()" style="height: 2.2rem; color: #000000; 
                                            font-size: 18px; font-family: sans-serif; border-color: #8C52FF" />
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="beverageTherapistContainer">
                            <label style="color: #242424; font-size: 18px; font-family: sans-serif; 
                                        display: contents; font-weight: bold">Bebida Terap.</label>
                            <input type="number" class="form-control" name="bebidas" [(ngModel)]="edServ.bebidas"
                                (ngModelChange)="editServiceValue()" style="height: 2.2rem; color: #000000; 
                                            font-size: 18px; font-family: sans-serif; border-color: #8C52FF" />
                        </div>
                    </div>
                </div>
                


                <!---------------------------------------- COBROS  ---------------------------------------->

                <div class="row containerTitleService">
                    <div class="row g-0">
                        <div class="titleCollection">
                            <label class="titles">COBROS</label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="titleService">
                            <label class="sumServices">{{sumatoriaCobrosEdit + ' €'}}</label>
                        </div>
                    </div>
                </div>

                <hr class="serviceLine">

                <div class="row g-0">
                    <div class="serviceDescription">
                        <label style="color: #000000; font-size: 15px">Detalla quién ha cobrado los servicios y
                            por que medio de pago</label>
                    </div>
                </div>

                <div class="collectionContainer">

                    <div class="row g-0">
                        <div style="font-size: small;">
                            <label style="color: #242424; font-size: 13px; font-family: sans-serif;
                                        display: contents; font-weight: bold">EFECT</label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div style="font-size: small;">
                            <label style="color: #242424; font-size: 13px; font-family: sans-serif;
                                        display: contents; font-weight: bold">BIZUM</label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div style="font-size: small;">
                            <label style="color: #242424; font-size: 13px; font-family: sans-serif;
                                        display: contents; font-weight: bold">TARJ.</label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div style="font-size: small;">
                            <label style="color: #242424; font-size: 13px; font-family: sans-serif;
                                        display: contents; font-weight: bold">TRANS</label>
                        </div>
                    </div>
                </div>

                <div class="row collectionContainer2">

                    <div class="collectionPiso1 row g-0" style="display: block;">
                        <label style="color: #242424; font-size: 17px; font-family: sans-serif;
                                        display: contents; font-weight: bold">Casa</label>
                        <input type="number" class="form-control" name="numberPiso1" [(ngModel)]="edServ.numberPiso1"
                            (ngModelChange)="editCollectionsValue()" style="height: 2.2rem; color: #000000; font-size: 18px; font-family: sans-serif;
                                            border-color: #8C52FF">
                    </div>

                    <div class="row g-0">
                        <div class="checkBoxCash">
                            <input type="checkbox" id="efectPiso1" name="efectPiso1" [(ngModel)]="edServ.efectPiso1">
                            <label for="efectPiso1"></label>
                        </div>

                    </div>

                    <div class="row g-0">
                        <div class="checkBoxBizum">
                            <input type="checkbox" id="bizuPiso1" name="bizuPiso1" [(ngModel)]="edServ.bizuPiso1">
                            <label for="bizuPiso1"></label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="CheckBoxCard">
                            <input type="checkbox" id="tarjPiso1" name="tarjPiso1" [(ngModel)]="edServ.tarjPiso1">
                            <label for="tarjPiso1"></label>
                        </div>

                    </div>

                    <div class="row g-0">
                        <div class="checkBoxTransaction">
                            <input type="checkbox" id="transPiso1" name="transPiso1" [(ngModel)]="edServ.transPiso1">
                            <label for="transPiso1"></label>
                        </div>
                    </div>


                    <div class="collectionPiso2 row g-0" style="display: block;">
                        <label style="color: #242424; font-size: 17px; font-family: sans-serif;
                                        display: contents; font-weight: bold">Casa</label>
                        <input matInput type="number" class="form-control" name="numberPiso2"
                            [(ngModel)]="edServ.numberPiso2" (ngModelChange)="editCollectionsValue()"
                            style="height: 2.2rem; color: #000000; font-size: 18px; font-family: sans-serif; border-color: #8C52FF">
                    </div>

                    <div class="row g-0">
                        <div class="checkBoxCashFloor2">
                            <input type="checkbox" id="efectPiso2" name="efectPiso2" [(ngModel)]="edServ.efectPiso2">
                            <label for="efectPiso2"></label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="checkBoxBizumFloor2">
                            <input type="checkbox" id="bizuPiso2" name="bizuPiso2" [(ngModel)]="edServ.bizuPiso2">
                            <label for="bizuPiso2"></label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="CheckBoxCardFloor2">
                            <input type="checkbox" id="tarjPiso2" name="tarjPiso2" [(ngModel)]="edServ.tarjPiso2">
                            <label for="tarjPiso2"></label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="checkBoxTransactionFloor2">
                            <input type="checkbox" id="transPiso2" name="transPiso2" [(ngModel)]="edServ.transPiso2">
                            <label for="transPiso2"></label>
                        </div>
                    </div>

                    <div class="collectionTherapist row g-0" style="display: block;">
                        <label style="color: #242424; font-size: 17px; font-family: sans-serif;
                                        display: contents; font-weight: bold">Terapeuta</label>
                        <input matInput type="number" class="form-control" name="numberTerap"
                            [(ngModel)]="edServ.numberTerap" (ngModelChange)="editCollectionsValue()"
                            style="height: 2.2rem; color: #000000; font-size: 18px; font-family: sans-serif; border-color: #8C52FF">
                    </div>

                    <div class="row g-0">
                        <div class="checkBoxCashTherapist">
                            <input type="checkbox" id="efectTerap" name="efectTerap" [(ngModel)]="edServ.efectTerap">
                            <label for="efectTerap"></label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="checkBoxBizumTherapist">
                            <input type="checkbox" id="bizuTerap" name="bizuTerap" [(ngModel)]="edServ.bizuTerap">
                            <label for="bizuTerap"></label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="CheckBoxCardTherapist">
                            <input type="checkbox" id="tarjTerap" name="tarjTerap" [(ngModel)]="edServ.tarjTerap">
                            <label for="tarjTerap"></label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="checkBoxTransactionTherapist">
                            <input type="checkbox" id="transTerap" name="transTerap" [(ngModel)]="edServ.transTerap">
                            <label for="transTerap"></label>
                        </div>
                    </div>

                    <div class="collectionManager row g-0" style="display: block;">
                        <label style="color: #242424; font-size: 17px; font-family: sans-serif;
                                        display: contents; font-weight: bold">Encargada</label>
                        <input matInput type="number" class="form-control" name="numberEncarg"
                            [(ngModel)]="edServ.numberEncarg" (ngModelChange)="editCollectionsValue()"
                            style="height: 2.2rem; color: #000000; font-size: 18px; font-family: sans-serif; border-color: #8C52FF">
                    </div>

                    <div class="row g-0">
                        <div class="checkBoxCashManager">
                            <input type="checkbox" id="efectEncarg" name="efectEncarg" [(ngModel)]="edServ.efectEncarg">
                            <label for="efectEncarg"></label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="checkBoxBizumManager">
                            <input type="checkbox" id="bizuEncarg" name="bizuEncarg" [(ngModel)]="edServ.bizuEncarg">
                            <label for="bizuEncarg"></label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="CheckBoxCardManager">
                            <input type="checkbox" id="tarjEncarg" name="tarjEncarg" [(ngModel)]="edServ.tarjEncarg">
                            <label for="tarjEncarg"></label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="checkBoxTransactionManager">
                            <input type="checkbox" id="transEncarg" name="transEncarg" [(ngModel)]="edServ.transEncarg">
                            <label for="transEncarg"></label>
                        </div>
                    </div>

                    <div class="collectionOther row g-0" style="display: block;">
                        <label style="color: #242424; font-size: 17px; font-family: sans-serif;
                                        display: contents; font-weight: bold">Taxista</label>
                        <input matInput type="number" class="form-control" name="numberTaxi"
                            [(ngModel)]="edServ.numberTaxi" (ngModelChange)="editCollectionsValue()"
                            style="height: 2.2rem; color: #000000; font-size: 18px; font-family: sans-serif; border-color: #8C52FF">
                    </div>

                    <div class="row g-0">
                        <div class="checkBoxCashOther">
                            <input type="checkbox" id="efectDriverTaxi" name="efectDriverTaxi"
                                [(ngModel)]="edServ.efectDriverTaxi">
                            <label for="efectDriverTaxi"></label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="checkBoxBizumOther">
                            <input type="checkbox" id="bizuDriverTaxi" name="bizuDriverTaxi"
                                [(ngModel)]="edServ.bizuDriverTaxi">
                            <label for="bizuDriverTaxi"></label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="CheckBoxCardOther">
                            <input type="checkbox" id="tarjDriverTaxi" name="tarjDriverTaxi"
                                [(ngModel)]="edServ.tarjDriverTaxi">
                            <label for="tarjDriverTaxi"></label>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="checkBoxTransactionOther">
                            <input type="checkbox" id="transDriverTaxi" name="transDriverTaxi"
                                [(ngModel)]="edServ.transDriverTaxi">
                            <label for="transDriverTaxi"></label>
                        </div>
                    </div>
                    <!-- AQUI -->
                </div>


                <!-- Fin services -->

                <hr class="serviceLine">

                <div class="notesContainer">
                    <div class="row g-0">
                        <div class="notes">
                            <label style="color: #8C52FF; font-size: 20px; font-family: sans-serif;
                                    display: contents; font-weight: bold;">Notas:</label>
                            <textarea type="text" class="form-control" name="nota" [(ngModel)]="edServ.nota"
                                style="height: 2.2rem; color: #000000; font-size: 18px; font-family: sans-serif; border-color: #8C52FF"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row inputButton">

                    <div>
                        <div class="row g-0">
                            <button type="submit" mat-raised-button style="display: grid; margin: auto;" color="primary"
                                (click)="editService(edServ.id, edServ)">Guardar</button>
                        </div>
                    </div>

                    <div>
                        <div class="row g-0">
                            <button type="submit" mat-raised-button style="display: grid; margin: auto;"
                                color="secondary" (click)="cancel()">Cancelar</button>
                        </div>
                    </div>

                    <div>
                        <div class="row g-0">
                            <button type="submit" mat-raised-button style="display: grid; margin: auto;" color="warn"
                                (click)="deleteService(edServ.id)">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>