<form [formGroup]="formTemplate">

    <div class="container">
        <div class="row">

            <div class="col-6">
                <label style="display: contents;">Terapeuta</label>
                <select class="form-select" formControlName="terapeuta" [(ngModel)]="selectedTerapeuta"
                    (ngModelChange)="filtro()">
                    <option selected value="">Selecciona</option>
                    <option *ngFor="let terap of terapeuta" [value]="terap.nombre" style="font-size: 14px;">
                        {{terap.nombre}}
                    </option>
                </select>
            </div>

            <div class="col-6">
                <label style="display: contents;">Encargada</label>
                <select class="form-select" formControlName="encargada" [(ngModel)]="selectedEncargada"
                    (ngModelChange)="filtro()">
                    <option selected value="">Selecciona</option>
                    <option *ngFor="let encarg of encargada" [value]="encarg.nombre" style="font-size: 14px;">
                        {{encarg.nombre}}
                    </option>
                </select>
            </div>

            <div class="col-6" style="margin-top: 2%;">
                <div class="row">
                    <div class="col-9">
                        <input type="date" class="form-control" formControlName="fechaInicio" (change)="filtro()"
                            style="font-size: 14px;">
                    </div>
                    <div class="col-3" style="display: grid; align-content: center; justify-items: flex-start;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-calendar-date" viewBox="0 0 16 16">
                            <path
                                d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z" />
                            <path
                                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                        </svg>
                    </div>
                </div>
            </div>

            <div class="col-6" style="margin-top: 2%;">
                <div class="row">
                    <div class="col-9">
                        <input type="date" class="form-control" formControlName="FechaFin" (ngModelChange)="filtro()"
                            style="font-size: 14px;">
                    </div>
                    <div class="col-3" style="display: grid; align-content: center; justify-items: flex-start;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-calendar-date" viewBox="0 0 16 16">
                            <path
                                d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z" />
                            <path
                                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                        </svg>
                    </div>
                </div>
            </div>

            <div class="col-5" style="margin-top: 2%;">
                <label style="display: contents;">Tipo de Pago</label>
                <select class="form-select" formControlName="formaPago" [(ngModel)]="selectedFormPago"
                    (ngModelChange)="filtro()">
                    <option style="font-size: 14px;" selected value="">Selecciona</option>
                    <option style="font-size: 14px;" value="Efectivo">Efectivo</option>
                    <option style="font-size: 14px;" value="Bizum">Bizum</option>
                    <option style="font-size: 14px;" value="Tarjeta">Tarjeta</option>
                    <option style="font-size: 14px;" value="Trans">Trans</option>
                </select>
            </div>

            <div class="col-5 acomodarInput">
                <input type="text" class="form-control input-sm" formControlName="busqueda" (ngModelChange)="filtro()"
                    style="font-size: 14px;" />
            </div>

            <div class="col-2" style="align-self: center; text-align: center; cursor: pointer; margin-top: 2%;">
                <img src="./assets/excel.png" (click)="exportTableToExcel()" width="30">
            </div>
        </div>
    </div>
</form>

<!-- table -->

<div class="container" style="margin-top: 2%">
    <div class="table">
        <table class="table" id="excel-table">
            <thead>
                <tr>
                    <td class="quitarBordesVacio"></td>
                    <td class="quitarBordesVacio"></td>
                    <td class="quitarBordesVacio"></td>
                    <td class="quitarBordesVacio"></td>
                    <td class="quitarBordesVacio"></td>
                    <td class="quitarBordesVacio"></td>
                    <td class="quitarBordesVacio lbelTotal" style="border-bottom: 3px solid blue;">
                        TOTALES
                    </td>
                    <td class="bordeTotal" style="border-bottom: 3px solid blue;"> {{totalServicio + ' €'}} </td>
                    <td class="bordeTotal" style="border-bottom: 3px solid blue;">{{totalPiso + ' €'}} </td>
                    <td class="bordeTotal" style="border-bottom: 3px solid blue;">{{totalPiso2 + ' €'}} </td>
                    <td class="bordeTotal" style="border-bottom: 3px solid blue;">{{totalValorTerapeuta + ' €'}}</td>
                    <td class="bordeTotal" style="border-bottom: 3px solid blue;">{{totalValorEncargada + ' €'}}</td>
                    <td class="bordeTotal" style="border-bottom: 3px solid blue;">{{totalValorAOtros + ' €'}} </td>
                    <td class="bordeTotal" style="border-bottom: 3px solid blue;">{{TotalValorBebida + ' €'}} </td>
                    <td class="bordeTotal" style="border-bottom: 3px solid blue;">{{TotalValorTabaco + ' €'}} </td>
                    <td class="bordeTotal" style="border-bottom: 3px solid blue;">{{totalValorVitaminas + ' €'}}</td>
                    <td class="bordeTotal" style="border-bottom: 3px solid blue;">{{totalValorPropina + ' €'}} </td>
                    <td class="bordeTotal" style="border-bottom: 3px solid blue;">{{totalValorOtroServ + ' €'}}
                    <td class="bordeTotal" style="border-bottom: 3px solid blue;"> {{totalValor + ' €'}} </td>
                </tr>
                <tr class="table-secondary quitarBordes" style="line-height: 0%; letter-spacing: normal;">
                    <!-- 1 -->
                    <th style="border-bottom: 3px solid blue;">Nota</th>
                    <!-- 2 -->
                    <th style="border-bottom: 3px solid blue;">Fecha</th>
                    <!-- 3 -->
                    <th style="border-bottom: 3px solid blue;">Terap.</th>
                    <!-- 4 -->
                    <th style="border-bottom: 3px solid blue;">Encarg.</th>
                    <!-- 5 -->
                    <th style="border-bottom: 3px solid blue;">Salida</th>
                    <!-- 6 -->
                    <th style="border-bottom: 3px solid blue;">Hora</th>
                    <!-- 7 -->
                    <th style="border-bottom: 3px solid blue;">Pago</th>
                    <!-- 8 -->
                    <th style="border-bottom: 3px solid blue;">Tratamiento</th>
                    <!-- 9 -->
                    <th style="border-bottom: 3px solid blue;">€ a piso 1</th>
                    <!-- 10 -->
                    <th style="border-bottom: 3px solid blue;">€ a piso 2</th>
                    <!-- 11 -->
                    <th style="border-bottom: 3px solid blue;">€ a terap.</th>
                    <!-- 12 -->
                    <th style="border-bottom: 3px solid blue;">€ a enc.</th>
                    <!-- 13 -->
                    <th style="border-bottom: 3px solid blue;">€ a otros</th>
                    <!-- 14 -->
                    <th style="border-bottom: 3px solid blue;">Bebida</th>
                    <!-- 15 -->
                    <th style="border-bottom: 3px solid blue;">Tabaco</th>
                    <!-- 16 -->
                    <th style="border-bottom: 3px solid blue;">Vitamina</th>
                    <!-- 17 -->
                    <th style="border-bottom: 3px solid blue;">Propina</th>
                    <!-- 18 -->
                    <th style="border-bottom: 3px solid blue;">Otros</th>
                    <!-- 19 -->
                    <th style="border-bottom: 3px solid blue;">Total</th>
                    <!-- 20 -->
                    <th style="border-bottom: 3px solid blue;">Cliente</th>
                </tr>
            </thead>
            <tbody *ngFor="let serv of (servicio | terapeuta: selectedTerapeuta | 
                encargada: selectedEncargada | fechaInicial: fechaInicio:fechaFinal 
                | busqueda: filtredBusqueda | formaPago: selectedFormPago ) 
                | paginate: { itemsPerPage: 100, currentPage: page }">
                <tr style="cursor: pointer;">
                    <!-- 1 -->
                    <td style="border-bottom: hidden;" class="quitarBordes" [ngClass]="{'color2':serv.nota !== ''}"
                        (click)="notas(serv.id, modalTabl)"></td>
                    <!-- 2 -->
                    <td class="quitarBordes" (click)="editamos(serv.id)"
                        style="text-align: left; border-bottom: hidden;">{{serv.fecha}}
                    </td>
                    <!-- 3 -->
                    <td class="quitarBordes" (click)="editamos(serv.id)"
                        style="text-align: left; border-bottom: hidden;">
                        {{serv.terapeuta}}</td>
                    <!-- 4 -->
                    <td class="quitarBordes" (click)="editamos(serv.id)"
                        style="text-align: left; border-bottom: hidden;">
                        {{serv.encargada}}</td>
                    <!-- 5 -->
                    <td class="quitarBordes" (click)="editamos(serv.id)"
                        style="text-align: left; border-bottom: hidden;">{{serv.salida }}
                    </td>
                    <!-- 6 -->
                    <td class="quitarBordes" (click)="editamos(serv.id)"
                        style="text-align: left; border-bottom: hidden;">{{serv.horaStart
                        + '-' + serv.horaEnd }}
                    </td>
                    <!-- 7 -->
                    <td class="quitarBordes" (click)="editamos(serv.id)"
                        style="text-align: left; border-bottom: hidden;">
                        {{serv.formaPago}}</td>
                    <!-- 8 -->
                    <td class="quitarBordes" (click)="editamos(serv.id)"
                        style="text-align: right; border-bottom: hidden;">
                        {{serv.servicio}}</td>
                    <!-- 9 -->
                    <td class="quitarBordes" (click)="editamos(serv.id)"
                        style="text-align: right; border-bottom: hidden;">
                        {{serv.numberPiso1 + ' €'}}</td>
                    <!-- 10 -->
                    <td class="quitarBordes" (click)="editamos(serv.id)"
                        style="text-align: right; border-bottom: hidden;">
                        {{serv.numberPiso2 + ' €'}}</td>
                    <!-- 11 -->
                    <td class="quitarBordes" (click)="editamos(serv.id)"
                        style="text-align: right; border-bottom: hidden;">
                        {{serv.numberTerap + ' €'}}</td>
                    <!-- 12 -->
                    <td class="quitarBordes" (click)="editamos(serv.id)"
                        style="text-align: right; border-bottom: hidden;">
                        {{serv.numberEncarg + ' €'}}</td>
                    <!-- 13 -->
                    <td class="quitarBordes" (click)="editamos(serv.id)"
                        style="text-align: right; border-bottom: hidden;">
                        {{serv.numberOtro + ' €'}}</td>
                    <!-- 14 -->
                    <td class="quitarBordes" (click)="editamos(serv.id)"
                        style="text-align: right; border-bottom: hidden;">{{serv.bebidas +
                        ' €'}}</td>
                    <!-- 15 -->
                    <td class="quitarBordes" (click)="editamos(serv.id)"
                        style="text-align: right; border-bottom: hidden;">{{serv.tabaco +
                        ' €'}}</td>
                    <!-- 16 -->
                    <td class="quitarBordes" (click)="editamos(serv.id)"
                        style="text-align: right; border-bottom: hidden;">{{serv.vitaminas
                        + ' €'}}</td>
                    <!-- 17 -->
                    <td class="quitarBordes" (click)="editamos(serv.id)"
                        style="text-align: right; border-bottom: hidden;">{{serv.propina +
                        ' €'}}</td>
                    <!-- 18 -->
                    <td class="quitarBordes" (click)="editamos(serv.id)"
                        style="text-align: right; border-bottom: hidden;">{{serv.otros+ '
                        €'}}</td>
                    <!-- 19 -->
                    <td class="quitarBordes" (click)="editamos(serv.id)"
                        style="text-align: right; border-bottom: hidden;">
                        {{serv.totalServicio+ ' €'}}</td>
                    <!-- 20 -->
                    <td class="quitarBordes" (click)="editamos(serv.id)"
                        style="text-align: left; border-bottom: hidden;">
                        {{serv.cliente}}
                    </td>
                </tr>

                <!-- Modal -->
                <ng-template class="custom-modal" #modalTabl let-modal>
                    <div class="modal-header">
                        <h5 class="modal-title"> Nota </h5>
                        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body" style="text-align: center;">
                        <!-- Aqui se coloca lo adentro -->

                        <h4>{{serv.nota}}</h4>

                        <!-- Afuera -->
                    </div>
                </ng-template>

                <!-- Fin Modal -->

            </tbody>
        </table>

        <pagination-controls style="float: right;" (pageChange)="page = $event" previousLabel="Anterior"
            nextLabel="Siguiente">
        </pagination-controls>
    </div>
</div>