<h4 style="text-align: center; margin-top: 2%; margin-bottom: 4%;">Tabla</h4>

<form [formGroup]="formTemplate">

    <div class="container">
        <div class="row">

            <mat-form-field class="col-6">
                <mat-label>Terapeuta</mat-label>
                <mat-select formControlName="terapeuta" [(ngModel)]="selectedTerapeuta">
                    <mat-option *ngFor="let terap of terapeuta" [value]="terap.nombre">
                        {{terap.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="col-6">
                <mat-label>Encargada</mat-label>
                <mat-select formControlName="encargada" [(ngModel)]="selectedEncargada">
                    <mat-option *ngFor="let encarg of encargada" [value]="encarg.nombre">
                        {{encarg.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="col-6">
                <mat-label>Tipo pago</mat-label>
                <mat-select formControlName="encargada" [(ngModel)]="selectedEncargada">
                    <mat-option *ngFor="let encarg of encargada" [value]="encarg.nombre">
                        {{encarg.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="col-6">
                <input type="date" class="form-control" (change)="dateStart($event)" formControlName="fechaInicio">
            </div>


            <div class="col-6">
                <input type="date" class="form-control" (change)="dateEnd($event)" formControlName="FechaFin">
            </div>

            <mat-form-field class="col-6">
                <mat-label>Buscar</mat-label>
                <input matInput type="text">
            </mat-form-field>
        </div>
    </div>

    <!-- table -->

    <div class="page-content" style="height: calc(100vh - 149px)">
        <table class="table">
            <thead>
                <tr>
                    <!-- 1 -->
                    <th scope="col">Nota</th>
                    <!-- 2 -->
                    <th scope="col">Fecha</th>
                    <!-- 3 -->
                    <th scope="col">Terap.</th>
                    <!-- 4 -->
                    <th scope="col">Encarg.</th>
                    <!-- 5 -->
                    <th scope="col">Salida</th>
                    <!-- 6 -->
                    <th scope="col">Hora</th>
                    <!-- 7 -->
                    <th scope="col">Pago</th>
                    <!-- 8 -->
                    <th scope="col">Servicio</th>
                    <!-- 9 -->
                    <th scope="col">€ a terap.</th>
                    <!-- 10 -->
                    <th scope="col">€ a enc.</th>
                    <!-- 11 -->
                    <th scope="col">€ a otros</th>
                    <!-- 12 -->
                    <th scope="col">Bebida</th>
                    <!-- 13 -->
                    <th scope="col">Tabaco</th>
                    <!-- 14 -->
                    <th scope="col">Vitamina</th>
                    <!-- 15 -->
                    <th scope="col">Propina</th>
                    <!-- 16 -->
                    <th scope="col">Otros</th>
                    <!-- 17 -->
                    <th scope="col">Total</th>
                    <!-- 18 -->
                    <th scope="col">Cliente</th>
                </tr>
            </thead>
            <tbody *ngFor="let serv of (servicio | terapeuta: selectedTerapeuta | 
                encargada: selectedEncargada | fechaInicial: fechaInicio:fechaFinal ) 
                | paginate: { itemsPerPage: 5, currentPage: page }">
                <tr>
                    <!-- 1 -->
                    <td>{{serv.encargada}}</td>
                    <!-- 2 -->
                    <td>{{serv.fecha}}</td>
                    <!-- 3 -->
                    <td>{{serv.terapeuta}}</td>
                    <!-- 4 -->
                    <td>{{serv.encargada}}</td>
                    <!-- 5 -->
                    <td>{{serv.salida }}</td>
                    <!-- 6 -->
                    <td>{{serv.horaStart + '-' + serv.horaEnd }}</td>
                    <!-- 7 -->
                    <td>{{serv.formaPago}}</td>
                    <!-- 8 -->
                    <td>{{serv.servicio + ' €'}}</td>
                    <!-- 9 -->
                    <td>{{serv.numberTerap + ' €'}}</td>
                    <!-- 10 -->
                    <td>{{serv.numberEncarg + ' €'}}</td>
                    <!-- 11 -->
                    <td>{{serv.numberOtro + ' €'}}</td>
                    <!-- 12 -->
                    <td>{{serv.bebidas + ' €'}}</td>
                    <!-- 13 -->
                    <td>{{serv.tabaco + ' €'}}</td>
                    <!-- 14 -->
                    <td>{{serv.vitaminas + ' €'}}</td>
                    <!-- 15 -->
                    <td>{{serv.propina+ ' €'}}</td>
                    <!-- 16 -->
                    <td>{{serv.otros + ' €'}}</td>
                    <!-- 17 -->
                    <td>{{serv.totalServicio + ' €'}}</td>
                    <!-- 18 -->
                    <td>{{serv.cliente}}</td>
                </tr>
            </tbody>
        </table>

        <pagination-controls style="float: right;" (pageChange)="page = $event" previousLabel="Anterior"
            nextLabel="Siguiente">
        </pagination-controls>
    </div>
</form>