.color2 {
  background: blue;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: block;
  margin-top: 10%;
  margin-left: 20%;
}

table {
  width: max-content;
}

tr {
  line-height: 0%;
  font-size: 14px;
}

th {
  white-space: nowrap;
  font-size: 14px;
}

th,
td {
  font-size: 14px;
}

.table-secondary {
  --bs-table-bg: transparent;
  background-color: transparent;
}

.espacioTotales {
  left: 63%;
}

.quitarBordes {
  line-height: 100%;
}

.quitarBordesVacio {
  border-style: hidden;
}

.lbelTotal {
  border: hidden;
  font-weight: bold;
  color: red;
  border-color: black;
  padding: 14px 0px;
}

.bordeTotal {
  border: hidden;
  padding: 14px;
  text-align: right;
}

@media only screen and (min-device-width: 270px) and (max-device-width: 1030px) {
  .acomodarInput {
    margin-top: 4.5%;
  }
}

@media only screen and (min-device-width: 1131px) and (max-device-width: 2000px) {
  .acomodarInput {
    margin-top: 3%;
  }

  .tabla {
    margin-top: 3%;
  }
}
