.color2 {
  background: blue;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: block;
  margin-top: 10%;
  margin-left: 20%;
}

.table-secondary {
  --bs-table-bg: transparent;
  background-color: transparent;
  outline: outset;
}

.acomodarInput {
  margin-top: 3%;
}

.espacioTotales {
  left: 63%;
}

tr {
  line-height: 0%;
}

th {
  white-space: nowrap;
}

.quitarBordes {
  border-style: hidden;
  border-bottom: outset;
  border-left: outset;
  border-right: outset;
}

.quitarBordesVacio {
  border-style: hidden;
  line-height: 0%;
}

.quitarBordeTable {
  border-right: outset;
}

.quitarbordesTotal {
  border-bottom: solid;
  border-left: solid;
  border-right: solid;
}

.bordeTotal {
  border-top: solid;
  border-right: solid;
}

@media only screen and (min-device-width: 270px) and (max-device-width: 1030px) {
  .acomodarInput {
    margin-top: 5%;
  }
}

/* ------------------------------------------------------------------------------------------------
 ---------------------------------------------------------------------------------------------------
 Query para Pantalla grande */

@media only screen and (min-device-width: 1131px) and (max-device-width: 2000px) {
  .acomodarInput {
    margin-top: 2%;
  }

  .tabla {
    margin-top: 3%;
  }
}