.color2 {
  background: blue;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: block;
  margin-top: 10%;
  margin-left: 20%;
}

.acomodarInput {
  margin-top: 3%;
} 

.espacioTotales {
  left: 63%;
}

.table-secondary {
  --bs-table-bg: cornflowerblue;
}

@media only screen and (min-device-width: 270px) and (max-device-width: 1030px) {
  .acomodarInput {
    margin-top: 5%;
  }

  .tabla {
    display: grid;
    place-items: center;
    margin-top: 0%;
  }
}

/* ------------------------------------------------------------------------------------------------
 ---------------------------------------------------------------------------------------------------
 Query para Pantalla grande */

@media only screen and (min-device-width: 1131px) and (max-device-width: 2000px) {
  .acomodarInput {
    margin-top: 2%;
  }

  .tabla {
    display: grid;
    place-items: center;
    margin-top: 3%;
  }
}