mat-toolbar {
  background: #8C52FF;
  color: white;
  place-content: center;
}

mat-sidenav-content {
  background-color: white;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  height: 68%;
  border-right: none;
  background-color: #8C52FF;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

@media only screen and (min-device-width: 270px) and (max-device-width: 930px) {
  mat-sidenav {
    margin: 16px;
    width: 200px;
    height: 45%;
    border-right: none;
    background-color: #8C52FF;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
    margin-top: 15%;
  }
}