<mat-toolbar>
  <button style="margin-right: auto;" mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <span id="idTitulo" style="flex: auto"></span>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <div style="overflow-x: hidden; overflow-y: hidden;">

      <button mat-button class="menu-button" routerLink="/menu/{{ idUser['id'] }}/vision/{{idUser['id']}}"
        (click)="toolbar()">
        <mat-icon>Visión</mat-icon>
        <span style="font-family: sans-serif; font-size: 18px;">Home</span>
      </button>

      <button mat-button class="menu-button" routerLink="/menu/{{ idUser['id'] }}/nuevo-servicio/{{idUser['id']}}/false"
        (click)="toolbar()">
        <mat-icon>manage_accounts</mat-icon>
        <span style="font-family: sans-serif; font-size: 18px;">Servicio</span>
      </button>

      <button mat-button class="menu-button" routerLink="/menu/{{ idUser['id'] }}/tabla/{{idUser['id']}}"
        (click)="toolbar()">
        <mat-icon>table</mat-icon>
        <span style="font-family: sans-serif; font-size: 18px;">Tabla</span>
      </button>

      <button (click)="liquidation()" mat-button class="menu-button">
        <mat-icon>payments</mat-icon>
        <span style="font-family: sans-serif; font-size: 18px;">Liquidación</span>
      </button>

      <button *ngIf="isLiquidation" mat-button class="menu-button" [routerLink]="'terapeutas'" (click)="toolbar()"
        style="margin-left: 23px">
        <mat-icon>table</mat-icon>
        <span style="font-family: sans-serif; font-size: 18px;">Terapeutas</span>
      </button>

      <button *ngIf="isLiquidation" mat-button class="menu-button" [routerLink]="'encargadas'" (click)="toolbar()"
        style="margin-left: 23px">
        <mat-icon>table</mat-icon>
        <span style="font-family: sans-serif; font-size: 18px;">Encargadas</span>
      </button>

      <button mat-button class="menu-button" *ngIf="idUser['rol'] == 'administrador'" [routerLink]="'cierre'"
        (click)="toolbar()">
        <mat-icon>query_stats</mat-icon>
        <span style="font-family: sans-serif; font-size: 18px;">Cierre</span>
      </button>

      <button mat-button class="menu-button" *ngIf="idUser['rol'] == 'administrador'" [routerLink]="'configuracion'"
        (click)="toolbar()">
        <mat-icon>settings</mat-icon>
        <span style="font-family: sans-serif; font-size: 18px;">Configuración</span>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="margin-top: 1rem;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>