.color1 {
    background: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: block;
    margin-top: 10%;
    margin-left: 20%;
}


.color2 {
    background: green;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: block;
    margin-top: 10%;
    margin-left: 20%;
}

.table-secondary {
    --bs-table-bg: transparent;
    background-color: transparent;
}

tr {
    line-height: 0%;
    font-size: 14px;
}

th {
    white-space: nowrap;
    font-size: 14px;
}

th,
td {
    font-size: 14px;
}

.removeBorders {
    line-height: 100%;
}

@media only screen and (min-device-width: 270px) and (max-device-width: 930px) {

    table {
        width: inherit;
    }

    .incomePeriod {
        margin-top: 0%;
        margin-bottom: 3%;
        text-transform: inherit;
        font-weight: bold;
        font-size: 150%;
        color: blue;
    }

    .columnName {
        padding: 24px 0px 0px 6px;
        text-align: center;
        max-width: 0px;
        word-wrap: break-word;
        line-height: normal;
        border-bottom: 1px solid blue;
    }

    .fixedColumnDay {
        padding: 24px 0px 0px 6px;
        text-align: center;
        max-width: 0px;
        word-wrap: break-word;
        line-height: normal;
        border-bottom: 1px solid blue;
    }

    .userColumn {
        border-bottom: 1px solid blue;
        padding: 35px 0px 10px 6px;
        text-align: center;
    }

    .passwordColumn {
        border-bottom: 1px solid blue;
        padding: 35px 0px 10px 6px;
        text-align: center;
    }

    .serviceColumn {
        padding: 24px 0px 0px 6px;
        text-align: center;
        max-width: 0px;
        word-wrap: break-word;
        line-height: normal;
        border-bottom: 1px solid blue;
    }

    .drinkColumn {
        padding: 24px 0px 0px 6px;
        text-align: center;
        max-width: 0px;
        word-wrap: break-word;
        line-height: normal;
        border-bottom: 1px solid blue;
    }

    .tobaccoColumn {
        padding: 24px 0px 0px 6px;
        text-align: center;
        max-width: 0px;
        width: 0%;
        word-wrap: break-word;
        line-height: normal;
        border-bottom: 1px solid blue;
    }

    .vitaminColumn {
        padding: 24px 0px 0px 6px;
        text-align: center;
        max-width: 0px;
        word-wrap: break-word;
        line-height: normal;
        border-bottom: 1px solid blue;
    }

    .tipColumn {
        padding: 24px 0px 0px 6px;
        text-align: center;
        max-width: 0px;
        word-wrap: break-word;
        line-height: normal;
        border-bottom: 1px solid blue;
    }

    .columnOthers {
        border-bottom: 1px solid blue;
        padding: 35px 0px 10px 6px;
        text-align: center;
    }

    .columnUserInCharge {
        border-bottom: 1px solid blue;
        padding: 35px 0px 10px 6px;
        text-align: center;
    }

    .passwordAssignedColumn {
        border-bottom: 1px solid blue;
        padding: 35px 0px 10px 6px;
        text-align: center;
    }

    .fixedDayColumnInCharge {
        padding: 24px 0px 0px 6px;
        text-align: center;
        max-width: 0px;
        word-wrap: break-word;
        line-height: normal;
        border-bottom: 1px solid blue;
    }

    .serviceColumnInCharge {
        padding: 24px 0px 0px 6px;
        text-align: center;
        max-width: 0px;
        width: 0%;
        word-wrap: break-word;
        line-height: normal;
        border-bottom: 1px solid blue;
    }

    .commissionedDrinkColumn {
        padding: 24px 0px 0px 6px;
        text-align: center;
        max-width: 0px;
        width: 0%;
        word-wrap: break-word;
        line-height: normal;
        border-bottom: 1px solid blue;
    }

    .tobaccoColumnInCharge {
        padding: 24px 0px 0px 6px;
        text-align: center;
        max-width: 0px;
        width: 0%;
        word-wrap: break-word;
        line-height: normal;
        border-bottom: 1px solid blue;
    }

    .vitaminColumnInCharge {
        padding: 24px 0px 0px 6px;
        text-align: center;
        max-width: 0px;
        width: 10%;
        word-wrap: break-word;
        line-height: normal;
        border-bottom: 1px solid blue;
    }

    .commissionedTipColumn {
        padding: 24px 0px 0px 6px;
        text-align: center;
        max-width: 0px;
        width: 8%;
        word-wrap: break-word;
        line-height: normal;
        border-bottom: 1px solid blue;
    }

    .otherColumnInCharge {
        border-bottom: 1px solid blue;
        padding: 35px 0px 10px 6px;
        text-align: center;
    }
}

@media only screen and (min-device-width: 1023px) and (max-device-width: 2000px) {
    .tabla {
        margin-top: 3%;
    }

    .incomePeriod {
        margin-top: 0%;
        margin-bottom: 3%;
        text-transform: inherit;
        font-weight: bold;
        font-size: 150%;
        color: blue;
    }

    .columnName {
        width: 80px;
        border-bottom: 1px solid blue;
        padding: 35px 0px 10px 6px;
        text-align: center;
    }

    .userColumn {
        width: 80px;
        border-bottom: 1px solid blue;
        padding: 35px 0px 10px 6px;
        text-align: center;
    }

    .passwordColumn {
        width: 80px;
        border-bottom: 1px solid blue;
        padding: 35px 0px 10px 6px;
        text-align: center;
    }

    .fixedColumnDay {
        width: 80px;
        border-bottom: 1px solid blue;
        padding: 35px 0px 10px 6px;
        text-align: center;
    }

    .serviceColumn {
        width: 80px;
        border-bottom: 1px solid blue;
        padding: 35px 0px 10px 6px;
        text-align: center;
    }

    .drinkColumn {
        width: 80px;
        border-bottom: 1px solid blue;
        padding: 35px 0px 10px 6px;
        text-align: center;
    }

    .tobaccoColumn {
        width: 80px;
        border-bottom: 1px solid blue;
        padding: 35px 0px 10px 6px;
        text-align: center;
    }

    .vitaminColumn {
        width: 80px;
        border-bottom: 1px solid blue;
        padding: 35px 0px 10px 6px;
        text-align: center;
    }

    .tipColumn {
        width: 80px;
        border-bottom: 1px solid blue;
        padding: 35px 0px 10px 6px;
        text-align: center;
    }

    .columnOthers {
        width: 80px;
        border-bottom: 1px solid blue;
        padding: 35px 0px 10px 6px;
        text-align: center;
    }

    .columnNombreManager {
        width: 80px;
        border-bottom: 1px solid blue;
        padding: 35px 0px 10px 6px;
        text-align: center;
    }

    .columnUserInCharge {
        width: 80px;
        border-bottom: 1px solid blue;
        padding: 35px 0px 10px 6px;
        text-align: center;
    }

    .passwordAssignedColumn {
        width: 80px;
        border-bottom: 1px solid blue;
        padding: 35px 0px 10px 6px;
        text-align: center;
    }

    .fixedDayColumnInCharge {
        width: 80px;
        border-bottom: 1px solid blue;
        padding: 35px 0px 10px 6px;
        text-align: center;
    }

    .serviceColumnInCharge {
        width: 80px;
        border-bottom: 1px solid blue;
        padding: 35px 0px 10px 6px;
        text-align: center;
    }

    .commissionedDrinkColumn {
        width: 80px;
        border-bottom: 1px solid blue;
        padding: 35px 0px 10px 6px;
        text-align: center;
    }

    .tobaccoColumnInCharge {
        width: 80px;
        border-bottom: 1px solid blue;
        padding: 35px 0px 10px 6px;
        text-align: center;
    }

    .vitaminColumnInCharge {
        width: 80px;
        border-bottom: 1px solid blue;
        padding: 35px 0px 10px 6px;
        text-align: center;
    }

    .commissionedTipColumn {
        width: 80px;
        border-bottom: 1px solid blue;
        padding: 35px 0px 10px 6px;
        text-align: center;
    }

    .otherColumnInCharge {
        width: 80px;
        border-bottom: 1px solid blue;
        padding: 35px 0px 10px 6px;
        text-align: center;
    }
}