<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-8 mx-auto">
            <div class="m-0 vh-90 row justify-content-center align-items-center">

                <label *ngIf="liquidationForm" class="titleLiqudationManager"> LIQUIDACIÓN ENCARGADA </label>

                <form *ngIf="liquidationForm" [formGroup]="formTemplate">

                    <div *ngIf="administratorRole" class="text-center mt-4 mb-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                            style="cursor: pointer; color: #8c52ff;" class="bi bi-plus-circle" viewBox="0 0 16 16"
                            (click)="insertForm()">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                        </svg>
                        <div>
                            <label> Nueva liquidación </label>
                        </div>
                    </div>

                    <div class="row tableContainer">

                        <div class="containerInCharge">
                            <div class="row g-0">
                                <label class="text">Encargada</label>
                                <select class="form-select" formControlName="encargada"
                                    [(ngModel)]="liquidationManager.encargada" (ngModelChange)="filters()"
                                    style="height: 2.2rem; border-color: #8C52FF; color: #242424; font-size: 18px; font-family: sans-serif;">
                                    <option *ngIf="administratorRole" selected value="">Selecciona</option>
                                    <option *ngFor="let managers of manager" [value]="managers.nombre">
                                        {{managers.nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="containerSearch">
                            <div class="row g-0">
                                <label class="text">Buscar</label>
                                <input type="text" class="form-control" formControlName="busqueda"
                                    (ngModelChange)="filters()" style="height: 2.2rem; border-color: #8C52FF; color: #242424; 
                                        font-size: 18px; font-family: sans-serif;">
                            </div>
                        </div>

                        <div class="dateContainer">
                            <div class="row g-0">
                                <label class="text">Fecha Inicio</label>
                                <input type="date" class="form-control" (change)="filters()"
                                    formControlName="fechaInicio" [value]="CurrenDate"
                                    style="height: 2.2rem; border-color: #8C52FF; color: #242424; font-size: 18px; font-family: sans-serif">
                            </div>
                        </div>

                        <div class="dateContainer">
                            <div class="row g-0">
                                <label class="text">Fecha Final</label>
                                <input type="date" class="form-control" (change)="filtersDateEnd($event)"
                                    formControlName="FechaFin" [value]="CurrenDate" style="height: 2.2rem; border-color: #8C52FF; 
                                        color: #242424; font-size: 18px; font-family: sans-serif">
                            </div>
                        </div>

                        <div class="buttonDeleteContainer">
                            <div class="row g-0">
                                <button type="submit" id="buttonDelete" mat-raised-button color="warn" disabled
                                    (click)="deleteService()">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- Table 1 -->
                <div *ngIf="liquidationForm" class="column">

                    <div class="columnTableLine1">

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div class="textTreatment1">
                            <label>Trata</label>
                        </div>

                    </div>

                    <div class="columnTableLine2">

                        <div class="textManager">
                            <label>Encargada</label>
                        </div>

                        <div class="textImport">
                            <label>Importe</label>
                        </div>

                        <div class="textDate">
                            <label>Desde</label>
                        </div>

                        <div class="textDate">
                            <label>Hasta</label>
                        </div>

                        <div class="textTreatment2">
                            <label>miento</label>
                        </div>

                    </div>

                    <hr class="lineTable1">

                    <div class="columnTableLine2"
                        *ngFor="let liqEncarg of (liquidated | encargada: liquidationManager.encargada | fechaFinalEncargada: fechaInicio:fechaFinal 
                    | busquedaEncargada: filterByName:filterByNumber) | paginate: { itemsPerPage: 10, currentPage: page }"
                        (click)="dataFormEdit(liqEncarg.idEncargada, liqEncarg.id)">

                        <div class="columnManager">{{liqEncarg?.encargada}}</div>

                        <div class="columnImport">{{liqEncarg?.importe + ' €'}}</div>

                        <div style="font-family: sans-serif; font-size: 18px; line-height: 1.4rem;">
                            {{liqEncarg?.desdeFechaLiquidado + ' - ' + liqEncarg?.desdeHoraLiquidado}} </div>

                        <div style="font-family: sans-serif; font-size: 18px; line-height: 1.4rem;">
                            {{liqEncarg?.hastaFechaLiquidado + ' - ' + liqEncarg?.hastaHoraLiquidado}} </div>

                        <div class="columnTreatment">{{liqEncarg?.tratamiento}}</div>
                    </div>
                </div>

                <pagination-controls *ngIf="liquidationForm" class="pagination_Mobile" (pageChange)="page = $event"
                    previousLabel="" nextLabel="">
                </pagination-controls>

                <!-- Add Therapist -->

                <label *ngIf="addForm" class="title">NUEVA LIQUIDACIÓN</label>

                <form *ngIf="addForm">

                    <div class="row containerSelect">

                        <div *ngIf="administratorRole" class="containerSelectManager">
                            <div class="row g-0">
                                <label class="text">Encargada</label>
                                <select class="form-select" name="encargada" [(ngModel)]="liquidationManager.encargada"
                                    (ngModelChange)="calculateServices()"
                                    style="height: 2.2rem; border-color: #8C52FF; color: #242424; font-size: 18px; font-family: sans-serif;">
                                    <option *ngIf="administratorRole" selected value="">Selecciona</option>
                                    <option *ngFor="let managers of manager" [value]="managers.nombre">
                                        {{managers.nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div *ngIf="!administratorRole" class="containerInCharge">
                            <div class="row g-0">
                                <label class="text">Encargada</label>
                                <select class="form-select" name="encargada" [(ngModel)]="liquidationManager.encargada"
                                    style="height: 2.2rem; border-color: #8C52FF; color: #242424; font-size: 18px; font-family: sans-serif;">
                                    <option *ngFor="let managers of manager" [value]="managers.nombre">
                                        {{managers.nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>

                    </div>
                </form>

                <div *ngIf="selected && addForm">

                    <div class="row tableContainer2">
                        <div class="fechaInicio">
                            <label style="color: #242424; font-size: 18px; font-family: sans-serif; 
                                        font-weight: bold; display: contents;">Inicial</label>
                            <input type="date" class="form-control" name="desdeFechaLiquidado"
                                (change)="inputDateAndTime()" [(ngModel)]="liquidationManager.desdeFechaLiquidado"
                                [value]="liquidationManager.desdeFechaLiquidado"
                                style="height: 2.2rem; border-color: #8C52FF; color: #242424; font-size: 18px; font-family: sans-serif">
                        </div>

                        <div class="horaInicio">
                            <input type="time" min="18:00" max="21:00" step="3600" class="form-control"
                                (change)="inputDateAndTime()" name="desdeHoraLiquidado"
                                [(ngModel)]="liquidationManager.desdeHoraLiquidado"
                                [value]="liquidationManager.desdeHoraLiquidado"
                                style="height: 2.2rem; border-color: #8C52FF; color: #242424; font-size: 18px; font-family: sans-serif" />
                        </div>

                        <div class="fechaFinal">
                            <label style="color: #242424; font-size: 18px; font-family: sans-serif; 
                                            font-weight: bold; display: contents;">Final</label>
                            <input type="date" class="form-control" name="hastaFechaLiquidado"
                                (change)="inputDateAndTime()" [(ngModel)]="liquidationManager.hastaFechaLiquidado"
                                [value]="liquidationManager.hastaFechaLiquidado"
                                style="height: 2.2rem; border-color: #8C52FF; color: #242424; font-size: 18px; font-family: sans-serif">
                        </div>

                        <div class="horaFinal">
                            <input type="time" name="horaStart" min="18:00" max="21:00" step="3600" class="form-control"
                                [(ngModel)]="liquidationManager.hastaHoraLiquidado" (change)="inputDateAndTime()"
                                [value]="liquidationManager.hastaHoraLiquidado"
                                style="height: 2.2rem; border-color: #8C52FF; color: #242424; font-size: 18px; font-family: sans-serif">
                        </div>
                    </div>

                    <div class="row containerTitleSelect">
                        <div class="row g-0">
                            <label class="titleLiquidation">TOTAL LIQUIDACIÓN</label>
                        </div>

                        <div class="row g-0" style="justify-content: end">
                            <label class="titleLiquidation">{{textTotalComission + ' €'}}</label>
                        </div>

                    </div>
                </div>

                <!-- Table 2 -->

                <div class="column2" *ngIf="selected && addForm">
                    <div class="columnTable2Line1">

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div class="textTreatmentTable2Line1">
                            <label>Trata</label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                    </div>


                    <div class="columnTable2Line2">

                        <div>
                            <label></label>
                        </div>

                        <div class="textDate">
                            <label>Fecha</label>
                        </div>

                        <div class="textHour">
                            <label>Hora</label>
                        </div>

                        <div class="textHour">
                            <label>Min</label>
                        </div>

                        <div class="textTreatmentTable2Line2">
                            <label>miento</label>
                        </div>

                        <div class="textExit">
                            <label>Salida</label>
                        </div>

                        <div class="textTip">
                            <label>Propina</label>
                        </div>

                        <div class="textPay">
                            <label>Pago</label>
                        </div>

                        <div class="textValueManager">
                            <label>€ A Encarg.</label>
                        </div>

                        <div class="textValue">
                            <label>Bebida</label>
                        </div>

                        <div class="textValue">
                            <label>Tabaco</label>
                        </div>

                        <div class="textVitamin">
                            <label>Vitamina</label>
                        </div>

                        <div class="textValue">
                            <label>Otros</label>
                        </div>

                    </div>

                    <hr class="lineTable2">

                    <div class="columnTable2Line2" *ngFor="let serv of (unliquidatedService | encargada: liquidationManager.encargada) 
                    | paginate: { itemsPerPage: 10, currentPage: page }">

                        <div [ngClass]="{'color2':serv.nota !== ''}" (click)="notes(serv.id, modalTabl)">
                        </div>

                        <div class="columnDate" (click)="goToEdit(serv.id)">{{serv?.fecha}}</div>

                        <div class="columnHour" (click)="goToEdit(serv.id)">
                            {{serv.horaStart + ' - ' + serv.horaEnd}} </div>


                        <div class="columnMin" (click)="goToEdit(serv.id)">{{serv?.minuto}}</div>

                        <div class="columnTreatment2" (click)="goToEdit(serv.id)">{{serv?.servicio + ' €'}} </div>

                        <div class="columnExit" (click)="goToEdit(serv.id)">{{serv?.salida}}</div>

                        <div class="columnValueTip" (click)="goToEdit(serv.id)">{{serv?.propina + ' €'}} </div>

                        <div class="columnPaymentMethod" (click)="goToEdit(serv.id)">{{serv?.formaPago}}</div>

                        <div class="columnValueManager" (click)="goToEdit(serv.id)">
                            {{serv?.numberEncarg + ' €'}} </div>

                        <div class="columnValueDrink" (click)="goToEdit(serv.id)">{{serv?.bebidas + ' €'}}</div>

                        <div class="columnValueTobacco" (click)="goToEdit(serv.id)">{{serv?.tabaco + ' €'}}</div>

                        <div class="columnValueVitamin" (click)="goToEdit(serv.id)">{{serv?.vitaminas + ' €'}}</div>

                        <div class="columnValueOthers" (click)="goToEdit(serv.id)">{{serv?.otros + ' €'}}</div>

                        <!-- Modal -->
                        <ng-template class="custom-modal" #modalTabl let-modal>
                            <div class="modal-header">
                                <h5 class="modal-title"> Nota </h5>
                                <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body" style="text-align: center;">
                                <!-- Aqui se coloca lo adentro -->

                                <h4>{{serv.nota}}</h4>

                                <!-- Afuera -->
                            </div>
                        </ng-template>
                        <!-- Fin Modal -->
                    </div>
                </div>

                <pagination-controls *ngIf="selected && addForm" class="pagination_Mobile" (pageChange)="page = $event"
                    previousLabel="" nextLabel="">
                </pagination-controls>

                <!-- Table 3 -->

                <div class="column3" *ngIf="selected && addForm">
                    <div class="columnTable3">

                        <div class="">
                            <label></label>
                        </div>

                        <div class="textSum">
                            <label>Suma</label>
                        </div>

                        <div class="textCommision">
                            <label>Comisión</label>
                        </div>

                        <div class="textTotals">
                            <label>Total</label>
                        </div>

                    </div>

                    <hr class="lineTable3">

                    <div class="columnTable3">
                        <label class="columnTreatment3">Tratam.</label>
                        <label class="columnSum">{{textTotalService + ' €'}}</label>
                        <label class="columnComission">{{managerName?.servicio + '
                            %'}}</label>
                        <label class="columnTotal">{{textServiceComission + ' €'}}</label>
                    </div>

                    <div class="columnTable3">
                        <label class="columnTreatment3">Propina</label>
                        <label class="columnSum">{{textTotalTip2 + ' €'}}</label>
                        <label class="columnComission">{{managerName?.propina + ' %'}}</label>
                        <label class="columnTotal">{{textComissionTip + ' €'}}</label>
                    </div>

                    <div class="columnTable3">
                        <label class="columnTreatment3">Bebida</label>
                        <label class="columnSum">{{textValueDrink + ' €'}}</label>
                        <label class="columnComission">{{managerName?.bebida + ' %'}}</label>
                        <label class="columnTotal">{{textBeverageCommission + ' €'}}</label>
                    </div>

                    <div class="columnTable3">
                        <label class="columnTreatment3">Tabaco</label>
                        <label class="columnSum">{{textTobaccoValue + ' €'}}</label>
                        <label class="columnComission">{{managerName?.tabaco + ' %'}}</label>
                        <label class="columnTotal">{{textTobaccoCommission + ' €'}}</label>
                    </div>

                    <div class="columnTable3">
                        <label class="columnTreatment3">Vitamina</label>
                        <label class="columnSum">{{textValueVitamins + ' €'}}</label>
                        <label class="columnComission">
                            {{managerName?.vitamina + ' %'}}</label>
                        <label class="columnTotal">{{textVitaminCommission + ' €'}}</label>
                    </div>

                    <div class="columnTable3">
                        <label class="columnTreatment3">Otros</label>
                        <label class="columnSum">{{textValueOther + ' €'}}</label>
                        <label class="columnComission">{{managerName?.otros + ' %'}}</label>
                        <label class="columnTotal">{{textCommissionOthers + ' €'}}</label>
                    </div>

                    <div class="columnTable3">
                        <label class="columnTreatment3"></label>
                        <label class="textSum2">Suma</label>
                        <label></label>
                        <label class="columnTotal">{{textSumCommission + ' €'}}</label>
                    </div>

                    <div class="columnFixedDay">
                        <label class="columnTreatment3"></label>
                        <label class="textSum2">Fijo/día</label>
                        <input type="number" (change)="fixedNumberDay($event)" [value]="fixedDay" class="inputFixedDay"  >
                        <label class="textSum2">{{ 'X ' + letterFixedDay + ' €'}}</label>
                        <label class="columnTotal">{{totalFixedDay + ' €'}}</label>
                    </div>

                    <div class="columnTable3">
                        <label class="columnTreatment3"></label>
                        <label class="textReceivend">Recibido</label>
                        <label></label>
                        <label class="columnTotal">{{textReceivedTherapist + ' €'}}</label>
                    </div>

                    <hr class="lineTotalPay">

                    <div class="columnTable3">
                        <label class="columnTreatment3"></label>
                        <label class="columnTotalPay">Total a</label>
                        <label class="columnTotalPay">pagar</label>
                        <label class="columnTotal">{{textTotalCommission + ' €'}}</label>
                    </div>
                </div>

                <!-- Table 4 -->

                <div class="column4" *ngIf="selected && addForm">

                    <label class="textPayToTherapist">Pagado a encargada</label>

                    <hr class="lineTable4">

                    <div class="columnTable4">
                        <label class="columnTreatment4">Efectivo</label>
                        <label class="columnSum">{{textTotalCash + ' €'}}</label>
                    </div>

                    <div class="columnTable4">
                        <label class="columnTreatment4">Bizum</label>
                        <label class="columnSum">{{textTotalBizum + ' €'}}</label>
                    </div>

                    <div class="columnTable4">
                        <label class="columnTreatment4">Tarjeta</label>
                        <label class="columnSum">{{textTotalCard + ' €'}}</label>
                    </div>

                    <div class="columnTable4">
                        <label class="columnTreatment4">Transferencia</label>
                        <label class="columnSum">{{textTotalTransaction + ' €'}}</label>
                    </div>

                    <hr class="lineTable4">

                    <div class="columnTable4">
                        <label class="columnTreatment4">Total pagado</label>
                        <label class="columnSum">{{textTotalTherapistPayment + ' €'}}</label>
                    </div>
                </div>

                <div *ngIf="!editEncarg" class="row inputButton">

                    <div *ngIf="selected && unliquidatedService.length <= 0">
                        <div class="row g-0">
                            <button mat-raised-button style="display: grid; margin: auto;" color="primary"
                                (click)="cancel()">Cancelar</button>
                        </div>
                    </div>

                    <div *ngIf="selected && unliquidatedService.length > 0">
                        <div class="row g-0">
                            <button type="submit" mat-raised-button style="display: grid; margin: auto;" color="primary"
                                (click)="save()">Guardar</button>
                        </div>
                    </div>

                    <div *ngIf="selected && unliquidatedService.length > 0">
                        <div class="row g-0">
                            <button type="submit" mat-raised-button style="display: grid; margin: auto;" color="primary"
                                (click)="cancel()">Cancelar</button>
                        </div>
                    </div>
                </div>

                <!-- Edit Liquidation -->

                <label *ngIf="editEncarg" class="titleEdit">
                    Liquidación {{settledData[0]['encargada']}}</label>

                <label *ngIf="editEncarg" class="textDates">{{liquidationManager.desdeFechaLiquidado + ' : ' +
                    liquidationManager.desdeHoraLiquidado + ' - ' + liquidationManager.hastaFechaLiquidado
                    + ' : ' + liquidationManager.hastaHoraLiquidado}}</label>

                <div *ngIf="editEncarg">
                    <div class="row containerTitleEdit">
                        <div class="row g-0">
                            <label class="titleLiquidation">TOTAL LIQUIDACIÓN</label>
                        </div>

                        <div class="row g-0" style="justify-content: end">
                            <label class="titleLiquidation">{{textTotalComission + ' €'}}</label>
                        </div>
                    </div>

                </div>

                <!-- Table 2 -->

                <div class="column2" *ngIf="editEncarg">
                    <div class="columnTable2Line1">

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div class="textTreatmentTable2Line1">
                            <label>Trata</label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                        <div>
                            <label></label>
                        </div>

                    </div>


                    <div class="columnTable2Line2">

                        <div>
                            <label></label>
                        </div>

                        <div class="textDate">
                            <label>Fecha</label>
                        </div>

                        <div class="textHour">
                            <label>Hora</label>
                        </div>

                        <div class="textHour">
                            <label>Min</label>
                        </div>

                        <div class="textTreatmentTable2Line2">
                            <label>miento</label>
                        </div>

                        <div class="textExit">
                            <label>Salida</label>
                        </div>

                        <div class="textTip">
                            <label>Propina</label>
                        </div>

                        <div class="textPay">
                            <label>Pago</label>
                        </div>

                        <div class="textValueManager">
                            <label>€ A Encarg.</label>
                        </div>

                        <div class="textValue">
                            <label>Bebida</label>
                        </div>

                        <div class="textValue">
                            <label>Tabaco</label>
                        </div>

                        <div class="textVitamin">
                            <label>Vitamina</label>
                        </div>

                        <div class="textValue">
                            <label>Otros</label>
                        </div>

                    </div>

                    <hr class="lineTable2">

                    <div class="columnTable2Line2" *ngFor="let serv of (settledData | encargada: liquidationManager.encargada) 
                    | paginate: { itemsPerPage: 10, currentPage: page }">

                        <div [ngClass]="{'color2':serv.nota !== ''}" (click)="notes(serv.id, modalTabl)">
                        </div>

                        <div class="columnDate" (click)="goToEdit(serv.id)">{{serv?.fecha}}</div>

                        <div class="columnHour" (click)="goToEdit(serv.id)">
                            {{serv.horaStart + ' - ' + serv.horaEnd}} </div>


                        <div class="columnMin" (click)="goToEdit(serv.id)">{{serv?.minuto}}</div>

                        <div class="columnTreatment2" (click)="goToEdit(serv.id)">{{serv?.servicio + ' €'}} </div>

                        <div class="columnExit" (click)="goToEdit(serv.id)">{{serv?.salida}}</div>

                        <div class="columnValueTip" (click)="goToEdit(serv.id)">{{serv?.propina + ' €'}} </div>

                        <div class="columnPaymentMethod" (click)="goToEdit(serv.id)">{{serv?.formaPago}}</div>

                        <div class="columnValueManager" (click)="goToEdit(serv.id)">
                            {{serv?.numberEncarg + ' €'}} </div>

                        <div class="columnValueDrink" (click)="goToEdit(serv.id)">{{serv?.bebidas + ' €'}}</div>

                        <div class="columnValueTobacco" (click)="goToEdit(serv.id)">{{serv?.tabaco + ' €'}}</div>

                        <div class="columnValueVitamin" (click)="goToEdit(serv.id)">{{serv?.vitaminas + ' €'}}</div>

                        <div class="columnValueOthers" (click)="goToEdit(serv.id)">{{serv?.otros + ' €'}}</div>

                        <!-- Modal -->
                        <ng-template class="custom-modal" #modalTabl let-modal>
                            <div class="modal-header">
                                <h5 class="modal-title"> Nota </h5>
                                <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body" style="text-align: center;">
                                <!-- Aqui se coloca lo adentro -->

                                <h4>{{serv.nota}}</h4>

                                <!-- Afuera -->
                            </div>
                        </ng-template>
                        <!-- Fin Modal -->
                    </div>
                </div>

                <pagination-controls *ngIf="editEncarg" class="pagination_Mobile" (pageChange)="page = $event"
                    previousLabel="" nextLabel="">
                </pagination-controls>

                <!-- Table 3 -->

                <div class="column3" *ngIf="editEncarg">
                    <div class="columnTable3">

                        <div class="">
                            <label></label>
                        </div>

                        <div class="textSum">
                            <label>Suma</label>
                        </div>

                        <div class="textCommision">
                            <label>Comisión</label>
                        </div>

                        <div class="textTotals">
                            <label>Total</label>
                        </div>

                    </div>

                    <hr class="lineTable3">

                    <div class="columnTable3">
                        <label class="columnTreatment3">Tratam.</label>
                        <label class="columnSum">{{textTotalService + ' €'}}</label>
                        <label class="columnComission">{{managerName?.servicio + '
                            %'}}</label>
                        <label class="columnTotal">{{textServiceComission + ' €'}}</label>
                    </div>

                    <div class="columnTable3">
                        <label class="columnTreatment3">Propina</label>
                        <label class="columnSum">{{textTotalTip2 + ' €'}}</label>
                        <label class="columnComission">{{managerName?.propina + ' %'}}</label>
                        <label class="columnTotal">{{textComissionTip + ' €'}}</label>
                    </div>

                    <div class="columnTable3">
                        <label class="columnTreatment3">Bebida</label>
                        <label class="columnSum">{{textValueDrink + ' €'}}</label>
                        <label class="columnComission">{{managerName?.bebida + ' %'}}</label>
                        <label class="columnTotal">{{textBeverageCommission + ' €'}}</label>
                    </div>

                    <div class="columnTable3">
                        <label class="columnTreatment3">Tabaco</label>
                        <label class="columnSum">{{textTobaccoValue + ' €'}}</label>
                        <label class="columnComission">{{managerName?.tabaco + ' %'}}</label>
                        <label class="columnTotal">{{textTobaccoCommission + ' €'}}</label>
                    </div>

                    <div class="columnTable3">
                        <label class="columnTreatment3">Vitamina</label>
                        <label class="columnSum">{{textValueVitamins + ' €'}}</label>
                        <label class="columnComission">
                            {{managerName?.vitamina + ' %'}}</label>
                        <label class="columnTotal">{{textVitaminCommission + ' €'}}</label>
                    </div>

                    <div class="columnTable3">
                        <label class="columnTreatment3">Otros</label>
                        <label class="columnSum">{{textValueOther + ' €'}}</label>
                        <label class="columnComission">{{managerName?.otros + ' %'}}</label>
                        <label class="columnTotal">{{textCommissionOthers + ' €'}}</label>
                    </div>

                    <div class="columnTable3">
                        <label class="columnTreatment3"></label>
                        <label class="textSum2">Suma</label>
                        <label></label>
                        <label class="columnTotal">{{textSumCommission + ' €'}}</label>
                    </div>

                    <div class="columnFixedDay">
                        <label class="columnTreatment3"></label>
                        <label class="textSum2">Fijo/día</label>
                        <input type="number" class="inputFixedDay" [value]="fixedDay" disabled
                            (change)="fixedNumberDay($event)">
                        <label class="textSum2">{{ 'X ' + letterFixedDay + ' €'}}</label>
                        <label class="columnTotal">{{totalFixedDay + ' €'}}</label>
                    </div>

                    <div class="columnTable3">
                        <label class="columnTreatment3"></label>
                        <label class="textReceivend">Recibido</label>
                        <label></label>
                        <label class="columnTotal">{{textReceivedTherapist + ' €'}}</label>
                    </div>

                    <hr class="lineTotalPay">

                    <div class="columnTable3">
                        <label class="columnTreatment3"></label>
                        <label class="columnTotalPay">Total a</label>
                        <label class="columnTotalPay">pagar</label>
                        <label class="columnTotal">{{textTotalCommission + ' €'}}</label>
                    </div>
                </div>

                <!-- Table 4 -->

                <div class="column4" *ngIf="editEncarg">

                    <label class="textPayToTherapist">Pagado a encargada</label>

                    <hr class="lineTable4">

                    <div class="columnTable4">
                        <label class="columnTreatment4">Efectivo</label>
                        <label class="columnSum">{{textTotalCash + ' €'}}</label>
                    </div>

                    <div class="columnTable4">
                        <label class="columnTreatment4">Bizum</label>
                        <label class="columnSum">{{textTotalBizum + ' €'}}</label>
                    </div>

                    <div class="columnTable4">
                        <label class="columnTreatment4">Tarjeta</label>
                        <label class="columnSum">{{textTotalCard + ' €'}}</label>
                    </div>

                    <div class="columnTable4">
                        <label class="columnTreatment4">Transferencia</label>
                        <label class="columnSum">{{textTotalTransaction + ' €'}}</label>
                    </div>

                    <hr class="lineTable4">

                    <div class="columnTable4">
                        <label class="columnTreatment4">Total pagado</label>
                        <label class="columnSum">{{textTotalTherapistPayment + ' €'}}</label>
                    </div>
                </div>

                <div *ngIf="editEncarg" class="row inputButton">

                    <div>
                        <div class="row g-0">
                            <button type="submit" mat-raised-button style="display: grid; margin: auto;" color="primary"
                                (click)="cancel()">Cancelar</button>
                        </div>

                    </div>

                    <div>
                        <div class="row g-0">
                            <button type="submit" mat-raised-button style="display: grid; margin: auto;" color="primary"
                                (click)="edit()">Editar</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>